<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <!-- <div class="row">
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>รหัสขออัตรากำลัง</mat-label>
                    <input matInput  type="text"/>
                </mat-form-field>
            </div>
        </div> -->
        <ng-container *ngIf="manpowers$ | async as manpowersDatas">
            <div class="row">
                <ng-container *ngIf="position$ | async as positionDatas">
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>เลขที่อัตราที่จัดสรร</mat-label>
                            <mat-select [(ngModel)]="file.manpower_uid" (valueChange)="getStatus($event)">
                                <mat-option *ngFor="let item of manpowersDatas" [value]="item.manpower_uid">
                                    {{item.manpower_no}} - {{item.position_uid | getDataId : positionDatas :
                                    'position_uid' : 'position_name_th' : ''}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>วันที่เริ่มใช้อัตรา<span style="color: red">*</span></mat-label>
                            <input matInput [matDatepicker]="fromDate" disabled
                                [value]="file.manpower_uid | getDataId : manpowersDatas : 'manpower_uid' : 'effective_date' : '' ">
                            <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                            <mat-datepicker #fromDate></mat-datepicker>
                        </mat-form-field>
                    </div>
                </ng-container>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>อัตราค่าจ้าง</mat-label>
                        <input matInput [(ngModel)]="file.salary_amount" type="number" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>การบรรยายลักษณะงาน(Job Description)</mat-label>
                        <textarea matInput disabled
                            [value]="file.manpower_uid | getDataId : manpowersDatas : 'manpower_uid' : 'remark' : '' "></textarea>
                    </mat-form-field>
                </div>
            </div>
        </ng-container>
    </mat-card-content>
</mat-card>
<br />
<div class="row justify-content-center">
    <div class="col-2">
        <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
    </div>
    <div class="col-2">
        <app-button-save-close (click)="saveClose()"></app-button-save-close>&nbsp;&nbsp;
    </div>
    <div class="col-2">
        <app-button-close (click)="close()"></app-button-close>
    </div>
</div>