<form [formGroup]="form">
    <mat-card class="mat-elevation-z4">
        <mat-card-content>
            
            <div class="flex_row_between">
                <!-- <ng-container *ngIf="state == 'edit'"> -->
                <mat-form-field class="paddingInput" appearance="outline" style="width: 45%;">
                    <mat-label>เลขที่อัตรา </mat-label>
                    <input matInput formControlName="manpower_no" disabled />
                </mat-form-field>
                <!-- </ng-container> -->
                <mat-form-field class="paddingInput" appearance="outline" style="width: 45%;">
                    <mat-label>ตำแหน่งงาน</mat-label>
                    <!-- มันต้องเป็นประเภทตำแหน่งงานรึเปล่า -->
                    <mat-select formControlName="position_uid">
                        <mat-option *ngFor="let item of position$ | async" [value]="item.position_uid">{{item.position_name_th}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="flex_row_between">
                <mat-form-field class="paddingInput" appearance="outline" style="width: 45%;">
                    <mat-label>วันที่เริ่มใช้อัตรา</mat-label>
                    <input matInput [matDatepicker]="fromDate" formControlName="effective_date">
                    <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                    <mat-datepicker #fromDate></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="paddingInput" appearance="outline" style="width: 45%;">
                    <mat-label>วันที่ตำแหน่งว่าง</mat-label>
                    <input matInput [matDatepicker]="fromDate1" formControlName="available_date">
                    <mat-datepicker-toggle matSuffix [for]="fromDate1"></mat-datepicker-toggle>
                    <mat-datepicker #fromDate1></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="flex_row_between">
                <!-- <mat-form-field class="paddingInput" appearance="outline" style="width: 45%;">
                    <mat-label>สถานะตำแหน่ง<span style="color: red">*</span></mat-label>
                    <mat-select formControlName="manpower_status_id">
                     
                    </mat-select>
                </mat-form-field> -->
                <mat-form-field class="paddingInput" appearance="outline" style="width: 45%;">
                    <mat-label>สถานะ<span style="color: red">*</span></mat-label>
                    <mat-select formControlName="manpower_status_id">
                        <mat-option  *ngFor="let item of status$ | async" [value]="item.manpower_status_id">{{item.manpower_status_name_th}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="paddingInput" appearance="outline" style="width: 45%;">
                    <mat-label>สถานะอัตรา<span style="color: red">*</span></mat-label>
                    <mat-select formControlName="manpower_using_status_id">
                        <mat-option  *ngFor="let item of usingStatus$ | async" [value]="item.manpower_using_status_id">{{item.manpower_using_status_name_th}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="flex_row_between">
                <mat-form-field class="paddingInput" appearance="outline" style="width: 100%;">
                    <mat-label>การบรรยายลักษณะงาน(Job Description)</mat-label>
                    <textarea matInput formControlName="remark"></textarea>
                </mat-form-field>
            </div>
        </mat-card-content>
        <br>
        <div class="flex_row_end">
            <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
            <app-button-close (click)="close()"></app-button-close>
        </div>
    </mat-card>
</form>

<pre *ngIf="!isHideForm">{{form.getRawValue()|json}}</pre>