<div class="card-body">
    <h2 class="card-title">{{state == 'add' ? 'เพิ่ม' : ' แก้ไข'}}ข้อมูลประมวลผลจ่ายเงินเดือน</h2>
    <form [formGroup]="form">
        <mat-card class="mat-elevation-z4">
            <label for="">ข้อมูลทั่วไป</label>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>ชื่อองค์กร<span style="color: red">*</span></mat-label>
                        <mat-select formControlName="organization_uid">
                            <mat-option *ngFor="let data of organizationDatas" [value]="data?.organization_uid">{{data?.organization_name_th}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>วันที่ประมวลผล<span style="color: red">*</span></mat-label>
                        <input matInput [matDatepicker]="picker1" (click)="picker1.open()" [(ngModel)]="processDate" [ngModelOptions]="{standalone: true}" disabled>
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>ชื่อรอบการจ่าย<span style="color: red">*</span></mat-label>
                        <mat-select [(ngModel)]="periodYear" [ngModelOptions]="{standalone: true}" (selectionChange)="selectPeriodYear($event.value)">
                            <mat-option *ngFor="let data of paymentPeriodDatas" [value]="data?.payment_period_uid">{{data?.payment_period_code}}&nbsp;&nbsp;{{data?.payment_period_name_th}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>งวดเดือนที่ประมวลผล<span style="color: red">*</span></mat-label>
                        <mat-select formControlName="payment_period_detail_uid" [disabled]="periodYear == null">
                            <mat-option *ngFor="let data of paymentPeriodMonthDatas" [value]="data?.payment_period_detail_uid"> งวดที่&nbsp;{{data?.row_order}}&nbsp;เดือน&nbsp;{{monthName[data?.row_order-1]}}&nbsp;&nbsp;วันที่จ่าย&nbsp;{{data?.pay_date | date:'dd/MM/yyyy'}} </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="flex_row_end">
                <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
                <app-button-close (click)="close()"></app-button-close>
            </div>
        </mat-card>
    </form>
    <pre *ngIf="!isHideForm">{{ form.getRawValue() | json}}</pre>
</div>