<form [formGroup]="formAddress">

    <div style="padding: 5px;">
        <mat-card class="mat-elevation-z4" style="padding: 0px 16px 16px 16px;border-radius: 0px;">
            <mat-card-content>
                <mat-list>
                    <mat-list-item>{{formAddress.value.address_type_id | getDataId : EmployeeAddressTypeData :
                        'address_type_id' : 'address_type_name_th' : ''}}</mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>
                <ng-container formGroupName="address">
                    <div class="row" *ngIf="formAddress.value.address_type_id == 2">
                        <div class="col-md-6">
                            <br />
                            <section class="example-section">
                                <mat-checkbox (change)="chengeAddressRegistered($event)" class="example-margin">
                                    ใช้ที่อยู่เดียวกับที่อยู่ตามทะเบียนบ้าน</mat-checkbox>
                            </section>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>ชื่อที่อยู่</mat-label>
                                <input matInput formControlName="address_name" />
                            </mat-form-field>
                        </div>

                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>เลขที่</mat-label>
                                <input matInput numberCharacter formControlName="house_no" />
                            </mat-form-field>
                        </div>

                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>หมู่ที่</mat-label>
                                <input matInput  number formControlName="village_no" />
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>อาคาร</mat-label>
                                <input matInput formControlName="building_name" />
                            </mat-form-field>
                        </div>

                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>เลขที่ห้อง</mat-label>
                                <input matInput numberCharacterEng formControlName="room_no" />
                            </mat-form-field>
                        </div>

                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>ชั้นที่</mat-label>
                                <input matInput number formControlName="floor_no" />
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>หมู่บ้าน</mat-label>
                                <input matInput formControlName="village_name" />
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>ตรอก/ซอย</mat-label>
                                <input matInput formControlName="alley_name" />
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>ถนน</mat-label>
                                <input matInput formControlName="street_name" />
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <!-- <mat-form-field appearance="outline" *ngIf="subDistrict$ | async as subDistricts ">
                                <mat-label>ตำบล/แขวง</mat-label>
                                <mat-select (valueChange)="selectSubDistrict($event,formAddress)">
                                    <mat-option *ngFor="let data of subDistricts" [value]="data">
                                        {{data.sub_district_name_th}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field> -->
                            <mat-form-field appearance="outline">
                                <input matInput formControlName="other_sub_district_name_th"
                                    placeholder="ตำบล/แขวง" aria-label="State" [matAutocomplete]="Provinces" />
                                <mat-icon matSuffix>search</mat-icon>
                                <mat-autocomplete #Provinces="matAutocomplete" style="font-size: 10px;">
                                    <mat-option style="font-size: 10px;" *ngFor="let s of subDistricts"
                                        (onSelectionChange)="selectSubDistrict(s)" [value]="s.sub_district_name_th">
                                        {{s.sub_district_name_th}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <!-- <mat-form-field appearance="outline">
                                <mat-label>อำเภอ/เขต</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let data of [{test:'test'}]" [value]="data.test">
                                        {{data.test}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field> -->
                            <mat-form-field appearance="outline">
                                <mat-label>อำเภอ/เขต</mat-label>
                                <input matInput formControlName="other_district_name_th" />
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <!-- <mat-form-field appearance="outline">
                                <mat-label>จังหวัด</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let data of [{test:'test'}]" [value]="data.test">
                                        {{data.test}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field> -->
                            <mat-form-field appearance="outline">
                                <mat-label>จังหวัด</mat-label>
                                <input matInput formControlName="other_province_name_th" />
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>รหัสไปรษณีย์</mat-label>
                                <input matInput number formControlName="postal_code" />
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>โทรศัพท์</mat-label>
                                <input matInput number formControlName="telephone_no" />
                            </mat-form-field>
                        </div>
                    </div>
                </ng-container>
            </mat-card-content>
        </mat-card>
        <br />
        <!-- <mat-card class="mat-elevation-z4" style="padding: 0px 16px 16px 16px;border-radius: 0px;">
        <mat-card-content>
            <mat-list>
                <mat-list-item>ที่อยู่ที่ติดต่อได้</mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
            <div class="row">
                <div class="col-md-6" >
                    <br/>
                    <section class="example-section">
                        <mat-checkbox class="example-margin">ใช้ที่อยู่เดียวกับที่อยู่ตามทะเบียนบ้าน</mat-checkbox>
                      </section>
                 </div>
            </div>   
            <div class="row">
                <div class="col-md-6" >
                    <mat-form-field appearance="outline">
                        <mat-label>ชื่อที่อยู่</mat-label>
                        <input matInput />
                    </mat-form-field>
                </div>

                <div class="col-md-3" >
                    <mat-form-field appearance="outline">
                        <mat-label>เลขที่</mat-label>
                        <input matInput />
                    </mat-form-field>
                </div>

                <div class="col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>หมู่ที่</mat-label>
                        <input matInput />
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6" >
                    <mat-form-field appearance="outline">
                        <mat-label>อาคาร</mat-label>
                        <input matInput />
                    </mat-form-field>
                </div>

                <div class="col-md-3" >
                    <mat-form-field appearance="outline">
                        <mat-label>เลขที่ห้อง</mat-label>
                        <input matInput />
                    </mat-form-field>
                </div>

                <div class="col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>ชั้นที่</mat-label>
                        <input matInput />
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6" >
                    <mat-form-field appearance="outline">
                        <mat-label>หมู่บ้าน</mat-label>
                        <input matInput />
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>ตรอก/ซอย</mat-label>
                        <input matInput />
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6" >
                    <mat-form-field appearance="outline">
                        <mat-label>ถนน</mat-label>
                        <input matInput />
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>ตำบล/แขวง</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let data of [{test:'test'}]" [value]="data.test">
                                {{data.test}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6" >
                    <mat-form-field appearance="outline">
                        <mat-label>อำเภอ/เขต</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let data of [{test:'test'}]" [value]="data.test">
                                {{data.test}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>จังหวัด</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let data of [{test:'test'}]" [value]="data.test">
                                {{data.test}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6" >
                    <mat-form-field appearance="outline">
                        <mat-label>รหัสไปรษณีย์</mat-label>
                        <input matInput />
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>โทรศัพท์</mat-label>
                        <input matInput />
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
    </mat-card> -->
        <!-- <br> -->
        <!-- <mat-card class="mat-elevation-z4" style="padding: 0px 16px 16px 16px;border-radius: 0px;">
        <mat-card-content>
            <mat-list>
                <mat-list-item>เอกสารเพิ่มเติม</mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
            <br>
            <div>
                <app-button-add (click)="openUpload()"></app-button-add>
            </div>
            <br />
            <table mat-table [dataSource]="rows" matSort class="mat-elevation-z2" style="width: 100%;">
                <tr mat-header-row *matHeaderRowDef="['action', '1', '2']"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2']"></tr>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                    <td mat-cell *matCellDef="let data">
                        <app-icon-report></app-icon-report>
                        <app-icon-edit></app-icon-edit>
                        <app-icon-del></app-icon-del>
                    </td>
                </ng-container>
                <ng-container matColumnDef="1">
                    <th mat-header-cell *matHeaderCellDef>ชื่อไฟล์</th>
                    <td mat-cell *matCellDef="let data; let index = index">
                        1
                    </td>
                </ng-container>
                <ng-container matColumnDef="2">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>รายละเอียด</th>
                    <td mat-cell *matCellDef="let data">
                        2
                    </td>
                </ng-container>
            </table>
        </mat-card-content>
    </mat-card> -->

    </div>

</form>