<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <div style="margin-top: 5px;">
            <!-- <mat-card class="mat-elevation-z4" style="background-color: #dde4e9;">
                <mat-card-content>
                    <label style="padding: 0px 16px 16px 16px;border-radius: 0px; ">กำหนดเงื่อนไขการค้นหา</label>
                </mat-card-content>
            </mat-card> -->

            <mat-card class="mat-elevation-z4"
                style="padding: 0px 0px 0px 0px;border-radius: 0px;box-shadow: unset;border: 1px solid #d4cfcf;">
                <mat-list style="background-color: #dde4e9;">
                    <mat-list-item>กำหนดเงื่อนไขการค้นหา</mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>
                <mat-card-content style="padding: 0px 16px 16px 16px;">

                    <br>


                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label> รหัสบุคลากร </mat-label>
                                <input matInput [(ngModel)]="req.personnel_no" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label> ชื่อ-สกุล </mat-label>
                                <input matInput [(ngModel)]="req.display_name_th" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label> หมายเลขบัตรประชาชน </mat-label>
                                <input matInput [(ngModel)]="req.citizen_id" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>สถานะการทำงาน </mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let data of [{test:'test'}]" [value]="data.test">
                                        {{data.test}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>ตำแหน่งงาน </mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let data of [{test:'test'}]" [value]="data.test">
                                        {{data.test}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>หน่วยงาน </mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let data of [{test:'test'}]" [value]="data.test">
                                        {{data.test}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div> -->
                    </div>
                    <!-- <div class="row">
                      
                    </div> -->
                    <div class="row justify-content-md-center">
                        <div>
                            <app-button-search (click)="search()"></app-button-search>
                            <app-button-reset (click)="clear()"></app-button-reset>
                        </div>
                    </div>

                </mat-card-content>
            </mat-card>
        </div>
        <br />
        <div>
            <app-button-add (click)="addPage()"></app-button-add>
        </div>
        <br />
        <table mat-table [dataSource]="personnel$ | async" matSort class="mat-elevation-z2" style="width: 100%;">
            <tr mat-header-row *matHeaderRowDef="['action', '1', '2','3','4','5','6','7']"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2','3','4','5','6','7']"></tr>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                <td mat-cell *matCellDef="let data">
                    <app-icon-edit (click)="editPage(data.personnel_uid)"></app-icon-edit>
                    <app-icon-del (click)="deleteItem(data.personnel_uid)"></app-icon-del>
                </td>
            </ng-container>
            <ng-container matColumnDef="1">
                <th mat-header-cell *matHeaderCellDef>รหัสบุคลากร</th>
                <td mat-cell *matCellDef="let data; let index = index" style="font-weight:100">
                    {{data.personnel_no}}
                </td>
            </ng-container>
            <ng-container matColumnDef="2">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อ-สกุล </th>
                <td mat-cell *matCellDef="let data" style="font-weight:100">
                    {{data.display_name_th}}
                </td>
            </ng-container>
            <ng-container matColumnDef="3">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ตำแหน่งงาน </th>
                <td mat-cell *matCellDef="let data" style="font-weight:100">
                    {{data?.personnel_hires[0]?.position?.position_name_th}}
                </td>
            </ng-container>
            <ng-container matColumnDef="4">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> หน่วยงาน </th>
                <td mat-cell *matCellDef="let data" style="font-weight:100">
                    <ng-container *ngIf="agencys$ | async as agency">
                        {{data?.personnel_hires[0]?.agency_uid | getDataId : agency : 'agency_uid' : 'agency_name_th' :
                        ''}}
                    </ng-container>
                </td>
            </ng-container>
            <ng-container matColumnDef="5">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> หมายเลขบัตรประชาชน </th>
                <td mat-cell *matCellDef="let data" style="font-weight:100">
                    {{data.citizen_id}}
                </td>
            </ng-container>
            <ng-container matColumnDef="6">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่เริ่มปฏิบัติงาน </th>
                <td mat-cell *matCellDef="let data" style="font-weight:100">
                    {{data?.personnel_hires[0]?.start_date | date : 'dd/MM/yyyy'}}

                </td>
            </ng-container>
            <ng-container matColumnDef="7">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> สถานะการทำงาน </th>
                <td mat-cell *matCellDef="let data" style="font-weight:100">
                    {{data?.personnel_hires[0]?.work_status?.work_status_name_th}}
                </td>
            </ng-container>

        </table>
        <br>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>