<h1 mat-dialog-title>เพิ่มข้อมูลประวัติการศึกษา</h1>
<div mat-dialog-content rtl>

<div >
    <div class="row">
        <div class="col-md-6" >
            <mat-form-field appearance="outline" *ngIf="educationLevels$ | async as educationLevel">
                <mat-label>วุฒิการศึกษา<span style="color: red">*</span> </mat-label>
                <mat-select [(ngModel)]="educationsForm.education_level_id">
                    <mat-option *ngFor="let data of educationLevel" [value]="data.education_level_id">
                        {{data.education_level_name_th}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-md-6">
            <mat-form-field appearance="outline" *ngIf="qualifications$ |async as qualification">
                <mat-label>คุณวุฒิ<span style="color: red">*</span> </mat-label>
                <mat-select [(ngModel)]="educationsForm.quali_id">
                    <mat-option *ngFor="let data of qualification" [value]="data.qualification_id">
                        {{data.qualification_name_th}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" >
            <mat-form-field appearance="outline">
                <mat-label>สาขาวิชา<span style="color: red">*</span></mat-label>
                <input  matInput  />
            </mat-form-field>
        </div>

        <!-- <div class="col-md-6">
            <mat-form-field appearance="outline">
                <mat-label>กลุ่มสาขาวิชาที่จบ </mat-label>
                <mat-select>
                    <mat-option *ngFor="let data of [{test:'test'}]" [value]="data.test">
                        {{data.test}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div> -->
    </div>

    <div class="row">
        <div class="col-md-6" >
            <mat-form-field appearance="outline">
                <mat-label>ชื่อสถานศึกษา<span style="color: red">*</span></mat-label>
                <input  matInput [(ngModel)]="educationsForm.other_institute_name" />
            </mat-form-field>
        </div>

        <div class="col-md-6">
            <mat-form-field appearance="outline">
                <input matInput (input)="inputCountry()" placeholder="ประเทศ"
                    aria-label="State" [matAutocomplete]="co" />
                <mat-icon matSuffix>search</mat-icon>
                <mat-autocomplete #co="matAutocomplete" style="font-size: 10px;">
                    <mat-option style="font-size: 10px;" *ngFor="let c of country"
                        (onSelectionChange)="select_nationality(c)" [value]="c.country_name_en">
                        {{c.country_name_en}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

        </div>
    </div>

    <div class="row">
        <div class="col-md-4" >
            <mat-form-field appearance="outline">
                <mat-label>วันที่เริ่มต้น </mat-label>
                <input matInput (dateChange)="dateChange()" [(ngModel)]="educationsForm.start_date" 
                (selectedValueChange)="dateChange()" matInput
                    (click)="start_date.open()" [matDatepicker]="start_date" />
                <mat-datepicker-toggle matSuffix [for]="start_date">
                </mat-datepicker-toggle>
                <mat-datepicker #start_date></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="col-md-4" >
            <mat-form-field appearance="outline">
                <mat-label>วันที่สำเร็จการศึกษา<span style="color: red">*</span>  </mat-label>
                <input matInput (dateChange)="dateChange()"[(ngModel)]="educationsForm.finish_date"  (selectedValueChange)="dateChange()" matInput
                    (click)="finish_date.open()" [matDatepicker]="finish_date" />
                <mat-datepicker-toggle matSuffix [for]="finish_date">
                </mat-datepicker-toggle>
                <mat-datepicker #finish_date></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="col-md-4">
            <mat-form-field appearance="outline">
                <mat-label>คะแนนเฉลี่ย</mat-label>
                <input matInput [(ngModel)]="educationsForm.grade" maxlength="4"/>
            </mat-form-field>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-2">
        <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
    </div>
    <div class="col-2">
        <app-button-save-close (click)="saveClose()"></app-button-save-close>&nbsp;&nbsp;
    </div>
    <div class="col-2">
        <app-button-close (click)="close()"></app-button-close>
    </div>
</div>
</div>