<div class="card-body">
    <h2 class="card-title">{{state == 'add' ? 'เพิ่ม' : ' แก้ไข'}}ข้อมูลรายชื่อธนาคารและสาขา</h2>
    <form [formGroup]="form">
        <mat-card class="mat-elevation-z4">
            <mat-card-content>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>รหัสธนาคาร<span style="color: red">*</span></mat-label>
                            <input matInput type="text" formControlName="bank_type_code" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>ชื่อธนาคาร<span style="color: red">*</span></mat-label>
                            <input matInput type="text" formControlName="bank_type_name_th" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>ชื่อย่อธนาคาร<span style="color: red">*</span></mat-label>
                            <input matInput type="text" formControlName="bank_type_name_en" />
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
            <div class="flex_row_end">
                <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
                <app-button-close (click)="close()"></app-button-close>
            </div>
        </mat-card>
    </form>
    <pre *ngIf="!isHideForm">{{ form.getRawValue() | json}}</pre>
</div>