<div class="card-body">
    <h2 class="card-title">บริหารงานบุคคล</h2>
    <mat-card class="mat-elevation-z4">
        <mat-card-content>
            <div class="flex_row">
                <div class="flex_col_center menuWidth">
                    <button mat-raised-button color="primary" style="width: 100px; height: 100px;margin: 10px;">
                        <span class="material-icons iconStyle">
                            device_hub
                        </span>
                    </button>
                    <a class="text-menu"> จัดการโครงสร้างองค์กร</a>
                </div>
                <div class="flex_col_center menuWidth">
                    <button mat-raised-button color="primary" style="width: 100px; height: 100px;margin: 10px;">
                        <span class="material-icons iconStyle">
                            local_atm
                            </span>
                    </button>
                    <a class="text-menu"> งบประมาณ</a>
                </div>
                <div class="flex_col_center menuWidth">
                    <button mat-raised-button color="primary" style="width: 100px; height: 100px;margin: 10px;">
                        <span class="material-icons iconStyle">
                            people_alt
                        </span>
                    </button>
                    <a class="text-menu"> จัดสรรอัตรากำลัง</a>
                </div>
                <div class="flex_col_center menuWidth">
                    <button mat-raised-button color="primary" style="width: 100px; height: 100px;margin: 10px;">
                        <span class="material-icons iconStyle">
                            person_search
                        </span>
                    </button>
                    <a class="text-menu"> สรรหาและคัดเลือก</a>
                </div>
                <div class="flex_col_center menuWidth" style="margin: 20px;width: 15%;">
                    <button mat-raised-button color="primary" style="width: 100px; height: 100px;margin: 10px;">
                        <span class="material-icons iconStyle">
                            folder_shared
                        </span>
                    </button>
                    <a class="text-menu"> ทะเบียนประวัติ</a>
                </div>
                <!-- <div class="flex_col_center menuWidth">
                    <button mat-raised-button color="primary" style="width: 100px; height: 100px;margin: 10px;">
                        <span class="material-icons iconStyle">
                            content_paste
                        </span>
                    </button>
                    <a class="text-menu"> ปฏิบัติงานประจำวัน</a>
                </div> -->
                <div class="flex_col_center menuWidth">
                    <button mat-raised-button color="primary" style="width: 100px; height: 100px;margin: 10px;">
                        <span class="material-icons iconStyle">
                            attach_money
                        </span>
                    </button>
                    <a class="text-menu"> เงินเดือน</a>
                </div>
                <div class="flex_col_center menuWidth">
                    <button mat-raised-button color="primary" style="width: 100px; height: 100px;margin: 10px;">
                        <span class="material-icons iconStyle">
                            gavel
                        </span>
                    </button>
                    <a class="text-menu"> วินัยบุคคลากร</a>
                </div>
                <div class="flex_col_center menuWidth">
                    <button mat-raised-button color="primary" style="width: 100px; height: 100px;margin: 10px;">
                        <span class="material-icons iconStyle">
                            star
                        </span>
                    </button>
                    <a class="text-menu"> เครื่องราชอิสริยาภรณ์</a>
                </div>
                <div class="flex_col_center menuWidth">
                    <button mat-raised-button color="primary" style="width: 100px; height: 100px;margin: 10px;">
                        <span class="material-icons iconStyle">
                            content_paste
                        </span>

                    </button>
                    <a class="text-menu"> บันทึกการปฏิบัติงาน</a>
                </div>
                <div class="flex_col_center menuWidth">
                    <button mat-raised-button color="primary" style="width: 100px; height: 100px;margin: 10px;">
                        <span class="material-icons iconStyle">
                            school
                        </span>

                    </button>
                    <a class="text-menu"> ทุนการศึกษา</a>
                </div>
                <div class="flex_col_center menuWidth">
                    <button mat-raised-button color="primary" style="width: 100px; height: 100px;margin: 10px;">
                        <span class="material-icons iconStyle">
                            perm_contact_calendar
                        </span>
                    </button>
                    <a class="text-menu"> ประเมินผลปฏิบัติงาน</a>
                </div>
                <div class="flex_col_center menuWidth">
                    <button mat-raised-button color="primary" style="width: 100px; height: 100px;margin: 10px;">
                        <span class="material-icons iconStyle">
                            people
                        </span>
                    </button>
                    <a class="text-menu"> สวัสดิการ</a>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>