.menuWidth{
    margin: 20px;
    width: 15%;
}

.text-menu{
    color:#5c5b5b;
    font-size:16px;
    line-height:17px;
    letter-spacing:0;
    text-align:center;
    margin-top:10px;
    cursor: pointer;
}
.text-menu-heard{
    color:#233338;
    font-size:19px;
    line-height:17px;
    letter-spacing:0;
    margin-bottom:10px;
}
.iconStyle{
    color: white;
    font-size: 55px;
}