<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <app-layout-search>
            <ng-container content>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>ตำแหน่งงานที่สมัคร</mat-label>
                            <mat-select [(ngModel)]="dataSearch.position_uid">
                                <mat-option *ngFor="let item of positionDatas" [value]="item.position_uid">
                                    {{item.position_name_th}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>หน่วยงาน</mat-label>
                            <mat-select [(ngModel)]="dataSearch.agency_uid">
                                <mat-option *ngFor="let item of agencysDatas" [value]="item.agency_uid">
                                    {{item.agency_name_th}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>ประเภทบุคลากร</mat-label>
                            <mat-select [(ngModel)]="dataSearch.personnel_type_id">
                                <mat-option *ngFor="let item of personnelTypes" [value]="item.personnel_type_id">
                                    {{item.personnel_type_name_th}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <!-- <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>สถานะเอกสาร</mat-label>
                    <mat-select>
                        <mat-option ></mat-option>
                    </mat-select>
                </mat-form-field>
            </div> -->
                </div>

                <div class="row justify-content-md-center">
                    <div>
                        <app-button-search class="paddingInput" (click)="search()"></app-button-search>
                        <app-button-reset class="paddingInput" (click)="clear()"></app-button-reset>
                    </div>
                </div>
            </ng-container>
        </app-layout-search>

        <div>
            <app-button-add (click)="addPage()"></app-button-add>
        </div>

        <br />
        <table mat-table [dataSource]="rows" matSort class="mat-elevation-z2" style="width: 100%;">
            <tr mat-header-row *matHeaderRowDef="['action','1', '2','3','4','5']"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: ['action','1', '2','3','4','5']"></tr>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                <td mat-cell *matCellDef="let data">
                    <app-icon-edit (click)="editPage(data.selection_request_uid)"></app-icon-edit>
                    <app-icon-del (click)="deleteItem(data.selection_request_uid)"></app-icon-del>
                </td>
            </ng-container>
            <ng-container matColumnDef="1">
                <th mat-header-cell *matHeaderCellDef>เลขที่เอกสาร</th>
                <td mat-cell *matCellDef="let data; let index = index">
                    {{data.document_no}}
                </td>
            </ng-container>
            <ng-container matColumnDef="2">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> หน่วยงานที่บรรจุ </th>
                <td mat-cell *matCellDef="let data">
                    {{data.agency.agency_name_th}}
                </td>
            </ng-container>
            <ng-container matColumnDef="3">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ตำแหน่ง </th>
                <td mat-cell *matCellDef="let data">
                    {{data.position.position_name_th}}
                </td>
            </ng-container>
            <ng-container matColumnDef="4">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ประเภทบุคลากร </th>
                <td mat-cell *matCellDef="let data">
                    {{data.personnel_type_id | getDataId : personnelTypes : 'personnel_type_id' :
                    'personnel_type_name_th' : ''}}
                </td>
            </ng-container>
            <ng-container matColumnDef="5">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> จำนวนที่ขอสรรหา </th>
                <td mat-cell *matCellDef="let data">
                    {{data.selection_request_manpower.length}}
                </td>
            </ng-container>
            <ng-container matColumnDef="6">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> สถานะเอกสาร </th>
                <ng-container *matCellDef="let data">
                    <td mat-cell *ngIf="(data.document_approve_status != null);"><span>
                            <div class="statusGreen" style="float: left;"></div>&nbsp;&nbsp;อนุมัติ
                        </span></td>
                    <td mat-cell *ngIf="(data.document_approve_status == null);"><span>
                            <div class="statusYellow" style="float: left;"></div>&nbsp;&nbsp;รอการอนุมัติ
                        </span></td>
                </ng-container>
            </ng-container>
        </table>
        <br>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>