<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>ชื่อสถานที่ทํางาน <span style="color: red">*</span></mat-label>
                    <input matInput  type="text" [(ngModel)]="working.work_place_name"/>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>ตําแหน่งงาน <span style="color: red">*</span></mat-label>
                    <input matInput  type="text" [(ngModel)]="working.job_position_name"/>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>ลักษณะงาน <span style="color: red">*</span></mat-label>
                    <textarea matInput [(ngModel)]="working.job_description"></textarea>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>เงินเดือนสุดท้าย <span style="color: red">*</span></mat-label>
                    <input matInput  type="number" [(ngModel)]="working.final_salary_amount"/>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>วันที่เริ่มต้น <span style="color: red">*</span></mat-label>
                    <input matInput [matDatepicker]="fromDate1" [(ngModel)]="working.start_date">
                    <mat-datepicker-toggle matSuffix [for]="fromDate1"></mat-datepicker-toggle>
                    <mat-datepicker #fromDate1></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>วันที่สิ้นสุด <span style="color: red">*</span></mat-label>
                    <input matInput [matDatepicker]="fromDate2" [(ngModel)]="working.end_date">
                    <mat-datepicker-toggle matSuffix [for]="fromDate2"></mat-datepicker-toggle>
                    <mat-datepicker #fromDate2></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>ค่าประสบการณ์ </mat-label>
                    <input matInput  type="number" [(ngModel)]="working.experience_income_amount"/>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>ค่าวิชาชีพ </mat-label>
                    <input matInput  type="number" [(ngModel)]="working.profession_income_amount"/>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>เงินได้อื่นๆ </mat-label>
                    <input matInput  type="number" [(ngModel)]="working.other_income_amount"/>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>หมายเหตุ </mat-label>
                    <textarea matInput [(ngModel)]="working.remark"></textarea>
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<br />
<div class="row justify-content-center">
    <div class="col-2">
        <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
    </div>
    <div class="col-2">
        <app-button-save-close (click)="saveClose()"></app-button-save-close>&nbsp;&nbsp;
    </div>
    <div class="col-2">
        <app-button-close (click)="close()"></app-button-close>  
    </div>  
</div>