<div class="card-body">
    <h2 class="card-title">ปรับเลื่อนค่าตอบแทน</h2>
    <mat-card class="mat-elevation-z4">
        <mat-card-content>
            <app-layout-search>
                <ng-container content>
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>คำค้นหา</mat-label>
                                <input matInput />
                                <mat-icon matSuffix>search</mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                </ng-container>
            </app-layout-search>
            <div>
                <app-button-add (click)="addPage()"></app-button-add>
            </div>
            <br />
            <table mat-table [dataSource]="rows" matSort class="mat-elevation-z2" style="width: 100%;">
                <tr mat-header-row *matHeaderRowDef="['action', '1', '2','3','4','5','6','7','8','9','10','11']"></tr>
                <tr mat-row
                    *matRowDef="let myRowData; columns: ['action', '1', '2','3','4','5','6','7','8','9','10','11']">
                </tr>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                    <td mat-cell *matCellDef="let data">
                        <app-icon-report></app-icon-report>
                        <app-icon-edit></app-icon-edit>
                        <app-icon-del></app-icon-del>
                    </td>
                </ng-container>
                <ng-container matColumnDef="1">
                    <th mat-header-cell *matHeaderCellDef>ผู้จัดทำข้อมูล</th>
                    <td mat-cell *matCellDef="let data; let index = index">
                        1
                    </td>
                </ng-container>
                <ng-container matColumnDef="2">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อหน่วยงาน </th>
                    <td mat-cell *matCellDef="let data">
                        2
                    </td>
                </ng-container>
                <ng-container matColumnDef="3">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ประเภทบุคลากร </th>
                    <td mat-cell *matCellDef="let data">
                        3
                    </td>
                </ng-container>
                <ng-container matColumnDef="4">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ปีงบประมาณ </th>
                    <td mat-cell *matCellDef="let data">
                        4
                    </td>
                </ng-container>
                <ng-container matColumnDef="5">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่เลื่อน </th>
                    <td mat-cell *matCellDef="let data">
                        4
                    </td>
                </ng-container>
                <ng-container matColumnDef="6">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ครั้งที่เลื่อน </th>
                    <td mat-cell *matCellDef="let data">
                        4
                    </td>
                </ng-container>
                <ng-container matColumnDef="7">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> รวมค่าตอบแทน </th>
                    <td mat-cell *matCellDef="let data">
                        4
                    </td>
                </ng-container>
                <ng-container matColumnDef="8">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> วงเงินการเลื่อน </th>
                    <td mat-cell *matCellDef="let data">
                        4
                    </td>
                </ng-container>
                <ng-container matColumnDef="9">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> กรอบวงเงินที่สามารถเลื่อนได้ </th>
                    <td mat-cell *matCellDef="let data">
                        4
                    </td>
                </ng-container>
                <ng-container matColumnDef="10">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> รวมใช้เลื่อน </th>
                    <td mat-cell *matCellDef="let data">
                        4
                    </td>
                </ng-container>
                <ng-container matColumnDef="11">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> วงเงินคงเหลือ </th>
                    <td mat-cell *matCellDef="let data">
                        4
                    </td>
                </ng-container>
            </table>
            <br>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </mat-card-content>
    </mat-card>
</div>