<form [formGroup]="form">
<mat-card class="mat-elevation-z4" style="padding: 0px 16px 16px 16px;border-radius: 0px;">
    <mat-card-content>
        <mat-list>
            <mat-list-item>ข้อมูลตำแหน่งงาน</mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>

<div class="row">
    <div class="col-md-3" >
        <mat-form-field appearance="outline">
            <mat-label>รหัสตำแหน่งงาน <span style="color: red">*</span> </mat-label>
            <input matInput formControlName="position_code" />
          
        </mat-form-field>
    </div>
    <div class="col-md-9" >
        <mat-form-field appearance="outline" *ngIf="jobDescription$ | async as jobDescriptions">
            <mat-label> รายละเอียดงาน </mat-label>
            <mat-select formControlName="work_detail">
                <mat-option *ngFor="let data of jobDescriptions" [value]="data.job_description_uid">
                    {{data.job_description_name_th}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col-md-6" >
        <mat-form-field appearance="outline">
            <mat-label> ชื่อตำแหน่งงาน <span style="color: red">*</span></mat-label>
            <input matInput formControlName="position_name_th" />
        </mat-form-field>
    </div>
    <div class="col-md-6" >
        <mat-form-field appearance="outline">
            <mat-label> ชื่อย่อตำแหน่งงาน </mat-label>
            <input matInput formControlName="position_short_name_th" />
        </mat-form-field>
    </div>
    
</div>
<div class="row">
    <div class="col-md-6" >
        <mat-form-field appearance="outline">
            <mat-label> ชื่อตำแหน่งงาน (English) </mat-label>
            <input matInput formControlName="position_name_en" />
        </mat-form-field>
    </div>
    <div class="col-md-6" >
        <mat-form-field appearance="outline">
            <mat-label> ชื่อย่อตำแหน่งงาน (English) </mat-label>
            <input matInput formControlName="position_short_name_en" />
        </mat-form-field>
    </div>
    
</div>
<!-- <div class="row">
   
    <div class="col-md-6" >
        <mat-form-field appearance="outline">
            <mat-label> ลักษณะตำแหน่ง </mat-label>
            <mat-select>
                <mat-option *ngFor="let data of [{test:'test'}]" [value]="data.test">
                    {{data.test}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-md-6" >
        <mat-form-field appearance="outline">
            <mat-label> ตำแหน่งบริหาร (สกอ.) </mat-label>
            <mat-select>
                <mat-option *ngFor="let data of [{test:'test'}]" [value]="data.test">
                    {{data.test}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div> -->
<div class="row">
    <div class="col-md-3" >
        <mat-form-field appearance="outline">
            <mat-label>วันที่เริ่มใช้งาน <span style="color: red">*</span></mat-label>
            <input matInput formControlName="effective_date" (dateChange)="dateChange()" (selectedValueChange)="dateChange()" matInput
                (click)="start_date.open()" [matDatepicker]="start_date" />
            <mat-datepicker-toggle matSuffix [for]="start_date">
            </mat-datepicker-toggle>
            <mat-datepicker #start_date></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="col-md-3" >
        <mat-form-field appearance="outline">
            <mat-label>วันที่สิ้นสุด </mat-label>
            <input matInput formControlName="end_date" (dateChange)="dateChange()" (selectedValueChange)="dateChange()" matInput
                (click)="end_date.open()" [matDatepicker]="end_date" />
            <mat-datepicker-toggle matSuffix [for]="end_date">
            </mat-datepicker-toggle>
            <mat-datepicker #end_date></mat-datepicker>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <mat-form-field appearance="outline">
            <mat-label>หมายเหตุ</mat-label>
            <textarea matInput formControlName="remark" ></textarea>
        </mat-form-field>
    </div>
</div>



<br>
<div class="flex_row_end">
    <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
    <app-button-close (click)="close()"></app-button-close>
</div>
</mat-card-content>
</mat-card>
</form>