<form [formGroup]="form">
    <mat-card class="mat-elevation-z4">
        <mat-card-content>
            <div class="row">
                <div class="col-md-6"> 
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>รหัส <span style="color: red;">*</span></mat-label>
                        <input matInput formControlName="medal_request_condition_code" />
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline"  *ngIf="insigniaDetail$ | async as insigniaDetail">
                        <mat-label>ชื่อเหรีญตรา<span style="color: red">*</span></mat-label>
                        <mat-select formControlName="insignia_uid">
                            <mat-option *ngFor="let data of insigniaDetail" [value]="data.insignia_uid">{{data.insignia_name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline"  *ngIf="operatorCompare$ | async as operatorCompare">
                        <mat-label>ระยะเวลาปฏิบัติงาน<span style="color: red">*</span></mat-label>
                        <mat-select formControlName="duration_operator_compare">
                            <mat-option *ngFor="let data of operatorCompare" [value]="data.operator_compare_id">{{data.operator_compare_name_th}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <mat-form-field class="paddingInput" appearance="outline" >
                        <mat-label>ระยะเวลาปฎิบัติงาน (ปี) <span style="color: red;">*</span></mat-label>
                        <input matInput type="number" formControlName="duration_year" />
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="paddingInput" appearance="outline" >
                        <mat-label>ก่อนวันที่สถาปนา <span style="color: red;">*</span></mat-label>
                        <input matInput type="number" formControlName="before_request_days" />
                    </mat-form-field>
                </div>
            </div>


            <br>

            <mat-card class="mat-elevation-z4">
                <mat-card-content>
                    <label for="">เอกสารไฟล์เกณฑ์</label>
                    <div>
                        <app-button-add (click)="addfile()"></app-button-add>
                    </div>
                    <br>
                    <table mat-table [dataSource]="form.value.medal_request_document" matSort class="mat-elevation-z2" style="width: 100%;">
                        <tr mat-header-row *matHeaderRowDef="['action', '1', '2']"></tr>
                        <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2']"></tr>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                            <td mat-cell *matCellDef="let data ; let i = index">
                                <app-icon-edit (click)="editfile(data,i)"></app-icon-edit>
                                <app-icon-download (click)="downloadDoc(data.document_url)"></app-icon-download>
                                <app-icon-del (click)="deleteItemDoc(data,i)"></app-icon-del>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="1">
                            <th mat-header-cell *matHeaderCellDef>ชื่อไฟล์ </th>
                            <td mat-cell *matCellDef="let data; let index = index">
                                {{data.file_name}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="2">
                            <th mat-header-cell *matHeaderCellDef>รายละเอียด </th>
                            <td mat-cell *matCellDef="let data; let index = index">
                                {{data.remark}}
                            </td>
                        </ng-container>
                    </table>
                    <br>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </mat-card-content>
            </mat-card>
            <br>
            <div class="flex_row_end">
                <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
                <app-button-close (click)="close()"></app-button-close>
            </div>
        </mat-card-content>
    </mat-card>
</form>