<form [formGroup]="form">
    <mat-card class="mat-elevation-z4">
        <mat-card-content>
            <ng-container *ngIf="state == 'edit'">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>เลขที่เอกสาร</mat-label>
                        <input matInput disabled  formControlName="document_no" />
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>วันที่เอกสารเริ่มต้น<span style="color: red">*</span></mat-label>
                        <input matInput [matDatepicker]="fromDate1" disabled formControlName="document_date">
                        <mat-datepicker-toggle matSuffix [for]="fromDate1"></mat-datepicker-toggle>
                        <mat-datepicker #fromDate1></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </ng-container>
            <br>

            <mat-label>หลักฐานการส่งคืน/ชดใช้ราคาเครื่องราชอิสริยาภรณ์</mat-label>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>ชื่อ-นามสกุล<span style="color: red">*</span></mat-label>
                        <mat-select formControlName="personnel_uid" (selectionChange)="getPerson(form.value.personnel_uid)">
                            <mat-option *ngFor="let item of personnel$ | async" [value]="item.personnel_uid">{{item.personnel_uid | getDataId : personData : 'personnel_uid' : 'display_name_th' : ''}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>หมายเลขบัตรประชาชน</mat-label>
                        <input matInput disabled [value]="dataPerson?.citizen_id" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>ตำแหน่ง<span style="color: red">*</span></mat-label>
                        <input matInput disabled [value]="dataPerson?.personnel_hires[0]?.position?.position_name_th"/>
                    </mat-form-field>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>ขอส่งคืนเนื่องจาก<span style="color: red">*</span></mat-label>
                        <mat-select formControlName="return_reason_id">
                            <mat-option *ngFor="let item of returnReason$ | async " [value]="item.return_reason_id">{{item.return_reason_name_th}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>อื่นๆ โปรดระบุ</mat-label>
                        <input matInput formControlName="reason_other_detail" />
                    </mat-form-field>
                </div>
            </div>
            <br>

        <mat-card class="mat-elevation-z4">
            <mat-card-content>
                <label for="">รายการเครื่องราชอิสริยาภรณ์</label>
                <div>
                    <app-button-add (click)="popDetailAdd()"></app-button-add>
                </div>
                <br>
                <ng-container *ngIf="insigniaDetail$ | async as insigniaDetails">
                <table mat-table [dataSource]="form.value.insignia_return_detail" matSort class="mat-elevation-z2" style="width: 100%;">
                    <tr mat-header-row *matHeaderRowDef="['action', '1', '2','3']"></tr>
                    <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2','3']"></tr>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                        <td mat-cell *matCellDef="let data; let i = index">
                            <app-icon-edit (click)="popDetailEdit(data,i)"></app-icon-edit>
                            <app-icon-del (click)="deleteDetail(data.insignia_return_detail_uid,i)"></app-icon-del>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="1">
                        <th mat-header-cell *matHeaderCellDef>ชื่อเครื่องราชอิสริยาภรณ์ </th>
                        <td mat-cell *matCellDef="let data; let index = index">
                            {{data.insignia_assign_uid | getDataId : insigniaAssigns : 'insignia_assign_uid' : 'insignia_uid' : '' | getDataId : insigniaDetails : 'insignia_uid' : 'insignia_short_name' }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="2">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ส่งคืน/ชดใช้ </th>
                        <td mat-cell *matCellDef="let data">
                            <div *ngIf="data.is_return && !data.is_refund">
                                ส่งคืน
                            </div>
                            <div *ngIf="data.is_refund && !data.is_return">
                                ชดใช้
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="3">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ราคา </th>
                        <td mat-cell *matCellDef="let data">
                            <div *ngIf="data.is_return && !data.is_refund">
                                ไม่มีค่าชดใช้
                            </div>
                            <div *ngIf="data.is_refund && !data.is_return">
                                {{data.refund_amount | number:'1.2-2' }}
                            </div>
                           
                        </td>
                    </ng-container>
                </table>
                <br>
            </ng-container>
                <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
            </mat-card-content>
        </mat-card>
        <br>
        <mat-card class="mat-elevation-z4">
            <mat-card-content>
                <label for="">เอกสารแนบ</label>
                <div>
                    <app-button-add (click)="addfile()"></app-button-add>
                </div>
                <br>
                <table mat-table [dataSource]="form.value.insignia_return_document" matSort class="mat-elevation-z2" style="width: 100%;">
                    <tr mat-header-row *matHeaderRowDef="['action', '1', '2']"></tr>
                    <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2']"></tr>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                        <td mat-cell *matCellDef="let data">
                            <app-icon-edit (click)="editfile(data,i)"></app-icon-edit>
                            <app-icon-download (click)="downloadDoc(data.document_url)"></app-icon-download>
                            <app-icon-del (click)="deleteItemDoc(data.insignia_return_document_uid,i)"></app-icon-del>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="1">
                        <th mat-header-cell *matHeaderCellDef>ชื่อเอกสาร </th>
                        <td mat-cell *matCellDef="let data; let index = index">
                            {{data.file_name}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="2">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ไฟล์ </th>
                        <td mat-cell *matCellDef="let data">
                            {{data.remark}}
                        </td>
                    </ng-container>
                </table>
                <br>
                <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
            </mat-card-content>
        </mat-card>
        <br>
        <div class="row">
            <div class="col-md-6">
                <mat-label>ผู้รับคืน</mat-label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <app-button-signature [name]="'ลงนามผู้รับคืน'" (click)="getSignature()" [disabled]="form.get('sign_status').value"></app-button-signature>
            </div>
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline" >
                    <mat-label>วันที่เอกสารสิ้นสุด</mat-label>
                    <input matInput [matDatepicker]="toDate1" disabled [value]="form.value.sign_date? form.value.sign_date : '' ">
                    <mat-datepicker-toggle matSuffix [for]="toDate1"></mat-datepicker-toggle>
                    <mat-datepicker #toDate1></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="flex_row_end">
            <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
            <app-button-close (click)="close()"></app-button-close>
        </div>
        </mat-card-content>
    </mat-card>
</form>

<pre *ngIf="!isHideForm">{{form.getRawValue()|json}}</pre>