<div class="card-body">
    <h2 class="card-title">{{state == 'add' ? 'เพิ่ม' : ' แก้ไข'}}ข้อมูลอัตราภาษีแบบก้าวหน้า</h2>
    <form [formGroup]="form">
        <mat-card class="mat-elevation-z4">
            <mat-card-content>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>เงินได้ตั้งแต่</mat-label>
                            <input matInput type="number" value="0.00" />
                            <span matSuffix>บาท</span>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>ถึง</mat-label>
                            <input matInput type="number" value="0.00" />
                            <span matSuffix>บาท</span>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>ช่วงเงินได้แต่ละขั้น</mat-label>
                            <input matInput type="number" value="0.00" />
                            <span matSuffix>บาท</span>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>อัตราภาษีร้อยละ</mat-label>
                            <input matInput type="number" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>ภาษีเงินได้แต่ละขั้น</mat-label>
                            <input matInput type="number" value="0.00" />
                            <span matSuffix>บาท</span>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>ภาษีสะสมสูงสุดแต่ละขั้น</mat-label>
                            <input matInput type="number" value="0.00" />
                            <span matSuffix>บาท</span>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
            <div class="flex_row_end">
                <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
                <app-button-close (click)="close()"></app-button-close>
            </div>
        </mat-card>
    </form>
</div>