<form [formGroup]="form">
    <mat-card class="mat-elevation-z4">
        <mat-card-content>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field appearance="outline">
                        <mat-label>ขั้นตอนการพิจารณา <span style="color: red">*</span></mat-label>
                        <textarea matInput formControlName="consideration_process_remark" ></textarea>
                    </mat-form-field>
                </div>
            </div>
                    <div class="row">
                        <div class="col-md-7">
                            <mat-form-field appearance="outline">
                                <mat-label>แผ่นแม่แบบเอกสาร <span style="color: red">*</span></mat-label>
                                <input matInput disabled formControlName="file_name"  />
                            </mat-form-field>
                        </div>
                        <div class="col-md-2">
                            <app-button-upload (resultFile)="getResultFile($event)"></app-button-upload>
                        </div>
                        <div class="col-md-1">
                            <app-button-view-upload (click)="viewfile(form.value.document_url)"></app-button-view-upload>
                        </div>
            </div>
           
           
        </mat-card-content>
        <br>
        <div class="flex_row_end">
            <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
            <app-button-close (click)="close()"></app-button-close>
        </div>
    </mat-card>
</form>

<pre *ngIf="!isHideForm">{{form.getRawValue()|json}}</pre>