<button mat-raised-button color="primary"  style="margin-top: 0.25em;margin-right: 20px;background-color: #78CD51;width: auto;" [disabled]="disabled">
    <span style="color: white;">{{name}}</span>
</button>