<h1 mat-dialog-title>ประวัติการฝึกอบรม</h1>
<div mat-dialog-content rtl>
    <div class="row">
        <div class="col-md-4">
            <mat-form-field class="paddingInput" appearance="outline"  *ngIf="workGroups$ | async as workGroups">
                <mat-label>สายงาน</mat-label>
                <mat-select [(ngModel)]="trainForm.work_group_id">
                    <mat-option *ngFor="let data of workGroups" [value]="data.work_group_id">{{data.work_group_name_th}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="paddingInput" appearance="outline"  *ngIf="positionTypes$ | async as positionTypes">
                <mat-label>ประเภทตำแหน่ง</mat-label>
                <mat-select [(ngModel)]="trainForm.position_type_id">
                    <mat-option *ngFor="let data of positionTypes" [value]="data.position_type_id">{{data.position_type_name_th}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="paddingInput" appearance="outline"  *ngIf="positionLevels$ | async as positionLevels">
                <mat-label>ระดับตำแหน่ง</mat-label>
                <mat-select [(ngModel)]="trainForm.position_level_id">
                    <mat-option *ngFor="let data of positionLevels" [value]="data.position_level_id">{{data.position_level_name_th}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
       
    </div>
    <div class="row">
        <div class="col-md-3">
            <mat-form-field class="paddingInput" appearance="outline"  *ngIf="operatorCompare$ | async as operatorCompare">
                <mat-label>ระยะเวลาปฎิบัติงาน/ดำรงตำแหน่ง</mat-label>
                <mat-select [(ngModel)]="trainForm.operator_compare_work_id">
                    <mat-option *ngFor="let data of operatorCompare" [value]="data.operator_compare_id">{{data.operator_compare_name_th}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field class="paddingInput" appearance="outline" >
                <mat-label>ระยะเวลาปฎิบัติงาน/ดำรงตำแหน่ง (ปี) <span style="color: red;">*</span></mat-label>
                <input matInput type="number" [(ngModel)]="trainForm.work_at_position_year" />
            </mat-form-field>
        </div>
       
    </div>
    <div class="row">
        <div class="col-md-6">
            <mat-form-field class="paddingInput" appearance="outline"  *ngIf="insigniaDetail$ | async as insigniaDetail">
                <mat-label>เริ่มต้นขอ/ถือครองเครื่องราชฯ<span style="color: red">*</span></mat-label>
                <mat-select [(ngModel)]="trainForm.holding_insignia_uid">
                    <mat-option *ngFor="let data of insigniaDetail" [value]="data.insignia_uid">{{data.displayName}}</mat-option>
                </mat-select>
            </mat-form-field>
           
        </div>
        <div class="col-md-6">
            <mat-form-field class="paddingInput" appearance="outline"  *ngIf="insigniaDetail$ | async as insigniaDetail">
                <mat-label>สามารถขอเครื่องราชฯ<span style="color: red">*</span></mat-label>
                <mat-select [(ngModel)]="trainForm.can_request_insignia_uid">
                    <mat-option *ngFor="let data of insigniaDetail" [value]="data.insignia_uid">{{data.displayName}}</mat-option>
                </mat-select>
            </mat-form-field>
          
        </div>
      
       
    </div>
    <div class="row">
       
        <div class="col-md-3">
            <mat-form-field class="paddingInput" appearance="outline"  *ngIf="operatorCompare$ | async as operatorCompare">
                <mat-label>ระยะเวลาถือครอง</mat-label>
                <mat-select [(ngModel)]="trainForm.operator_compare_holder_id">
                    <mat-option *ngFor="let data of operatorCompare" [value]="data.operator_compare_id">{{data.operator_compare_name_th}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field class="paddingInput" appearance="outline" >
                <mat-label>จำนวนปีที่ถือครอง <span style="color: red;">*</span></mat-label>
                <input matInput  [(ngModel)]="trainForm.holding_year" type="number" />
            </mat-form-field>
        </div>
       
    </div>
    <div class="row">
        <div class="col-md-6">
            <mat-form-field class="paddingInput" appearance="outline" >
                <mat-label>ช่วงเงินเดือน</mat-label>
                <input matInput type="number" [(ngModel)]="trainForm.salary_min_amount" />
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="paddingInput" appearance="outline" >
                <mat-label>ถึง</mat-label>
                <input matInput type="number" [(ngModel)]="trainForm.salary_max_amount" />
            </mat-form-field>
        </div>
       
    </div>
    <div class="row">
        <div class="col-md-6">
            <section class="example-section">
                <mat-checkbox  [(ngModel)]="trainForm.request_at_retire_year" >สามารถขอได้เมื่อถึงปีเกษียน</mat-checkbox>
            </section>
        </div>
       
       
    </div>
    


    <br />
    <div class="row justify-content-center">
        <div class="col-2">
            <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
        </div>
        <div class="col-2">
            <app-button-save-close (click)="saveClose()"></app-button-save-close>&nbsp;&nbsp;
        </div>
        <div class="col-2">
            <app-button-close (click)="close()"></app-button-close>
        </div>
    </div>
    <!-- <pre >{{trainForm|json}}</pre> -->
</div>
