<!-- <div class="flex_row_between" style="width: 100%;align-items: end;">
    <div >
        <button style="width: 190px;" (click)="back()" mat-stroked-button color="accent">ย้อนกลับ</button>
    </div>
    <div class="flex_row_end" style="width: 50%;">
        <mat-form-field appearance="outline" class="paddingInput" style="width: 50%;font-size: 12px;">
            <mat-label>ประเภทไฟล์ที่ต้องการ</mat-label>
            <mat-select [(ngModel)]="fileDownload">
                <mat-option *ngFor="let data of fileData" [value]="data.id">
                    {{data.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="paddingInput">
            <button style="width: 190px;" (click)="search()" mat-stroked-button color="accent">ดาวน์โหลด</button>
        </div>
    </div>
</div>
<br>
<div  style="height:800px">
<iframe width="100%" style="height: -webkit-fill-available;" [src]="url"></iframe>
</div> -->

<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <mat-label style="font-size: 26px;">รายงานเครื่องราชอิสริยาภรณ์บุคคลภายนอก</mat-label>
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-3">
                <mat-form-field class="paddingInput" appearance="outline" >
                    <mat-label>วันที่เริ่มต้น</mat-label>
                    <input matInput [matDatepicker]="fromDate1" [(ngModel)]="startDate">
                    <mat-datepicker-toggle matSuffix [for]="fromDate1"></mat-datepicker-toggle>
                    <mat-datepicker #fromDate1></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="paddingInput" appearance="outline" >
                    <mat-label>วันที่สิ้นสุด</mat-label>
                    <input matInput [matDatepicker]="fromDate2" [(ngModel)]="endDate">
                    <mat-datepicker-toggle matSuffix [for]="fromDate2"></mat-datepicker-toggle>
                    <mat-datepicker #fromDate2></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div>
                <app-button-search (click)="search()"></app-button-search>
                <app-button-reset (click)="clear()"></app-button-reset>
                <ng-container *ngIf="show">
                    <app-button-print style="padding-left: 20px;" (click)="onClickprint()"></app-button-print>
                </ng-container>
            </div>
        </div>
        

        <div style="margin-top: 40px;" *ngIf="show">
            <div class="row justify-content-md-center">
                <p style="font-weight: bold;font-size:x-large;">รายงานเครื่องราชอิสริยาภรณ์บุคคลภายนอก</p>
            </div>
        
        <table mat-table [dataSource]="assignPersonnel$ | async" class="mat-elevation-z8" style="margin-top: 20px;">

            <ng-container matColumnDef="1">
              <th mat-header-cell *matHeaderCellDef> ชื่อ-สกุล </th>
              <td mat-cell *matCellDef="let element"> {{element.personnel_name? element.personnel_name : ''}} </td>
            </ng-container>

            <ng-container matColumnDef="2">
              <th mat-header-cell *matHeaderCellDef>  ตำแหน่งบริหาร </th>
              <td mat-cell *matCellDef="let element"> {{element.position_name}} </td>
            </ng-container>

            <ng-container matColumnDef="3">
              <th mat-header-cell *matHeaderCellDef> ประเภทเครื่องราชฯ </th>
              <td mat-cell *matCellDef="let element"> {{element.insignia_type}} </td>
            </ng-container>

            <ng-container matColumnDef="4">
              <th mat-header-cell *matHeaderCellDef> ชั้นเครื่องราชอิสริยาภรณ์ </th>
              <td mat-cell *matCellDef="let element"> {{element.insignia}} </td>
            </ng-container>

            <ng-container matColumnDef="5">
              <th mat-header-cell *matHeaderCellDef> วันที่ได้รับ </th>
              <td mat-cell *matCellDef="let element"> {{element.receive_date}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>

    </mat-card-content>
</mat-card>