<div class="card-body">
    <h2 class="card-title">อัตราภาษีแบบก้าวหน้า</h2>
<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <mat-tab-group mat-align-tabs="start">
            <mat-tab label="รายการยกเว้น"><app-tab1></app-tab1></mat-tab>
            <mat-tab label="รายการลดหย่อน"><app-tab2></app-tab2></mat-tab>
            <mat-tab label="อัตราภาษี"><app-tab3></app-tab3></mat-tab>
          </mat-tab-group>
    </mat-card-content>
</mat-card>
</div>
