<mat-card class="mat-elevation-z4 hoverscorll">
<!-- <mat-card class="mat-elevation-z4">
    <mat-card-content> -->
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline" >
                    <mat-label> เลขที่ใบสมัคร </mat-label>
                    <input matInput  [value]="request.application_uid | getDataId : applicantDatas : 'applicant_uid' : 'application_no' : '' " disabled/>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline" >
                    <mat-label> ชื่อ-สกุล </mat-label>
                    <input matInput [value]="request.application_uid | getDataId : applicantDatas : 'applicant_uid' : 'fullName' : ''" disabled/>
                </mat-form-field>
            </div>
        </div>
    <!-- </mat-card-content>
</mat-card> -->
<!-- <br> -->
<div class="row">
    <div class="col-md-12">
        <section class="example-section">
            <mat-checkbox [checked]="request.selection_request_uid | getDataId : requestsDatas : 'selection_request_uid' : 'has_exam' : '' ">การสอบแข่งขัน</mat-checkbox>
        </section>
    </div>
</div>
<br>
<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>วันที่ดำเนินการสอบข้อเขียน <span style="color: red">*</span></mat-label>
                    <input matInput [matDatepicker]="fromDate" [(ngModel)]="request.written_exam_date">
                    <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                    <mat-datepicker #fromDate></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>ผลการสอบข้อเขียน <span style="color: red">*</span></mat-label>
                    <mat-select [(ngModel)]="request.written_exam_status_id" >
                        <mat-option *ngFor="let item of statusExam" [value]="item.id">{{item.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <mat-form-field class="paddingInput" appearance="outline" >
                    <mat-label> คะแนนสอบ ภาค ก. </mat-label>
                    <input matInput type="number" [(ngModel)]="request.written_exam_1_score" (input)="getTotalScore()" />
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="paddingInput" appearance="outline" >
                    <mat-label> คะแนนสอบ ภาค ข. </mat-label>
                    <input matInput type="number" [(ngModel)]="request.written_exam_2_score" (input)="getTotalScore()"/>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline" >
                    <mat-label> รวมคะแนนสอบ </mat-label>
                    <input matInput type="number" [value]="totalExam" disabled/>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="paddingInput" appearance="outline" >
                    <mat-label> หมายเหตุ(สอบข้อเขียน) <span style="color: red">*</span> </mat-label>
                    <textarea matInput [(ngModel)]="request.written_exam_remark"></textarea>
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<br>
<div class="row">
    <div class="col-md-12">
        <section class="example-section">
            <mat-checkbox [checked]="request.selection_request_uid | getDataId : requestsDatas : 'selection_request_uid' : 'has_exam' : '' ">การคัดเลือก</mat-checkbox>
        </section>
    </div>
</div>
<br>
<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>วันที่ดำเนินการสัมภาษณ์ <span style="color: red">*</span></mat-label>
                    <input matInput [matDatepicker]="fromDate2" [(ngModel)]="request.interview_date">
                    <mat-datepicker-toggle matSuffix [for]="fromDate2"></mat-datepicker-toggle>
                    <mat-datepicker #fromDate2></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>ผลการสอบสัมภาษณ์ <span style="color: red">*</span></mat-label>
                    <mat-select [(ngModel)]="request.interview_result_id" >
                        <mat-option *ngFor="let item of statusExam" [value]="item.id">{{item.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline" >
                    <mat-label> คะแนนสัมภาษณ์ </mat-label>
                    <input matInput type="number" [(ngModel)]="request.interview_score" (input)="getTotalScore()"/>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="paddingInput" appearance="outline" >
                    <mat-label> หมายเหตุ(สอบสัมภาษณ์) <span style="color: red">*</span> </mat-label>
                    <textarea matInput [(ngModel)]="request.interview_remark"></textarea>
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<br />
<br />
<div class="row">
    <div class="col-md-2"> </div>
    <div class="col-md-2">
        <section class="example-section">
            <mat-checkbox [(ngModel)]="request.is_pass" >ผ่านการคัดเลือก</mat-checkbox>
        </section>
    </div>
    <div class="col-md-6">
        <mat-form-field class="paddingInput" appearance="outline" >
            <mat-label> รวมคะแนน</mat-label>
            <input matInput type="number" style="text-align: center;" [value]="sumTotal" disabled>
        </mat-form-field>
    </div>
    <div class="col-md-2"> </div>
</div>
</mat-card>
<br />
<div class="row justify-content-center">
    <div class="col-2">
        <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
    </div>
    <div class="col-2">
        <app-button-save-close (click)="saveClose()"></app-button-save-close>&nbsp;&nbsp;
    </div>
    <div class="col-2">
        <app-button-close (click)="close()"></app-button-close>
    </div>
</div>