// .container {
//     height: 100%;
//     display: grid;
//     grid-template-columns: 290px auto;
//     grid-template-rows: 8% auto;
// }

// .toolbar {
//     grid-column-start: 2;
//     grid-row-end: 2;
// }

// .menu {
//     grid-column-start: 1;
//     grid-row-end: span 2;
// }

// .content{
//     padding: 24px;
//     grid-column-start: 2;
//     grid-row-start: 2;
// }

// .container_content {
//     padding: 24px;
// }

.container_menu {
    height: 100%;
    width: 17%;
    transition: 0.3s;
}

.expandMenu {
    width: 50px;
    transition: 0.3s;
}

.expandMain {
    margin-left: 50px;
    width: calc(100% - 50px);
    transition: 0.3s;
}

.unExpandMain {
    margin-left: 17%;
    width: 83%;
    transition: 0.3s;
}

#top {
    position:absolute;
    top:0px;
    min-width:0px;
}
.bars {
    width:100%;
    left:0px;
    height:54px;
    /* Old browsers */
    z-index:100;
}

#menu {
    width:250px;
    position:absolute;
    overflow:scroll;
    top:0px;
    height:100%;
    padding-top:10px;
}
#container {
    position:absolute;
    // width:100%;
    top:0;
    bottom:0;
    z-index:-1;
    overflow:hidden;
    margin-left: 250px;
    // background:red;
    padding: 25px;
    margin-top: 50px;
}
