<div style="display: flex;width: 100%;height: 100%;">
    <div style="display: flex;flex-flow: row;width: 100%;">
        <div class="container_menu" style=" position:absolute;overflow:scroll;height: 100%;" [ngClass]="isExpandMenu ? '' : 'expandMenu'">
            <app-menu (onToggleMenu)="isExpandMenu = $event"></app-menu>
        </div>  
        <div style="width: 100%;">
            <div [ngClass]="isExpandMenu ? 'unExpandMain' : 'expandMain'">
                <app-toolbar></app-toolbar>
            </div>
            <!-- width: calc(90% - 130px) -->
            <div class="container_content" [ngClass]="isExpandMenu ? 'unExpandMain' : 'expandMain'" style="position: absolute;overflow: scroll;height: 93vh;">
                <router-outlet></router-outlet>
            </div>        
        </div> 
    </div>  
  
</div>
