<form [formGroup]="form">
<mat-tab-group>
    <mat-tab label="รายชื่อบุคลากร">
        <mat-card class="mat-elevation-z4">
            <mat-card-content>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>ปีที่เสนอ</mat-label>
                            <mat-select [(ngModel)]="year" [ngModelOptions]="{standalone: true}"  (selectionChange)="getPerson()">
                                <mat-option *ngFor="let item of dateProcess$ | async" [value]="item">{{item+543}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <mat-card class="mat-elevation-z4" style="margin-top: 20px;">
                    <mat-card-content>
                        <label for="">บันทึกประวัติแบบกลุ่ม</label>
                        <!-- <div>
                            <app-button-add (click)="popupAdd()" ></app-button-add>
                        </div> -->
                        <br>
                        <!-- <ng-container *ngif="insignias$ | async as insigniaRequest"> -->
                        <table mat-table [dataSource]="dataPerson" matSort class="mat-elevation-z2"
                            style="width: 100%;margin-top: 20px;">
                            <tr mat-header-row *matHeaderRowDef="['1', '2','3', '4','5']"></tr>
                            <tr mat-row *matRowDef="let myRowData; columns: ['1', '2','3', '4','5']"></tr>
                            <ng-container matColumnDef="1">
                                <th mat-header-cell *matHeaderCellDef>เลขประจำตำแหน่ง</th>
                                <td mat-cell *matCellDef="let data; let index = index">
                                  {{data.personnel_in_house? data.personnel_no : '-'}}
                                    <!-- {{data | getDataId : dataPerson : 'insignia_request_uid' : 'personnel_no' : '' }} -->
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="2">
                                <th mat-header-cell *matHeaderCellDef>ชื่อ-นามสกุล </th>
                                <td mat-cell *matCellDef="let data; let index = index">
                                    <div *ngIf="data.personnel_in_house">
                                        {{data.prefix_name}} {{data.first_name}} {{data.last_name}}
                                    </div>
                                    <div *ngIf="!data.personnel_in_house">
                                        {{data.outsider_name}}
                                    </div>
                                    <!-- {{data | getDataId : dataPerson : 'insignia_request_uid' : 'prefix_name' : '' }} {{data | getDataId : dataPerson : 'insignia_request_uid' : 'first_name' : '' }} {{data | getDataId : dataPerson : 'insignia_request_uid' : 'last_name' : '' }} -->
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="3">
                                <th mat-header-cell *matHeaderCellDef>ชื่อตำแหน่ง</th>
                                <td mat-cell *matCellDef="let data; let index = index">
                                    {{data.personnel_in_house? data.position_name : data.outsider_position_name}}
                                    <!-- {{data | getDataId : dataPerson : 'insignia_request_uid' : 'position_name' : '' }} -->
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="4">
                                <th mat-header-cell *matHeaderCellDef>ประเภทบุคลากร </th>
                                <td mat-cell *matCellDef="let data; let index = index">
                                    {{data.personnel_in_house? 'บุคลากรภายใน': 'บุคลากรภายนอก'}}
                                    <!-- {{data | getDataId : dataPerson : 'insignia_request_uid' : 'personnel_type_name' : '' }} -->
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="5">
                                <th mat-header-cell *matHeaderCellDef>ชื่อเครื่องราชฯ/เหรียญตรา </th>
                                <td mat-cell *matCellDef="let data; let index = index">
                                    {{data.insignia_name}}
                                    <!-- {{data | getDataId : dataPerson : 'insignia_request_uid' : 'insignia_name' : '' }} -->
                                </td>
                            </ng-container>
                        </table>
                    <!-- </ng-container> -->
                        <br>
                        <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
                    </mat-card-content>
                </mat-card>
            </mat-card-content>
            <br>
            <div class="flex_row_end">
                <app-button-close (click)="close()"></app-button-close>
            </div>
        </mat-card>
    </mat-tab>
    <mat-tab label="ระบุรายละเอียด">
        <mat-card class="mat-elevation-z4">
            <mat-card-content>
                <label for="">ราชกิจจานุเบกษา</label>
                <!-- <ng-container formArrayName="insignia_assign_bestow">
                    <ng-container [formGroupName]="itemsIndex"
                    *ngFor="let item of form['controls']['insignia_assign_bestow']['controls']; let itemsIndex = index;"> -->
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="paddingInput" appearance="outline">
                                <mat-label>เล่ม <span style="color: red">*</span></mat-label>
                                <input matInput formControlName="parts_no">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="paddingInput" appearance="outline">
                                <mat-label>ตอน <span style="color: red">*</span></mat-label>
                                <input matInput formControlName="version_no">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-md-6">
                            <mat-form-field class="paddingInput" appearance="outline">
                                <mat-label>หน้า <span style="color: red">*</span></mat-label>
                                <input matInput formControlName="page_no">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="paddingInput" appearance="outline">
                                <mat-label>วันที่ <span style="color: red">*</span></mat-label>
                                <input matInput [matDatepicker]="toDate" formControlName="bestow_date">
                                <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                                <mat-datepicker #toDate></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- </ng-container>
                </ng-container> -->
            </mat-card-content>
            <br>
            <div class="flex_row_end">
                <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
                <app-button-close (click)="close()"></app-button-close>
            </div>
        </mat-card>
       
    </mat-tab>
</mat-tab-group>
<br>
</form>


<pre *ngIf="!isHideForm">{{form.getRawValue()|json}}</pre>