<mat-card class="mat-elevation-z4">
    <div class="row">
        <div class="col-md-3">
            <mat-form-field appearance="outline">
                <mat-label>คำค้นหา</mat-label>
                <input matInput />
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
    </div>

    <div>
        <app-button-add (click)="addPage()"></app-button-add>
    </div>
    <br />
    <table mat-table [dataSource]="rows" matSort class="mat-elevation-z2" style="width: 100%;">
        <tr mat-header-row *matHeaderRowDef="['action', '1', '2','3','4','5','6']"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2','3','4','5','6']"></tr>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
            <td mat-cell *matCellDef="let data">
                <app-icon-report></app-icon-report>
                <app-icon-edit></app-icon-edit>
                <app-icon-del></app-icon-del>
            </td>
        </ng-container>
        <ng-container matColumnDef="1">
            <th mat-header-cell *matHeaderCellDef>เงินได้ตั้งแต่</th>
            <td mat-cell *matCellDef="let data; let index = index">
                1
            </td>
        </ng-container>
        <ng-container matColumnDef="2">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ถึง </th>
            <td mat-cell *matCellDef="let data">
                2
            </td>
        </ng-container>
        <ng-container matColumnDef="3">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ช่วงเงินได้แต่ละชั้น </th>
            <td mat-cell *matCellDef="let data">
                3
            </td>
        </ng-container>
        <ng-container matColumnDef="4">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> อัตราภาษีร้อยล่ะ </th>
            <td mat-cell *matCellDef="let data">
                4
            </td>
        </ng-container>
        <ng-container matColumnDef="5">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ภาษีเงินได้แต่ละชั้น </th>
            <td mat-cell *matCellDef="let data">
                4
            </td>
        </ng-container>
        <ng-container matColumnDef="6">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ภาษีสะสมสูงสุดแต่ละชั้น </th>
            <td mat-cell *matCellDef="let data">
                4
            </td>
        </ng-container>
    </table>
    <br>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</mat-card>