<h1 mat-dialog-title>เพิ่มข้อมูลความสามารถพิเศษ</h1>
<div mat-dialog-content rtl>
    <div class="row">
        <div class="col-md-12" >
            <mat-form-field appearance="outline">
                <mat-label>ความสามารถพิเศษ</mat-label>
                <input  matInput [(ngModel)]="skillForm.skill_name" />
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            
            <mat-form-field appearance="outline">
                <mat-label>หมายเหตุ</mat-label>
                <textarea matInput [(ngModel)]="skillForm.remark" ></textarea>
            </mat-form-field>
        </div>
    </div>

<div class="row justify-content-center">
    <div class="col-2">
        <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
    </div>
    <div class="col-2">
        <app-button-save-close (click)="saveClose()"></app-button-save-close>&nbsp;&nbsp;
    </div>
    <div class="col-2">
        <app-button-close (click)="close()"></app-button-close>
    </div>
</div>
</div>