<form [formGroup]="form">
    <mat-card class="mat-elevation-z4">
        <mat-card-content>
            <!-- <label for="">คำพิพากษา/คำสั่งศาล</label> -->
            <ng-container *ngIf="state == 'edit'">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>เลขที่เอกสาร</mat-label>
                        <input matInput disabled formControlName="document_no" />
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>วันที่เอกสาร<span style="color: red">*</span></mat-label>
                        <input matInput [matDatepicker]="fromDate1" disabled formControlName="document_date">
                        <mat-datepicker-toggle matSuffix [for]="fromDate1"></mat-datepicker-toggle>
                        <mat-datepicker #fromDate1></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </ng-container>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>เรื่อง <span style="color: red">*</span></mat-label>
                        <input matInput  formControlName="adjudicate_request_subject_name"/>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>ปีงบประมาณ<span style="color: red">*</span></mat-label>
                        <input matInput formControlName="budget_year" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>คดีหมายเลขดำ</mat-label>
                        <input matInput formControlName="decided_case_no" />
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>วันที่คดีหมายเลขดำ</mat-label>
                        <input matInput [matDatepicker]="fromDate2" formControlName="decided_case_date">
                        <mat-datepicker-toggle matSuffix [for]="fromDate2"></mat-datepicker-toggle>
                        <mat-datepicker #fromDate2></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>คดีหมายเลขแดง</mat-label>
                        <input matInput formControlName="undecided_case_no" />
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>วันที่คดีหมายเลขแดง</mat-label>
                        <input matInput [matDatepicker]="fromDate3" formControlName="undecided_case_date" >
                        <mat-datepicker-toggle matSuffix [for]="fromDate3"></mat-datepicker-toggle>
                        <mat-datepicker #fromDate3></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>แผนกคดี</mat-label>
                        <input matInput formControlName="litigation_department_name" />
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>วันที่ฟ้อง<span style="color: red">*</span></mat-label>
                        <input matInput [matDatepicker]="fromDate8" formControlName="indictment_date" >
                        <mat-datepicker-toggle matSuffix [for]="fromDate8"></mat-datepicker-toggle>
                        <mat-datepicker #fromDate8></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>ชื่อโจทก์/ผู้ฟ้องคดี <span style="color: red">*</span></mat-label>
                        <input matInput formControlName="plaintiff_name"  />
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>ชื่อจำเลย/ผู้ถูกฟ้องคดี <span style="color: red">*</span></mat-label>
                        <input matInput formControlName="accused_name" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>ศาล <span style="color: red">*</span></mat-label>
                        <mat-select formControlName="court_id">
                            <mat-option *ngFor="let item of courts$ | async" [value]="item.court_id">{{item.courte_name_th}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>ผลการพิจารณาคดี <span style="color: red">*</span></mat-label>
                        <input matInput formControlName="trial_result_detail"  />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>ทุนทรัพย์ </mat-label>
                        <input matInput  type="number" formControlName="capital_amount" />
                    </mat-form-field>
                </div>
            </div>
            <br>
            <mat-card class="mat-elevation-z4">
                <mat-card-content>
                    <label for="">ผู้เกี่ยวข้อง</label>
                    <div>
                        <app-button-add (click)="popUpRelatedPersonAdd()"></app-button-add>
                    </div>
                    <br>
                    <table mat-table [dataSource]="form.value.adjudicate_request_accomplice" matSort class="mat-elevation-z2" style="width: 100%;">
                        <tr mat-header-row *matHeaderRowDef="['action', '1', '2','3','4','5']"></tr>
                        <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2','3','4','5']"></tr>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                            <td mat-cell *matCellDef="let data ;let i = index">
                                    <app-icon-edit (click)="popUpRelatedPersonEdit(data,i)"></app-icon-edit>
                                    <app-icon-del (click)="deleteItemAcc(data.adjudicate_request_accomplice_uid,i)"></app-icon-del>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="1">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อ-สกุล </th>
                            <td mat-cell *matCellDef="let data">
                                {{data.accomplice_name}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="2">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> เบอร์ติดต่อหลัก </th>
                            <td mat-cell *matCellDef="let data">
                                {{data.tel_no}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="3">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> เบอร์ติดต่อรอง </th>
                            <td mat-cell *matCellDef="let data">
                                {{data.tel_reserve_no}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="4">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> ประเภทความเกี่ยวข้อง </th>
                            <td mat-cell *matCellDef="let data">
                                {{data.relation_name}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="5">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> อีเมล์ </th>
                            <td mat-cell *matCellDef="let data">
                                {{data.email}}
                            </td>
                        </ng-container>
                    </table>
                    <br>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </mat-card-content>
            </mat-card>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>รายละเอียด <span style="color: red">*</span></mat-label>
                        <textarea matInput formControlName="adjudicate_request_description"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <mat-card class="mat-elevation-z4">
                <mat-card-content>
                    <label for="">หมายเรียก/การนัดพิจารณา</label>
                    <div>
                        <app-button-add (click)="popUpSummonsAdd()"></app-button-add>
                    </div>
                    <br>
                    <table mat-table [dataSource]="form.value.adjudicate_request_summons" matSort class="mat-elevation-z2" style="width: 100%;">
                        <tr mat-header-row *matHeaderRowDef="['action', '1', '2','3','4','5']"></tr>
                        <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2','3','4','5']"></tr>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                            <td mat-cell *matCellDef="let data ;let i = index">
                                    <app-icon-edit (click)="popUpSummonsEdit(data,i)"></app-icon-edit>
                                    <app-icon-del (click)="deleteItemSum(data.adjudicate_request_summons_uid,i)"></app-icon-del>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="1">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> ครั้งที่ </th>
                            <td mat-cell *matCellDef="let data">
                                {{data.seq}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="2">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่ </th>
                            <td mat-cell *matCellDef="let data">
                                {{data.apm_date | thaiDate}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="3">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> พิพากษาหรือสั่งวันที่ </th>
                            <td mat-cell *matCellDef="let data">
                                {{data.adjudicate_date | thaiDate}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="4">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> นัดพิจารณา </th>
                            <td mat-cell *matCellDef="let data">
                             {{data.adjudicate_detail}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="5">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> ผลสรุป </th>
                            <td mat-cell *matCellDef="let data">
                                {{data.result_description}}
                            </td>
                        </ng-container>
                    </table>
                    <br>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </mat-card-content>
            </mat-card>
            <br>
            <mat-card class="mat-elevation-z4">
                <mat-card-content>
                    <label for="">เอกสารแนบ</label>
                    <div>
                        <app-button-add (click)="addfile()"></app-button-add>
                    </div>
                    <br>
                    <table mat-table [dataSource]="form.value.adjudicate_request_document" matSort class="mat-elevation-z2" style="width: 100%;">
                        <tr mat-header-row *matHeaderRowDef="['action', '1', '2']"></tr>
                        <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2']"></tr>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                            <td mat-cell *matCellDef="let data ; let i = index">
                                <app-icon-edit (click)="editfile(data,i)"></app-icon-edit>
                                <app-icon-download (click)="downloadDoc(data.document_url)"></app-icon-download>
                                <app-icon-del (click)="deleteItemDoc(data.adjudicate_request_document_uid,i)"></app-icon-del>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="1">
                            <th mat-header-cell *matHeaderCellDef>ชื่อไฟล์ </th>
                            <td mat-cell *matCellDef="let data; let index = index">
                                {{data.file_name}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="2">
                            <th mat-header-cell *matHeaderCellDef>รายละเอียด </th>
                            <td mat-cell *matCellDef="let data; let index = index">
                                {{data.remark}}
                            </td>
                        </ng-container>
                    </table>
                    <br>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </mat-card-content>
            </mat-card>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>ผู้รับเรื่อง <span style="color: red">*</span></mat-label>
                       <mat-select formControlName="informed_personnel_uid"> 
                        <mat-option *ngFor="let item of personnel$ | async" [value]="item.personnel_uid">{{item.display_name_th}}</mat-option>
                </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>สถานะเอกสาร <span style="color: red">*</span></mat-label>
                        <mat-select formControlName="discipline_approve_status_id">
                            <mat-option *ngFor="let item of approveStatuss$ | async" [value]="item.discipline_approve_status_id">{{item.discipline_approve_status_name_th}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <br>
            <div class="flex_row_end">
                <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
                <app-button-close (click)="close()"></app-button-close>
            </div>
        </mat-card-content>
    </mat-card>
</form>

<pre *ngIf="!isHideForm">{{form.getRawValue()|json}}</pre>