<form [formGroup]="form">
    <mat-card class="mat-elevation-z4">
        <mat-card-content>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline" >
                        <mat-label>รหัส <span style="color: red">*</span></mat-label>
                        <input matInput formControlName="punishment_type_code" />
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>ประเภทบทลงโทษ <span style="color: red">*</span></mat-label>
                        <input matInput formControlName="punishment_type_name_th" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>ประเภทความผิด </mat-label>
                        <mat-select formControlName="action_type_id">
                            <mat-option *ngFor="let item of actionTypes$ |async" [value]="item.action_type_id">{{item.action_type_name_th}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-checkbox class="example-margin" formControlName="is_seriously" >ความผิดร้ายแรง</mat-checkbox>
                </div>
            </div>
        </mat-card-content>
        <br>
        <div class="flex_row_end">
            <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
            <app-button-close (click)="close()"></app-button-close>
        </div>
    </mat-card>
</form>