<form [formGroup]="form">
    <mat-card class="mat-elevation-z4">
        <mat-card-content>
            <div class="row">
                <ng-container *ngIf="state == 'edit'">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>รหัส <span style="color: red">*</span></mat-label>
                        <input matInput disabled formControlName="document_no" />
                    </mat-form-field>
                </div>
            </ng-container>
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>ปีประมวลผล<span style="color: red">*</span></mat-label>
                        <input matInput [matDatepicker]="fromDate1" formControlName="processing_date">
                        <mat-datepicker-toggle matSuffix [for]="fromDate1"></mat-datepicker-toggle>
                        <mat-datepicker #fromDate1></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>องค์กร<span style="color: red">*</span></mat-label>
                        <mat-select formControlName="organization_uid">
                            <mat-option *ngFor="let item of organization$ | async" [value]="item.organization_uid">
                                {{item.organization_name_th}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>หน่วยงาน<span style="color: red">*</span></mat-label>
                        <mat-select formControlName="agency_uid">
                            <mat-option *ngFor="let item of agencys$ | async" [value]="item.agency_uid">
                                {{item.agency_name_th}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <ng-container *ngIf="state == 'add'">
                <div class="flex_row_start">
                    <app-button-close (click)="close()"></app-button-close>&nbsp;&nbsp;
                    <app-button-process (click)="getProcess()"></app-button-process>
                    <!-- <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp; -->
                </div>
            </ng-container>
            <br>
        </mat-card-content>
        <br>

        <ng-container *ngIf="insignias$ | async as insignias">
        <ng-container *ngIf="levels$ | async as levels">
        <label for="">ผลลัพธ์</label>
        <table mat-table [dataSource]="rows" class="mat-elevation-z8" style="width: 100%;margin-top: 20px;">
            <!-- <tr mat-header-row
                *matHeaderRowDef="['select','1','2','3','4','5','6','7','8','9','10','11','12','13','action']"></tr>
            <tr mat-row
                *matRowDef="let myRowData; columns: ['select','1','2','3','4','5','6','7','8','9','10','11','12','13','action']">
            </tr> -->
            <ng-container matColumnDef="select">
                <th style="width: 5%;" mat-header-cell *matHeaderCellDef>
                    <mat-checkbox #check (change)="$event ? masterToggle($event.checked) : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null ; selectList($event.checked,row)"
                    [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="1">
                <th  mat-header-cell *matHeaderCellDef> รหัสเลขตำแหน่ง </th>
                <td mat-cell *matCellDef="let element">
                    {{element?.manpower}}
                </td>
            </ng-container>

            <ng-container matColumnDef="2">
                <th  mat-header-cell *matHeaderCellDef> ชื่อ-สกุล </th>
                <td mat-cell *matCellDef="let element">
                    {{element?.prefix_name}} {{element?.first_name}} {{element?.last_name}}
                </td>
            </ng-container>

            <ng-container matColumnDef="3">
                <th  mat-header-cell *matHeaderCellDef> ประเภทบุคลากร </th>
                <td mat-cell *matCellDef="let element">
                    {{element?.personnel_type_name}}
                </td>
            </ng-container>

            <ng-container matColumnDef="4">
                <th  mat-header-cell *matHeaderCellDef> ตำแหน่ง </th>
                <td mat-cell *matCellDef="let element">
                    {{element?.position_name}}
                </td>
            </ng-container>

            <ng-container matColumnDef="5">
                <th  mat-header-cell *matHeaderCellDef> ระดับตำแหน่ง </th>
                <td mat-cell *matCellDef="let element">
                    {{element?.insignia_request_data?.current_position_level_id | getDataId : levels : 'position_level_id' : 'position_level_name_th' : '' }}
                </td>
            </ng-container>

            <ng-container matColumnDef="6">
                <th  mat-header-cell *matHeaderCellDef> วันที่บรรจุ </th>
                <td mat-cell *matCellDef="let element">
                    {{element?.hire_date | thaiDate}}
                </td>
                <!-- <th  mat-header-cell *matHeaderCellDef> เครื่องราชปัจจุบัน </th>
                <td mat-cell *matCellDef="let element">
                    {{element?.insignia_request_data?.current_insignia_uid ? (element?.insignia_request_data?.current_insignia_uid | getDataId : insignias : 'insignia_uid' : 'insignia_short_name' : '' ) : '-'}}
                </td> -->
            </ng-container>

            <ng-container matColumnDef="7">
                <th  mat-header-cell *matHeaderCellDef> ระยะเวลาปฎิบัติงาน(ปี) </th>
                <td mat-cell *matCellDef="let element">
                    {{element?.hire_date | dateBirthday }}
                </td>
                <!-- <th  mat-header-cell *matHeaderCellDef> วันที่ได้รับเครื่องราช </th>
                <td mat-cell *matCellDef="let element">
                    {{element?.insignia_request_data?.current_insignia_received_date | thaiDate}}
                </td> -->
            </ng-container>

            <ng-container matColumnDef="8">
                <th  mat-header-cell *matHeaderCellDef> ปีเกษียณ </th>
                <td mat-cell *matCellDef="let element">
                    {{element.retire_date | thaiDate}}
                </td>
                <!-- <th  mat-header-cell *matHeaderCellDef> เครื่องราชที่ควรได้รับ </th>
                <td mat-cell *matCellDef="let element">
                    {{element?.insignia_request_data?.corresponding_insignia_uid | getDataId : insignias : 'insignia_uid' : 'insignia_short_name' : ''  }} 
                </td> -->
            </ng-container>

            <ng-container matColumnDef="9">
                 <th  mat-header-cell *matHeaderCellDef> เหรียญตราที่ได้รับ </th>
                <td mat-cell *matCellDef="let element">
                    {{element?.insignia_request_data?.corresponding_insignia_uid | getDataId : insignias : 'insignia_uid' : 'insignia_short_name' : ''  }} 
                </td>
                <!-- <th  mat-header-cell *matHeaderCellDef> วันที่บรรจุ </th>
                <td mat-cell *matCellDef="let element">
                    {{element?.hire_date | thaiDate}}
                </td> -->
            </ng-container>

            <!-- <ng-container matColumnDef="10">
                <th  mat-header-cell *matHeaderCellDef> ชื่อบัญชี </th>
                <td mat-cell *matCellDef="let element">
                    {{element?.processing_name}}
                </td>
            </ng-container> -->

            <ng-container matColumnDef="10">
                <th  mat-header-cell *matHeaderCellDef> มีโทษทางวินัย </th>
                <td mat-cell *matCellDef="let element">
                    -
                </td>
            </ng-container>
<!-- 
            <ng-container matColumnDef="action">
                <th  mat-header-cell *matHeaderCellDef> เครื่องมือ </th>
                <td mat-cell *matCellDef="let element">
                    <app-icon-del></app-icon-del>
                </td>
            </ng-container> -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </table>
        </ng-container>
        </ng-container>
        <br>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        <br />
        <ng-container *ngIf="state == 'edit'">
            <div class="flex_row_end">
                <app-button-process [name]="'สร้างใบคำขอ'" [disabled]="state == 'add'" (click)="createRequest()"></app-button-process>&nbsp;&nbsp;
                <app-button-close (click)="close()"></app-button-close>
            </div>
        </ng-container>
    </mat-card>
</form>