<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <app-layout-search>
            <ng-container content>
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>คำค้นหา</mat-label>
                            <input matInput [(ngModel)]="dataSearch" (input)="search()" />
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                </ng-container>
                </app-layout-search>
       

        <!-- <div class="row">
            <div class="col-md-3">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label> ค้นหา </mat-label>
                    <input matInput />
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <div>
                    <app-button-search></app-button-search>
                    <app-button-reset></app-button-reset>
                </div>
            </div>
        </div> -->



        <div>
            <app-button-add (click)="addPage()"></app-button-add>
        </div>
        <br />
        <ng-container *ngIf="personnel$ | async as personnels">
            <ng-container *ngIf="genders$ | async as genders">
            <ng-container *ngIf="positions$ | async as positions">
                <table mat-table [dataSource]="rows" matSort class="mat-elevation-z2" style="width: 100%;">
                    <tr mat-header-row *matHeaderRowDef="['action','1','2','3','4','5','6','7','8','9','10','11','12']">
                    </tr>
                    <tr mat-row
                        *matRowDef="let myRowData; columns: ['action','1','2','3','4','5','6','7','8','9','10','11','12']">
                    </tr>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                        <td mat-cell *matCellDef="let data">
                            <app-icon-edit (click)="editPage(data.insignia_request_uid)"></app-icon-edit>
                            <app-icon-del (click)="deleteItem(data.insignia_request_uid)"></app-icon-del>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="1">
                        <th mat-header-cell *matHeaderCellDef>เลขที่เอกสาร </th>
                        <td mat-cell *matCellDef="let data; let index = index">
                            {{data.document_no}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="2">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ปีประมวลผล </th>
                        <td mat-cell *matCellDef="let data">
                            {{data.processing_date | thaiDate }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="3">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> รหัสบุคลากร </th>
                        <td mat-cell *matCellDef="let data">
                            {{data.personnel_no? data.personnel_no : '' }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="4">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อ-นามสกุล </th>
                        <td mat-cell *matCellDef="let data">
                            <div *ngIf="data.personnel_in_house"> 
                                {{data.prefix_name}} {{data.first_name}} {{data.last_name}}
                            </div>
                            <div *ngIf="!data.personnel_in_house"> 
                                {{data.outsider_name}} 
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="5">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> เพศ </th>
                        <td mat-cell *matCellDef="let data">
                            <div *ngIf="data.personnel_in_house"> 
                                {{data.personnel_uid | getDataId : personnels : 'personnel_uid' : 'gender_id' :'' |
                                getDataId : genders : 'gender_id' : 'gender_name_th' : '' }}
                            </div>
                            <div *ngIf="!data.personnel_in_house"> 
                               ไม่มีฟิลล์
                            </div>
                         
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="6">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ประเภทบุคลากร </th>
                        <td mat-cell *matCellDef="let data">
                            <div *ngIf="data.personnel_in_house"> 
                               บุคคลภายใน
                            </div>
                            <div *ngIf="!data.personnel_in_house"> 
                               บุคคลภายนอก
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="7">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> หน่วยงาน </th>
                        <td mat-cell *matCellDef="let data">
                            <div *ngIf="data.personnel_in_house"> 
                                {{data.agency_name}}
                             </div>
                             <div *ngIf="!data.personnel_in_house"> 
                                -
                             </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="8">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ตำแหน่ง </th>
                        <td mat-cell *matCellDef="let data">
                            <div *ngIf="data.personnel_in_house"> 
                                {{data.position_name }}
                             </div>
                             <div *ngIf="!data.personnel_in_house"> 
                                {{data.outsider_position_uid | getDataId : positions : 'position_uid' : 'position_name_th'}}
                             </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="9">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ปีเกษียณ </th>
                        <td mat-cell *matCellDef="let data">
                            <div *ngIf="data.personnel_in_house"> 
                                {{data.retire_date | thaiDate}}
                             </div>
                             <div *ngIf="!data.personnel_in_house"> 
                               -
                             </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="10">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> เครื่องราชที่ได้รับ </th>
                        <td mat-cell *matCellDef="let data">
                            <div *ngIf="data.personnel_in_house"> 
                                {{data.insignia_name}}
                             </div>
                             <div *ngIf="!data.personnel_in_house"> 
                                {{data.insignia_name}}
                             </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="11">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> สถานะ </th>
                        <ng-container *matCellDef="let data">
                            <td mat-cell *ngIf="(!data.sign_status && !data.received_status);"><span>
                                    <div class="statusRed" style="float: left;"></div>&nbsp;&nbsp;ไม่ผ่าน
                            </span></td>
                            <td mat-cell *ngIf="(data.sign_status  && !data.received_status);"><span>
                                <div class="statusYellow" style="float: left;"></div>&nbsp;&nbsp;ผ่าน
                            </span></td>
                            <td mat-cell *ngIf="(data.sign_status && data.received_status);"><span>
                                    <div class="statusGreen" style="float: left;"></div>&nbsp;&nbsp;บันทึก
                            </span>
                            </td>
                        </ng-container>
                    </ng-container>

                    <ng-container matColumnDef="12">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> บันทึกประวัติ </th>
                        <td mat-cell *matCellDef="let data">
                            <div
                                *ngIf="data.sign_status == true  && data.received_status == false || data.received_status == null">
                                <app-button-save [name]="'บันทึก'" (click)="getAssign(data.insignia_request_uid)">
                                </app-button-save>
                            </div>
                        </td>
                    </ng-container>
                </table>
                <br>
            </ng-container>
        </ng-container>
        </ng-container>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>