<div class="card-body">
    <h2 class="card-title">กองทุนสำรอง <label *ngIf="!isHideForm">/salary/provident_funds</label></h2>
    <mat-card class="mat-elevation-z4">
        <mat-card-content>
            <app-layout-search>
                <ng-container content>
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>คำค้นหา</mat-label>
                                <input matInput />
                                <mat-icon matSuffix>search</mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                </ng-container>
            </app-layout-search>
            <div>
                <app-button-add (click)="addPage()"></app-button-add>
            </div>
            <br />
            <table mat-table [dataSource]="providentFund$ | async" matSort class="mat-elevation-z2"
                style="width: 100%;">
                <tr mat-header-row *matHeaderRowDef="['action', '1', '2']"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2']"></tr>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                    <td mat-cell *matCellDef="let data">
                        <!-- <app-icon-report></app-icon-report> -->
                        <app-icon-edit (click)="editPage(data?.provident_fund_uid)"></app-icon-edit>
                        <app-icon-del (click)="deleteItem(data?.provident_fund_uid)"></app-icon-del>
                    </td>
                </ng-container>
                <ng-container matColumnDef="1">
                    <th mat-header-cell *matHeaderCellDef>รหัสกองทุน</th>
                    <td mat-cell *matCellDef="let data; let index = index">
                        {{data?.provident_fund_code}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="2">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อกองทุน </th>
                    <td mat-cell *matCellDef="let data">
                        {{data?.provident_fund_name_th}}
                    </td>
                </ng-container>
                <!-- <ng-container matColumnDef="3">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อย่อกองทุน </th>
                    <td mat-cell *matCellDef="let data">
                        {{data?.provident_fund_name_shot}}
                    </td>
                </ng-container> -->
            </table>
            <br>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </mat-card-content>
    </mat-card>
</div>