
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline" >
                    <mat-label>เลขที่เอกสาร </mat-label>
                    <input matInput type="text"  disabled [value]="display?.document_no"/>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline" >
                    <mat-label>วันที่เอกสาร</mat-label>
                    <input matInput [matDatepicker]="fromDate" disabled [value]="display?.request_date">
                    <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                    <mat-datepicker #fromDate></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline" >
                    <mat-label>กลุ่มบุคลากร </mat-label>
                    <input matInput type="text"  disabled [value]="display?.personnel_group_id | getDataId : personnelGroups : 'personnel_group_id' : 'personnel_group_name_th' : '' "/>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline" >
                    <mat-label>ประเภทบุคลากร </mat-label>
                    <input matInput type="text"  disabled [value]="display?.personnel_type_id | getDataId : personnelTypes : 'personnel_type_id' : 'personnel_type_name_th' : '' "/>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline" >
                    <mat-label>หน่วยงานที่บรรจุ </mat-label>
                    <input matInput type="text"  disabled [value]="display?.agency?.agency_name_th"/>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline" >
                    <mat-label>ตำแหน่ง </mat-label>
                    <input matInput type="text"  disabled [value]="display?.position?.position_name_th"/>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline" >
                    <mat-label>วุฒิการศึกษา </mat-label>
                    <input matInput type="text"  disabled [value]="display?.education_level_id | getDataId : educationLevels : 'education_level_id' : 'education_level_name_th' : '' "/>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline" >
                    <mat-label>คุณวุฒิ </mat-label>
                    <input matInput type="text"  disabled [value]="display?.qualification_id | getDataId : qualifications : 'qualification_id' : 'qualification_name_th' : '' "/>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="paddingInput" appearance="outline" >
                    <mat-label>หมายเหตุ</mat-label>
                    <textarea matInput disabled [value]="display?.remark"></textarea>
                </mat-form-field>
            </div>
        </div>

        <label for="">วิธีการสรรหา</label>
        <div class="row">
            <div class="col-md-6">
                <section class="example-section">
                    <mat-checkbox disabled [checked]="display?.has_exam">การสอบข้อเขียน</mat-checkbox>
                </section>
            </div>
            <div class="col-md-6">
                <section class="example-section">
                    <mat-checkbox   disabled [checked]="display?.has_interview">สัมภาษณ์</mat-checkbox>
                </section>
            </div>
        </div>
        <br>