<form [formGroup]="form">
    <mat-card class="mat-elevation-z4">
        <mat-card-content>
            <div class="flex_row_between" style="width: 100%;">
                <ng-container *ngIf="personnelTypes$ | async as personnelTypesDatas">
                    <ng-container *ngIf="state == 'add'">
                        <mat-form-field class="paddingInput" appearance="outline" style="width: 45%;">
                            <mat-label>ประเภทบุคลากร<span style="color: red">*</span></mat-label>
                            <!-- <input matInput  [value]="dataEdit?.personnel_type_name_th" disabled/> -->
                            <mat-select [(ngModel)]="personnelType" [ngModelOptions]="{standalone: true}"
                                (selectionChange)="getPersonType(personnelType)">
                                <mat-option *ngFor="let item of personnelTypesDatas" [value]="item.personnel_type_id">
                                    {{item.personnel_type_name_th}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </ng-container>
                    <ng-container *ngIf="state == 'edit'">
                        <mat-form-field class="paddingInput" appearance="outline" style="width: 45%;">
                            <mat-label>ประเภทบุคลากร<span style="color: red">*</span></mat-label>
                            <input matInput [value]="id | getDataId : personnelTypesDatas : 'personnel_type_id' : 'personnel_type_name_th' " disabled />
                            <!-- <mat-select  [(ngModel)]="personnelType" [ngModelOptions]="{standalone: true}" 
                            (selectionChange)="getPersonType(personnelType)" [aria-disabled]="true">
                            <mat-option *ngFor="let item of personnelTypes$ | async" [value]="item.personnel_type_id">
                                {{item.personnel_type_name_th}}</mat-option>
                        </mat-select> -->
                        </mat-form-field>
                    </ng-container>
                </ng-container>
            </div>
            <mat-card class="mat-elevation-z4">
                <mat-card-content>
                    <mat-label>ประเภทบทลงโทษ </mat-label>
                    <div>
                        <app-button-add (click)="popUpAdd()"></app-button-add>
                    </div>
                    <br />
                    <table mat-table [dataSource]="form.value.data" matSort class="mat-elevation-z2"
                        style="width: 100%;">
                        <tr mat-header-row *matHeaderRowDef="['action', '1']"></tr>
                        <tr mat-row *matRowDef="let myRowData; columns: ['action', '1']"></tr>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                            <td mat-cell *matCellDef="let data; let i = index">
                                <app-icon-edit (click)="popUpEdit(data,i)"></app-icon-edit>
                                <app-icon-del (click)="deleteArray(data,i)"></app-icon-del>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="1">
                            <th mat-header-cell *matHeaderCellDef>ประเภทบทลงโทษ </th>
                            <td mat-cell *matCellDef="let data; let index = index">
                                {{data.punishment_type_uid | getDataId : punishmentTypes : 'punishment_type_id' :
                                'punishment_type_name_th' : '' }}
                            </td>
                        </ng-container>
                    </table>
                </mat-card-content>
            </mat-card>

        </mat-card-content>
        <br>
        <div class="flex_row_end">
            <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
            <app-button-close (click)="close()"></app-button-close>
        </div>
    </mat-card>
</form>
<pre *ngIf="!isHideForm">{{form.getRawValue()|json}}</pre>