<mat-card class="mat-elevation-z4">
    <form [formGroup]="form">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>1. เงินสะสมเข้ากองทุนเลี้ยงชีพ ส่วนที่เกิน</mat-label>
                    <input matInput type="number" value="0.00" />
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>แต่ต้องไม่เกิน</mat-label>
                    <input matInput type="number" value="0.00" />
                    <span matSuffix>บาท</span>
                </mat-form-field>
            </div>
        </div>
        <hr />
        <br />
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>2. เงินสะสม กบข. เฉพะส่วนที่ไม่เกิน</mat-label>
                    <input matInput type="number" value="0.00" />
                </mat-form-field>
            </div>
        </div>
        <hr />
        <br />
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>3. เงินชดเชยที่ได้รับตามกฎหมายแรงงานแต่ต้องไม่เกิน </mat-label>
                    <input matInput type="number" value="0.00" />
                </mat-form-field>
            </div>
        </div>
        <hr />
        <br />
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>4. เงินสะสมกองทุนสงเคราะห์ครูโรงเรียนเอกชนเฉพาะส่วนที่ไม่เกิน </mat-label>
                    <input matInput type="number" value="0.00" />
                </mat-form-field>
            </div>
        </div>
        <hr />
        <br />
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>5. ลดหย่อนผู้มีเงินได้ตั้งแต่ 65ปีขึ้นไป </mat-label>
                    <input matInput type="number" value="0.00" />
                </mat-form-field>
            </div>
        </div>
        <div class="flex_row_end">
            <app-button-save (click)="save()"></app-button-save>
        </div>
    </form>
</mat-card>