<form [formGroup]="form">
<mat-card class="mat-elevation-z4" style="padding: 0px 16px 16px 16px;border-radius: 0px;">
    <mat-card-content>
        <mat-list>
            <mat-list-item>ข้อมูลโครงตำแหน่งงาน</mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>

<div class="row">
    <div class="col-md-3" >
        <mat-form-field appearance="outline">
            <mat-label> รหัสโครงตำแหน่งงาน <span style="color: red">*</span> </mat-label>
            <input matInput formControlName="work_chart_header_code" />
        </mat-form-field>
    </div>
    <div class="col-md-6">
        <mat-form-field appearance="outline">
            <mat-label> ชื่อโครงตำแหน่งงาน <span style="color: red">*</span> </mat-label>
            <input matInput formControlName="work_chart_header_name_th" />
        </mat-form-field>
    </div>
    <div class="col-md-3">
        <mat-form-field appearance="outline">
            <mat-label>ชื่อหน่วยงาน <span style="color: red">*</span> </mat-label>
            <mat-select formControlName="agency_uid">
                <mat-option *ngFor="let agen of agencys" [value]="agen.agency_uid">
                    {{agen.agency_name_th}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col-md-6" >
        <mat-form-field appearance="outline">
            <!-- <mat-label>ต่ำแหน่งงาน <span style="color: red">*</span> </mat-label>
            <mat-select formControlName="root_position">
                <mat-option *ngFor="let agen of position" [value]="agen.position_uid">
                    {{agen.position_name_th}}
                </mat-option>
            </mat-select> -->
            <mat-label>ตำแหน่งงาน <span style="color: red">*</span> </mat-label>
                <input type="text"
                       aria-label="ตำแหน่งงาน"
                       matInput
                       formControlName="root_position"
                       [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayRootposiion.bind(this)">
                  <mat-option *ngFor="let position of searchPosition$ | async" [value]="position.position_uid">
                    {{position.position_name_th}}
                  </mat-option>
                </mat-autocomplete>
        </mat-form-field>
    </div>
    <div class="col-md-3">
        <mat-form-field appearance="outline">
            <mat-label>วันที่เริ่มมีผล <span style="color: red">*</span></mat-label>
            <input matInput matInput
                (click)="start_date.open()" formControlName="effective_date" [matDatepicker]="start_date" />
            <mat-datepicker-toggle matSuffix [for]="start_date">
            </mat-datepicker-toggle>
            <mat-datepicker #start_date></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="col-md-3" >
        <mat-form-field appearance="outline">
            <mat-label> เวอร์ชั่น </mat-label>
            <input matInput  formControlName="version_name"/>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <mat-form-field appearance="outline">
            <mat-label>อัตรากำลังผล <span style="color: red">*</span></mat-label>
            <input matInput formControlName="no_of_manpowers"/>
        </mat-form-field>
    </div>
</div>
<br>
<div style="padding: 5px;">
<mat-card class="mat-elevation-z4" style="padding: 0px 16px 16px 16px;border-radius: 0px;">
    <mat-card-content>
        <mat-list>
            <mat-list-item>กำหนดโครงสร้างตำแหน่งงาน</mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
        <button *ngIf="!nodes.length" mat-button (click)="createNode()">สร้างแผนผัง</button>
        <div style="overflow: auto;height: 300px;">
            <div class="flex_row_center" style="cursor: zoom-in;" appZoom>
                <node *ngIf="nodes.length"                
                    [node]="nodes[0]" 
                    (selectNode)="item($event)"
                    (onGrabNode)="item($event)" 
                    (onDropSuccess)="drop($event)"
                    (targetNode)="targetNode($event)"
                    (onAddNode)="addNode($event)"
                    (onDeleteNode)="deleteNode($event)"
                >
            </node>
            </div>    
        </div>       
    </mat-card-content>
</mat-card>
</div>

<br>
<div class="flex_row_end">
    <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
    <app-button-close (click)="close()"></app-button-close>
</div>
</mat-card-content>
</mat-card>
</form>