<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <label for="">เลขที่อัตราที่จัดจ้าง</label>
        <br>
        <table mat-table [dataSource]="display?.selection_request_manpower" matSort
            class="mat-elevation-z2" style="width: 100%;">
            <tr mat-header-row *matHeaderRowDef="['1','2','3']"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: ['1','2','3']"></tr>
            <ng-container matColumnDef="1">
                <th mat-header-cell *matHeaderCellDef>เลขที่อัตรา </th>
                <td mat-cell *matCellDef="let data; let index = index">
                      {{data.manpower_uid | getDataId : manpower : 'manpower_uid' : 'manpower_no' }}
                </td>
            </ng-container>
            <ng-container matColumnDef="2">
                <th mat-header-cell *matHeaderCellDef>ตำแหน่ง</th>
                <td mat-cell *matCellDef="let data; let index = index">
                      {{(data.manpower_uid | getDataId : manpower : 'manpower_uid' : 'position_uid') | getDataId : positionDatas : 'position_uid' : 'position_name_th' : ''}}
                </td>
            </ng-container>
            <ng-container matColumnDef="3">
                <th mat-header-cell *matHeaderCellDef>สถานะอัตรา</th>
                <td mat-cell *matCellDef="let data; let index = index">
                      {{data.manpower_using_status_id | getDataId : usingStatuss : 'manpower_using_status_id' : 'manpower_using_status_name_th' : '' }}
                </td>
            </ng-container>
        </table>
        <br>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>
<br>
<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <label for="">เอกสารแนบ</label>
        <br>
        <table mat-table [dataSource]="display?.selection_request_document" matSort class="mat-elevation-z2" style="width: 100%;">
            <tr mat-header-row *matHeaderRowDef="['1', '2']"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: ['1', '2']"></tr>
            <ng-container matColumnDef="1">
                <th mat-header-cell *matHeaderCellDef>ชื่อไฟล์ </th>
                <td mat-cell *matCellDef="let data; let index = index">
                    {{data.file_name}}
                </td>
            </ng-container>
            <ng-container matColumnDef="2">
                <th mat-header-cell *matHeaderCellDef>รายละเอียด </th>
                <td mat-cell *matCellDef="let data; let index = index">
                    {{data.remark}}
                </td>
            </ng-container>
        </table>
        <br>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>
<br>
<div class="flex_row_end">
    <app-button-close (click)="close()"></app-button-close>
</div>
