<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <div class="row">
            <div class="col-md-3">
                <!-- <ng-container *ngIf="usingStatuss$ | async as positionDatas"> -->
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>สถานะอัตรา</mat-label>
                    <mat-select [(ngModel)]="file.manpower_using_status_id" (selectionChange)="getManPower(file.manpower_using_status_id)">
                        <mat-option *ngFor="let item of usingStatuss$|async" [value]="item.manpower_using_status_id">
                            {{item.manpower_using_status_name_th}} </mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- </ng-container> -->
            </div>
            <div class="col-md-9">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>เลขที่อัตราที่จัดสรร</mat-label>
                        <input type="text" 
                        placeholder="" 
                        aria-label="Number" 
                        matInput 
                        [(ngModel)]="name"
                        [matAutocomplete]="auto">
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                            <mat-option *ngFor="let item of manpowerDatas | serachAuto : name : 'name'"
                                [value]="item.name" (onSelectionChange)="getManNumber(item)">
                                {{item.name}}
                            </mat-option>
                        </mat-autocomplete>
                </mat-form-field>

                <!-- <div  class="paddingInput" appearance="outline">
                    <input type="text" 
                    aria-label="Number"
                    [(ngModel)]="name" 
                    [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let subject of subjectsData | serachAuto : form.value.subject_information_name_th : 'subject_name_th'"
                            [value]="subject.subject_name_th" (onSelectionChange)="getSubjectId(subject)">
                            {{subject.subject_name_th}}
                        </mat-option>
                    </mat-autocomplete>
                </div> -->
                <!-- <ng-container *ngIf="position$ | async as positionDatas">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>เลขที่อัตราที่จัดสรร</mat-label>
                    <mat-select  [(ngModel)]="file.manpower_uid" (valueChange)="getStatus($event)">
                        <mat-option *ngFor="let item of manpower$|async" [value]="item.manpower_uid">
                            {{item.manpower_no}} - {{item.position_uid | getDataId : positionDatas : 'position_uid' : 'position_name_th' : ''}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </ng-container> -->
            </div>
        </div>
    </mat-card-content>
</mat-card>
<br />
<div class="row justify-content-center">
    <div class="col-2">
        <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
    </div>
    <div class="col-2">
        <app-button-save-close (click)="saveClose()"></app-button-save-close>&nbsp;&nbsp;
    </div>
    <div class="col-2">
        <app-button-close (click)="close()"></app-button-close>
    </div>
</div>