<mat-card class="mat-elevation-z4">
    <mat-card-content>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>ชื่อ-สกุล</mat-label>
                        <mat-select [(ngModel)]="request.personnel_uid" (selectionChange)="getData()">
                            <mat-option *ngFor="let item of personnel$ | async" [value]="item.personnel_uid">
                                {{item.display_name_th}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>ตำแหน่ง</mat-label>
                        <input matInput type="text" [value]="positionId ? positionId : '' " disabled />
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>หน่วยงาน</mat-label>
                        <input matInput type="text"
                            [value]="agencyId | getDataId : agenDatas : 'agency_uid' : 'agency_name_th' : ''"
                            disabled />
                    </mat-form-field>
                </div>
            </div>
    </mat-card-content>
</mat-card>
<br />
<div class="row justify-content-center">
    <div class="col-2">
        <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
    </div>
    <div class="col-2">
        <app-button-save-close (click)="saveClose()"></app-button-save-close>&nbsp;&nbsp;
    </div>
    <div class="col-2">
        <app-button-close (click)="close()"></app-button-close>
    </div>
</div>