<!-- <mat-tab-group>
    <mat-tab *ngFor="let tap of taps" [label]="tap">
        <mat-card class="mat-elevation-z4">
            <mat-card-content>
                <app-heard-recruitment 
                [dataEditRequest]="dataEditRequest" 
                [educationLevels]="educationLevelsDatas"
                [qualifications]="qualificationsDats"
                [personnelGroups]="personnelGroups$ | async"
                [personnelTypes]="personnelTypes$ | async"
                >
            </app-heard-recruitment>
                <ng-container *ngIf="tap == 'ข้อมูลในการสรรหา'">
                    <app-tap1 
                    [dataEditRequest]="dataEditRequest"
                    [manpowerRequestDatas]="manpowerRequests$ |async"
                    [qualificationsDats]="qualificationsDats"
                    [educationLevelsDatas]="educationLevelsDatas"
                    [positionDatas]="positionDatas"
                    [usingStatuss]="usingStatuss$|async"
                    [manpower]="manpower$ | async"
                    [agencysDatas]="agencysDatas"
                    ></app-tap1>
                    <br>
                </ng-container>
                <ng-container *ngIf="tap == 'คัดเลือกบุคลากร'">
                    <app-tap2 
                    [dataEditRequest]="dataEditRequest" 
                    [applicant]="applicant$|async">
                    </app-tap2>
                    <br>
                </ng-container>
                <ng-container *ngIf="tap == 'สรุปผลคัดเลือกบุคลากร'">
                    <app-tap3
                    [dataEditRequest]="dataEditRequest" 
                    [applicant]="applicant$|async"
                    [manpower]="manpower$| async"
                    ></app-tap3>
                    <br>
                </ng-container>
                <div class="flex_row_end">
                    <app-button-close (click)="close()"></app-button-close>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-tab>
</mat-tab-group> -->
<mat-tab-group>
    <mat-tab label="ข้อมูลในการสรรหา">
        <mat-card class="mat-elevation-z4">
            <mat-card-content>
                <app-heard-recruitment 
                [dataEditRequest]="dataEditRequest" 
                [educationLevels]="educationLevelsDatas"
                [qualifications]="qualificationsDats" 
                [personnelGroups]="personnelGroups$ | async"
                [personnelTypes]="personnelTypes$ | async">
                </app-heard-recruitment>
                <app-tap1 
                [dataEditRequest]="dataEditRequest" 
                [manpowerRequestDatas]="manpowerRequests$ |async"
                [qualificationsDats]="qualificationsDats" 
                [educationLevelsDatas]="educationLevelsDatas"
                [positionDatas]="positionDatas" 
                [usingStatuss]="usingStatuss$|async" 
                [manpower]="manpower$ | async"
                [agencysDatas]="agencysDatas"></app-tap1>
                <br>
            </mat-card-content>
        </mat-card>
    </mat-tab>
    <mat-tab label="คัดเลือกบุคลากร">
        <mat-card class="mat-elevation-z4">
            <mat-card-content>
                <app-heard-recruitment 
                [dataEditRequest]="dataEditRequest" 
                [educationLevels]="educationLevelsDatas"
                [qualifications]="qualificationsDats" 
                [personnelGroups]="personnelGroups$ | async"
                [personnelTypes]="personnelTypes$ | async">
                </app-heard-recruitment>
                <app-tap2 
                [typePage]="typeValue"
                [dataEditRequest]="dataEditRequest" 
                (onRequestId)="getRequestId($event)"
                [applicant]="applicant$|async">
                </app-tap2>
                <br>
            </mat-card-content>
        </mat-card>
    </mat-tab>
    <mat-tab label="สรุปผลคัดเลือกบุคลากร">
        <mat-card class="mat-elevation-z4">
            <mat-card-content>
                <app-heard-recruitment 
                [dataEditRequest]="dataEditRequest" 
                [educationLevels]="educationLevelsDatas"
                [qualifications]="qualificationsDats" 
                [personnelGroups]="personnelGroups$ | async"
                [personnelTypes]="personnelTypes$ | async">
                </app-heard-recruitment>
                <app-tap3 
                [dataEditRequest]="dataEditRequest"
                [applicant]="applicant$ | async"
                [manpower]="manpower$ |async"
                [resultData]="itemsResult"
                ></app-tap3>
                <br>
            </mat-card-content>
        </mat-card>
    </mat-tab>
</mat-tab-group>
<pre *ngIf="!isHideForm">{{form.getRawValue()|json}}</pre>