<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <app-layout-search>
            <ng-container content>
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>คำค้นหา</mat-label>
                            <input matInput [(ngModel)]="dataSearch" (input)="search()" />
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
            </ng-container>
        </app-layout-search>


        <!-- <div class="row">
            <div class="col-md-3">
                <mat-form-field class="paddingInput" appearance="outline" >
                    <mat-label> ค้นหา </mat-label>
                    <input matInput />
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <div>
                    <app-button-search></app-button-search>
                    <app-button-reset></app-button-reset>
                </div>
            </div>
        </div> -->

        <div>
            <app-button-add (click)="addPage()"></app-button-add>
        </div>
        <br />
        <ng-container *ngIf="organization$ | async as organizations">
            <ng-container *ngIf="agencys$ | async as agencys">
                <table mat-table [dataSource]="rows" matSort class="mat-elevation-z2" style="width: 100%;">
                    <tr mat-header-row *matHeaderRowDef="['action','2','3','4','5']"></tr>
                    <tr mat-row *matRowDef="let myRowData; columns: ['action','2','3','4','5']"></tr>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                        <td mat-cell *matCellDef="let data">
                            <!-- <app-icon-report></app-icon-report> -->
                            <app-icon-edit (click)="editPage(data.insignia_eligible_processing_uid)"></app-icon-edit>
                            <app-icon-del (click)="deleteItem(data.insignia_eligible_processing_uid)"></app-icon-del>
                        </td>
                    </ng-container>
                    <!-- <ng-container matColumnDef="1">
                <th mat-header-cell *matHeaderCellDef>เลขที่เอกสาร </th>
                <td mat-cell *matCellDef="let data; let index = index">
                    1
                </td>
            </ng-container> -->
                    <ng-container matColumnDef="2">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> รหัส </th>
                        <td mat-cell *matCellDef="let data">
                            {{data.document_no}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="3">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ปีประมวลผล </th>
                        <td mat-cell *matCellDef="let data">
                            {{data.processing_date | thaiDate}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="4">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> องค์กร </th>
                        <td mat-cell *matCellDef="let data">
                            {{data.organization_uid | getDataId : organizations : 'organization_uid' :
                            'organization_name_th' : '' }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="5">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> หน่วยงาน </th>
                        <td mat-cell *matCellDef="let data">
                            {{data.agency_uid | getDataId : agencys : 'agency_uid' : 'agency_name_th' : '' }}
                        </td>
                    </ng-container>
                </table>
                <br>
            </ng-container>
        </ng-container>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>