<div class="card-body">
    <h2 class="card-title">{{state == 'add' ? 'สร้าง' : ' แก้ไข'}}ข้อมูลรายการเงินได้บุคลากร</h2>
    <!-- <form [formGroup]="form"> -->
        <mat-card class="mat-elevation-z4">
            <mat-card-content>
                <mat-card class="mat-elevation-z4">
                    <mat-card-content>
                        <label for="">ข้อมูลทั่วไป</label>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>รหัสบุคลากร<span style="color: red">*</span></mat-label>
                                    <mat-select [(ngModel)]="personnelSelected" [disabled]="state == 'edit'" >
                                        <mat-option (onSelectionChange)="selectPersonel()" *ngFor="let data of personnelDatas" [value]="data?.personnel_uid">
                                            {{data?.first_name_th}}&nbsp;&nbsp;{{data?.last_name_th}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>เลขที่ตำแหน่งงาน </mat-label>
                                    <input matInput disabled />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>ชื่อตำแหน่ง </mat-label>
                                    <input matInput disabled />
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>ชื่อหน่วยงาน </mat-label>
                                    <input matInput disabled />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>คณะ/สถาบัน/กอง/สำนัก </mat-label>
                                    <input matInput disabled />
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
                <br>
                <mat-card class="mat-elevation-z4">
                    <mat-card-content>
                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field appearance="outline">
                                    <mat-label>ค้นหา</mat-label>
                                    <input matInput />
                                </mat-form-field>
                            </div>
                        </div>

                        <div>
                            <app-button-add (click)="addForm()"></app-button-add>
                        </div>
                        <br>
                        <table mat-table [dataSource]="extraMoneyDatas" matSort class="mat-elevation-z2" style="width: 100%;">
                            <tr mat-header-row *matHeaderRowDef="['action', '1', '2','3','4','5','6']"></tr>
                            <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2','3','4','5','6']"></tr>
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                                <td mat-cell *matCellDef="let data">
                                    <app-icon-edit (click)="updateForm(data?.extra_money_uid)"></app-icon-edit>
                                    <app-icon-del (click)="deleteItem(data?.extra_money_uid)"></app-icon-del>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="1">
                                <th mat-header-cell *matHeaderCellDef>รหัสรายได้ </th>
                                <td mat-cell *matCellDef="let data; let index = index">
                                    {{data?.money_type_uid | getDataId : moneyTypeDatas : 'money_type_uid' : 'money_type_code' : ''}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="2">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อรายได้ </th>
                                <td mat-cell *matCellDef="let data">
                                    {{data?.money_type_uid | getDataId : moneyTypeDatas : 'money_type_uid' : 'money_type_name_th' : ''}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="3">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> จำนวน </th>
                                <td mat-cell *matCellDef="let data">
                                    {{data?.extra_amount | number:'1.2-2'}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="4">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่เริ่มต้น </th>
                                <td mat-cell *matCellDef="let data">
                                    {{data.start_date | date:'dd/MM/yyyy'}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="5">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่สิ้นสุด </th>
                                <td mat-cell *matCellDef="let data">
                                    {{data.end_date | date:'dd/MM/yyyy'}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="6">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> สถานะ </th>
                                <td mat-cell *matCellDef="let data">
                                    {{data?.status_id | getDataId : statusDatas : 'status_id' : 'status_name_th' : ''}}
                                </td>
                            </ng-container>
                        </table>
                        <br>
                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                    </mat-card-content>
                </mat-card>
            </mat-card-content>
            <br>
            <div class="flex_row_end">
                <!-- <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp; -->
                <app-button-close (click)="close()"></app-button-close>
            </div>
        </mat-card>
    <!-- </form> -->
</div>