<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <app-layout-search>
            <ng-container content>
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label> เลขที่อัตรา </mat-label>
                            <input matInput [(ngModel)]="dataSearch.manpower_no" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>ตำแหน่งงาน</mat-label>
                            <mat-select [(ngModel)]="dataSearch.position_uid">
                                <mat-option *ngFor="let item of positionDatas" [value]="item.position_uid">
                                    {{item.position_name_th}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>หน่วยงาน</mat-label>
                            <mat-select [(ngModel)]="dataSearch.position_uid">
                                <mat-option *ngFor="let item of agencyDatas" [value]="item.agency_uid">
                                    {{item.agency_name_th}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label> ชื่อ-สกุล </mat-label>
                            <input matInput />
                        </mat-form-field>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>วันที่ตำแหน่งว่างเริ่มต้น</mat-label>
                            <input matInput [matDatepicker]="fromDate" [(ngModel)]="startDate">
                            <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                            <mat-datepicker #fromDate></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>วันที่ตำแหน่งว่างสิ้นสุด</mat-label>
                            <input matInput [matDatepicker]="toDate" [(ngModel)]="endDate">
                            <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                            <mat-datepicker #toDate></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>สถานะอัตรา</mat-label>
                            <mat-select [(ngModel)]="dataSearch.manpower_using_status_id">
                                <mat-option *ngFor="let item of usingStatussDatas"
                                    [value]="item.manpower_using_status_id">{{item.manpower_using_status_name_th}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="paddingInput">
                        <app-button-search (click)="search()"></app-button-search>

                    </div>
                    <div class="paddingInput">
                        <app-button-reset (click)="clear()"></app-button-reset>
                    </div>
                </div>
            </ng-container>
        </app-layout-search>

        <!-- <div>
            <app-button-add (click)="addPage()"></app-button-add>
        </div> -->
        <br />
        <table mat-table [dataSource]="rows" matSort class="mat-elevation-z2" style="width: 100%;">
            <tr mat-header-row *matHeaderRowDef="['1', '2','3','4','5','6','7']"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: ['1', '2','3','4','5','6','7']"></tr>
            <!-- <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                <td mat-cell *matCellDef="let data">
                    <app-icon-report></app-icon-report>
                    <app-icon-edit></app-icon-edit>
                    <app-icon-del></app-icon-del>
                </td>
            </ng-container> -->
            <ng-container matColumnDef="1">
                <th mat-header-cell *matHeaderCellDef>เลขที่เอกสาร </th>
                <td mat-cell *matCellDef="let data; let index = index">
                    {{data?.manpower?.manpower_no}}
                </td>
            </ng-container>
            <ng-container matColumnDef="2">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ตำแหน่งงาน </th>
                <td mat-cell *matCellDef="let data">
                    {{data?.position?.position_name_th}}
                </td>
            </ng-container>
            <ng-container matColumnDef="3">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> หน่วยงาน </th>
                <td mat-cell *matCellDef="let data">
                    {{data?.agency?.agency_name_th}}
                </td>
            </ng-container>
            <ng-container matColumnDef="4">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่เริ่มใช้อัตรา </th>
                <td mat-cell *matCellDef="let data">
                    {{data?.manpower?.effective_date | thaiDate}}
                </td>
            </ng-container>
            <ng-container matColumnDef="5">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อ-สกุล </th>
                <td mat-cell *matCellDef="let data">
                    {{data.personnel_hire?.personnel?.display_name_th}}
                </td>
            </ng-container>
            <ng-container matColumnDef="6">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่ตำแหน่งว่าง </th>
                <td mat-cell *matCellDef="let data">
                    {{data?.manpower?.available_date | thaiDate}}
                </td>
            </ng-container>
            <ng-container matColumnDef="7">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> สถานะอัตรา</th>
                <td mat-cell *matCellDef="let data">
                    {{data.manpower.manpower_using_status_id | getDataId : usingStatussDatas :
                    'manpower_using_status_id' : 'manpower_using_status_name_th' : '' }}
                </td>
            </ng-container>
            <!-- <ng-container matColumnDef="8">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> หมายเหตุ </th>
                <td mat-cell *matCellDef="let data">
                    
                </td>
            </ng-container> -->
        </table>
        <br>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>