<div style="padding: 5px;">
    <mat-card class="mat-elevation-z4" style="padding: 0px 16px 16px 16px;border-radius: 0px;">
        <mat-card-content>
            <mat-list>
                <mat-list-item>ประวัติการศึกษา</mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
            <div>
                <app-button-add (click)="open_history_education()"></app-button-add>
            </div>
            <br />
            <table mat-table [dataSource]="form.value.personnel_educations" matSort class="mat-elevation-z2"
                style="width: 100%;">
                <tr mat-header-row *matHeaderRowDef="['action', '1','6']"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: ['action', '1','6']"></tr>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                    <td mat-cell *matCellDef="let data; let index = index">
                        <app-icon-edit (click)="open_edit_history_education(data,index)"></app-icon-edit>
                        <app-icon-del (click)="del_education_form(index,data.personnel_education_uid)"></app-icon-del>
                    </td>
                </ng-container>
                <ng-container matColumnDef="1">
                    <th mat-header-cell *matHeaderCellDef>วุฒิการศึกษา</th>
                    <td mat-cell *matCellDef="let data; let index = index">
                        <ng-container *ngIf="educationLevels$ | async as educationLevels">
                            {{data.education_level_id | getDataId : educationLevels : 'education_level_id' :
                            'education_level_name_th' : ''}}
                        </ng-container>
                    </td>
                </ng-container>
                <ng-container matColumnDef="3">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อสถานศึกษา </th>
                    <td mat-cell *matCellDef="let data">
                        {{data.other_institute_name}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="4">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่สำเร็จการศึกษา </th>
                    <td mat-cell *matCellDef="let data">
                        {{data.finish_date | date : 'dd/MM/yyyy'}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="6">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> เกรดเฉลี่ย</th>
                    <td mat-cell *matCellDef="let data">
                        {{data.grade}}
                    </td>
                </ng-container>
            </table>
        </mat-card-content>
    </mat-card>
    <br />
    <mat-card class="mat-elevation-z4" style="padding: 0px 16px 16px 16px;border-radius: 0px;">
        <mat-card-content>
            <mat-list>
                <mat-list-item>ประสบการณ์การทำงานก่อนเข้าทำงาน</mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
            <div>
                <app-button-add (click)="open_work_before_start()"></app-button-add>
            </div>
            <br />
            <table mat-table [dataSource]="form.value.working_histories" matSort class="mat-elevation-z2"
                style="width: 100%;">
                <tr mat-header-row *matHeaderRowDef="['action', '1','6','7']"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: ['action', '1','6','7']"></tr>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                    <td mat-cell *matCellDef="let data;let index = index">
                        <app-icon-del (click)="del_work_history_form(index,data.working_history_uid)"></app-icon-del>
                    </td>
                </ng-container>
                <ng-container matColumnDef="1">
                    <th mat-header-cell *matHeaderCellDef>ชื่อสถานที่ทำงาน</th>
                    <td mat-cell *matCellDef="let data; let index = index">
                        {{data.work_place_name}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="2">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>ตำแหน่งงาน</th>
                    <td mat-cell *matCellDef="let data">
                        {{data.job_position_name}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="3">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ลักษณะงาน </th>
                    <td mat-cell *matCellDef="let data">
                        {{data.job_description}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="4">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> เงินเดือนสุดท้าย </th>
                    <td mat-cell *matCellDef="let data">
                        {{data.final_salary_amount | number : '1.2-2'}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="5">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่เริ่มต้น</th>
                    <td mat-cell *matCellDef="let data">
                        {{data.start_date | date : 'dd/MM/yyyy'}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="6">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่สิ้นสุด</th>
                    <td mat-cell *matCellDef="let data">
                        {{data.end_date | date : 'dd/MM/yyyy'}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="7">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> หมายเหตุ</th>
                    <td mat-cell *matCellDef="let data">
                        {{data.remark}}
                    </td>
                </ng-container>
            </table>
        </mat-card-content>
    </mat-card>
    <br />
    <mat-card class="mat-elevation-z4" style="padding: 0px 16px 16px 16px;border-radius: 0px;">
        <mat-card-content>
            <mat-list>
                <mat-list-item>ความสามารถพิเศษ</mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
            <div>
                <app-button-add (click)="open_talent()"></app-button-add>
            </div>
            <br />
            <table mat-table [dataSource]="form.value.personnel_skills" matSort class="mat-elevation-z2"
                style="width: 100%;">
                <tr mat-header-row *matHeaderRowDef="['action', '1']"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: ['action', '1']"></tr>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                    <td mat-cell *matCellDef="let data;let index = index">
                        <app-icon-del (click)="del_skills_form(index,data.personnel_skill_uid)"></app-icon-del>
                    </td>
                </ng-container>
                <ng-container matColumnDef="1">
                    <th mat-header-cell *matHeaderCellDef>ชื่อความสามารถ</th>
                    <td mat-cell *matCellDef="let data; let index = index">
                        {{data.skill_name}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="2">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>รายละเอียด</th>
                    <td mat-cell *matCellDef="let data">
                        {{data.remark}}
                    </td>
                </ng-container>
            </table>
        </mat-card-content>
    </mat-card>
    <br />
    <mat-card class="mat-elevation-z4" style="padding: 0px 16px 16px 16px;border-radius: 0px;">
        <mat-card-content>
            <mat-list>
                <mat-list-item>ประวัติการทำงาน</mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
            <div>
                <app-button-add (click)="open_work_history()"></app-button-add>
            </div>
            <br />
            <table mat-table [dataSource]="form.value.working_records" matSort class="mat-elevation-z2"
                style="width: 100%;">
                <tr mat-header-row *matHeaderRowDef="['action', '1']"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: ['action', '1']"></tr>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                    <td mat-cell *matCellDef="let data">
                        <app-icon-del (click)="del_working_records_form(index,data.working_record_uid)"></app-icon-del>
                    </td>
                </ng-container>
                <ng-container matColumnDef="1">
                    <th mat-header-cell *matHeaderCellDef>ประเภทการทำงาน</th>
                    <td mat-cell *matCellDef="let data; let index = index">
                        <ng-container *ngIf="workTypes$ | async as workTypes">
                            {{data.working_type_id | getDataId : workTypes : 'work_type_id' : 'work_type_name_th' : ''}}
                        </ng-container>
                    </td>
                </ng-container>
                <ng-container matColumnDef="2">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>สถานที่</th>
                    <td mat-cell *matCellDef="let data">
                        {{data.place_name}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="3">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ตำแหน่ง </th>
                    <td mat-cell *matCellDef="let data">
                        {{data.position_name}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="4">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่เริ่มต้น </th>
                    <td mat-cell *matCellDef="let data">
                        {{data.start_date | date : 'dd/MM/yyyy'}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="5">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่สิ้นสุด</th>
                    <td mat-cell *matCellDef="let data">
                        {{data.end_date | date : 'dd/MM/yyyy'}}
                    </td>
                </ng-container>
            </table>
        </mat-card-content>
    </mat-card>
    <br />
    <mat-card class="mat-elevation-z4" style="padding: 0px 16px 16px 16px;border-radius: 0px;">
        <mat-card-content>
            <mat-list>
                <mat-list-item>ประวัติผลงานดีเด่น/เกียรติคุณ/รางวัลเกียรติยศ</mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
            <div>
                <app-button-add (click)="openHistoryOutstandingWord()"></app-button-add>
            </div>
            <br />
            <table mat-table [dataSource]="form.value.personnel_awards" matSort class="mat-elevation-z2"
                style="width: 100%;">
                <tr mat-header-row *matHeaderRowDef="['action', '1']"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: ['action', '1']"></tr>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                    <td mat-cell *matCellDef="let data;let index = index">
                        <app-icon-del (click)="del_personnel_awards_form(index,data.personnel_award_uid)">
                        </app-icon-del>
                    </td>
                </ng-container>
                <ng-container matColumnDef="1">
                    <th mat-header-cell *matHeaderCellDef>ชื่อผลงาน</th>
                    <td mat-cell *matCellDef="let data; let index = index">
                        {{data.award_name}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="2">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>ชื่อหน่วยงานที่มอบให้</th>
                    <td mat-cell *matCellDef="let data">
                        {{data.award_by}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="3">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ประเภทผลงาน </th>
                    <td mat-cell *matCellDef="let data">
                        <ng-container *ngIf="awardTypes$ | async as awardTypes">
                            {{data.award_type_id | getDataId : awardTypes : 'award_type_id' : 'award_type_name_th' : ''}}
                        </ng-container>
                    </td>
                </ng-container>
                <ng-container matColumnDef="4">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่ได้รับ </th>
                    <td mat-cell *matCellDef="let data">
                        {{data.receive_date | date :'dd/MM/yyyy'}}
                    </td>
                </ng-container>
            </table>
        </mat-card-content>
    </mat-card>
    <br />
    <mat-card class="mat-elevation-z4" style="padding: 0px 16px 16px 16px;border-radius: 0px;">
        <mat-card-content>
            <mat-list>
                <mat-list-item>ประวัติการถือครองทรัพย์สิน</mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
            <div>
                <app-button-add (click)="openProperyHistory()"></app-button-add>
            </div>
            <br />
            <table mat-table [dataSource]="form.value.asset_holdings" matSort class="mat-elevation-z2"
                style="width: 100%;">
                <tr mat-header-row *matHeaderRowDef="['action', '1']"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: ['action', '1']"></tr>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                    <td mat-cell *matCellDef="let data;let index = index">
                        <app-icon-del (click)="del_asset_holdings_form(index,data.asset_holding_uid)"></app-icon-del>
                    </td>
                </ng-container>
                <ng-container matColumnDef="1">
                    <th mat-header-cell *matHeaderCellDef>รหัสทรัพย์สิน</th>
                    <td mat-cell *matCellDef="let data; let index = index">
                        {{data.asset_code}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="2">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>ชื่อทรัพย์สิน</th>
                    <td mat-cell *matCellDef="let data">
                        {{data.asset_name}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="3">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่รับ </th>
                    <td mat-cell *matCellDef="let data">
                        {{data.receive_date | date : 'dd/MM/yyyy'}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="4">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่คืน </th>
                    <td mat-cell *matCellDef="let data">
                        {{data.return_date | date : 'dd/MM/yyyy'}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="5">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> หมายเหตุ</th>
                    <td mat-cell *matCellDef="let data">
                        {{data.remark}}
                    </td>
                </ng-container>
            </table>
        </mat-card-content>
    </mat-card>
    <br />
    <mat-card class="mat-elevation-z4" style="padding: 0px 16px 16px 16px;border-radius: 0px;">
        <mat-card-content>
            <mat-list>
                <mat-list-item>ประวัติการฝึกอบรม</mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
            <div>
                <app-button-add (click)="open_train()"></app-button-add>
            </div>
            <br />
            <table mat-table [dataSource]="form.value.personnel_trainings" matSort class="mat-elevation-z2"
                style="width: 100%;">
                <tr mat-header-row *matHeaderRowDef="['0','action', '1']"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: ['0','action', '1']"></tr>
                <ng-container matColumnDef="0">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                    <td mat-cell *matCellDef="let data;let index = index">
                        <app-icon-del (click)="del_personnel_trainings_form(index,data.personnel_training_uid)">
                        </app-icon-del>
                    </td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>ตั้งแต่วันที่</th>
                    <td mat-cell *matCellDef="let data">
                        {{data.from_date | date : 'dd/MM/yyyy'}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="1">
                    <th mat-header-cell *matHeaderCellDef>ถึงวันที่</th>
                    <td mat-cell *matCellDef="let data; let index = index">
                        {{data.to_date | date : 'dd/MM/yyyy'}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="2">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>ชื่อหลักสูตร</th>
                    <td mat-cell *matCellDef="let data">
                        {{data.course_name}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="3">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> สถานที่จัด </th>
                    <td mat-cell *matCellDef="let data">
                        {{data.training_location}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="4">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ประเภท </th>
                    <td mat-cell *matCellDef="let data">
                        {{data.training_type_id}}
                    </td>
                </ng-container>
            </table>
        </mat-card-content>
    </mat-card>
    <br />
    <mat-card class="mat-elevation-z4" style="padding: 0px 16px 16px 16px;border-radius: 0px;">
        <mat-card-content>
            <mat-list>
                <mat-list-item>ผลงานวิชาการ</mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
            <div>
                <app-button-add (click)="open_academic_works()"></app-button-add>
            </div>
            <br />
            <table mat-table [dataSource]="form.value.personnel_academic_works" matSort class="mat-elevation-z2"
                style="width: 100%;">
                <tr mat-header-row *matHeaderRowDef="['0','action', '1']"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: ['0','action', '1']"></tr>
                <ng-container matColumnDef="0">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                    <td mat-cell *matCellDef="let data;let index = index">
                        <app-icon-del
                            (click)="del_personnel_academic_works_form(index,data.personnel_academic_work_uid)">
                        </app-icon-del>
                    </td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>ชื่อผลงานวิชาการ</th>
                    <td mat-cell *matCellDef="let data">
                        {{data.academic_work_title_name}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="1">
                    <th mat-header-cell *matHeaderCellDef>ประเภทผลงาน</th>
                    <td mat-cell *matCellDef="let data; let index = index">
                        <ng-container *ngIf="academicWorkTypes$ | async as academicWorkTypes">
                            {{data.academic_work_type_id | getDataId : academicWorkTypes : 'academic_work_type_id' : 'academic_work_type_name_th' : ''}}
                        </ng-container>
                    </td>
                </ng-container>
            </table>
        </mat-card-content>
    </mat-card>
    <br />
</div>