<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <app-layout-search>
            <ng-container content>
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label> ชื่อผู้สมัคร </mat-label>
                            <input matInput [(ngModel)]="dataSearch.first_name_th" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label> สกุลผู้สมัคร </mat-label>
                            <input matInput [(ngModel)]="dataSearch.last_name_th" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>ตำแหน่ง</mat-label>
                            <mat-select [(ngModel)]="dataSearch.position_uid">
                                <mat-option *ngFor="let item of positionDatas" [value]="item.position_uid">
                                    {{item.position_name_th}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>ช่วงวันที่สมัคร</mat-label>
                            <input matInput [matDatepicker]="fromDate" [(ngModel)]="startDate">
                            <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                            <mat-datepicker #fromDate></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>ถึง</mat-label>
                            <input matInput [matDatepicker]="toDate" [(ngModel)]="endDate">
                            <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                            <mat-datepicker #toDate></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>หน่วยงาน</mat-label>
                            <mat-select [(ngModel)]="dataSearch.agency_uid">
                                <mat-option *ngFor="let item of agencysDatas" [value]="item.agency_uid">
                                    {{item.agency_name_th}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row justify-content-md-center">
                    <div>
                        <app-button-search class="paddingInput" (click)="search()"></app-button-search>
                        <app-button-reset class="paddingInput" (click)="clear()"></app-button-reset>
                    </div>
                </div>
            </ng-container>
        </app-layout-search>
        <br />

        <div>
            <app-button-add (click)="addPage()"></app-button-add>
        </div>
        <br />





        <!-- <div>
            <app-button-add (click)="addPage()"></app-button-add>
        </div> -->

        <br />
        <table mat-table [dataSource]="rows" matSort class="mat-elevation-z2" style="width: 100%;">
            <tr mat-header-row *matHeaderRowDef="['action', '1', '2','3','4','5']"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2','3','4','5']"></tr>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                <td mat-cell *matCellDef="let data">
                    <app-icon-edit (click)="editPage(data.applicant_uid)"></app-icon-edit>
                    <app-icon-report></app-icon-report>
                </td>
            </ng-container>
            <ng-container matColumnDef="1">
                <th mat-header-cell *matHeaderCellDef>เลขที่ใบสมัคร </th>
                <td mat-cell *matCellDef="let data; let index = index">
                    {{data.application_no}}
                </td>
            </ng-container>
            <ng-container matColumnDef="2">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่สมัคร </th>
                <td mat-cell *matCellDef="let data">
                    {{data.application_date | thaiDate}}
                </td>
            </ng-container>
            <ng-container matColumnDef="3">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อ </th>
                <td mat-cell *matCellDef="let data">
                    {{data.first_name_th}} {{data.last_name_th}}
                </td>
            </ng-container>
            <ng-container matColumnDef="4">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ตำแหน่งงานที่สมัคร </th>
                <td mat-cell *matCellDef="let data">
                    {{data.position_uid | getDataId : positionDatas : 'position_uid' : 'position_name_th' : ''}}
                </td>
            </ng-container>
            <ng-container matColumnDef="5">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> หน่วยงานที่บรรจุ </th>
                <td mat-cell *matCellDef="let data">
                    {{data.agency_uid | getDataId : agencysDatas : 'agency_uid' : 'agency_name_th' : ''}}
                </td>
            </ng-container>


        </table>
        <br>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>