<div class="card-body">
    <h2 class="card-title">{{state == 'add' ? 'สร้าง' : ' แก้ไข'}}ข้อมูลบันทึกสมาชิกกองทุนสำรองเลี้ยงชีพ</h2>
    <form [formGroup]="form">
        <mat-card class="mat-elevation-z4">
            <mat-card-content>
                <mat-card class="mat-elevation-z4">
                    <mat-card-content>
                        <label for="">ข้อมูลทั่วไป</label>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>รหัสบุคลากร<span style="color: red">*</span></mat-label>
                                    <mat-select formControlName="personnel_uid">
                                        <mat-option *ngFor="let data of personnelDatas" [value]="data?.personnel_uid">{{data?.first_name_th}}&nbsp;&nbsp;{{data?.last_name_th}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>เลขที่ตำแหน่งงาน </mat-label>
                                    <input matInput [value]="form?.value?.personnel_uid | getDataId : personnelDatas : 'personnel_uid' : 'personnel_no' : ''" disabled />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>ชื่อตำแหน่ง </mat-label>
                                    <input matInput [value]="form?.value?.personnel_uid | getDataId : personnelDatas : 'personnel_uid' : 'personnel_skills' : ''" disabled />
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>ชื่อหน่วยงาน </mat-label>
                                    <input matInput [value]="form?.value?.personnel_uid | getDataId : personnelDatas : 'personnel_uid' : 'personnel_academic_works' : ''" disabled />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>คณะ/สถาบัน/กอง/สำนัก </mat-label>
                                    <input matInput [value]="form?.value?.personnel_uid | getDataId : personnelDatas : 'personnel_uid' : 'personnel_educations' : ''" disabled />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>รหัสกองทุนสำรอง<span style="color: red">*</span></mat-label>
                                    <mat-select formControlName="provident_fund_uid">
                                        <mat-option *ngFor="let data of providentFundDatas" [value]="data?.provident_fund_uid">{{data?.provident_fund_name_th}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>รหัสสมาชิก <span style="color: red">*</span></mat-label>
                                    <input matInput formControlName="membership_no" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>วันที่เริ่มเป็นสมาชิก</mat-label>
                                    <input matInput [matDatepicker]="picker1" (click)="picker1.open()" formControlName="start_date">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>วันที่สิ้นสุดการเป็นสมาชิก</mat-label>
                                    <input matInput [matDatepicker]="picker2" (click)="picker2.open()" formControlName="end_date">
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
                <br>
            </mat-card-content>
            <br>
            <div class="flex_row_end">
                <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
                <app-button-close (click)="close()"></app-button-close>
            </div>
        </mat-card>
    </form>
    <pre *ngIf="!isHideForm">{{ form.getRawValue() | json}}</pre>
</div>