<!-- <button mat-raised-button color="primary" style="margin-top: 0.25em;">
   
    <span style="color: white;">ดูตัวอย่าง</span>
</button> -->
<div style="margin-top: 5px;">
    <button mat-flat-button color="primary" style="color: white;padding: 3px;width: auto;">
        ดูตัวอย่าง
    </button>
</div>