<h1 mat-dialog-title>เพิ่มข้อมูลประสบการณ์การทำงานก่อนเข้าทำงาน</h1>
<div mat-dialog-content rtl>
    <div class="card-body" style="padding: 0 15px 5px 15px;">
        <div class="row">
            <div class="col-md-6" >
                <mat-form-field appearance="outline">
                    <mat-label>ชื่อสถานที่ทํางาน<span style="color: red">*</span></mat-label>
                    <input  matInput [(ngModel)]="work_history.work_place_name" />
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>ตําแหน่งงาน<span style="color: red">*</span></mat-label>
                    <input  matInput [(ngModel)]="work_history.job_position_name" />
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <mat-form-field appearance="outline">
                    <mat-label>ลักษณะงาน<span style="color: red">*</span></mat-label>
                    <input  matInput [(ngModel)]="work_history.job_description" />
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4" >
                <mat-form-field appearance="outline">
                    <mat-label>เงินเดือนสุดท้าย<span style="color: red">*</span></mat-label>
                    <input  matInput appCurrencyInputMask [(ngModel)]="work_history.final_salary_amount" />
                </mat-form-field>
            </div>

            <div class="col-md-4" >
                <mat-form-field appearance="outline">
                    <mat-label>วันที่เริ่มต้น<span style="color: red">*</span> </mat-label>
                    <input matInput (dateChange)="dateChange()" [(ngModel)]="work_history.start_date" (selectedValueChange)="dateChange()" matInput
                        (click)="start_date.open()" [matDatepicker]="start_date" />
                    <mat-datepicker-toggle matSuffix [for]="start_date">
                    </mat-datepicker-toggle>
                    <mat-datepicker #start_date></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="col-md-4">
                <mat-form-field appearance="outline">
                    <mat-label>วันที่สิ้นสุด<span style="color: red">*</span> </mat-label>
                    <input matInput (dateChange)="dateChange()" [(ngModel)]="work_history.end_date" (selectedValueChange)="dateChange()" matInput
                        (click)="end_date.open()" [matDatepicker]="end_date" />
                    <mat-datepicker-toggle matSuffix [for]="end_date">
                    </mat-datepicker-toggle>
                    <mat-datepicker #end_date></mat-datepicker>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4" >
                <mat-form-field appearance="outline">
                    <mat-label>ค่าประสบการณ์</mat-label>
                    <input matInput appCurrencyInputMask [(ngModel)]="work_history.experience_income_amount" />
                </mat-form-field>
            </div>

            <div class="col-md-4" >
                <mat-form-field appearance="outline">
                    <mat-label>ค่าวิชาชีพ</mat-label>
                    <input matInput appCurrencyInputMask [(ngModel)]="work_history.profession_income_amount" />
                </mat-form-field>
            </div>

            <div class="col-md-4">
                <mat-form-field appearance="outline">
                    <mat-label>เงินได้อื่นๆ</mat-label>
                    <input matInput appCurrencyInputMask [(ngModel)]="work_history.other_income_amount" />
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                
                <mat-form-field appearance="outline">
                    <mat-label>หมายเหตุ</mat-label>
                    <textarea matInput [(ngModel)]="work_history.remark" ></textarea>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-2">
            <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
        </div>
        <div class="col-2">
            <app-button-save-close (click)="saveClose()"></app-button-save-close>&nbsp;&nbsp;
        </div>
        <div class="col-2">
            <app-button-close (click)="close()"></app-button-close>
        </div>
    </div>
</div>