.iconMenuName {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    align-items: center;
    position: relative;
    width: 100%;
    padding-left: 20px;
  }
  button{
    width: auto;
  }