<mat-toolbar style="background-color: F5F5F5;" class="mat-elevation-z2">
    <span style="font-size: 1rem;">ระบบงานบุคลากร</span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>person_add_alt_1</mat-icon>
    </button>
    <mat-menu #appMenu>
        <ng-template matMenuContent>
            <div style="width: 200px;">
                <button mat-menu-item (click)="toogleTheme()">
                    <div class="iconMenuName">
                        <span class="material-icons">
                            format_list_bulleted
                        </span>&nbsp;&nbsp;&nbsp;
                        <span>งานของคุณ</span>
                    </div>
                </button>
                <button mat-menu-item (click)="toogleTheme()">
                    <div class="iconMenuName">
                        <span class="material-icons">
                            brush
                            </span>&nbsp;&nbsp;&nbsp;
                        <span>ธีมสี</span>
                    </div>
                </button>
                <button mat-menu-item class="flex_row">
                    <div class="iconMenuName" (click)="$event.stopPropagation()">
                        <div class="flex_row_between" style="width: 100%;">
                            <span class="material-icons">
                                format_size
                            </span>
                            <button class="btn_action" (click)="IncreaseFontSize($event)">+</button>
                            <span> {{ defaultFontSize }} </span>
                            <button class="btn_action" (click)="DecreaseFontSize($event)">-</button>
                        </div>
                    </div>
                </button>
                <button mat-menu-item (click)="logout()" style="border-top: 1px solid rgba(0, 0, 0, 0.87);">
                    <div class="iconMenuName">
                        <span class="material-icons">
                            power_settings_new
                        </span>&nbsp;&nbsp;&nbsp;
                        <span>ออกจากระบบ</span>
                    </div>
                </button>
            </div>
        </ng-template>
    </mat-menu>
</mat-toolbar>