<form [formGroup]="form">
    <mat-card class="mat-elevation-z4">
        <mat-card-content>
            <div class="row">
                <div class="col-md-6" >
                    <mat-form-field appearance="outline" >
                        <mat-label>รหัส (สกอ.) <span style="color: red">*</span></mat-label>
                        <input matInput formControlName="prefix_code" />
                    </mat-form-field>
                </div>
                <div class="col-md-6" >
                    <mat-form-field appearance="outline" >
                        <mat-label>ชื่อย่อคำนำหน้า </mat-label>
                        <input matInput formControlName="prefix_short_name_th" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" >
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>ชื่อคำนำหน้า <span style="color: red">*</span></mat-label>
                        <input matInput formControlName="prefix_name_th" />
                    </mat-form-field>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-12" >
                    <mat-form-field appearance="outline" >
                        <mat-label>หมายเหตุ</mat-label>
                        <textarea  matInput></textarea>
                    </mat-form-field>
                </div>
            </div> -->
        </mat-card-content>
        <br>
        <div class="flex_row_end">
            <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
            <app-button-close (click)="close()"></app-button-close>
        </div>
    </mat-card>
    </form>