<mat-card class="mat-elevation-z4" style="padding: 0px 0px 0px 0px;border-radius: 0px;box-shadow: unset;border: 1px solid #d4cfcf;">
    <mat-list style="background-color: #dde4e9;">
        <mat-list-item>กำหนดเงื่อนไขการค้นหา</mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
    <mat-card-content style="padding: 0px 16px 16px 16px;">
        <br>
        <ng-content select="[content]"></ng-content>
    </mat-card-content>
</mat-card>
<div>
    <br>