<div>
    <div class="flex_row_between">
        <h1>เพิ่ม</h1>
        <button mat-icon-button (click)="close()"><mat-icon>close</mat-icon></button>
    </div>

    <div>
        <mat-form-field *ngIf="data.agency">
            <mat-label>หน่วยงาน</mat-label>
            <mat-select placeholder="หน่วยงาน" [(ngModel)]="agenId">
                <mat-option *ngFor="let item of data.agency" [value]="item.agency_uid">
                    {{item.agency_name_th}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="data.position">
            <mat-label>ตำแหน่งงาน</mat-label>
            <mat-select placeholder="ตำแหน่งงาน" [(ngModel)]="positionId">
                <mat-option *ngFor="let item of data.position" [value]="item.position_uid">
                    {{item.position_name_th}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <!-- <mat-form-field>
            <mat-label></mat-label>
            <input matInput placeholder="ชื่อ" [(ngModel)]="name">
        </mat-form-field> -->
        <div class="flex_row_center">
            <button mat-raised-button color="primary" (click)="add()">
                <span>+ เพิ่ม</span>
            </button>
        </div>
    </div>
</div>