<div class="card-body">
    <h2 class="card-title">{{state == 'add' ? 'เพิ่ม' : ' แก้ไข'}}ข้อมูลบัญชีโครงสร้างอัตราจ้าง</h2>
    <form [formGroup]="form">
        <mat-card class="mat-elevation-z4">
            <mat-card-content>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>รหัสบัญชีโครงสร้าง<span style="color: red">*</span></mat-label>
                            <input matInput type="text" formControlName="salary_group_code" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>ชื่อบัญชีโครงสร้าง<span style="color: red">*</span></mat-label>
                            <input matInput type="text" formControlName="salary_group_name_th" />
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>

                <mat-card class="mat-elevation-z4" [ngStyle]="{'display': state == 'edit' ? 'block' : 'none'}">
                    <mat-card-content>
                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field appearance="outline">
                                    <mat-label>ค้นหา</mat-label>
                                    <input matInput />
                                </mat-form-field>
                            </div>
                        </div>

                        <div>
                            <app-button-add (click)="manageForm('add')"></app-button-add>
                        </div>
                        <br>
                        <table mat-table [dataSource]="salaryGroups" matSort class="mat-elevation-z2"
                            style="width: 100%;">
                            <tr mat-header-row *matHeaderRowDef="['action', '1', '2','3','4']"></tr>
                            <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2','3','4']"></tr>
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                                <td mat-cell *matCellDef="let data; let index = index">
                                    <app-icon-edit (click)="manageForm('edit',data,index)"></app-icon-edit>
                                    <app-icon-del (click)="deleteItem(index)"></app-icon-del>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="1">
                                <th mat-header-cell *matHeaderCellDef>ลำดับขั้นวิ่ง </th>
                                <td mat-cell *matCellDef="let data; let index = index">
                                    {{data?.running_wage}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="2">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> อัตราจ้างเงินเดือน </th>
                                <td mat-cell *matCellDef="let data">
                                    {{data?.salary_wage_rate | number:'1.2-2'}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="3">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> อัตราจ้างรายวัน </th>
                                <td mat-cell *matCellDef="let data">
                                    {{data?.daily_wage_rate | number:'1.2-2'}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="4">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> อัตราจ้างรายชั่วโมง </th>
                                <td mat-cell *matCellDef="let data">
                                    {{data?.hour_wage_rate | number:'1.2-2'}}
                                </td>
                            </ng-container>
                        </table>
                        <br>
                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                    </mat-card-content>
                </mat-card>
                <br *ngIf="state == 'edit'" />
   
            <div class="flex_row_end">
                <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
                <app-button-close (click)="close()"></app-button-close>
            </div>
        </mat-card>


    </form>
    <pre *ngIf="!isHideForm">{{ form.getRawValue() | json}}</pre>
</div>