<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <app-layout-search>
            <ng-container content>
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label> เลขที่อัตรา </mat-label>
                            <input matInput [(ngModel)]="dataSearch.manpower_no" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>ตำแหน่งงาน</mat-label>
                            <mat-select [(ngModel)]="dataSearch.position_uid">
                                <mat-option *ngFor="let item of positionDatas" [value]="item.position_uid">
                                    {{item.position_name_th}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>สถานะ</mat-label>
                            <!-- <ng-container *ngIf="statusDatas != 0"> -->
                            <mat-select [(ngModel)]="dataSearch.status_id">
                                <mat-option *ngFor="let item of status$ | async" [value]="item.status_id">
                                    {{item.status_name_th}}</mat-option>
                            </mat-select>
                            <!-- </ng-container> -->
                        </mat-form-field>
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="paddingInput">
                        <app-button-search (click)="search()"></app-button-search>

                    </div>
                    <div class="paddingInput">
                        <app-button-reset (click)="clear()"></app-button-reset>
                    </div>
                </div>
            </ng-container>
        </app-layout-search>

        <div>
            <app-button-add (click)="addPage()"></app-button-add>
        </div>
        <br />
        <table mat-table [dataSource]="rows" matSort class="mat-elevation-z2" style="width: 100%;">
            <tr mat-header-row *matHeaderRowDef="['action', '1', '2','3','4','5','6']"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2','3','4','5','6']"></tr>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                <td mat-cell *matCellDef="let data">
                    <!-- <app-icon-report></app-icon-report> -->
                    <app-icon-edit (click)="editPage(data.manpower_uid)"></app-icon-edit>
                    <app-icon-del (click)="deleteItem(data.manpower_uid)"></app-icon-del>
                </td>
            </ng-container>
            <ng-container matColumnDef="1">
                <th mat-header-cell *matHeaderCellDef>เลขที่อัตรา </th>
                <td mat-cell *matCellDef="let data; let index = index">
                    {{data.manpower_no}}
                </td>
            </ng-container>
            <ng-container matColumnDef="2">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ตำแหน่งงาน </th>
                <td mat-cell *matCellDef="let data">
                    {{data.position_uid | getDataId : positionDatas : 'position_uid' : 'position_name_th' : ''}}
                </td>
            </ng-container>
            <ng-container matColumnDef="3">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่เริ่มใช้อัตรา </th>
                <td mat-cell *matCellDef="let data">
                    {{data.effective_date | thaiDate }}
                </td>
            </ng-container>
            <ng-container matColumnDef="4">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่ตำแหน่งว่าง </th>
                <td mat-cell *matCellDef="let data">
                    {{data.available_date | thaiDate}}
                </td>
            </ng-container>
            <!-- <ng-container matColumnDef="5">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> สถานะตำแหน่ง </th>
                <td mat-cell *matCellDef="let data">
                   
                </td>
            </ng-container> -->
            <ng-container matColumnDef="5">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> สถานะ </th>
                <td mat-cell *matCellDef="let data">
                    {{data.manpower_status_id | getDataId : statusDatas : 'manpower_status_id' :
                    'manpower_status_name_th' : ''}}
                </td>
            </ng-container>
            <ng-container matColumnDef="6">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> สถานะอัตรา </th>
                <td mat-cell *matCellDef="let data">
                    {{data.manpower_using_status_id | getDataId : usingStatusDatas : 'manpower_using_status_id' :
                    'manpower_using_status_name_th' : ''}}
                </td>
            </ng-container>
            <!-- <ng-container matColumnDef="7">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> หมายเหตุ </th>
                <td mat-cell *matCellDef="let data">
                    {{data.remark}}
                </td>
            </ng-container> -->

        </table>
        <br>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>