<div>
    <h1 [class.has-children]="!!node?.childs?.length"
        (click)="selectItem(node)"
        (drop)="onDrop($event,node)"
        >
      <div style="display: flex;justify-content: center;">
      <div class="text"
          draggable="true" 
          style="position: relative;max-width: 200px;min-width: 150px;"
          (dragstart)="dragStart($event,node)" 
          (dragover)="dragOver($event)"
            [ngStyle]="{'border': '1px solid' + color(node?.level)}"
          >
          <div style="display: flex;flex-flow: column;">
            <span class="container main_title" [ngStyle]="{'background-color': color(node?.level)}">{{node?.code || '-'}}</span>
            <span class="container">{{node?.name}}</span> 
            <span class="container">{{node?.no_of_manpowers || 0 }}</span>
          </div>
          <ng-container *ngIf="show">
            <button class="add_btn" (click)="addNode()">+</button>
            <button class="delete_btn" (click)="deleteNode()">-</button>
          </ng-container>
      </div> 
      </div>     
    </h1>
    <div *ngIf="node?.childs?.length" class="children" [ngStyle]="{'border-color': node?.childs?.length > 1 ? 'darkgrey' : 'white'}">
      <ng-container *ngFor="let node of node?.childs">
        <node [node]="node"
          (selectNode)="this.selectNode.emit($event)"
          (onDropSuccess)="this.onDropSuccess.emit($event)"
          (onGrabNode)="this.onGrabNode.emit($event)"
          (targetNode)="this.targetNode.emit($event)"
          (onDeleteNode)="this.onDeleteNode.emit($event)"
          (onAddNode)="this.onAddNode.emit($event)"
        >
        </node>
      </ng-container>
    </div>
</div>