.add_btn {
  display: none;
  // display: flex;
  width: 20px; 
  height: 20px;
  border-radius: 10px;
  margin: 0.1rem;  
  justify-content: center;
  align-items: center;
  border-color:  #0000002b;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  right: 45%;
  left: 45%;
  bottom: -10%;
}

.delete_btn {
  display: none;
  // display: flex;
  width: 20px; 
  height: 20px;
  border-radius: 10px;
  margin: 0.1rem;
  justify-content: center;
  align-items: center;
  border-color:  red;
  color: red;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  right: 45%;
  left: 45%;
  top: -10%;
}

.container_action {
    justify-content: flex-end;
    position: absolute;
    z-index: 1;
    right: 30%;
    left: 20%;
    bottom: 80%;
    width: 100%;
    display: none;
    display: flex;
    transition: 2s;
}

:host {
  // border: 1px solid #000;
  display: flex;
  width: fit-content;
  padding: 3px 6px;
  border-radius: 4px;  
}

.main_title {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}
.container {
  width: 100%;
  padding: 5px;
}


.text {
  border: 1px solid darkgrey;
  border-radius: 0.5em;
  // padding: 10px;
  box-shadow: 0.05em 0.05em 0.2em 0.05em #0000002b;
  cursor: pointer;
}

h1 {
  font-size: 25px;
  text-align: center;
  position: relative;
  margin-top: 9px;
  
  &.has-children::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 18px;
    top: 100%;
    background: darkgrey;
    left: 50%;
  }

  &:hover {
    transition: 2s;
    
    .add_btn {
      display: flex;
    }

    .delete_btn {
      display: flex;
    }
    
    .container_action {
      display: flex;
      transition: 2s;
    }
  }
}



.children {
  display: flex;
  border-top: 2px solid darkgrey;
  &.has-children::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 13px;
    top: 112%;
    background: darkgrey;
    left: 50%;
  }
}

node {
  margin-right: 5px;
  position: relative;
  &:last-child {
    margin-right: 0;
  }


  &:last-child::after,
  &:first-child::after {
    content: '';
    position: absolute;
    height: 10px;
    top: -3px;
    background: #fff !important;
  }


  &:first-child::after {
    left: 0;
    width: calc(50%);
  }
  &:last-child::after {
    right: -2px;
    width: calc(50%);
  }
  &::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 13px;
    top: 0;
    background: darkgrey;
    left: 50%;
  }
}
