<form [formGroup]="form">
    <mat-card class="mat-elevation-z4">
        <mat-card-content>
            <mat-label>บันทึกรายชื่อผู้ขอพระราชทานเครื่องราชอิสริยาภรณ์</mat-label>
            <br>
            <!-- <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>องค์กร<span style="color: red">*</span></mat-label>
                        <mat-select>
                            <mat-option *ngFor="let item of organizationData$ | async" [value]="item.organization_uid">
                                {{item.organization_name_th}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div> -->
            <ng-container *ngIf="state == 'edit'">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>รหัส</mat-label>
                            <input matInput disabled formControlName="document_no" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>วันที่เอกสารเริ่มต้น<span style="color: red">*</span></mat-label>
                            <input matInput [matDatepicker]="fromDate1" formControlName="request_date">
                            <mat-datepicker-toggle matSuffix [for]="fromDate1"></mat-datepicker-toggle>
                            <mat-datepicker #fromDate1></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </ng-container>



            <mat-label>รายละเอียดเครื่องราชที่ต้องการขอพระราชทาน</mat-label>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>มาช่วยราชการจากที่ใด (ถ้ามี)</mat-label>
                        <input matInput formControlName="come_from_detail" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>ปีประมวลผล<span style="color: red">*</span></mat-label>
                        <input matInput [matDatepicker]="fromDate2" formControlName="processing_date">
                        <mat-datepicker-toggle matSuffix [for]="fromDate2"></mat-datepicker-toggle>
                        <mat-datepicker #fromDate2></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>คือชั้น<span style="color: red">*</span></mat-label>
                        <mat-select formControlName="insignia_uid">
                            <mat-option *ngFor="let item of insigniaDetail$ | async" [value]="item.insignia_uid">
                                {{item.insignia_short_name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>ชั้นนี้เป็นการขอพระราชทาน<span style="color: red">*</span></mat-label>
                        <mat-select formControlName="duplicate_last_year">
                            <mat-option [value]="true">ไม่ซ้ำกับปีที่แล้วมา</mat-option>
                            <mat-option [value]="false">ซ้ำกับปีที่แล้วมา</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <mat-label>รายละเอียดข้อมูลส่วนตัว</mat-label>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>ประเภทบุคลากร<span style="color: red">*</span></mat-label>
                        <mat-select formControlName="personnel_in_house" (selectionChange)="setPerson()">
                            <mat-option *ngFor="let item of typePerson" [value]="item.check">{{item.name}}</mat-option>
                            <!-- <mat-option [value]="true">บุคคลภายใน</mat-option>
                            <mat-option [value]="false">บุคคลภายนอก</mat-option> -->
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <ng-container *ngIf="form.value.personnel_in_house == true">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>ชื่อ-สกุล<span style="color: red">*</span></mat-label>
                            <mat-select formControlName="personnel_uid"
                                (selectionChange)="getPersonnel(form.value.personnel_uid)">
                                <mat-option *ngFor="let item of personnels$ | async" [value]="item.personnel_uid">
                                    {{item.display_name_th}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>ประเภทบุคลากร</mat-label>
                            <input matInput disabled [value]="dataPersonnel?.personnel_type_name"  />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>หน่วยงาน</mat-label>
                            <input matInput disabled [value]="dataPersonnel?.agency_name" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>คำนำหน้าชื่อ</mat-label>
                            <input matInput disabled
                                [value]="dataPersonnel?.prefix_id  | getDataId : prefixs : 'prefix_id' : 'prefix_name_th' : '' " />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>ยศ</mat-label>
                            <input matInput disabled />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>เพศ</mat-label>
                            <input matInput disabled
                                [value]="dataPersonnel?.gender_id  | getDataId : genders : 'gender_id' : 'gender_name_th' : '' " />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>วัน/เดือน/ปีเกิด</mat-label>
                            <input matInput disabled [value]="dataPersonnel?.birth_date | date : 'dd/MM/yyyy'" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>หมายเลขบัตรประชาชน</mat-label>
                            <input matInput disabled [value]="dataPersonnel?.citizen_id" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>วันที่เริ่มงาน</mat-label>
                            <input matInput disabled
                                [value]="dataPersonnel?.personnel_hires[0]?.position?.position_name_th" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>ตำแหน่งที่เริ่มงาน</mat-label>
                            <input matInput disabled
                                [value]="dataPersonnel?.personnel_hires[0]?.position?.position_name_th" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>ตำแหน่งปัจจุบัน</mat-label>
                            <input matInput disabled
                                [value]="dataPersonnel?.personnel_hires[0]?.start_date |thaiDate " />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>กลุ่มงาน</mat-label>
                            <input matInput disabled [value]="dataPersonnel?.personnel_hires?.work_group_id | getDataId : workGroups : 'work_group_id' : 'work_group_name_th' : '' " />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>ระดับตำแหน่ง</mat-label>
                            <input matInput disabled [value]="dataPersonnel?.primary_position_level_id | getDataId : levels : 'position_level_id' : 'position_level_name_th' : '' " />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>เงินเดือนปัจจุบัน</mat-label>
                            <input matInput disabled
                                [value]="dataPersonnel?.personnel_hires[0]?.salary_amount | number: '1.2-2'" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>เงินเดือนประจำตำแหน่งบริหาร</mat-label>
                            <input matInput disabled />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>เงินเดือนย้อนหลัง</mat-label>
                            <input matInput disabled />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>เงินเดือนประจำตำแหน่งวิชาการ</mat-label>
                            <input matInput disabled />
                        </mat-form-field>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="form.value.personnel_in_house == false">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>คำนำหน้าชื่อ</mat-label>
                            <mat-select formControlName="outsider_prefix_id">
                                <mat-option *ngFor="let item of prefixs" [value]="item.prefix_id">
                                    {{item.prefix_name_th}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>เพศ</mat-label>
                            <mat-select formControlName="outsider_gender_id">
                                <mat-option *ngFor="let item of genders" [value]="item.gender_id">
                                    {{item.gender_name_th}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>ชื่อ-สกุล<span style="color: red">*</span></mat-label>
                            <input matInput formControlName="outsider_name" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>หมายเลขบัตรประชาชน</mat-label>
                            <input matInput formControlName="outsider_citizen_id" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>ตำแหน่งบุคคลภายนอก</mat-label>
                            <mat-select formControlName="outsider_position_uid">
                                <mat-option *ngFor="let item of positions" [value]="item.position_uid">
                                    {{item.position_name_th}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>ตำแหน่ง ณ ปีที่ขอ</mat-label>
                            <mat-select formControlName="current_position_uid">
                                <mat-option *ngFor="let item of positions" [value]="item.position_uid">
                                    {{item.position_name_th}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>ระดับตำแหน่ง ณ ปีที่ขอ</mat-label>
                            <mat-select formControlName="current_position_level_id">
                                <mat-option *ngFor="let item of levels" [value]="item.position_level_id">
                                    {{item.position_level_name_th}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                
            </ng-container>

            <div style="border-bottom: solid 1px;color: gainsboro;"></div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>เครื่องราชอิสริยาภรณ์ชั้นล่าสุดที่ได้รับ</mat-label>
                        <input matInput disabled [value]="dataAssign?.insignia_uid | getDataId : insigniaDetail : 'insignia_uid' : 'insignia_short_name' : ''  " />
                        <!-- <mat-select disabled formControlName="current_insignia_uid">
                            <mat-option value="one">First option</mat-option>
                            <mat-option value="two">Second option</mat-option>
                        </mat-select> -->
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>ได้รับเครื่องราชฯชั้นล่าสุดวันที่</mat-label>
                        <input matInput  disabled [value]="dataAssign?.insignia_last_receive_date | thaiDate ">
                        <!-- <mat-datepicker-toggle matSuffix [for]="fromDate3"></mat-datepicker-toggle>
                        <mat-datepicker #fromDate3></mat-datepicker> -->
                    </mat-form-field>
                </div>
            </div>
            <ng-container *ngIf="state == 'edit'">
                <div class="row">
                    <div class="col-md-6">
                        <mat-label>บันทึกรายชื่อผู้ขอพระราชทานเครื่องราชอิสริยาภรณ์</mat-label>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <mat-label>ผู้ลงนามขอพระราชทาน</mat-label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <app-button-signature (click)="getSignature()" [disabled]="form.get('sign_status').value" ></app-button-signature>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <mat-label style="color: red;">หมายเหตุ คณบดี/ผู้อำนวยการ เป็นผู้ลงนามขอพระราชทาน</mat-label>
                    </div>
                </div>
            </ng-container>
            <br>
        </mat-card-content>
    </mat-card>
</form>
<br>
<div class="flex_row_end">
    <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
    <app-button-close (click)="close()"></app-button-close>
</div>

<pre *ngIf="!isHideForm">{{form.getRawValue()|json}}</pre>