<div class="card-body">
    <h2 class="card-title">{{state == 'add' ? 'สร้าง' : ' แก้ไข'}}ข้อมูลรอบปฏิบัติงาน</h2>
    <form [formGroup]="form">
        <mat-card class="mat-elevation-z4">
            <mat-card-content>
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>รหัสรอบปฏิบัติงาน</mat-label>
                            <input matInput disabled />
                        </mat-form-field>
                    </div>
                    <div class="col-md-9">
                        <mat-form-field appearance="outline">
                            <mat-label>ชื่อรอบปฏิบัติงาน<span style="color: red">*</span></mat-label>
                            <input matInput disabled />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>เวลาเริ่มต้น<span style="color: red">*</span></mat-label>
                            <input matInput />
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>เข้าช้าได้ (นาที)<span style="color: red">*</span></mat-label>
                            <input matInput />
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>เวลาสิ้นสุด<span style="color: red">*</span></mat-label>
                            <input matInput />
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>ออกก่อนได้ (นาที)<span style="color: red">*</span></mat-label>
                            <input matInput />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>เริ่มพักเบรก</mat-label>
                            <input matInput />
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>สิ้นสุดพักเบรก</mat-label>
                            <input matInput />
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>รวมเวลาพัก</mat-label>
                            <input matInput disabled />
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>รวมเวลาทำงาน</mat-label>
                            <input matInput disabled />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <mat-checkbox class="example-margin" [(ngModel)]="checkboxDay1"
                            [ngModelOptions]="{standalone: true}">วันจันทร์</mat-checkbox>
                    </div>
                    <div class="col-md-3">
                        <mat-checkbox class="example-margin" [(ngModel)]="checkboxDay2"
                            [ngModelOptions]="{standalone: true}">วันอังคาร</mat-checkbox>
                    </div>
                    <div class="col-md-3">
                        <mat-checkbox class="example-margin" [(ngModel)]="checkboxDay3"
                            [ngModelOptions]="{standalone: true}">วันพุธ</mat-checkbox>
                    </div>
                    <div class="col-md-3">
                        <mat-checkbox class="example-margin" [(ngModel)]="checkboxDay4"
                            [ngModelOptions]="{standalone: true}">วันพฤหัสบดี</mat-checkbox>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-3">
                        <mat-checkbox class="example-margin" [(ngModel)]="checkboxDay5"
                            [ngModelOptions]="{standalone: true}">วันศุกร์</mat-checkbox>
                    </div>
                    <div class="col-md-3">
                        <mat-checkbox class="example-margin" [(ngModel)]="checkboxDay6"
                            [ngModelOptions]="{standalone: true}">วันเสาร์</mat-checkbox>
                    </div>
                    <div class="col-md-3">
                        <mat-checkbox class="example-margin" [(ngModel)]="checkboxDay7"
                            [ngModelOptions]="{standalone: true}">วันอาทิตย์</mat-checkbox>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field appearance="outline">
                            <mat-label>หมายเหตุ</mat-label>
                            <textarea matInput></textarea>
                        </mat-form-field>
                    </div>
                </div>
                <br>
            </mat-card-content>
            <div class="flex_row_end">
                <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
                <app-button-close (click)="close()"></app-button-close>
            </div>
        </mat-card>
    </form>
</div>