<form [formGroup]="form">
<mat-card class="mat-elevation-z4" style="padding: 0px 16px 16px 16px;border-radius: 0px;">
    <mat-card-content>
        <mat-list>
            <mat-list-item>ข้อมูลองค์กร</mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>

<div class="row">
    <div class="col-md-6" >
        <mat-form-field appearance="outline">
            <mat-label> รหัสองค์กร <span style="color: red">*</span></mat-label>
            <input matInput number formControlName="organization_code"  />
        </mat-form-field>
    </div>
    <!-- <div class="col-md-3" >
        <mat-form-field appearance="outline">
            <mat-label> ประเภทองค์กร </mat-label>
            <input matInput disabled />
        </mat-form-field>
    </div>
    <div class="col-md-6" >
        <mat-form-field appearance="outline">
            <mat-label> ชื่อองค์กรหลัก </mat-label>
            <input matInput disabled />
        </mat-form-field>
    </div> -->
</div>
<div class="row">
    <div class="col-md-6" >
        <mat-form-field appearance="outline">
            <mat-label> ชื่อองค์กร <span style="color: red">*</span></mat-label>
            <input matInput formControlName="organization_name_th" />
        </mat-form-field>
    </div>
    <div class="col-md-6" >
        <mat-form-field appearance="outline">
            <mat-label> ชื่อย่อองค์กร </mat-label>
            <input matInput formControlName="organization_short_name_th" />
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col-md-6" >
        <mat-form-field appearance="outline">
            <mat-label> ชื่อองค์กร (English)</mat-label>
            <input matInput formControlName="organization_name_en" />
        </mat-form-field>
    </div>
    <div class="col-md-6" >
        <mat-form-field appearance="outline">
            <mat-label> ชื่อย่อองค์กร (English)</mat-label>
            <input matInput formControlName="organization_short_name_en" />
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col-md-6" >
        <mat-form-field appearance="outline">
            <mat-label> สาขา</mat-label>
            <input matInput formControlName="branch_name" />
        </mat-form-field>
    </div>
    <div class="col-md-3" >
        <mat-form-field appearance="outline">
            <mat-label>วันที่ก่อตั้ง </mat-label>
            <input matInput formControlName="establish_date" (dateChange)="dateChange()" (selectedValueChange)="dateChange()" matInput
                (click)="transaction_date.open()" [matDatepicker]="transaction_date" />
            <mat-datepicker-toggle matSuffix [for]="transaction_date">
            </mat-datepicker-toggle>
            <mat-datepicker #transaction_date></mat-datepicker>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col-md-6" >
        <mat-form-field appearance="outline">
            <mat-label> ชื่อที่อยู่</mat-label>
            <input matInput formControlName="address" />
        </mat-form-field>
    </div>
    <div class="col-md-3" >
        <mat-form-field appearance="outline">
            <mat-label> เลขที่</mat-label>
            <input matInput numberCharacter formControlName="address_no" />
        </mat-form-field>
    </div>
    <div class="col-md-3" >
        <mat-form-field appearance="outline">
            <mat-label> หมู่ที่</mat-label>
            <input matInput number formControlName="moo" />
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col-md-6" >
        <mat-form-field appearance="outline">
            <mat-label> อาคาร</mat-label>
            <input matInput formControlName="building_name" />
        </mat-form-field>
    </div>
    <div class="col-md-3" >
        <mat-form-field appearance="outline">
            <mat-label> เลขที่ห้อง</mat-label>
            <input matInput numberCharacterEng formControlName="room_no" />
        </mat-form-field>
    </div>
    <div class="col-md-3" >
        <mat-form-field appearance="outline">
            <mat-label> ชั้นที่</mat-label>
            <input matInput number formControlName="floor_no" />
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col-md-6" >
        <mat-form-field appearance="outline">
            <mat-label> หมู่บ้าน</mat-label>
            <input matInput formControlName="village_name" />
        </mat-form-field>
    </div>
    <div class="col-md-6" >
        <mat-form-field appearance="outline">
            <mat-label> ตรอก/ซอย</mat-label>
            <input matInput formControlName="soi_name" />
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col-md-6" >
        <mat-form-field appearance="outline">
            <mat-label> ถนน</mat-label>
            <input matInput formControlName="road_name" />
        </mat-form-field>
    </div>
    <div class="col-md-6" >
        <mat-form-field appearance="outline">
            <input matInput formControlName="sub_district_name_th"
                placeholder="ตำบล/แขวง" aria-label="State" [matAutocomplete]="Provinces" />
            <mat-icon matSuffix>search</mat-icon>
            <mat-autocomplete #Provinces="matAutocomplete" style="font-size: 10px;">
                <mat-option style="font-size: 10px;" *ngFor="let s of subDistricts"
                    (onSelectionChange)="selectSubDistrict(s)" [value]="s.sub_district_name_th">
                    {{s.sub_district_name_th}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col-md-6" >
        <mat-form-field appearance="outline">
            <mat-label> อำเภอ/แขวง</mat-label>
            <input matInput formControlName="district_name_th" disabled />
        </mat-form-field>
    </div>
    <div class="col-md-6" >
        <mat-form-field appearance="outline">
            <mat-label> จังหวัด</mat-label>
            <input matInput formControlName="province_name_th" disabled />
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col-md-6" >
        <mat-form-field appearance="outline">
            <mat-label> รหัสไปรษณีย์</mat-label>
            <input matInput number formControlName="postal_code" />
        </mat-form-field>
    </div>
    <div class="col-md-6" >
        <mat-form-field appearance="outline">
            <mat-label> โทรศัพท์</mat-label>
            <input matInput number formControlName="phone_no" />
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col-md-6" >
        <mat-form-field appearance="outline">
            <mat-label> โทรสาร</mat-label>
            <input matInput number formControlName="fax_no" />
        </mat-form-field>
    </div>
</div>
<!-- <br>
<mat-card class="mat-elevation-z4" style="padding: 0px 16px 16px 16px;border-radius: 0px;">
    <mat-card-content>
        <mat-list>
            <mat-list-item>เอกสารแนบ</mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
        <br>
        <div>
            <app-button-add (click)="openUpload()"></app-button-add>
        </div>
        <br />
        <table mat-table [dataSource]="rows" matSort class="mat-elevation-z2" style="width: 100%;">
            <tr mat-header-row *matHeaderRowDef="['action', '1', '2']"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2']"></tr>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                <td mat-cell *matCellDef="let data">
                    <app-icon-report></app-icon-report>
                    <app-icon-edit></app-icon-edit>
                    <app-icon-del></app-icon-del>
                </td>
            </ng-container>
            <ng-container matColumnDef="1">
                <th mat-header-cell *matHeaderCellDef>ชื่อไฟล์</th>
                <td mat-cell *matCellDef="let data; let index = index">
                    1
                </td>
            </ng-container>
            <ng-container matColumnDef="2">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>รายละเอียด</th>
                <td mat-cell *matCellDef="let data">
                    2
                </td>
            </ng-container>
        </table>
    </mat-card-content>
</mat-card> -->
<br>
<div class="flex_row_end">
    <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
    <app-button-close (click)="close()"></app-button-close>
</div>
</mat-card-content>
</mat-card>
</form>