<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>ชื่อ-สกุล <span style="color: red;">*</span> </mat-label>
                    <input matInput type="text" [(ngModel)]="result.accomplice_name" />
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>ประเภทความเกี่ยวข้อง <span style="color: red;">*</span> </mat-label>
                    <input matInput type="text" [(ngModel)]="result.relation_name" />
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label> เบอร์ติดต่อหลัก <span style="color: red;">*</span> </mat-label>
                    <input matInput type="number" [(ngModel)]="result.tel_no" />
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label> เบอร์ติดต่อรอง </mat-label>
                    <input matInput type="number" [(ngModel)]="result.tel_reserve_no" />
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>อีเมล์<span style="color: red;">*</span> </mat-label>
                    <input matInput type="text" [(ngModel)]="result.email"/>
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<br />
<div class="row justify-content-center">
    <div class="col-2">
        <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
    </div>
    <div class="col-2">
        <app-button-save-close (click)="saveClose()"></app-button-save-close>&nbsp;&nbsp;
    </div>
    <div class="col-2">
        <app-button-close (click)="close()"></app-button-close>
    </div>
</div>