<form [formGroup]="form">
    <mat-card class="mat-elevation-z4">
        <mat-card-content>
            <div class="flex_row_between">
                <mat-form-field class="paddingInput" appearance="outline" style="width: 45%;">
                    <mat-label>รหัส <span style="color: red">*</span></mat-label>
                    <input matInput formControlName="insignia_type_code" />
                </mat-form-field>
            </div>
            <div class="flex_row_between">
                <mat-form-field class="paddingInput" appearance="outline" style="width: 45%;">
                    <mat-label>ชื่อ <span style="color: red">*</span></mat-label>
                    <input matInput formControlName="insignia_type_name_th" />
                </mat-form-field>
                <mat-form-field class="paddingInput" appearance="outline" style="width: 45%;" *ngIf="insigniaCategory$ | async as insigniaCategory">
                    <mat-label>ชนิด<span style="color: red">*</span></mat-label>
                    <mat-select formControlName="insignia_category_id">
                        <mat-option *ngFor="let data of insigniaCategory" [value]="data.insignia_category_id">{{data.insignia_category_name_th}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="flex_row_between">
                <mat-form-field appearance="outline" class="paddingInput" style="width: 100%;">
                    <mat-label>รายละเอียด</mat-label>
                    <textarea matInput formControlName="insignia_type_description"></textarea>
                </mat-form-field>
            </div>

        </mat-card-content>
        <br>
        <div class="flex_row_end">
            <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
            <app-button-close (click)="close()"></app-button-close>
        </div>
    </mat-card>
</form>
<pre *ngIf="!isHideForm">{{form.getRawValue()|json}}</pre>