<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <mat-card class="mat-elevation-z4"
        style="padding: 0px 0px 0px 0px;border-radius: 0px;box-shadow: unset;border: 1px solid #d4cfcf;">
        <mat-list style="background-color: #dde4e9;">
            <mat-list-item>กำหนดเงื่อนไขการค้นหา</mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
        <mat-card-content style="padding: 0px 16px 16px 16px;">

            <br>
            <div class="flex_row">
                <mat-form-field class="paddingInput" appearance="outline" style="width: 20%;">
                    <mat-label> ค้นหา </mat-label>
                    <input matInput [(ngModel)]="req.search" />
                </mat-form-field>
                <div class="paddingInput">
                    <app-button-search (click)="search()"></app-button-search>
                </div>
                <div class="paddingInput">
                    <app-button-reset (click)="clear()"></app-button-reset>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

        <div>
            <app-button-add (click)="addPage()"></app-button-add>
        </div>
        <br />
        <table mat-table [dataSource]="insigniaRequestCondition$ | async" matSort class="mat-elevation-z2" style="width: 100%;">
            <tr mat-header-row *matHeaderRowDef="['action', '1', '2','3']"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2','3']"></tr>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                <td mat-cell *matCellDef="let data">
                    <app-icon-edit (click)="editPage(data.insignia_request_condition_uid)"></app-icon-edit>
                    <app-icon-del (click)="deleteItem(data.insignia_request_condition_uid)"></app-icon-del>
                </td>
            </ng-container>
            <ng-container matColumnDef="1">
                <th mat-header-cell *matHeaderCellDef>รหัส </th>
                <td mat-cell *matCellDef="let data; let index = index">
                    {{data.insignia_request_condition_code}}
                </td>
            </ng-container>
            <ng-container matColumnDef="2">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อบัญชี </th>
                <td mat-cell *matCellDef="let data">
                    {{data.insignia_request_condition_name}}
                </td>
            </ng-container>
            <ng-container matColumnDef="3">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ประเภทบุคลากร </th>
                <td mat-cell *matCellDef="let data">
                    <ng-container *ngIf="PersonnelTypes$ | async as PersonnelTypes">
                    {{data.personnel_type_id | getDataId : PersonnelTypes : 'personnel_type_id' : 'personnel_type_name_th' : ''}}
                    </ng-container>
                </td>
            </ng-container>

        </table>
        <br>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>