<div class="card-body">
    <h2 class="card-title">รายได้-รายหัก <label *ngIf="!isHideForm">/salary/money_types</label></h2>
    <mat-card class="mat-elevation-z4">
        <mat-card-content>
            <app-layout-search>
                <ng-container content>
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>คำค้นหา</mat-label>
                                <input matInput />
                                <mat-icon matSuffix>search</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>ประเภทรายได้รายหัก</mat-label>
                                <mat-select>
                                    <mat-option value="one">First option</mat-option>
                                    <mat-option value="two">Second option</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>วิธีการคำนวณ</mat-label>
                                <mat-select>
                                    <mat-option value="one">First option</mat-option>
                                    <mat-option value="two">Second option</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </ng-container>
            </app-layout-search>
            <div>
                <app-button-add (click)="addPage()"></app-button-add>
            </div>
            <br />
            <table mat-table [dataSource]="moneyType$ | async" matSort class="mat-elevation-z2" style="width: 100%;">
                <tr mat-header-row *matHeaderRowDef="['action', '1', '2','3','4']"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2','3','4']"></tr>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                    <td mat-cell *matCellDef="let data">
                        <!-- <app-icon-report></app-icon-report> -->
                        <app-icon-edit (click)="editPage(data?.money_type_uid)"></app-icon-edit>
                        <app-icon-del (click)="deleteItem(data?.money_type_uid)"></app-icon-del>
                    </td>
                </ng-container>
                <ng-container matColumnDef="1">
                    <th mat-header-cell *matHeaderCellDef>รหัสรายได้-รายหัก</th>
                    <td mat-cell *matCellDef="let data; let index = index">
                        {{data?.money_type_code}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="2">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อรายได้-รายหัก </th>
                    <td mat-cell *matCellDef="let data">
                        {{data?.money_type_name_th}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="3">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ประเภทรายได้-รายหัก </th>
                    <td mat-cell *matCellDef="let data">
                        <!-- {{data?.money_category_id}} -->
                        {{data?.money_category_id | getDataId : moneyCategoryDatas : 'money_category_id' :
                        'money_category_name_th' : ''}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="4">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> วิธีคำนวณ </th>
                    <td mat-cell *matCellDef="let data">
                        <!-- {{data?.money_calculation_type_id}} -->
                        {{data?.money_calculation_type_id | getDataId : moneyCalculationTypeDatas :
                        'money_calculation_type_id' : 'money_calculation_type_name_th' : ''}}
                    </td>
                </ng-container>
            </table>
            <br>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </mat-card-content>
    </mat-card>
</div>