<div class="card-body">
    <h2 class="card-title">{{state == 'add' ? 'สร้าง' : ' แก้ไข'}}ข้อมูลประเภทการลา</h2>
    <form [formGroup]="form">
        <mat-card class="mat-elevation-z4">
            <mat-card-content>
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>รหัสประเภทการลา</mat-label>
                            <input matInput disabled />
                        </mat-form-field>
                    </div>
                    <div class="col-md-9">
                        <mat-form-field appearance="outline">
                            <mat-label>ชื่อประเภทการลา<span style="color: red">*</span></mat-label>
                            <input matInput disabled />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>การเริ่มใช้สิทธิการลา<span style="color: red">*</span></mat-label>
                            <mat-select>
                                <mat-option value="one">First option</mat-option>
                                <mat-option value="two">Second option</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>ใช้สิทธิได้หลังทำงาน (เดือน)</mat-label>
                            <input matInput disabled />
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>สิทธิการลา/ปี<span style="color: red">*</span></mat-label>
                            <input matInput />
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>จำนวนวันที่ได้ค่าจ้าง</mat-label>
                            <input matInput disabled />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>การคำนวณวันลา<span style="color: red">*</span></mat-label>
                            <mat-select>
                                <mat-option value="one">First option</mat-option>
                                <mat-option value="two">Second option</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>ส่งใบลาล่วงหน้า (วัน)<span style="color: red">*</span></mat-label>
                            <input matInput disabled />
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>ส่งใบลาย้อนหลัง (วัน)<span style="color: red">*</span></mat-label>
                            <input matInput />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <mat-checkbox class="example-margin" [(ngModel)]="checkboxTime"
                            [ngModelOptions]="{standalone: true}">ระบุช่วงเวลา</mat-checkbox>
                    </div>
                    <div class="col-md-3">
                        <mat-checkbox class="example-margin" [(ngModel)]="checkboxPerson"
                            [ngModelOptions]="{standalone: true}">ระบุผู้ปฏิบัติหน้าที่แทน</mat-checkbox>
                    </div>
                    <div class="col-md-3">
                        <mat-checkbox class="example-margin" [(ngModel)]="checkboxRemark"
                            [ngModelOptions]="{standalone: true}">ระบุสาเหตุการลา</mat-checkbox>
                    </div>
                </div>
            </mat-card-content>
            <div class="flex_row_end">
                <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
                <app-button-close (click)="close()"></app-button-close>
            </div>
        </mat-card>
    </form>
</div>