<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <label for="">เพิ่มเอกสารแนบ</label>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field appearance="outline">
                    <mat-label>ชื่อไฟล์แนบ<span style="color: red;">*</span></mat-label>
                    <input matInput [(ngModel)]="file_name">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <app-button-upload (resultFile)="getResultFile($event)"></app-button-upload>
            </div>
            <div class="col-md-9">
                <ng-container *ngIf="data?.state == 'add'">
                    <mat-form-field appearance="outline">
                        <input matInput [value]="filesData ? filesData.original_fileName : ''" disabled />
                    </mat-form-field>
                </ng-container>
                <ng-container *ngIf="data?.state == 'edit'">
                    <mat-form-field appearance="outline">
                        <input matInput [value]="filesData ? filesData : ''" disabled />
                    </mat-form-field>
                </ng-container>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field appearance="outline">
                    <mat-label>รายละเอียด</mat-label>
                    <textarea matInput [(ngModel)]="remark"></textarea>
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<br />
<!-- <div class="flex_row_end">
    <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
    <app-button-close (click)="close()"></app-button-close>
</div> -->
<div class="row justify-content-center">
    <div class="col-2">
        <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
    </div>
    <div class="col-2">
        <app-button-save-close (click)="save()"></app-button-save-close>&nbsp;&nbsp;
    </div>
    <div class="col-2">
        <app-button-close (click)="close()"></app-button-close>
    </div>
</div>