<div class="card-body">
    <h2 class="card-title">แก้ไขข้อมูลรายการเงินได้บุคลากร</h2>
    <form [formGroup]="form">
        <mat-card class="mat-elevation-z4">
            <mat-card-content>
                <mat-card class="mat-elevation-z4">
                    <mat-card-content>
                        <label for="">ข้อมูลทั่วไป</label>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>รหัสรายได้<span style="color: red">*</span></mat-label>
                                    <mat-select formControlName="money_type_uid">
                                        <mat-option *ngFor="let data of moneyTypeDatas" [value]="data?.money_type_uid">
                                            {{data?.money_type_name_th}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>จำนวนรายได้ </mat-label>
                                    <input type="number" matInput formControlName="extra_amount" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>วันที่เริ่มต้น</mat-label>
                                    <input matInput [matDatepicker]="picker1" (click)="picker1.open()" formControlName="start_date">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>วันที่สิ้นสุด</mat-label>
                                    <input matInput [matDatepicker]="picker2" (click)="picker2.open()" formControlName="end_date">
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>สถานะใช้งาน<span style="color: red">*</span></mat-label>
                                    <mat-select formControlName="status_id">
                                        <mat-option *ngFor="let data of statusDatas" [value]="data?.status_id">
                                            {{data?.status_name_th}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </mat-card-content>
            <br>
            <div class="flex_row_end">
                <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
                <app-button-close (click)="close()"></app-button-close>
            </div>
        </mat-card>
    </form>
    <pre *ngIf="!isHideForm">{{ form.getRawValue() | json}}</pre>
</div>