<div class="card-body">
    <h2 class="card-title">{{state == 'add' ? 'สร้าง' : ' แก้ไข'}}ข้อมูลวันหยุดประจำปี</h2>
    <form [formGroup]="form">
        <mat-card class="mat-elevation-z4">
            <mat-card-content>
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>วันที่หยุด<span style="color: red">*</span></mat-label>
                            <input matInput [matDatepicker]="picker1" (click)="picker1.open()">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>ชื่อวันหยุด<span style="color: red">*</span></mat-label>
                            <input matInput />
                        </mat-form-field>
                    </div>
                    <div class="col-md-3" style="padding-top: 12px;">
                        <mat-checkbox class="example-margin" [(ngModel)]="checkboxHoliday"
                            [ngModelOptions]="{standalone: true}">วันพักผ่อนประจำปี</mat-checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field appearance="outline">
                            <mat-label>หมายเหตุ</mat-label>
                            <textarea matInput></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
            <div class="flex_row_end">
                <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
                <app-button-close (click)="close()"></app-button-close>
            </div>
        </mat-card>
    </form>
</div>