<div class="card-body">
    <h2 class="card-title">ประมวลผลจ่ายเงินเดือน <label *ngIf="!isHideForm">/salary/salary_processs</label></h2>
    <mat-card class="mat-elevation-z4">
        <mat-card-content>
            <app-layout-search>
                <ng-container content>
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>คำค้นหา</mat-label>
                                <input matInput />
                                <mat-icon matSuffix>search</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>องค์กร</mat-label>
                                <mat-select>
                                    <mat-option value="one">First option</mat-option>
                                    <mat-option value="two">Second option</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>ประเภทการประมวลผล</mat-label>
                                <mat-select>
                                    <mat-option value="one">First option</mat-option>
                                    <mat-option value="two">Second option</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>สถานะการประมวลผล</mat-label>
                                <mat-select>
                                    <mat-option value="one">First option</mat-option>
                                    <mat-option value="two">Second option</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>วันที่ประมวลผล</mat-label>
                                <input matInput [matDatepicker]="picker1" (click)="picker1.open()">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>ถึง</mat-label>
                                <input matInput [matDatepicker]="picker2" (click)="picker2.open()">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </ng-container>
            </app-layout-search>
            <div>
                <app-button-add (click)="addPage()"></app-button-add>
            </div>
            <br />
            <table mat-table [dataSource]="salaryProcess$ | async" matSort class="mat-elevation-z2"
                style="width: 100%;">
                <tr mat-header-row *matHeaderRowDef="['action', '1', '2','3','4','5','6','7','8','9','10','11']"></tr>
                <tr mat-row
                    *matRowDef="let myRowData; columns: ['action', '1', '2','3','4','5','6','7','8','9','10','11']">
                </tr>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                    <td mat-cell *matCellDef="let data">
                        <app-icon-info (click)="editPage(data?.salary_process_uid)"></app-icon-info>
                    </td>
                </ng-container>
                <ng-container matColumnDef="1">
                    <th mat-header-cell *matHeaderCellDef>ชื่อองค์กร</th>
                    <td mat-cell *matCellDef="let data; let index = index">
                        {{data?.organization?.organization_name_th}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="2">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อรอบการจ่าย </th>
                    <td mat-cell *matCellDef="let data">
                        {{data?.payment_period_detail?.payment_period_uid | getDataId : paymentPeriods :
                        'payment_period_uid' : 'payment_period_name_th' : ''}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="3">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> งวดเดือนที่ประมวลผล </th>
                    <td mat-cell *matCellDef="let data">
                        {{data?.payment_period_detail?.row_order ? monthName[data?.payment_period_detail?.row_order] :
                        ''}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="4">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> เลขที่ประมวลผล </th>
                    <td mat-cell *matCellDef="let data">
                        {{data?.process_no}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="5">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ประเภทการประมวลผล </th>
                    <td mat-cell *matCellDef="let data">
                        {{data?.process_type_id}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="6">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่ประมวลผล </th>
                    <td mat-cell *matCellDef="let data">
                        {{data?.process_start_date}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="7">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่ประมวลผลเสร็จ </th>
                    <td mat-cell *matCellDef="let data">
                        {{data?.process_end_date}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="8">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ผู้ประมวลผล </th>
                    <td mat-cell *matCellDef="let data">
                        {{data?.created_by}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="9">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> สถานะ </th>
                    <td mat-cell *matCellDef="let data">
                        {{data?.process_result_status ? 'ประมวลผลเสร็จสิ้น ไม่พบข้อผิดพลาด' : 'ประมวลผลเสร็จสิ้น
                        พบข้อผิดพลาด'}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="10">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ประมวลผลแล้ว </th>
                    <td mat-cell *matCellDef="let data">
                        {{data?.a}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="11">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> พบข้อผิดพลาด </th>
                    <td mat-cell *matCellDef="let data">
                        {{data?.a}}
                    </td>
                </ng-container>
            </table>
            <br>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </mat-card-content>
    </mat-card>
</div>