<mat-card class="mat-elevation-z4">
    <form [formGroup]="form">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>1. หักค่าใช้จ่ายส่วนตัวเป็นการเหมาได้ร้อยละ</mat-label>
                    <input matInput type="number" value="0.00" />
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>แต่ต้องไม่เกิน</mat-label>
                    <input matInput type="number" value="0.00" />
                    <span matSuffix>บาท</span>
                </mat-form-field>
            </div>
        </div>
        <hr />
        <br />
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>2. ลดหย่อนผู้มีเงินได้</mat-label>
                    <input matInput type="number" value="0.00" />
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>แต่ต้องไม่เกิน</mat-label>
                    <input matInput type="number" value="0.00" />
                    <span matSuffix>บาท</span>
                </mat-form-field>
            </div>
        </div>
        <hr />
        <br />
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>3. ลดหย่อนคู่สมรส (กรณีมีเงินได้ฝ่ายเดียวหรือมีเงินได้ทั้งสองฝ่ายและแยกยื่น)</mat-label>
                    <input matInput type="number" value="0.00" />
                </mat-form-field>
            </div>
        </div>
        <hr />
        <br />
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>4. ลดหย่อนบุตรไม่ศึกษา</mat-label>
                    <input matInput type="number" value="0.00" />
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>ยื่นรวม</mat-label>
                    <input matInput type="number" value="0.00" />
                    <span matSuffix>บาท</span>
                </mat-form-field>
            </div>
        </div>
        <hr />
        <br />
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>5. ลดหย่อนบุตรศึกษา</mat-label>
                    <input matInput type="number" value="0.00" />
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>ยื่นรวม</mat-label>
                    <input matInput type="number" value="0.00" />
                    <span matSuffix>บาท</span>
                </mat-form-field>
            </div>
        </div>
        <hr />
        <br />
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>6. ลดหย่อนบิดาผู้มีเงินได้</mat-label>
                    <input matInput type="number" value="0.00" />
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>มารดาผู้มีเงินได้</mat-label>
                    <input matInput type="number" value="0.00" />
                    <span matSuffix>บาท</span>
                </mat-form-field>
            </div>
        </div>
        <hr />
        <br />
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>7. ลดหย่อนบิดาของคู่สมรส</mat-label>
                    <input matInput type="number" value="0.00" />
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>มารดาของคู่สมรส</mat-label>
                    <input matInput type="number" value="0.00" />
                    <span matSuffix>บาท</span>
                </mat-form-field>
            </div>
        </div>
        <hr />
        <br />
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>8. ลดหย่อนเบี้ยประกันสุขภาพบิดามารดาผู้มีเงินได้และคู่สมรสไม่เกิน</mat-label>
                    <input matInput type="number" value="0.00" />
                </mat-form-field>
            </div>
        </div>
        <hr />
        <br />
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>9. ลดหย่อนเบี้ยประกันชีวิต</mat-label>
                    <input matInput type="number" value="0.00" />
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>แต่ต้องไม่เกิน</mat-label>
                    <input matInput type="number" value="0.00" />
                    <span matSuffix>บาท</span>
                </mat-form-field>
            </div>
        </div>
        <hr />
        <br />
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>10. เงินสะสมกองทุนสำรองเลี้ยงชีพ เฉพาะส่วนที่ไม่เกิน</mat-label>
                    <input matInput type="number" value="0.00" />
                </mat-form-field>
            </div>
        </div>
        <hr />
        <br />
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>11. เงินค่าซื้อหน่วยลงทุนในกองทุนรวมเพื่อการเลี้ยงชีพไม่เกินร้อยละ</mat-label>
                    <input matInput type="number" value="0.00" />
                </mat-form-field>
            </div>
        </div>
        <hr />
        <br />
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>12. เงินค่าซื้อหน่วยลงทุนในกองทุนรวมหุ้นระยะยาวร้อยละ</mat-label>
                    <input matInput type="number" value="0.00" />
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>แต่ต้องไม่เกิน</mat-label>
                    <input matInput type="number" value="0.00" />
                    <span matSuffix>บาท</span>
                </mat-form-field>
            </div>
        </div>
        <hr />
        <br />
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>13. ดอกเบี้ยเงินกู้ยืม เพื่อซื้อ เช่าซื้อ หรือสร้างอาคารที่อยู่อาศัย ไม่เกิน</mat-label>
                    <input matInput type="number" value="0.00" />
                </mat-form-field>
            </div>
        </div>
        <hr />
        <br />
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>14. ลดหย่อนเงินสมทบกองทุนประกันสังคม แต่ไม่เกิน</mat-label>
                    <input matInput type="number" value="0.00" />
                </mat-form-field>
            </div>
        </div>
        <hr />
        <br />
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>15. ลดหย่อนเงินสนับสนุนเพื่อการศึกษา(2เท่า) แต่ต้องไม่เกินร้อยละ ของเงินคงเหลือหลังหักค่าใช้จ่ายและค่าลดหย่อน </mat-label>
                    <input matInput type="number" value="0.00" />
                </mat-form-field>
            </div>
        </div>
        <hr />
        <br />
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>16. ลดหย่อนเงินบริจาคตามจริง แต่ต้องไม่เกินร้อยละ ของเงินคงเหลือหลังหักค่าใช้จ่ายและค่าลดหย่อน</mat-label>
                    <input matInput type="number" value="0.00" />
                </mat-form-field>
            </div>
        </div>
        <hr />
        <br />
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>17. ลดหย่อนเงินสนับสนุนกีฬาได้(1.5เท่า) แต่ต้องไม่เกินร้อยละ ของเงินคงเหลือหลังหักค่าใช้จ่ายและค่าลดหย่อน</mat-label>
                    <input matInput type="number" value="0.00" />
                </mat-form-field>
            </div>
        </div>
        <hr />
        <br />
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>18. หักค่าซื้ออสังหาริมทรัพย์เพื่อที่อยู่อาศัยไม่เกิน</mat-label>
                    <input matInput type="number" value="0.00" />
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>กรณีคู่สมรสแยกยื่น</mat-label>
                    <input matInput type="number" value="0.00" />
                    <span matSuffix>บาท</span>
                </mat-form-field>
            </div>
        </div>
        <hr />
        <br />
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>19. ค่าลดหย่อนค่าอุปการะเลี้ยงดูคนพิการ</mat-label>
                    <input matInput type="number" value="0.00" />
                </mat-form-field>
            </div>
        </div>
        <hr />
        <br />
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>20. ลดหย่อนเบี้ยประกันชีวิตแบบบำนาญ ร้อยละ</mat-label>
                    <input matInput type="number" value="0.00" />
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>แต่ต้องไม่เกิน</mat-label>
                    <input matInput type="number" value="0.00" />
                    <span matSuffix>บาท</span>
                </mat-form-field>
            </div>
        </div>
        <div class="flex_row_end">
            <app-button-save (click)="save()"></app-button-save>
        </div>
    </form>
</mat-card>