<h1 mat-dialog-title>หมวดหมู่การขอแก้ไขทะเบียนประวัติ</h1>
<div mat-dialog-content rtl>
    <div class="row">
        <div class="col-md-12" >
            <mat-form-field appearance="outline" *ngIf="personnelProfileCategories$ | async as personnelProfileCategorie">
                <mat-label>ชื่อหมวดหมู่<span style="color: red">*</span> </mat-label>
                <mat-select [(ngModel)]="personnel_update_detail.personnel_profile_category_id">
                    <mat-option *ngFor="let data of personnelProfileCategorie" [value]="data.personnel_profile_category_id">
                        {{data.personnel_profile_category_name_th}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            
            <mat-form-field appearance="outline">
                <mat-label>หมายเหตุ</mat-label>
                <textarea matInput [(ngModel)]="personnel_update_detail.remark"></textarea>
            </mat-form-field>
        </div>
    </div>
    <br>
    <!-- <mat-card class="mat-elevation-z4" style="padding: 0px 16px 16px 16px;border-radius: 0px;">
        <mat-card-content>
            <mat-list>
                <mat-list-item>เอกสารเพิ่มเติม</mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
            <br>
            <div>
                <app-button-add (click)="openUpload()"></app-button-add>
            </div>
            <br />
            <table mat-table [dataSource]="rows" matSort class="mat-elevation-z2" style="width: 100%;">
                <tr mat-header-row *matHeaderRowDef="['action', '1', '2']"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2']"></tr>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                    <td mat-cell *matCellDef="let data">
                        <app-icon-report></app-icon-report>
                        <app-icon-edit></app-icon-edit>
                        <app-icon-del></app-icon-del>
                    </td>
                </ng-container>
                <ng-container matColumnDef="1">
                    <th mat-header-cell *matHeaderCellDef>ชื่อไฟล์</th>
                    <td mat-cell *matCellDef="let data; let index = index">
                        1
                    </td>
                </ng-container>
                <ng-container matColumnDef="2">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>รายละเอียด</th>
                    <td mat-cell *matCellDef="let data">
                        2
                    </td>
                </ng-container>
            </table>
</mat-card-content>
</mat-card> -->
<div class="row justify-content-center">
    <div class="col-2">
        <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
    </div>
    <div class="col-2">
        <app-button-save-close (click)="saveClose()"></app-button-save-close>&nbsp;&nbsp;
    </div>
    <div class="col-2">
        <app-button-close (click)="close()"></app-button-close>
    </div>
</div>
</div>