<form [formGroup]="form">
<mat-card class="mat-elevation-z4" style="padding: 0px 16px 16px 16px;border-radius: 0px;">
    <mat-card-content>
        <mat-list>
            <mat-list-item>ข้อมูลการขอแก้ไขประวัติ</mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
<br/>
    
    <div class="row">
        <div class="col-md-6" >
            <mat-form-field appearance="outline">
                <mat-label> เลขที่เอกสาร </mat-label>
                <input matInput formControlName="document_no" />
            </mat-form-field>
        </div>

        <div class="col-md-3">
            <mat-form-field appearance="outline">
                <mat-label>วันที่เอกสาร <span style="color: red">*</span></mat-label>
                <input matInput formControlName="request_date" (dateChange)="dateChange()" (selectedValueChange)="dateChange()" matInput
                    (click)="transaction_date.open()" [matDatepicker]="transaction_date" />
                <mat-datepicker-toggle matSuffix [for]="transaction_date">
                </mat-datepicker-toggle>
                <mat-datepicker #transaction_date></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-md-3" >
            <mat-form-field appearance="outline">
                <mat-label>สถานะเอกสาร <span style="color: red">*</span> </mat-label>
                <mat-select formControlName="approve_status">
                    <mat-option *ngFor="let data of approveStatuss$ | async" [value]="data.approve_status_id">
                        {{data.approve_status_name_th}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div> 

    <mat-card class="mat-elevation-z4" style="padding: 0px 16px 16px 16px;border-radius: 0px;">
        <mat-card-content>
            <mat-list>
                <mat-list-item>รายละเอียดบุคลากร</mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
            <br/>
            <div >
                <div class="row">
                    <div class="col-md-6" >
                        <mat-form-field appearance="outline">
                            <input matInput formControlName="personnel_no"
                                placeholder="รหัสบุคลากร" aria-label="State" [matAutocomplete]="personnel_no" />
                            <mat-icon matSuffix>search</mat-icon>
                            <mat-autocomplete #personnel_no="matAutocomplete" style="font-size: 10px;">
                                <mat-option style="font-size: 10px;" *ngFor="let s of employeeData"
                                    (onSelectionChange)="select_personnels(s.personnel_uid)" [value]="s.personnel_no">
                                    {{s.personnel_no}}
                                </mat-option>
                                <mat-option style="font-size: 10px;" *ngIf="employeeData.length == 0">
                                    ไม่พบข้อมูล
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
    
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <input matInput formControlName="citizen_id"
                                placeholder="เลขบัตรประชาชน" aria-label="State" [matAutocomplete]="citizen_id" />
                            <mat-icon matSuffix>search</mat-icon>
                            <mat-autocomplete #citizen_id="matAutocomplete" style="font-size: 10px;">
                                <mat-option style="font-size: 10px;" *ngFor="let s of employeeData"
                                    (onSelectionChange)="select_personnels(s.personnel_uid)" [value]="s.citizen_id">
                                    {{s.citizen_id}}
                                </mat-option>
                                <mat-option style="font-size: 10px;" *ngIf="employeeData.length == 0">
                                    ไม่พบข้อมูล
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" >
                        <mat-form-field appearance="outline">
                            <input matInput formControlName="display_name_th"
                                placeholder="ชื่อ-สกุล" aria-label="State" [matAutocomplete]="personnel_uid" />
                            <mat-icon matSuffix>search</mat-icon>
                            <mat-autocomplete #personnel_uid="matAutocomplete" style="font-size: 10px;">
                                <mat-option style="font-size: 10px;" *ngFor="let s of employeeData"
                                    (onSelectionChange)="select_personnels(s.personnel_uid)" [value]="s.display_name_th">
                                    {{s.display_name_th}}
                                </mat-option>
                                <mat-option style="font-size: 10px;" *ngIf="employeeData.length == 0">
                                    ไม่พบข้อมูล
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
    
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label> อายุ </mat-label>
                            <input matInput disabled #age />
                        </mat-form-field>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-3" >
                        <mat-form-field appearance="outline">
                            <mat-label>วันที่เริ่มปฏิบัติงาน</mat-label>
                            <input disabled formControlName="start_date" matInput (dateChange)="dateChange()" (selectedValueChange)="dateChange()"
                                matInput (click)="employee_start_working_date.open()"
                                [matDatepicker]="employee_start_working_date" />
                            <mat-datepicker-toggle matSuffix [for]="employee_start_working_date">
                            </mat-datepicker-toggle>
                            <mat-datepicker #employee_start_working_date></mat-datepicker>
                        </mat-form-field>
                    </div>
    
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>อายุงาน</mat-label>
                            <input matInput disabled #service_life />
                        </mat-form-field>
                    </div>
    
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>ตำแหน่งงาน</mat-label>
                            <input #position matInput disabled />
                        </mat-form-field>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-6" *ngIf="agencys$ | async as agency">
                        <mat-form-field appearance="outline">
                            <mat-label>หน่วยงาน</mat-label>
                            <input matInput disabled [value]="agency_uid | getDataId : agency : 'agency_uid' : 'agency_name_th' : '' " />
                        </mat-form-field>
                    </div>
    
                 
                </div>
            </div>
        </mat-card-content>
    </mat-card>
<br *ngIf="form.value.personnel_update_history_uid != null">
<mat-card class="mat-elevation-z4" style="padding: 0px 16px 16px 16px;border-radius: 0px;" *ngIf="form.value.personnel_update_history_uid != null">
    <mat-card-content>
        <mat-list>
            <mat-list-item>รายละเอียดการขอแก้ไขประวัติ</mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>

        <br>
        <div>
            <app-button-add (click)="openDialog()"></app-button-add>
        </div>
        <br />
        <table mat-table [dataSource]="form.value.personnel_update_detail" matSort class="mat-elevation-z2" style="width: 100%;">
            <tr mat-header-row *matHeaderRowDef="['action', '1', '2']"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2']"></tr>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                <td mat-cell *matCellDef="let data;let index = index">
                    <app-icon-del (click)="del_personnel_update_detail_form(index,data.personnel_update_detail_uid)"></app-icon-del>
                </td>
            </ng-container>
            <ng-container matColumnDef="1">
                <th mat-header-cell *matHeaderCellDef>หมวดหมู่</th>
                <td mat-cell *matCellDef="let data; let index = index">
                    <ng-container *ngIf="personnelProfileCategories$ | async as personnelProfileCategorie">
                    {{data.personnel_profile_category_id | getDataId : personnelProfileCategorie : 'personnel_profile_category_id' : 'personnel_profile_category_name_th' : ''}}
                </ng-container>
                </td>
            </ng-container>
            <ng-container matColumnDef="2">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>รายละเอียด</th>
                <td mat-cell *matCellDef="let data">
                    {{data.remark}}
                </td>
            </ng-container>
        </table>
    </mat-card-content>
</mat-card>
<br>
<div class="flex_row_end">
    <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
    <app-button-close (click)="close()"></app-button-close>
</div>
    
</mat-card-content>
</mat-card>
</form>
<pre *ngIf="!isHideForm"> {{form.getRawValue()|json}}</pre>