<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <app-layout-search>
            <ng-container content>
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>คำค้นหา</mat-label>
                            <input matInput [(ngModel)]="searchData" (input)="search()" />
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <!-- <div class="row">
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline" >
                    <mat-label> ปีงบประมาณ </mat-label>
                    <input matInput type="number" [(ngModel)]="dataSearch.budget_year" />
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>ชื่อโจทก์ / ผู้ฟ้องคดี  </mat-label>
                        <input type="text" 
                        placeholder="" 
                        [(ngModel)]="dataSearch.plaintiff_name"
                        aria-label="Number" 
                        matInput 
                        [matAutocomplete]="auto1">
                        <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete">
                            <mat-option>
                            </mat-option>
                        </mat-autocomplete>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>ชื่อจำเลย / ผู้ถูกฟ้องคดี  </mat-label>
                        <input type="text" 
                        placeholder="" 
                        [(ngModel)]="dataSearch.accused_name"
                        aria-label="Number" 
                        matInput 
                        [matAutocomplete]="auto2">
                        <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete">
                            <mat-option>
                            </mat-option>
                        </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>สถานะเอกสาร</mat-label>
                    <mat-select [(ngModel)]="dataSearch.discipline_approve_status_id">
                        <mat-option *ngFor="let item of approveStatuss$ | async" [value]="item.discipline_approve_status_id">{{item.discipline_approve_status_name_th}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        
        <div class="row justify-content-md-center">
            <div>
                <app-button-search (click)="search()"></app-button-search>
                <app-button-reset (click)="clear()"></app-button-reset>
            </div>
        </div>   -->
            </ng-container>
        </app-layout-search>

        <div>
            <app-button-add (click)="addPage()"></app-button-add>
        </div>
        <br />
        <ng-container *ngIf="personnel$ | async as personnel ">
            <ng-container *ngIf="approveStatuss$ | async as approveStatuss ">
                <table mat-table [dataSource]="rows" matSort class="mat-elevation-z2" style="width: 100%;">
                    <tr mat-header-row *matHeaderRowDef="['action', '1', '2','3','4','5','6','7']"></tr>
                    <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2','3','4','5','6','7']"></tr>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                        <td mat-cell *matCellDef="let data">
                            <app-icon-edit (click)="editPage(data.adjudicate_request_uid)"></app-icon-edit>
                            <app-icon-del (click)="deleteItem(data.adjudicate_request_uid)"></app-icon-del>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="1">
                        <th mat-header-cell *matHeaderCellDef>ปีงบประมาณ </th>
                        <td mat-cell *matCellDef="let data; let index = index">
                            {{data.budget_year}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="2">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> เลขที่เอกสาร </th>
                        <td mat-cell *matCellDef="let data">
                            {{data.document_no}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="3">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่เอกสาร </th>
                        <td mat-cell *matCellDef="let data">
                            {{data.document_date | thaiDate}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="4">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อโจทก์ / ผู้ฟ้องคดี </th>
                        <td mat-cell *matCellDef="let data">
                            {{data.plaintiff_name}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="5">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อจำเลย / ผู้ถูกฟ้องคดี </th>
                        <td mat-cell *matCellDef="let data">
                            {{data.accused_name}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="6">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ผู้รับเรื่อง </th>
                        <td mat-cell *matCellDef="let data">
                            {{data.informed_personnel_uid | getDataId : personnel : 'personnel_uid' : 'display_name_th'
                            : '' }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="7">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> สถานะเอกสาร </th>
                        <td mat-cell *matCellDef="let data">
                            {{data.discipline_approve_status_id | getDataId : approveStatuss :
                            'discipline_approve_status_id' : 'discipline_approve_status_name_th' : '' }}
                        </td>
                    </ng-container>

                </table>
            </ng-container>
        </ng-container>
        <br>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>