<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <app-layout-search>
            <ng-container content>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>หน่วยงานที่บรรจุ</mat-label>
                            <mat-select [(ngModel)]="dataSearch.agency_uid">
                                <mat-option *ngFor="let item of agencyDatas" [value]="item.agency_uid">
                                    {{item.agency_name_th}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>ตำแหน่งงาน</mat-label>
                            <mat-select [(ngModel)]="dataSearch.position_uid">
                                <mat-option *ngFor="let item of positionDatas" [value]="item.position_uid">
                                    {{item.position_name_th}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>วันที่เอกสารเริ่มต้น</mat-label>
                            <input matInput [matDatepicker]="fromDate" [(ngModel)]="startDate">
                            <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                            <mat-datepicker #fromDate></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>วันที่เอกสารสิ้นสุด</mat-label>
                            <input matInput [matDatepicker]="toDate" [(ngModel)]="endDate">
                            <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                            <mat-datepicker #toDate></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <!-- <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>สถานะเอกสาร</mat-label>
                    <mat-select>
                        <mat-option value="one">First option</mat-option>
                        <mat-option value="two">Second option</mat-option>
                    </mat-select>
                </mat-form-field>
            </div> -->
                </div>

                <div class="row justify-content-md-center">
                    <div>
                        <app-button-search class="paddingInput" (click)="search()"></app-button-search>
                        <app-button-reset class="paddingInput" (click)="clear()"></app-button-reset>
                    </div>
                </div>
            </ng-container>
        </app-layout-search>
        <!-- <div>
            <app-button-add (click)="addPage()"></app-button-add>
        </div> -->
        <br />

        <mat-tab-group>
            <mat-tab label="รอสรรหา">
                <table mat-table [dataSource]="rows1" matSort #t1Sort="matSort" class="mat-elevation-z2"
                    style="width: 100%;">
                    <tr mat-header-row *matHeaderRowDef="['action', '1', '2','3','4','5']"></tr>
                    <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2','3','4','5']"></tr>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                        <td mat-cell *matCellDef="let data">
                            <app-icon-edit (click)="editPage(data.selection_request_uid)"></app-icon-edit>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="1">
                        <th mat-header-cell *matHeaderCellDef>เลขที่เอกสาร </th>
                        <td mat-cell *matCellDef="let data; let index = index">
                            {{data.document_no}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="2">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> หน่วยงานที่บรรจุ </th>
                        <td mat-cell *matCellDef="let data">
                            {{data.agency.agency_name_th}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="3">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ตำแหน่งงาน </th>
                        <td mat-cell *matCellDef="let data">
                            {{data.position.position_name_th}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="4">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ประเภทบุคลากร </th>
                        <td mat-cell *matCellDef="let data">
                            {{data.personnel_type_id | getDataId : personnelTypes : 'personnel_type_id' :
                            'personnel_type_name_th' : ''}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="5">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> จำนวนที่ขอสรรหา </th>
                        <td mat-cell *matCellDef="let data">
                            {{data.selection_request_manpower.length}}
                        </td>
                    </ng-container>
                </table>
                <br>
                <mat-paginator #t1Paginator="matPaginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
                </mat-paginator>
            </mat-tab>
            <mat-tab label="สรรหาแล้ว">
                <table mat-table [dataSource]="rows2" matSort #t2Sort="matSort" class="mat-elevation-z2"
                    style="width: 100%;">
                    <tr mat-header-row *matHeaderRowDef="['action', '1', '2','3','4','5','6']"></tr>
                    <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2','3','4','5','6']"></tr>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                        <td mat-cell *matCellDef="let data">
                            <app-icon-edit (click)="editPage2(data.selection_request_uid)"></app-icon-edit>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="1">
                        <th mat-header-cell *matHeaderCellDef>เลขที่เอกสาร </th>
                        <td mat-cell *matCellDef="let data; let index = index">
                            {{data.document_no}}
                            <!-- {{data.selection_request_uid | getDataId : requestDatas : 'selection_request_uid' : 'document_no' : '' }} -->
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="2">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> หน่วยงานที่บรรจุ </th>
                        <td mat-cell *matCellDef="let data">
                            {{data.agency.agency_name_th}}
                            <!-- {{data.selection_request_uid | getDataId : requestDatas : 'selection_request_uid' : 'agency_uid' : '' | getDataId : agencyDatas : 'agency_uid' : 'agency_name_th' : ''}} -->
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="3">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ตำแหน่งงาน </th>
                        <td mat-cell *matCellDef="let data">
                            {{data.position.position_name_th}}
                            <!-- {{data.selection_request_uid | getDataId : requestDatas : 'selection_request_uid' : 'position_uid' : '' | getDataId : positionDatas : 'position_uid' : 'position_name_th' : ''}} -->
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="4">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ประเภทบุคลากร </th>
                        <td mat-cell *matCellDef="let data">
                            {{data.personnel_type_id | getDataId : personnelTypes : 'personnel_type_id' :
                            'personnel_type_name_th' : ''}}
                            <!-- {{data.selection_request_uid | getDataId : requestDatas : 'selection_request_uid' : 'personnel_type_id' : '' | getDataId : personnelTypes : 'personnel_type_id' : 'personnel_type_name_th' }} -->
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="5">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> จำนวนที่ขอสรรหา </th>
                        <td mat-cell *matCellDef="let data">
                            {{data.selection_request_manpower.length}}
                            <!-- {{data.selection_request_uid | getDataId : requestDatas : 'selection_request_uid' : 'selection_request_manpower.length' : '' }} -->
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="6">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> จำนวนที่สรรหาได้ </th>
                        <td mat-cell *matCellDef="let data">
                            {{data.selection_result_count}}
                        </td>
                    </ng-container>
                </table>
                <br>
                <mat-paginator #t2Paginator="matPaginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
                </mat-paginator>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>