<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <div class="row">
            <div class="col-md-2">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>ระดับการศึกษา <span style="color: red">*</span></mat-label>
                    <mat-select [(ngModel)]="educations.education_level_id" >
                        <mat-option *ngFor="let data of educationLevels$ | async" [value]="data.education_level_id">
                            {{data.education_level_name_th}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>ชื่อปริญญา/ประกาศนียบัตร <span style="color: red">*</span></mat-label>
                    <mat-select   [(ngModel)]="educations.quali_id">
                        <mat-option *ngFor="let data of qualifications$ | async" [value]="data.qualification_id">
                            {{data.qualification_name_th}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>สาขาวิชา</mat-label>
                    <input matInput  type="text" [(ngModel)]="educations.field_name"/>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>ชื่อสถานศึกษา <span style="color: red">*</span></mat-label>
                    <input matInput  type="text" [(ngModel)]="educations.other_institute_name"/>
                </mat-form-field>
            </div>
            
            <!-- <div class="col-md-6">
                <section class="example-section">
                    <mat-radio-group [(ngModel)]="name">
                      <mat-radio-button class="example-margin" [value]="0">ชื่อสถานศึกษา<span style="color: red">*</span></mat-radio-button>
                      <mat-radio-button class="example-margin" [value]="1" style="padding-left: 100px;">ชื่อสถานศึกษาอื่น ๆ<span style="color: red">*</span></mat-radio-button>
                    </mat-radio-group>
                  </section>
              
            </div> -->
        </div>
        <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>วันที่เริ่มเข้าศึกษา <span style="color: red">*</span></mat-label>
                        <input matInput [matDatepicker]="fromDate2" [(ngModel)]="educations.start_date">
                        <mat-datepicker-toggle matSuffix [for]="fromDate2"></mat-datepicker-toggle>
                        <mat-datepicker #fromDate2></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>วันที่สำเร็จการศึกษา <span style="color: red">*</span></mat-label>
                        <input matInput [matDatepicker]="fromDate1" [(ngModel)]="educations.finish_date">
                        <mat-datepicker-toggle matSuffix [for]="fromDate1"></mat-datepicker-toggle>
                        <mat-datepicker #fromDate1></mat-datepicker>
                    </mat-form-field>
                </div>
            
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>คะแนนเฉลี่ย <span style="color: red">*</span></mat-label>
                    <input matInput  type="number" [(ngModel)]="educations.grade"/>
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<br />
<div class="row justify-content-center">
    <div class="col-2">
        <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
    </div>
    <div class="col-2">
        <app-button-save-close (click)="saveClose()"></app-button-save-close>&nbsp;&nbsp;
    </div>
    <div class="col-2">
        <app-button-close (click)="close()"></app-button-close>
    </div>
</div>