<form [formGroup]="form">
        <mat-card class="mat-elevation-z4">
            <mat-card-content>
                <label for="">ลำดับผู้ผ่านการคัดเลือก</label>
                <br/>
                <!-- <ng-container formArrayName="request"> -->
                    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z2"  formArrayName="datas"
                        style="width: 100%;margin-top: 10px;">
                        <!-- <tr mat-header-row *matHeaderRowDef="['2','3','4','5','6']"></tr>
                        <tr mat-row *matRowDef="let myRowData; columns: ['2','3','4','5','6']"></tr> -->
                       
                        <ng-container matColumnDef="2">
                            <th style="width: 10%;" mat-header-cell *matHeaderCellDef mat-sort-header> ลำดับ </th>
                            <td mat-cell *matCellDef="let element ; let index = index" [formGroupName]="index">
                                <div class="flex">
                                    <mat-form-field class="paddingInput" appearance="outline" style="width: 100%;">
                                        <input matInput type="number" formControlName="assign_order"  />
                                    </mat-form-field>
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="3">
                            <th style="width: 20%;" mat-header-cell *matHeaderCellDef mat-sort-header>
                                เลขที่อัตรา
                            </th>
                            <td mat-cell *matCellDef="let element ; let index = index" [formGroupName]="index" >
                                <div class="flex">
                                    <ng-container *ngIf="this.manpower != 0">
                                    <mat-form-field class="paddingInput" appearance="outline" style="width: 100%;">
                                        <mat-select formControlName="manpower_uid">
                                            <mat-option *ngFor="let item of dataEditRequest?.selection_request_manpower" [value]="item.manpower_uid" >{{item.manpower_uid | getDataId : manpower : 'manpower_uid' : 'manpower_no' : '' }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </ng-container>
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="4">
                            <th  mat-header-cell *matHeaderCellDef mat-sort-header>ชื่อ-สกุล</th>
                            <td mat-cell *matCellDef="let element ; let index = index" [formGroupName]="index">
                                {{element.value.application_uid | getDataId : applicant : 'applicant_uid' : 'first_name_th' : ''}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                {{element.value.application_uid | getDataId : applicant : 'applicant_uid' : 'last_name_th' : '' }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="5">
                            <th style="width: 15%;" mat-header-cell *matHeaderCellDef mat-sort-header> ผลรวมคะแนน </th>
                            <td mat-cell *matCellDef="let element ; let index = index" [formGroupName]="index">
                                {{element.value.written_exam_1_score + element.value.written_exam_2_score + element.value.interview_score}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="6">
                            <th style="width: 15%;" mat-header-cell *matHeaderCellDef mat-sort-header> สร้างสัญญาจ้าง </th>
                            <td mat-cell *matCellDef="let element ; let index = index" [formGroupName]="index">
                                <app-button-add [name]="'สร้างสัญญาจ้าง'" (click)="addEm(element.value)"></app-button-add>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    </table>
                <!-- </ng-container> -->
                <br>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </mat-card-content>
        </mat-card>
        <br>
</form>
<div class="flex_row_end">
<app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
<app-button-close (click)="close()"></app-button-close>
</div>
            <!-- <app-button-add (click)="save()"></app-button-add> -->