<form [formGroup]="form">
<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <ng-container *ngIf="state == 'edit'">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline" >
                    <mat-label>เลขที่เอกสาร </mat-label>
                    <input matInput type="text"  formControlName="document_no" disabled/>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline" >
                    <mat-label>วันที่เอกสาร<span style="color: red">*</span></mat-label>
                    <input matInput [matDatepicker]="fromDate" disabled formControlName="request_date">
                    <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                    <mat-datepicker #fromDate></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        </ng-container>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline" >
                    <mat-label>กลุ่มบุคลากร<span style="color: red">*</span></mat-label>
                    <mat-select formControlName="personnel_group_id">
                        <mat-option *ngFor="let item of personnelGroups$ | async" [value]="item.personnel_group_id">{{item.personnel_group_name_th}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline" >
                    <mat-label>ประเภทบุคลากร<span style="color: red">*</span></mat-label>
                    <mat-select formControlName="personnel_type_id">
                        <mat-option *ngFor="let item of personnelTypes$ | async" [value]="item.personnel_type_id">{{item.personnel_type_name_th}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline" >
                    <mat-label>หน่วยงานที่บรรจุ<span style="color: red">*</span></mat-label>
                    <mat-select formControlName="agency_uid">
                        <mat-option *ngFor="let item of agencys$ | async" [value]="item.agency_uid">{{item.agency_name_th}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline" >
                    <mat-label>ตำแหน่ง<span style="color: red">*</span></mat-label>
                    <mat-select formControlName="position_uid" (selectionChange)="getPosition(form.value.position_uid)">
                        <mat-option *ngFor="let item of position$ | async" [value]="item.position_uid">{{item.position_name_th}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline" >
                    <mat-label>วุฒิการศึกษา<span style="color: red">*</span></mat-label>
                    <mat-select formControlName="education_level_id">
                        <mat-option *ngFor="let item of educationLevels$ | async" [value]="item.education_level_id">{{item.education_level_name_th}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline" >
                    <mat-label>คุณวุฒิ<span style="color: red">*</span></mat-label>
                    <mat-select formControlName="qualification_id">
                        <mat-option *ngFor="let item of qualifications$ | async" [value]="item.qualification_id">{{item.qualification_name_th}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="paddingInput" appearance="outline" >
                    <mat-label>หมายเหตุ<span style="color: red">*</span></mat-label>
                    <textarea matInput formControlName="remark"></textarea>
                </mat-form-field>
            </div>
        </div>

        <label for="">วิธีการสรรหา</label>
        <div class="row">
            <div class="col-md-6">
                <section class="example-section">
                    <mat-checkbox formControlName="has_exam">การสอบข้อเขียน</mat-checkbox>
                </section>
            </div>
            <div class="col-md-6">
                <section class="example-section">
                    <mat-checkbox   formControlName="has_interview">สัมภาษณ์</mat-checkbox>
                </section>
            </div>
        </div>
        <br>
        <mat-card class="mat-elevation-z4">
            <mat-card-content>
                <label for="">เลขที่อัตราสรรหา</label>
                <div>
                    <app-button-add (click)="popupNumberAdd()"></app-button-add>
                </div>
                <br>
                <table mat-table [dataSource]="form.value.selection_request_manpower" matSort
                    class="mat-elevation-z2" style="width: 100%;">
                    <tr mat-header-row *matHeaderRowDef="['action', '1','2','3']"></tr>
                    <tr mat-row *matRowDef="let myRowData; columns: ['action', '1','2','3']"></tr>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                        <td mat-cell *matCellDef="let data ;let i = index">
                            <app-icon-edit (click)="popupNumberEdit(data,i)"></app-icon-edit>
                            <app-icon-del (click)="deleteDetail(data,i)"></app-icon-del>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="1">
                        <th mat-header-cell *matHeaderCellDef>เลขที่อัตรา </th>
                        <td mat-cell *matCellDef="let data; let index = index">
                                {{data.manpower_uid | getDataId : manpowerDatas : 'manpower_uid' : 'manpower_no' : '' }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="2">
                        <th mat-header-cell *matHeaderCellDef>ตำแหน่ง</th>
                        <td mat-cell *matCellDef="let data; let index = index">
                                {{data.manpower_uid | getDataId : manpowerDatas : 'manpower_uid' : 'position_uid' : '' | getDataId : positionDatas : 'position_uid' : 'position_name_th' : ''}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="3">
                        <th mat-header-cell *matHeaderCellDef>สถานะอัตรา</th>
                        <td mat-cell *matCellDef="let data; let index = index">
                                {{data.manpower_using_status_id | getDataId : usingStatuss : 'manpower_using_status_id' : 'manpower_using_status_name_th' : ''}}
                        </td>
                    </ng-container>
                </table>
                <br>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </mat-card-content>
        </mat-card>
        <br>
        <mat-card class="mat-elevation-z4">
            <mat-card-content>
                <label for="">เอกสารแนบ</label>
                <div>
                    <app-button-add (click)="addfile()"></app-button-add>
                </div>
                <br>
                <table mat-table [dataSource]="form.value.selection_request_document" matSort class="mat-elevation-z2" style="width: 100%;">
                    <tr mat-header-row *matHeaderRowDef="['action', '1', '2']"></tr>
                    <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2']"></tr>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                        <td mat-cell *matCellDef="let data ; let i = index">
                            <app-icon-edit (click)="editfile(data,i)"></app-icon-edit>
                            <app-icon-download (click)="downloadDoc(data.document_url)"></app-icon-download>
                            <app-icon-del (click)="deleteItemDoc(data.selection_request_document_uid,i)"></app-icon-del>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="1">
                        <th mat-header-cell *matHeaderCellDef>ชื่อไฟล์ </th>
                        <td mat-cell *matCellDef="let data; let index = index">
                            {{data.file_name}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="2">
                        <th mat-header-cell *matHeaderCellDef>รายละเอียด </th>
                        <td mat-cell *matCellDef="let data; let index = index">
                            {{data.remark}}
                        </td>
                    </ng-container>
                </table>
                <br>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </mat-card-content>
        </mat-card>
        <br>
            <div class="flex_row_end">
                <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
                <app-button-close (click)="close()"></app-button-close>
            </div>
    </mat-card-content>
</mat-card>
<pre *ngIf="!isHideForm">{{form.getRawValue()|json}}</pre>
</form>