<form [formGroup]="form">
    <mat-card class="mat-elevation-z4">
        <mat-card-content>
            <div class="row">
                <div class="col-md-4"> 
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>วันที่</mat-label>
                        <input matInput type="number" formControlName="bestow_day" />
                    </mat-form-field>
                </div>
                <div class="col-md-4"> 
                <mat-form-field class="paddingInput" appearance="outline" >
                    <mat-label>เดือน<span style="color: red">*</span></mat-label>
                    <mat-select formControlName="bestow_month">
                        <mat-option *ngFor="let data of mount" [value]="data.id">{{data.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                </div>
                <div class="col-md-4"> 
                    <mat-form-field class="paddingInput" appearance="outline"  *ngIf="status$ | async as status">
                        <mat-label>สถานะ<span style="color: red">*</span></mat-label>
                        <mat-select formControlName="status_id">
                            <mat-option *ngFor="let data of status" [value]="data.status_id">{{data.status_name_th}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="flex_row">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>รายละเอียดการติดต่อ</mat-label>
                            <textarea matInput formControlName="bestow_description"></textarea>
                        </mat-form-field>
            </div>
            
            <br>
            <div class="flex_row_end">
                <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
                <app-button-close (click)="close()"></app-button-close>
            </div>
        </mat-card-content>
    </mat-card>
</form>

<pre *ngIf="!isHideForm">{{form.getRawValue()|json}}</pre>