<div class="card-body">
    <h2 class="card-title">{{state == 'add' ? 'เพิ่ม' : ' แก้ไข'}}ข้อมูลรายได้</h2>
    <form [formGroup]="form">
        <mat-card class="mat-elevation-z4">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>รหัสรายได้<span style="color: red">*</span></mat-label>
                        <mat-select formControlName="income_type_id">
                            <mat-option *ngFor="let data of incomeTypesDatas" [value]="data?.income_type_id">{{data?.income_type_name_th}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>จำนวน<span style="color: red">*</span></mat-label>
                        <input matInput type="number" value="0.00" formControlName="income_amount" />
                        <span matSuffix>บาท</span>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-checkbox class="example-margin" formControlName="suspend_payment_status">สถานะยกเลิกการทำจ่ายหรือหัก</mat-checkbox>
                </div>
            </div>

            <div class="flex_row_end">
                <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
                <app-button-close (click)="close()"></app-button-close>
            </div>
        </mat-card>
    </form>
    <pre *ngIf="!isHideForm">{{ form.getRawValue() | json}}</pre>
</div>