<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <ng-container *ngIf="personnels$ | async as personnels">
            <ng-container *ngIf="punishmentTypes$ | async as punishmentTypes">
                <ng-container *ngIf="status$ | async as status">
                    <app-layout-search>
                        <ng-container content>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>คำค้นหา</mat-label>
                                        <input matInput [(ngModel)]="searchData" (input)="search()" />
                                        <mat-icon matSuffix>search</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!-- <div class="row">
                        <div class="col-md-4">
                            <mat-form-field class="paddingInput" appearance="outline">
                                <mat-label>ชื่อผู้อุทรณ์ / ร้องทุกข์</mat-label>
                                <input 
                                matInput 
                                type="text" 
                                placeholder="" 
                                aria-label="Number"
                                [(ngModel)]="name"
                                [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let item of personnels | serachAuto : name : 'first_name_th'"
                                        [value]="item.first_name_th">
                                        {{item.first_name_th}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="paddingInput" appearance="outline">
                                <mat-label>ประเภทบทลงโทษ</mat-label>
                                <mat-select [(ngModel)]="dataSearch.punishment_type_id">
                                    <mat-option *ngFor="let item of punishmentTypes" [value]="item.punishment_type_id">
                                        {{item.punishment_type_name_th}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="paddingInput" appearance="outline">
                                <mat-label>สถานะเอกสาร</mat-label>
                                <mat-select [(ngModel)]="dataSearch.discipline_approve_status_id">
                                    <mat-option *ngFor="let item of status" [value]="item.discipline_approve_status_id">
                                        {{item.discipline_approve_status_name_th}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div> -->

                            <!-- <div class="row">
            <div class="col-md-1">
                <mat-label>ประเภทเรื่อง:</mat-label>
            </div>
            <div class="col-md-1">
                <section class="example-section">
                    <mat-checkbox  >อุทธรณ์</mat-checkbox>
                </section>
            </div>
            <div class="col-md-1">
                <section class="example-section">
                    <mat-checkbox  >ร้องทุกข์</mat-checkbox>
                </section>
            </div>
        </div> -->
                            <div class="row justify-content-md-center">
                                <div>
                                    <app-button-search class="paddingInput"(click)="search()"></app-button-search>
                                    <app-button-reset class="paddingInput"(click)="clear()"></app-button-reset>
                                </div>
                            </div>
                        </ng-container>
                    </app-layout-search>
                    <div>
                        <app-button-add (click)="addPage()"></app-button-add>
                    </div>
                    <br />


                    <ng-container *ngIf="offenders$ | async as offenders">
                        <table mat-table [dataSource]="rows" matSort class="mat-elevation-z2" style="width: 100%;">
                            <tr mat-header-row *matHeaderRowDef="['action', '1', '2','3','4','5','6','7']"></tr>
                            <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2','3','4','5','6','7']">
                            </tr>
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                                <td mat-cell *matCellDef="let data">
                                    <app-icon-edit (click)="editPage(data.appeal_request_uid)"></app-icon-edit>
                                    <app-icon-del (click)="deleteItem(data.appeal_request_uid)"></app-icon-del>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="1">
                                <th mat-header-cell *matHeaderCellDef>เลขที่เอกสาร </th>
                                <td mat-cell *matCellDef="let data; let index = index">
                                    {{data.document_no}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="2">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่รับเรื่อง </th>
                                <td mat-cell *matCellDef="let data">
                                    {{data.informed_date | thaiDate}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="3">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> ประเภทเรื่อง </th>
                                <ng-container *matCellDef="let data">
                                    <td mat-cell>
                                        <div *ngIf="(data.is_appeal_request == true && data.is_complain == false);">
                                            อุทธรณ์
                                        </div>
                                        <div *ngIf="(data.is_complain == true && data.is_appeal_request == false );">
                                            ร้องทุกข์
                                        </div>
                                        <div *ngIf="(data.is_complain == true && data.is_appeal_request == true );">
                                            อุทธรณ์/ร้องทุกข์
                                        </div>
                                    </td>
                                </ng-container>
                            </ng-container>
                            <ng-container matColumnDef="4">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อผู้อุทรณ์ / ร้องทุกข์ </th>
                                <td mat-cell *matCellDef="let data">
                                    {{data.discipline_request_offender_uid | getDataId : offenders :
                                    'discipline_request_offender_uid' : 'personnel_uid' : '' | getDataId : personnels :
                                    'personnel_uid' : 'display_name_th' : '' }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="5">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> ผู้รับผิดชอบ </th>
                                <td mat-cell *matCellDef="let data">
                                    {{data.responsible_personnel_guid | getDataId : personnels : 'personnel_uid' :
                                    'display_name_th' : '' }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="6">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> สถานะเอกสาร </th>
                                <td mat-cell *matCellDef="let data">
                                    {{data.discipline_approve_status_id | getDataId : status :
                                    'discipline_approve_status_id' : 'discipline_approve_status_name_th' : '' }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="7">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> ประเภทบทลงโทษ </th>
                                <td mat-cell *matCellDef="let data">
                                    {{data.punishment_type_id | getDataId : punishmentTypes : 'punishment_type_id' :
                                    'punishment_type_name_th' : '' }}
                                </td>
                            </ng-container>
                            <!-- <ng-container matColumnDef="8">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่เริ่มต้น </th>
                <td mat-cell *matCellDef="let data">
                    4
                </td>
            </ng-container>
            <ng-container matColumnDef="9">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่สิ้นสุด </th>
                <td mat-cell *matCellDef="let data">
                    4
                </td>
            </ng-container> -->
                        </table>
                    </ng-container>
                </ng-container>
            </ng-container>
        </ng-container>
        <br>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>