<h1 mat-dialog-title>ผลงานวิชาการ</h1>
<div mat-dialog-content rtl>
    <div >
        <div class="row">
            <div class="col-md-12" >
                <mat-form-field appearance="outline">
                    <mat-label>ชื่อผลงานวิชาการ<span style="color: red">*</span></mat-label>
                    <input  matInput [(ngModel)]="personnel_academic_worksForm.academic_work_title_name" />
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>ชื่อวารสาร</mat-label>
                    <input  matInput [(ngModel)]="personnel_academic_worksForm.journal_name" />
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline" *ngIf="academicWorkTypes$ | async as academicWorkTypes">
                    <mat-label>ประเภทผลงาน<span style="color: red">*</span> </mat-label>
                    <mat-select [(ngModel)]="personnel_academic_worksForm.academic_work_type_id">
                        <mat-option *ngFor="let data of academicWorkTypes" [value]="data.academic_work_type_id">
                            {{data.academic_work_type_name_th}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-2">
            <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
        </div>
        <div class="col-2">
            <app-button-save-close (click)="saveClose()"></app-button-save-close>&nbsp;&nbsp;
        </div>
        <div class="col-2">
            <app-button-close (click)="close()"></app-button-close>
        </div>
    </div>
</div>