<button mat-icon-button  aria-label="Example icon button with a home icon" style="position: sticky;">
    <span class="material-icons" style="color: red;font-size: 20px;" >
        highlight_off
    </span>
</button>