<h1 mat-dialog-title>ตำแหน่งบริหาร</h1>
<div mat-dialog-content rtl>
    <div class="row">
        <div class="col-md-4" >
            <mat-form-field appearance="outline" *ngIf="position$ | async as positions">
                <mat-label>ตำแหน่งงานใหม่<span style="color: red">*</span> </mat-label>
                <mat-select [(ngModel)]="personnel_executive_position.position_uid">
                    <mat-option *ngFor="let data of positions" [value]="data.position_uid">
                        {{data.position_name_th}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-4"  >
            <section class="example-section">
                <mat-checkbox [(ngModel)]="personnel_executive_position.is_deputy" class="example-margin">รักษาการแทน</mat-checkbox>
            </section>
        </div>
        <div class="col-md-4">
            <mat-form-field appearance="outline">
                <mat-label>เงินประจำตำแหน่ง</mat-label>
                <input matInput type="number" [(ngModel)]="personnel_executive_position.salary_amount" />
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"  >
            <mat-form-field appearance="outline">
                <mat-label>วันที่เริ่มดำรงตำแหน่ง</mat-label>
                <input matInput [(ngModel)]="personnel_executive_position.start_date" (dateChange)="dateChange()" (selectedValueChange)="dateChange()"
                    matInput (click)="start_date.open()"
                    [matDatepicker]="start_date" />
                <mat-datepicker-toggle matSuffix [for]="start_date">
                </mat-datepicker-toggle>
                <mat-datepicker #start_date></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-md-4"  >
            <mat-form-field appearance="outline">
                <mat-label>วันที่สิ้นสุดดำรงตำแหน่ง</mat-label>
                <input matInput [(ngModel)]="personnel_executive_position.end_date" (dateChange)="dateChange()" (selectedValueChange)="dateChange()"
                    matInput (click)="end_date.open()"
                    [matDatepicker]="end_date" />
                <mat-datepicker-toggle matSuffix [for]="end_date">
                </mat-datepicker-toggle>
                <mat-datepicker #end_date></mat-datepicker>
            </mat-form-field>
        </div>
      
    </div>
    <div class="row">
        <div class="col-md-12">
            
            <mat-form-field appearance="outline">
                <mat-label>หมายเหตุ</mat-label>
                <textarea matInput [(ngModel)]="personnel_executive_position.remark" ></textarea>
            </mat-form-field>
        </div>
    </div>

<div class="row justify-content-center">
    <div class="col-2">
        <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
    </div>
    <div class="col-2">
        <app-button-save-close (click)="saveClose()"></app-button-save-close>&nbsp;&nbsp;
    </div>
    <div class="col-2">
        <app-button-close (click)="close()"></app-button-close>
    </div>
</div>
</div>