<div class="card-body">
    <h2 class="card-title">{{state == 'add' ? 'สร้าง' : ' แก้ไข'}}ข้อมูลปรับเลื่อนค่าตอบแทน</h2>
    <form [formGroup]="form">
        <mat-card class="mat-elevation-z4">
            <mat-card-content>
                <mat-card class="mat-elevation-z4">
                    <mat-card-content>
                        <label for="">ข้อมูลทั่วไป</label>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>ปีงบประมาณ<span style="color: red">*</span></mat-label>
                                    <mat-select>
                                        <mat-option value="one">First option</mat-option>
                                        <mat-option value="two">Second option</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>วันที่เลื่อน<span style="color: red">*</span></mat-label>
                                    <input matInput [matDatepicker]="picker1" (click)="picker1.open()">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>ประเภทบุคลากร<span style="color: red">*</span></mat-label>
                                    <mat-select>
                                        <mat-option value="one">First option</mat-option>
                                        <mat-option value="two">Second option</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>ชื่อหน่วยงาน<span style="color: red">*</span></mat-label>
                                    <mat-select>
                                        <mat-option value="one">First option</mat-option>
                                        <mat-option value="two">Second option</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>นำเข้าข้อมูล</mat-label>
                                <ngx-mat-file-input formControlName="outline" placeholder="เลือกไฟล์">
                                </ngx-mat-file-input>
                                <span matSuffix>Browse</span>
                            </mat-form-field>
                        </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>ผู้จัดทำข้อมูล</mat-label>
                                    <input matInput disabled />
                                </mat-form-field>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>รวมค่าตอบแทน</mat-label>
                                    <input matInput value="0.00" disabled />
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>รวมใช้เลื่อน</mat-label>
                                    <input matInput value="0.00" disabled />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <mat-form-field appearance="outline">
                                    <mat-label>วงเงินการเลื่อน<span style="color: red">*</span></mat-label>
                                    <input matInput type="number" value="0.00" />
                                    <span matSuffix>%</span>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field appearance="outline">
                                    <mat-label>กรอบวงเงินที่สามารถเลื่อนได้</mat-label>
                                    <input matInput value="0.00" disabled />
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>วงเงินคงเหลือ</mat-label>
                                    <input matInput value="0.00" disabled />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <mat-form-field appearance="outline">
                                    <mat-label>รหัสรายได้ค่าตอบแทนพิเศษ<span style="color: red">*</span></mat-label>
                                    <mat-select>
                                        <mat-option value="one">First option</mat-option>
                                        <mat-option value="two">Second option</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>

            </mat-card-content>
            <br>
            <div class="flex_row_end">
                <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
                <app-button-close (click)="close()"></app-button-close>
            </div>
        </mat-card>
    </form>
</div>