<div class="card-body">
    <h2 class="card-title">{{state == 'add' ? 'เพิ่ม' : ' แก้ไข'}}ข้อมูลข้อมูลสมาชิกประกันสังคม</h2>
    <form [formGroup]="form">
        <mat-card class="mat-elevation-z4">
            <mat-card-content>
                <label for="">ข้อมูลทั่วไป</label>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>รหัสบุคลากร<span style="color: red">*</span></mat-label>
                            <mat-select formControlName="personnel_uid">
                                <mat-option *ngFor="let data of personnelDatas" [value]="data?.personnel_uid">{{data?.first_name_th}}&nbsp;&nbsp;{{data?.last_name_th}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>เลขที่ตำแหน่งงาน </mat-label>
                            <input matInput [value]="form?.value?.personnel_uid | getDataId : personnelDatas : 'personnel_uid' : 'personnel_no' : ''" disabled />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>ชื่อตำแหน่ง </mat-label>
                            <input matInput [value]="form?.value?.personnel_uid | getDataId : personnelDatas : 'personnel_uid' : 'personnel_skills' : ''" disabled />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>ชื่อหน่วยงาน </mat-label>
                            <input matInput [value]="form?.value?.personnel_uid | getDataId : personnelDatas : 'personnel_uid' : 'personnel_academic_works' : ''" disabled />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>คณะ/สถาบัน/กอง/สำนัก </mat-label>
                            <input matInput [value]="form?.value?.personnel_uid | getDataId : personnelDatas : 'personnel_uid' : 'personnel_educations' : ''" disabled />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>หักประกันสังคมหรือไม่<span style="color: red">*</span></mat-label>
                            <mat-select formControlName="is_deduct">
                                <mat-option [value]="true">หัก</mat-option>
                                <mat-option [value]="false">ไม่หัก</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>เลขที่บัตรประกันสังคม<span style="color: red">*</span></mat-label>
                            <input matInput formControlName="social_security_no" disabled />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>มีประกันสังคมมาก่อนหรือไม่</mat-label>
                            <mat-select formControlName="has_previous_social_security">
                                <mat-option [value]="true">มี</mat-option>
                                <mat-option [value]="false">ไม่มี</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>ชื่อสถานประกอบการ</mat-label>
                            <input matInput formControlName="previous_company_name" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>สถานพยาบาล</mat-label>
                            <input matInput formControlName="hospital_name" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>สถานพยาบาลสำรองที่ 1</mat-label>
                            <input matInput formControlName="hospital1_name" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>สถานพยาบาลสำรองที่ 2</mat-label>
                            <input matInput formControlName="hospital2_name" />
                        </mat-form-field>
                    </div>
                </div>

            </mat-card-content>
            <div class="flex_row_end">
                <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
                <app-button-close (click)="close()"></app-button-close>
            </div>
        </mat-card>
    </form>
    <pre *ngIf="!isHideForm">{{ form.getRawValue() | json}}</pre>
</div>