<form [formGroup]="form">
    <div style="padding: 5px;">
        <div class="row">
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>หมายเลขบัตรประชาชน <span style="color: red">*</span></mat-label>
                    <input matInput number formControlName="citizen_id" />
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field appearance="outline">
                    <mat-label>วันที่ออกบัตรประชาชน </mat-label>
                    <input matInput (dateChange)="dateChange()" formControlName="citizen_card_issue_date"
                        (selectedValueChange)="dateChange()" matInput (click)="datepickerIssue.open()"
                        [matDatepicker]="datepickerIssue" />
                    <mat-datepicker-toggle matSuffix [for]="datepickerIssue">
                    </mat-datepicker-toggle>
                    <mat-datepicker #datepickerIssue></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="col-md-2">
                <mat-form-field appearance="outline">
                    <mat-label>วันที่บัตรประชาชนหมดอายุ </mat-label>
                    <input matInput (dateChange)="dateChange()" formControlName="citizen_card_expiry_date"
                        (selectedValueChange)="dateChange()" matInput (click)="datepickerExpiry.open()"
                        [matDatepicker]="datepickerExpiry" />
                    <mat-datepicker-toggle matSuffix [for]="datepickerExpiry">
                    </mat-datepicker-toggle>
                    <mat-datepicker #datepickerExpiry></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>หมายเลขผู้เสียภาษี</mat-label>
                    <input matInput number formControlName="tax_id" />
                </mat-form-field>
            </div>

            <div class="col-md-5">
                <mat-form-field appearance="outline">
                    <mat-label>หมายเลขประกันสังคม</mat-label>
                    <input matInput number formControlName="social_security_card_id" />
                </mat-form-field>
            </div>

            <div class="col-md-2">

                <mat-checkbox class="example-margin" formControlName="is_foreign">ชาวต่างชาติ</mat-checkbox>
            </div>

            <div class="col-md-2">
                <mat-checkbox class="example-margin" formControlName="has_passport_book">สถานะหนังสือเดินทาง
                </mat-checkbox>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>หมายเลขหนังสือเดินทาง</mat-label>
                    <input matInput formControlName="passport_no" />
                </mat-form-field>
            </div>

            <div class="col-md-5">
                <mat-form-field appearance="outline">
                    <mat-label>ชื่อบนหนังสือเดินทาง</mat-label>
                    <input matInput formControlName="passport_name" />
                </mat-form-field>
            </div>

            <div class="col-md-2">
                <mat-form-field appearance="outline">
                    <mat-label>วันที่ออกหนังสือเดินทาง </mat-label>
                    <input matInput (dateChange)="dateChange()" formControlName="passport_issue_date"
                        (selectedValueChange)="dateChange()" matInput (click)="passport_issue_date.open()"
                        [matDatepicker]="passport_issue_date" />
                    <mat-datepicker-toggle matSuffix [for]="passport_issue_date">
                    </mat-datepicker-toggle>
                    <mat-datepicker #passport_issue_date></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="col-md-2">
                <mat-form-field appearance="outline">
                    <mat-label>วันที่หนังสือเดินทางหมดอายุ </mat-label>
                    <input matInput (dateChange)="dateChange()" formControlName="passport_expiry_date"
                        (selectedValueChange)="dateChange()" matInput (click)="passport_expire_date.open()"
                        [matDatepicker]="passport_expire_date" />
                    <mat-datepicker-toggle matSuffix [for]="passport_expire_date">
                    </mat-datepicker-toggle>
                    <mat-datepicker #passport_expire_date></mat-datepicker>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>หมายเลขวีซ่า</mat-label>
                    <input matInput formControlName="visa_no" />
                </mat-form-field>
            </div>

            <div class="col-md-5">
                <mat-form-field appearance="outline">
                    <mat-label>ชื่อบนวีซ่า</mat-label>
                    <input matInput formControlName="visa_name" />
                </mat-form-field>
            </div>

            <div class="col-md-2">
                <mat-form-field appearance="outline">
                    <mat-label>วันที่ออกวีซ่า </mat-label>
                    <input matInput (dateChange)="dateChange()" formControlName="visa_issue_date"
                        (selectedValueChange)="dateChange()" matInput (click)="visa_issue_date.open()"
                        [matDatepicker]="visa_issue_date" />
                    <mat-datepicker-toggle matSuffix [for]="visa_issue_date">
                    </mat-datepicker-toggle>
                    <mat-datepicker #visa_issue_date></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="col-md-2">
                <mat-form-field appearance="outline">
                    <mat-label>วันที่วีซ่าหมดอายุ </mat-label>
                    <input matInput (dateChange)="dateChange()" formControlName="visa_expiry_date"
                        (selectedValueChange)="dateChange()" matInput (click)="visa_expire_date.open()"
                        [matDatepicker]="visa_expire_date" />
                    <mat-datepicker-toggle matSuffix [for]="visa_expire_date">
                    </mat-datepicker-toggle>
                    <mat-datepicker #visa_expire_date></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>หมายเลขใบอนุญาตทำงาน</mat-label>
                    <input matInput formControlName="work_permit_no" />
                </mat-form-field>
            </div>

            <div class="col-md-5">
                <mat-form-field appearance="outline">
                    <mat-label>ชื่อบนใบอนุญาตทำงาน</mat-label>
                    <input matInput formControlName="work_permit_name" />
                </mat-form-field>
            </div>

            <div class="col-md-2">
                <mat-form-field appearance="outline">
                    <mat-label>วันที่ออกใบอนุญาตทำงาน </mat-label>
                    <input matInput (dateChange)="dateChange()" formControlName="work_permit_issue_date"
                        (selectedValueChange)="dateChange()" matInput (click)="workpermit_issue_date.open()"
                        [matDatepicker]="workpermit_issue_date" />
                    <mat-datepicker-toggle matSuffix [for]="workpermit_issue_date">
                    </mat-datepicker-toggle>
                    <mat-datepicker #workpermit_issue_date></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="col-md-2">
                <mat-form-field appearance="outline">
                    <mat-label>วันที่ใบอนุญาตทำงานหมดอายุ </mat-label>
                    <input matInput (dateChange)="dateChange()" formControlName="work_permit_expiry_date"
                        (selectedValueChange)="dateChange()" matInput (click)="workpermit_expire_date.open()"
                        [matDatepicker]="workpermit_expire_date" />
                    <mat-datepicker-toggle matSuffix [for]="workpermit_expire_date">
                    </mat-datepicker-toggle>
                    <mat-datepicker #workpermit_expire_date></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <mat-form-field appearance="outline" *ngIf="militaryStatus$ | async as militaryStatuss">
                    <mat-label>สถานภาพทางทหาร</mat-label>
                    <mat-select formControlName="military_status_id">
                        <mat-option *ngFor="let data of militaryStatuss" [value]="data.military_status_id">
                            {{data.military_status_name_th}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline" *ngIf="maritalStatus$ | async as maritalStatuss">
                    <mat-label>สถานภาพสมรส</mat-label>
                    <mat-select formControlName="marital_status_id">
                        <mat-option *ngFor="let data of maritalStatuss" [value]="data.marital_status_id">
                            {{data.marital_status_name_th}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline" *ngIf="bankTypes$ | async as bankType">
                    <mat-label>ธนาคาร</mat-label>
                    <mat-select formControlName="bank_type_id">
                        <mat-option *ngFor="let data of bankType" [value]="data.bank_type_id">
                            {{data.bank_type_name_th}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>หมายเลขบัญชีธนาคาร</mat-label>
                    <input matInput formControlName="bank_account_no" />
                </mat-form-field>
            </div>
            <!-- <div class="col-md-9">
            <mat-form-field appearance="outline">
                <mat-label>ได้รับการยกเว้นเนื่องจาก</mat-label>
                <input disabled matInput />
            </mat-form-field>
        </div> -->
        </div>
        <!-- <div class="row">
        <div class="col-md-3" >
            <mat-form-field appearance="outline" *ngIf="maritalStatus$ | async as maritalStatuss">
                <mat-label>สถานภาพสมรส</mat-label>
                <mat-select>
                    <mat-option *ngFor="let data of maritalStatuss" [value]="data.marital_status_id">
                        {{data.marital_status_name_th}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>
    </div> -->



        <br>
        <mat-card class="mat-elevation-z4" style="padding: 0px 16px 16px 16px;border-radius: 0px;">
            <mat-card-content>
                <mat-list>
                    <mat-list-item>รายชื่อบุคคลในครอบครัว</mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>
                <div>
                    <app-button-add (click)="openFamilyDialog()"></app-button-add>
                </div>
                <br />
                <ng-container>
                    <ng-container>
                        <table mat-table [dataSource]="form.value.personnel_families" matSort class="mat-elevation-z2"
                            style="width: 100%;">
                            <tr mat-header-row *matHeaderRowDef="['action', '1', '2','3','4']"></tr>
                            <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2','3','4']"></tr>
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                                <td mat-cell *matCellDef="let data;let index = index">
                                    <app-icon-del (click)="delFamily(index,data.personnel_family_uid)"></app-icon-del>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="1">
                                <th mat-header-cell *matHeaderCellDef>ชื่อ-นามสกุล</th>
                                <td mat-cell *matCellDef="let data; let index = index">
                                    {{data.family.first_name_th}}&nbsp;{{data.family.last_name_th}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="2">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>สถานะความสัมพันธ์</th>
                                <td mat-cell *matCellDef="let data">
                                    <ng-container *ngIf="relationships$ | async as relationships">
                                        {{data.relationship_id | getDataId : relationships : 'relationship_id' :
                                        'relationship_name_th' : ''}}
                                    </ng-container>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="3">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่เกิด </th>
                                <td mat-cell *matCellDef="let data">

                                </td>
                            </ng-container>
                            <ng-container matColumnDef="4">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> สถานภาพการมีชีวิต </th>
                                <td mat-cell *matCellDef="let data">
                                    <ng-container *ngIf="livingStatuss$ | async as livingStatuss">
                                        {{data.family.living_status_id | getDataId : livingStatuss : 'living_status_id'
                                        : 'living_status_name_th' : ''}}
                                    </ng-container>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="5">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> หมายเหตุ</th>
                                <td mat-cell *matCellDef="let data">
                                    {{data.family.remark}}
                                </td>
                            </ng-container>
                        </table>
                    </ng-container>
                </ng-container>
            </mat-card-content>
        </mat-card>
        <br>
        <mat-card class="mat-elevation-z4" style="padding: 0px 16px 16px 16px;border-radius: 0px;">
            <mat-card-content>
                <mat-list>
                    <mat-list-item>ประวัติการเปลี่ยนชื่อ-สกุล</mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>
                <div>
                    <app-button-add (click)="openNameChangeDialog()"></app-button-add>
                </div>
                <br />
                <ng-container>
                    <ng-container>
                        <table mat-table [dataSource]="form.value.name_change_histories" matSort
                            class="mat-elevation-z2" style="width: 100%;">
                            <tr mat-header-row *matHeaderRowDef="['action', '1', '2','3','4','5']"></tr>
                            <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2','3','4','5']"></tr>
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                                <td mat-cell *matCellDef="let data;let index = index">
                                    <app-icon-del (click)="delNameChange(index,data.name_change_history_uid)">
                                    </app-icon-del>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="1">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>คำนำหน้าชื่อ</th>
                                <td mat-cell *matCellDef="let data">
                                    <ng-container *ngIf="prefix$ | async as prefix">
                                    {{data.prefix_id | getDataId : prefix : 'prefix_id' : 'prefix_name_th' : ''}}
                                </ng-container>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="2">
                                <th mat-header-cell *matHeaderCellDef>ชื่อเดิม</th>
                                <td mat-cell *matCellDef="let data; let index = index">
                                    {{data.first_name_th}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="3">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>ชื่อกลางเดิม</th>
                                <td mat-cell *matCellDef="let data">
                                    {{data.middle_name_th}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="4">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> นามสกุลเดิม </th>
                                <td mat-cell *matCellDef="let data">
                                    {{data.last_name_th}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="5">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่เปลี่ยน </th>
                                <td mat-cell *matCellDef="let data">
                                    {{data.change_date | date : 'dd/MM/yyyy'}}
                                </td>
                            </ng-container>
                        </table>
                    </ng-container>
                </ng-container>
            </mat-card-content>
        </mat-card>
        <br>
        <!-- <mat-card class="mat-elevation-z4" style="padding: 0px 16px 16px 16px;border-radius: 0px;">
        <mat-card-content>
            <mat-list>
                <mat-list-item>ประวัติการเปลี่ยนชื่อ-สกุล</mat-list-item>
                <mat-divider></mat-divider>
            </mat-list> -->
        <ng-container formArrayName="personnel_contacts">
            <ng-container
                *ngFor="let emContact of form['controls']['personnel_contacts']['controls'];let personnel_contactsIndex = index"
                [formGroupName]="personnel_contactsIndex">

                <app-contact [form]="form" [formContact]="emContact"></app-contact>
                <br>
            </ng-container>
        </ng-container>
        <!-- </mat-card-content>
    </mat-card> -->
        <br>

    </div>
</form>