<h1 mat-dialog-title>เพิ่มข้อมูลประวัติผลงานดีเด่น/เกียรติคุณ/รางวัลเกียรติยศ</h1>
<div mat-dialog-content rtl>
    <div >
        <div class="row">
            <div class="col-md-12" >
                <mat-form-field appearance="outline">
                    <mat-label>ชื่อผลงาน<span style="color: red">*</span></mat-label>
                    <input  matInput [(ngModel)]="awradForm.award_name" />
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>ชื่อหน่วยงานที่มอบให้</mat-label>
                    <input  matInput [(ngModel)]="awradForm.award_by" />
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline" *ngIf="awardTypes$ | async as awardTypes">
                    <mat-label>ประเภทผลงาน<span style="color: red">*</span> </mat-label>
                    <mat-select [(ngModel)]="awradForm.award_type_id">
                        <mat-option *ngFor="let data of awardTypes" [value]="data.award_type_id">
                            {{data.award_type_name_th}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>วันที่ได้รับ<span style="color: red">*</span> </mat-label>
                    <input matInput [(ngModel)]="awradForm.receive_date" (dateChange)="dateChange()" (selectedValueChange)="dateChange()" matInput
                        (click)="start_date.open()" [matDatepicker]="start_date" />
                    <mat-datepicker-toggle matSuffix [for]="start_date">
                    </mat-datepicker-toggle>
                    <mat-datepicker #start_date></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-2">
            <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
        </div>
        <div class="col-2">
            <app-button-save-close (click)="saveClose()"></app-button-save-close>&nbsp;&nbsp;
        </div>
        <div class="col-2">
            <app-button-close (click)="close()"></app-button-close>
        </div>
    </div>
</div>