<form [formGroup]="form">
    <div style="padding: 5px;">

        <mat-card class="mat-elevation-z4" style="padding: 0px 16px 16px 16px;border-radius: 0px;">
            <mat-card-content>
                <mat-list>
                    <mat-list-item>ข้อมูลทั่วไป</mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>
                <br>
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>รหัสบุคลากร</mat-label>
                            <input formControlName="personnel_no" matInput />
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>วันเกิด <span style="color: red">*</span></mat-label>
                            <input matInput (dateChange)="dateChangeBirth($event.value)" formControlName="birth_date"
                                (selectedValueChange)="dateChangeBirth($event)" matInput
                                (click)="datepickerstart.open()" [matDatepicker]="datepickerstart" />
                            <mat-datepicker-toggle matSuffix [for]="datepickerstart">
                            </mat-datepicker-toggle>
                            <mat-datepicker #datepickerstart></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>อายุ </mat-label>
                            <input #age matInput disabled />
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="outline" *ngIf="genders$ | async as gender">
                            <mat-label>เพศ </mat-label>
                            <mat-select formControlName="gender_id">
                                <mat-option *ngFor="let data of gender" [value]="data.gender_id">
                                    {{data.gender_name_th}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field appearance="outline" *ngIf="prefix$ | async as prefixs">
                            <mat-label>คำนำหน้าชื่อ <span style="color: red">*</span></mat-label>
                            <mat-select formControlName="prefix_id">
                                <mat-option *ngFor="let data of prefixs" [value]="data.prefix_id">
                                    {{data.prefix_name_th}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>ชื่อ <span style="color: red">*</span></mat-label>
                            <input matInput formControlName="first_name_th" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>ชื่อกลาง </mat-label>
                            <input matInput formControlName="middle_name_th" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>นามสกุล <span style="color: red">*</span> </mat-label>
                            <input matInput formControlName="last_name_th" />
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10">
                        <div class="row">
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field appearance="outline">
                                    <mat-label>ชื่อ (English)</mat-label>
                                    <input matInput formControlName="first_name_en" />
                                </mat-form-field>
                            </div>

                            <div class="col-md-4">
                                <mat-form-field appearance="outline">
                                    <mat-label>ชื่อกลาง (English)</mat-label>
                                    <input matInput formControlName="middle_name_en" />
                                </mat-form-field>
                            </div>

                            <div class="col-md-4">
                                <mat-form-field appearance="outline">
                                    <mat-label>นามสกุล (English)</mat-label>
                                    <input matInput formControlName="last_name_en" />
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <input matInput formControlName="country_of_birth_name" placeholder="ประเทศที่เกิด"
                                        aria-label="State" [matAutocomplete]="co" />
                                    <mat-icon matSuffix>search</mat-icon>
                                    <mat-autocomplete #co="matAutocomplete" style="font-size: 10px;">
                                        <mat-option style="font-size: 10px;" *ngFor="let c of country"
                                            (onSelectionChange)="selectCountry(c)" [value]="c.country_name_th">
                                            {{c.country_name_th}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <input matInput formControlName="province_of_birth_name"
                                        placeholder="จังหวัดที่เกิด" aria-label="State" [matAutocomplete]="Provinces" />
                                    <mat-icon matSuffix>search</mat-icon>
                                    <mat-autocomplete #Provinces="matAutocomplete" style="font-size: 10px;">
                                        <mat-option style="font-size: 10px;" *ngFor="let p of Province"
                                            (onSelectionChange)="selectProvince(p)" [value]="p.province_name_th">
                                            {{p.province_name_th}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                                <!-- <mat-form-field appearance="outline" *ngIf="Province$ | async as provinces">
                                    <mat-label>เกิดที่จังหวัด</mat-label>
                                    <mat-select formControlName="province_of_birth_id">
                                        <mat-option *ngFor="let data of provinces" [value]="data.province_id">
                                            {{data.province_name_th}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field> -->
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <!-- <mat-form-field appearance="outline">
                                    <mat-label>สัญชาติ</mat-label>
                                    <mat-select formControlName="nationality_id">
                                        <mat-option *ngFor="let data of [{test:'test'}]" [value]="data.test">
                                            {{data.test}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field> -->
                                <mat-form-field appearance="outline">
                                    <input matInput formControlName="nationality_name" placeholder="สัญชาติ"
                                        aria-label="State" [matAutocomplete]="co" />
                                    <mat-icon matSuffix>search</mat-icon>
                                    <mat-autocomplete #co="matAutocomplete" style="font-size: 10px;">
                                        <mat-option style="font-size: 10px;" *ngFor="let c of country"
                                            (onSelectionChange)="select_nationality(c)" [value]="c.country_name_th">
                                            {{c.country_name_th}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <!-- <mat-form-field appearance="outline">
                                    <mat-label>เชื้อชาติ</mat-label>
                                    <mat-select formControlName="ethnicity_id">
                                        <mat-option *ngFor="let data of [{test:'test'}]" [value]="data.test">
                                            {{data.test}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field> -->
                                <mat-form-field appearance="outline">
                                    <input matInput formControlName="ethnicity_name" placeholder="เชื้อชาติ"
                                        aria-label="State" [matAutocomplete]="co" />
                                    <mat-icon matSuffix>search</mat-icon>
                                    <mat-autocomplete #co="matAutocomplete" style="font-size: 10px;">
                                        <mat-option style="font-size: 10px;" *ngFor="let c of country"
                                            (onSelectionChange)="select_ethnicity(c)" [value]="c.country_name_th">
                                            {{c.country_name_th}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" *ngIf="religion$ | async as religions">
                                    <mat-label>ศาสนา</mat-label>
                                    <mat-select formControlName="religion_id">
                                        <mat-option *ngFor="let data of religions" [value]="data.religion_id">
                                            {{data.religion_name_th}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>

                            <div class="col-md-6">
                                <mat-form-field appearance="outline" *ngIf="bloodGroup$ | async as bloodGroups">
                                    <mat-label>หมู่โลหิต</mat-label>
                                    <mat-select formControlName="blood_group_id">
                                        <mat-option *ngFor="let data of bloodGroups" [value]="data.blood_group_id">
                                            {{data.blood_group_name_th}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>ส่วนสูง</mat-label>
                                    <input matInput formControlName="height" type="number" />
                                </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>น้ำหนัก</mat-label>
                                    <input matInput type="number" formControlName="weight" />
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <!-- <div class="col-md-3">
                                <mat-form-field appearance="outline">
                                    <mat-label>เกษียณอายุ</mat-label>
                                    <input matInput formControlName="retire_year" type="number" />
                                </mat-form-field>
                            </div>

                            <div class="col-md-3">
                                <mat-form-field appearance="outline">
                                    <mat-label>เกษียณปี (พ.ศ.)</mat-label>
                                    <input disabled matInput />
                                </mat-form-field>
                            </div> -->
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>E-mail</mat-label>
                                    <input matInput numberCharacterEng type="text" formControlName="email" />
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>โทรศัพท์</mat-label>
                                    <input matInput numberCharacterEng type="text" formControlName="mobile_no" />
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <!-- <div class="col-md-6" >
                            <mat-form-field appearance="outline">
                                <mat-label>การลงเวลาปฏิบัติงาน</mat-label>
                                <input disabled matInput />
                            </mat-form-field>
                        </div> -->
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" *ngIf="insigniaDetail$ | async as insigniaDetail">
                                    <mat-label>เครื่องราชสูงสุดที่ได้รับ</mat-label>
                                    <mat-select formControlName="current_decoration_id">
                                        <mat-option *ngFor="let data of insigniaDetail" [value]="data.insignia_uid">
                                            {{data.insignia_name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" *ngIf="deforms$ | async as deform">
                                    <mat-label>ความพิการ</mat-label>
                                    <mat-select formControlName="deformation_id">
                                        <mat-option *ngFor="let data of deform" [value]="data.deform_id">
                                            {{data.deform_name_th}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="row">
                            <div class="col-md-12 text-center" style="padding-right: 30px;">
                                <div style="margin-bottom: 5px;">
                                    <label>รูปประจำตัว</label>
                                </div>
                               
                                <ng-container *ngIf="!form.get('photo_url').value">
                                    <div style="margin-bottom: 10px;">
                                        <img id="imgProfile" src="http://rsu.zd.co.th/images/No_Image.jpg"
                                            style="max-width: 100%; max-height: 400px;">
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="form.get('photo_url').value">
                                    <div style="margin-bottom: 10px;">
                                        <img id="imgProfile"
                                            [src]="this.host+'/'+form.get('photo_url').value"
                                            style="max-width: 100%; max-height: 400px;">
                                    </div>
                                </ng-container>

                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field appearance="outline">
                                            <mat-label>อัพโหลดรูปภาพ </mat-label>
                                            <input matInput formControlName="photo_url" value="" disabled />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <app-button-upload (resultFile)="getFile($event)">
                                        </app-button-upload>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </mat-card-content>
        </mat-card>
        <br>



        <!-- <ng-container formArrayName="personnel_contacts">
            <ng-container
                *ngFor="let emContact of form['controls']['personnel_contacts']['controls'];let personnel_contactsIndex = index"
                [formGroupName]="personnel_contactsIndex">
             
                <app-contact [form]="form" [formContact]="emContact"></app-contact>
                <br>
            </ng-container>
        </ng-container> -->
        <!-- <br>
    <mat-card class="mat-elevation-z4" style="padding: 0px 16px 16px 16px;border-radius: 0px;">
        <mat-card-content>
            <mat-list>
                <mat-list-item>ข้อมูลบุคคลอ้างอิง</mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>

            <div >
                <div class="row">
                    <div class="col-md-4" >
                        <mat-form-field appearance="outline">
                            <mat-label>ชื่อ-สกุล ผู้ติดต่อฉุกเฉิน</mat-label>
                            <input matInput />
                        </mat-form-field>
                    </div>

                    <div class="col-md-2" >
                        <mat-form-field appearance="outline">
                            <mat-label>สถานะความสัมพันธ์</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let data of [{test:'test'}]" [value]="data.test">
                                    {{data.test}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-3" >
                        <br>
                        <section class="example-section">
                            <mat-checkbox class="example-margin">ใช้ที่อยู่เดียวกับที่อยู่ตามทะเบียนบ้าน</mat-checkbox>
                          </section>
                    </div>

                    <div class="col-md-3">
                        <br>
                        <section class="example-section">
                            <mat-checkbox class="example-margin">ใช้ที่อยู่เดียวกับที่อยู่ที่ติดต่อได้</mat-checkbox>
                          </section>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6" >
                        <mat-form-field appearance="outline">
                            <mat-label>ชื่อที่อยู่</mat-label>
                            <input matInput />
                        </mat-form-field>
                    </div>

                    <div class="col-md-3" >
                        <mat-form-field appearance="outline">
                            <mat-label>เลขที่</mat-label>
                            <input matInput />
                        </mat-form-field>
                    </div>

                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>หมู่ที่</mat-label>
                            <input matInput />
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6" >
                        <mat-form-field appearance="outline">
                            <mat-label>อาคาร</mat-label>
                            <input matInput />
                        </mat-form-field>
                    </div>
                    <div class="col-md-3" >
                        <mat-form-field appearance="outline">
                            <mat-label>เลขที่ห้อง</mat-label>
                            <input matInput />
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>ชั้นที่</mat-label>
                            <input matInput />
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6" >
                        <mat-form-field appearance="outline">
                            <mat-label>หมู่บ้าน</mat-label>
                            <input matInput />
                        </mat-form-field>
                    </div>

                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>ตรอก/ซอย</mat-label>
                            <input matInput />
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6" >
                        <mat-form-field appearance="outline">
                            <mat-label>ถนน</mat-label>
                            <input matInput />
                        </mat-form-field>
                    </div>

                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>ตำบล/แขวง</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let data of [{test:'test'}]" [value]="data.test">
                                    {{data.test}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6" >
                        <mat-form-field appearance="outline">
                            <mat-label>อำเภอ/เขต</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let data of [{test:'test'}]" [value]="data.test">
                                    {{data.test}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>จังหวัด</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let data of [{test:'test'}]" [value]="data.test">
                                    {{data.test}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" >
                        <mat-form-field appearance="outline">
                            <mat-label>รหัสไปรษณีย์</mat-label>
                            <input matInput />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>โทรศัพท์</mat-label>
                            <input matInput />
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card> -->
    </div>
</form>