<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <label for="">ข้อมูลการศึกษา</label>
        <div class="flex_row">
            <mat-form-field class="paddingInput" appearance="outline" style="width: 35%;">
                <mat-label> ค้นหา </mat-label>
                <input matInput />
            </mat-form-field>
            <div class="paddingInput">
                <app-button-search></app-button-search>
            </div>
            <div class="paddingInput">
                <app-button-reset></app-button-reset>
            </div>
        </div>
        <div>
            <app-button-add (click)="popUpInformation()"></app-button-add>
        </div>
        <br>
        <table mat-table [dataSource]="form.value.applicant_educations" matSort class="mat-elevation-z2"
            style="width: 100%;">
            <tr mat-header-row *matHeaderRowDef="['action','1','2','3','4','5','6','7']"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: ['action','1','2','3','4','5','6','7']"></tr>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                <td mat-cell *matCellDef="let data ;let i = index">
                    <app-icon-edit (click)="popUpInformationEdit(data,i)"></app-icon-edit>
                    <app-icon-del (click)="deleteEducation(data.applicant_education_uid,i)"></app-icon-del>
                </td>
            </ng-container>
            <ng-container matColumnDef="1">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ระดับการศึกษา </th>
                <td mat-cell *matCellDef="let data; let index = index">
                    <ng-container *ngIf="educationLevels$ | async as educationLevelsData">
                        {{data.education_level_id | getDataId : educationLevelsData : 'education_level_id' : 'education_level_name_th' : ''}}
                    </ng-container>
                </td>
            </ng-container>
            <ng-container matColumnDef="2">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อปริญญา/ประกาศนียบัตร </th>
                <td mat-cell *matCellDef="let data">
                    <ng-container *ngIf="qualifications$ | async as qualificationsData">
                        {{data.quali_id | getDataId : qualificationsData : 'qualification_id' : 'qualification_name_th': ''}}
                    </ng-container>
                </td>
            </ng-container>
            <ng-container matColumnDef="3">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> สาขาวิชา </th>
                <td mat-cell *matCellDef="let data">
                    {{data.field_name}}
                </td>
            </ng-container>
            <ng-container matColumnDef="4">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อสถานศึกษา </th>
                <td mat-cell *matCellDef="let data">
                    {{data.other_institute_name}}
                </td>
            </ng-container>
            <ng-container matColumnDef="5">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ปีที่เริ่มต้น </th>
                <td mat-cell *matCellDef="let data">
                    {{data.start_date | thaiDate}}
                </td>
            </ng-container>
            <ng-container matColumnDef="6">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ปีที่สิ้นสุด </th>
                <td mat-cell *matCellDef="let data">
                    {{data.finish_date | thaiDate}}
                </td>
            </ng-container>
            <ng-container matColumnDef="7">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> คะแนนเฉลี่ย </th>
                <td mat-cell *matCellDef="let data">
                    {{data.grade}}
                </td>
            </ng-container>
        </table>
        <!-- <table mat-table [dataSource]="form.value.applicant_educations" matSort class="mat-elevation-z2"
            style="width: 100%;">
            <tr mat-header-row *matHeaderRowDef="['action', '1','2','3','4','5','6','7']"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: ['action', '1','2','3','5','6','7']"></tr>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                <td mat-cell *matCellDef="let data ;let i = index">
                    <app-icon-edit (click)="popUpInformationEdit(data,i)"></app-icon-edit>
                    <app-icon-del (click)="deleteInfor(i)"></app-icon-del>
                </td>
            </ng-container>
            <ng-container matColumnDef="1">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ระดับการศึกษา </th>
                <td mat-cell *matCellDef="let data">
                    <ng-container *ngIf="educationLevels$ | async as educationLevelsData">
                        {{data.education_level_id | getDataId : educationLevelsData : 'education_level_id' : 'education_level_name_th' : ''}}
                       
                    </ng-container>
                </td>
            </ng-container>
            <ng-container matColumnDef="2">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อปริญญา/ประกาศนียบัติ </th>
                <td mat-cell *matCellDef="let data">
                    <ng-container *ngIf="qualifications$ | async as qualificationsData">
                        {{data.quali_id | getDataId : qualificationsData : 'qualification_id' : 'qualification_name_th': ''}}
                    </ng-container>
                </td>
            </ng-container>
            <ng-container matColumnDef="3">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> สาขาวิชา </th>
                <td mat-cell *matCellDef="let data">
                    4
                </td>
            </ng-container>
            <ng-container matColumnDef="4">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อสถานศึกษา </th>
                <td mat-cell *matCellDef="let data">
                    {{data.other_institute_name}}
                </td>
            </ng-container>
            <ng-container matColumnDef="5">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ปีที่เริ่มต้น </th>
                <td mat-cell *matCellDef="let data">
                    {{data.start_date | date: 'dd/MM/yyyy'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="6">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ปีที่สิ้นสุด </th>
                <td mat-cell *matCellDef="let data">
                    {{data.finish_date | date: 'dd/MM/yyyy'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="7">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> คะแนนเฉลี่ย </th>
                <td mat-cell *matCellDef="let data">
                    {{data.grade}}
                </td>
            </ng-container>
        </table> -->
        <br>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>
<br>
<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <label for="">ประวัติการทำงาน</label>
        <div class="flex_row">
            <mat-form-field class="paddingInput" appearance="outline" style="width: 35%;">
                <mat-label> ค้นหา </mat-label>
                <input matInput />
            </mat-form-field>
            <div class="paddingInput">
                <app-button-search></app-button-search>
            </div>
            <div class="paddingInput">
                <app-button-reset></app-button-reset>
            </div>
        </div>
        <div>
            <app-button-add (click)="popUpHistory()"></app-button-add>
        </div>
        <br>
        <table mat-table [dataSource]="form.value.applicant_working_histories" matSort class="mat-elevation-z2"
            style="width: 100%;">
            <tr mat-header-row *matHeaderRowDef="['action','1','2','3','4','5','6','7']"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: ['action','1','2','3','4','5','6','7']"></tr>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                <td mat-cell *matCellDef="let data ;let i = index">
                    <app-icon-edit (click)="popUpHistoryEdit(data,i)"></app-icon-edit>
                    <app-icon-del (click)="deleteHistory(data,i)"></app-icon-del>
                </td>
            </ng-container>
            <ng-container matColumnDef="1">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อสถานที่ทำงาน </th>
                <td mat-cell *matCellDef="let data; let index = index">
                    {{data.work_place_name}}
                </td>
            </ng-container>
            <ng-container matColumnDef="2">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ตำแหน่งงาน </th>
                <td mat-cell *matCellDef="let data">
                    {{data.job_position_name}}
                </td>
            </ng-container>
            <ng-container matColumnDef="3">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ลักษณะงาน </th>
                <td mat-cell *matCellDef="let data">
                    {{data.job_description}}
                </td>
            </ng-container>
            <ng-container matColumnDef="4">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> เงินเดือนสุดท้าย </th>
                <td mat-cell *matCellDef="let data">
                    {{data.final_salary_amount}}
                </td>
            </ng-container>
            <ng-container matColumnDef="5">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่เริ่มต้น </th>
                <td mat-cell *matCellDef="let data">
                    {{data.start_date | thaiDate}}
                </td>
            </ng-container>
            <ng-container matColumnDef="6">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่สิ้นสุด </th>
                <td mat-cell *matCellDef="let data">
                    {{data.end_date | thaiDate}}
                </td>
            </ng-container>
            <ng-container matColumnDef="7">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> หมายเหตุ </th>
                <td mat-cell *matCellDef="let data">
                    {{data.remark}}
                </td>
            </ng-container>
        </table>
        <!-- <table mat-table [dataSource]="form.value.applicant_working_histories" matSort class="mat-elevation-z2" style="width: 100%;">
            <tr mat-header-row *matHeaderRowDef="['action', '1', '2','3','4','5', '6','7']"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2','3','5', '6','7']"></tr>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                <td mat-cell *matCellDef="let data ;let i = index">
                    <app-icon-edit (click)="popUpHistoryEdit(data,i)"></app-icon-edit>
                    <app-icon-del (click)="deleteHistory(i)"></app-icon-del>
                </td>
            </ng-container>
            <ng-container matColumnDef="1">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อสถานที่ทำงาน </th>
                <td mat-cell *matCellDef="let data">
                    {{data.work_place_name}}
                </td>
            </ng-container>
            <ng-container matColumnDef="2">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ตำแหน่งงาน </th>
                <td mat-cell *matCellDef="let data">
                    {{data.job_position_name}}
                </td>
            </ng-container>
            <ng-container matColumnDef="3">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ลักษณะงาน </th>
                <td mat-cell *matCellDef="let data">
                    {{data.job_description}}
                </td>
            </ng-container>
            <ng-container matColumnDef="4">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> เงินเดือนสุดท้าย </th>
                <td mat-cell *matCellDef="let data">
                    {{data.final_salary_amount}}
                </td>
            </ng-container>
            <ng-container matColumnDef="5">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่เริ่มต้น </th>
                <td mat-cell *matCellDef="let data">
                    {{data.start_date | date:'dd/MM/yyyy'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="6">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่สิ้นสุด </th>
                <td mat-cell *matCellDef="let data">
                    {{data.end_date | date:'dd/MM/yyyy'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="7">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> หมายเหตุ </th>
                <td mat-cell *matCellDef="let data">
                    {{data.remark}}
                </td>
            </ng-container>
        </table> -->
        <br>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>
<br>