<form [formGroup]="form">
    <mat-card class="mat-elevation-z4">
        <mat-card-content>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>รหัสเครื่องราชฯ <span style="color: red;">*</span></mat-label>
                        <input matInput formControlName="insignia_code" />
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>ชื่อเครื่องราชฯ <span style="color: red;">*</span></mat-label>
                        <input matInput formControlName="insignia_name" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>อักษรย่อ <span style="color: red;">*</span></mat-label>
                        <input matInput formControlName="insignia_short_name" />
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline" *ngIf="insignia$ | async as insignia">
                        <mat-label>ประเภท<span style="color: red">*</span></mat-label>
                        <mat-select formControlName="insignia_type_id">
                            <mat-option *ngFor="let data of insignia" [value]="data.insignia_type_id">{{data.insignia_type_name_th}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>ลำดับชั้น <span style="color: red;">*</span></mat-label>
                        <input matInput type="text" formControlName="insignia_level_name" />
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>ลำดับที่ <span style="color: red;">*</span></mat-label>
                        <input matInput formControlName="insignia_level" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>สายเครื่องราช </mat-label>
                        <input matInput formControlName="insignia_line_level" />
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-checkbox class="example-margin" formControlName="is_return">การคืน</mat-checkbox>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>ราคาชดใช้ (บุรุษ) <span style="color: red;">*</span></mat-label>
                        <input matInput type="number" formControlName="refund_man_amount" />
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>ราคาชดใช้ (สตรี) <span style="color: red;">*</span></mat-label>
                        <input matInput type="number" formControlName="refund_woman_amount" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field appearance="outline" class="paddingInput">
                        <mat-label>รายละเอียด</mat-label>
                        <textarea matInput formControlName="remark"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <br>

            <mat-card class="mat-elevation-z4">
                <mat-card-content>
                    <label for="">เอกสารแนบ</label>
                    <div>
                        <app-button-add (click)="addfile()"></app-button-add>
                    </div>
                    <br>
                    <table mat-table [dataSource]="form.value.refund_document" matSort class="mat-elevation-z2"
                        style="width: 100%;">
                        <tr mat-header-row *matHeaderRowDef="['action', '1', '2']"></tr>
                        <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2']"></tr>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                            <td mat-cell *matCellDef="let data ; let i = index">
                                <app-icon-edit (click)="editfile(data,i)"></app-icon-edit>
                                <app-icon-download (click)="downloadDoc(data.document_url)"></app-icon-download>
                                <app-icon-del (click)="deleteItemDoc(data,i)"></app-icon-del>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="1">
                            <th mat-header-cell *matHeaderCellDef>ชื่อไฟล์ </th>
                            <td mat-cell *matCellDef="let data; let index = index">
                                {{data.file_name}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="2">
                            <th mat-header-cell *matHeaderCellDef>รายละเอียด </th>
                            <td mat-cell *matCellDef="let data; let index = index">
                                {{data.remark}}
                            </td>
                        </ng-container>
                    </table>
                    <br>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </mat-card-content>
            </mat-card>
            <br>

            <mat-card class="mat-elevation-z4">
                <mat-card-content>
                    <label for="">รูปเครื่องหมาย</label>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-card class="mat-elevation-z4" style="width: 300px; height: 400px;">
                                <mat-card-content>
                                    <ng-container *ngIf="!form.get('insignia_man_photo_url').value">
                                        <div style="margin-bottom: 10px;">
                                            <img id="imgProfile" src="http://rsu.zd.co.th/images/No_Image.jpg"
                                                style="max-width: 100%; max-height: 400px;">
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="form.get('insignia_man_photo_url').value">
                                        <div style="margin-bottom: 10px;">
                                            <img id="imgProfile"
                                                [src]="this.host+'/'+form.get('insignia_man_photo_url').value"
                                                style="max-width: 100%; max-height: 400px;">
                                        </div>
                                    </ng-container>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-md-6">
                            <mat-card class="mat-elevation-z4" style="width: 300px; height: 400px;">
                                <mat-card-content>
                                    <ng-container *ngIf="!form.get('insignia_woman_photo_url').value">
                                        <div style="margin-bottom: 10px;">
                                            <img id="imgProfile" src="http://rsu.zd.co.th/images/No_Image.jpg"
                                                style="max-width: 100%; max-height: 400px;">
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="form.get('insignia_woman_photo_url').value">
                                        <div style="margin-bottom: 10px;">
                                            <img id="imgProfile"
                                                [src]="this.host+'/'+form.get('insignia_woman_photo_url').value"
                                                style="max-width: 100%; max-height: 400px;">
                                        </div>
                                    </ng-container>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                                <mat-label>บุรุษ </mat-label>
                        </div>
                        <div class="col-md-6">
                            <mat-label >สตรี </mat-label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-8">
                                    <mat-form-field appearance="outline">
                                        <mat-label>อัพโหลดรูปภาพ </mat-label>
                                        <input matInput formControlName="insignia_man_photo_url" value="" disabled />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <app-button-upload (resultFile)="getFile_insignia_man_photo_url($event)">
                                    </app-button-upload>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-8">
                                    <mat-form-field appearance="outline">
                                        <mat-label>อัพโหลดรูปภาพ </mat-label>
                                        <input matInput formControlName="insignia_woman_photo_url" value="" disabled />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <app-button-upload (resultFile)="getFile_insignia_woman_photo_url($event)">
                                    </app-button-upload>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <br>

            <mat-card class="mat-elevation-z4">
                <mat-card-content>
                    <label for="">ภาพตัวอย่างการประดับ</label>
                    <div class="flex_row">
                        <mat-card class="mat-elevation-z4" style="width: 300px; height: 400px;">
                            <mat-card-content>
                                <ng-container *ngIf="!form.get('decorate_man_photo_url').value">
                                    <div style="margin-bottom: 10px;">
                                        <img id="imgProfile" src="http://rsu.zd.co.th/images/No_Image.jpg"
                                            style="max-width: 100%; max-height: 400px;">
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="form.get('decorate_man_photo_url').value">
                                    <div style="margin-bottom: 10px;">
                                        <img id="imgProfile"
                                            [src]="this.host+'/'+form.get('decorate_man_photo_url').value"
                                            style="max-width: 100%; max-height: 400px;">
                                    </div>
                                </ng-container>
                            </mat-card-content>
                        </mat-card>
                        <mat-card class="mat-elevation-z4" style="width: 300px; height: 400px;margin-left: 35%;">
                            <mat-card-content>
                                <ng-container *ngIf="!form.get('decorate_woman_photo_url').value">
                                    <div style="margin-bottom: 10px;">
                                        <img id="imgProfile" src="http://rsu.zd.co.th/images/No_Image.jpg"
                                            style="max-width: 100%; max-height: 400px;">
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="form.get('decorate_woman_photo_url').value">
                                    <div style="margin-bottom: 10px;">
                                        <img id="imgProfile"
                                            [src]="this.host+'/'+form.get('decorate_woman_photo_url').value"
                                            style="max-width: 100%; max-height: 400px;">
                                    </div>
                                </ng-container>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <br>
                    <div class="flex_row">

                        <mat-label>บุรุษ </mat-label>

                        <mat-label style="margin-left: 52%;">สตรี </mat-label>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-8">
                                    <mat-form-field appearance="outline">
                                        <mat-label>อัพโหลดรูปภาพ </mat-label>
                                        <input matInput formControlName="decorate_man_photo_url" value="" disabled />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <app-button-upload (resultFile)="getFile_decorate_man_photo_url($event)">
                                    </app-button-upload>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-8">
                                    <mat-form-field appearance="outline">
                                        <mat-label>อัพโหลดรูปภาพ </mat-label>
                                        <input matInput formControlName="decorate_woman_photo_url" value="" disabled />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <app-button-upload (resultFile)="getFile_decorate_woman_photo_url($event)">
                                    </app-button-upload>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <br>
            <div class="flex_row_end">
                <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
                <app-button-close (click)="close()"></app-button-close>
            </div>
        </mat-card-content>
    </mat-card>
</form>
<pre *ngIf="!isHideForm">{{form.getRawValue()|json}}</pre>