<h2 class="card-title">{{state == 'add' ? 'เพิ่ม' : ' แก้ไข'}}ข้อมูลบัญชีโครงสร้างอัตราจ้าง</h2>
<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>ลำดับขั้นวิ่ง<span style="color: red">*</span></mat-label>
                    <input #running_wage matInput type="number" [(ngModel)]="dataReturn.running_wage"
                        (focusout)="checkNull('running_wage')" />
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>อัตราจ้างเงินเดือน<span style="color: red">*</span></mat-label>
                    <input #salary_wage_rate matInput type="number" [(ngModel)]="dataReturn.salary_wage_rate"
                        (focusout)="checkNull('salary_wage_rate')" />
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>อัตราจ้างรายวัน<span style="color: red">*</span></mat-label>
                    <input #daily_wage_rate matInput type="number" [(ngModel)]="dataReturn.daily_wage_rate"
                        (focusout)="checkNull('daily_wage_rate')" />
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>อัตราจ้างรายชั่วโมง<span style="color: red">*</span></mat-label>
                    <input #hour_wage_rate matInput type="number" [(ngModel)]="dataReturn.hour_wage_rate"
                        (focusout)="checkNull('hour_wage_rate')" />
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
    <!-- <pre>{{ dataReturn | json}}</pre> -->
</mat-card>
<br />
<div class="flex_row_end">
    <app-button-save [title]="'เพิ่ม'" (click)="beforeSave()"></app-button-save>&nbsp;&nbsp;
    <app-button-close (click)="close('close')"></app-button-close>
</div>