<form [formGroup]="form">
    <mat-tab-group>
        <mat-tab label="ข้อมูลทั่วไป">
            <mat-card class="mat-elevation-z4">
                <mat-card-content>
                    <ng-container *ngIf="state == 'edit'">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="paddingInput" appearance="outline">
                                    <mat-label>รหัสใบสมัคร</mat-label>
                                    <input matInput formControlName="application_no" (focusout)="setNo(no)" />
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="paddingInput" appearance="outline">
                                    <mat-label>วันที่สมัคร <span style="color: red">*</span></mat-label>
                                    <input matInput [matDatepicker]="fromDate1" formControlName="application_date"
                                        disabled>
                                    <mat-datepicker-toggle matSuffix [for]="fromDate1"></mat-datepicker-toggle>
                                    <mat-datepicker #fromDate1></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </ng-container>
                    <app-tap1 [form]="form" [nationality]="nationality_name" [ethnicity]="ethnicity_name"></app-tap1>
                </mat-card-content>
            </mat-card>
        </mat-tab>
        <mat-tab label="ข้อมูลที่อยู่">
            <mat-card class="mat-elevation-z4">
                <mat-card-content>
                    <ng-container *ngIf="state == 'edit'">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="paddingInput" appearance="outline">
                                    <mat-label>รหัสใบสมัคร</mat-label>
                                    <input matInput formControlName="application_no" />
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="paddingInput" appearance="outline">
                                    <mat-label>วันที่สมัคร <span style="color: red">*</span></mat-label>
                                    <input matInput [matDatepicker]="fromDate2" formControlName="application_date"
                                        disabled>
                                    <mat-datepicker-toggle matSuffix [for]="fromDate2"></mat-datepicker-toggle>
                                    <mat-datepicker #fromDate2></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container formArrayName="applicant_addresses">
                        <app-tap2 [form]="form"
                            *ngFor="let emAddress of form['controls']['applicant_addresses']['controls'];let applicant_addressesIndex = index"
                            [formGroupName]="applicant_addressesIndex" [formAddress]="emAddress" [dataEdit]="state == 'add' ? null :  this.dataEdit.applicant_addresses" >
                        </app-tap2>
                    </ng-container>
                </mat-card-content>
            </mat-card>
        </mat-tab>
        <mat-tab label="ข้อมูลการศึกษา">
            <mat-card class="mat-elevation-z4">
                <mat-card-content>
                    <ng-container *ngIf="state == 'edit'">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="paddingInput" appearance="outline">
                                    <mat-label>รหัสใบสมัคร </mat-label>
                                    <input matInput formControlName="application_no" />
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="paddingInput" appearance="outline">
                                    <mat-label>วันที่สมัคร <span style="color: red">*</span></mat-label>
                                    <input matInput [matDatepicker]="fromDate3" formControlName="application_date"
                                        disabled>
                                    <mat-datepicker-toggle matSuffix [for]="fromDate3"></mat-datepicker-toggle>
                                    <mat-datepicker #fromDate3></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </ng-container>
                    <app-tap3 [form]="form" [dataEdit]="state == 'add' ? null : dataEdit"></app-tap3>
                </mat-card-content>
            </mat-card>
        </mat-tab>
        <mat-tab label="เอกสารประกอบ">
            <mat-card class="mat-elevation-z4">
                <mat-card-content>
                    <ng-container *ngIf="state == 'edit'">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="paddingInput" appearance="outline">
                                    <mat-label>รหัสใบสมัคร</mat-label>
                                    <input matInput formControlName="application_no" />
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="paddingInput" appearance="outline">
                                    <mat-label>วันที่สมัคร <span style="color: red">*</span></mat-label>
                                    <input matInput [matDatepicker]="fromDate4" formControlName="application_date"
                                        disabled>
                                    <mat-datepicker-toggle matSuffix [for]="fromDate4"></mat-datepicker-toggle>
                                    <mat-datepicker #fromDate4></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container formArrayName="applicant_document">
                        <mat-card class="mat-elevation-z4">
                            <mat-card-content>
                                <ng-container
                                    *ngFor="let item of form['controls']['applicant_document']['controls'];let i = index"
                                    [formGroupName]="i">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <mat-form-field appearance="outline">
                                                <mat-label>{{item.value.document_type_id | getDataId : documentTypes : 'document_type_id' : 'document_type_name_th' : '' }}</mat-label>
                                                <input matInput [value]="item.value.file_name ? item.value.file_name : '' " disabled />
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-2">
                                            <app-button-upload (resultFile)="getResuleFile($event,i)"></app-button-upload>
                                        </div>
                                        <div class="col-md-1">
                                            <app-button-view-upload (click)="viewfile(item.value.document_url)"></app-button-view-upload>
                                        </div>
                                    </div>
                                </ng-container>
                                <!-- <app-tap4 [form]="form"
                                    *ngFor="let emAddress of form['controls']['applicant_document']['controls'];let i = index"
                                    [formGroupName]="i"></app-tap4> -->
                            </mat-card-content>
                        </mat-card>
                    </ng-container>
                </mat-card-content>
            </mat-card>
        </mat-tab>
    </mat-tab-group>
    <div class="flex_row_end">
        <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
        <app-button-print></app-button-print>&nbsp;&nbsp;
        <ng-container *ngIf="dataResult">
            <app-button-return [title]="'กลับไปยัง หน้าผลการคัดเลือก'" (click)="retrunRequest()"></app-button-return>
            &nbsp;&nbsp;
        </ng-container>
        <app-button-close (click)="close()"></app-button-close>
    </div>
    <br>
</form>
<pre *ngIf="!isHideForm">{{form.getRawValue()|json}}</pre>