<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <app-layout-search>
            <ng-container content>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>หน่วยงานที่ร้องขออัตรากำลัง</mat-label>
                            <mat-select [(ngModel)]="dataSearch.agency_uid">
                                <mat-option *ngFor="let item of agencysDatas" [value]="item.agency_uid">
                                    {{item.agency_name_th}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>ตำแหน่งงานที่ขอร้องให้เพิ่มอัตรากำลัง</mat-label>
                            <mat-select [(ngModel)]="dataSearch.position_uid">
                                <mat-option *ngFor="let item of positionDatas" [value]="item.position_uid">
                                    {{item.position_name_th}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>วันที่ทำรายการเริ่มต้น</mat-label>
                            <input matInput [matDatepicker]="fromDate" [(ngModel)]="startDate">
                            <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                            <mat-datepicker #fromDate></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>วันที่ทำรายการสิ้นสุด</mat-label>
                            <input matInput [matDatepicker]="toDate" [(ngModel)]="endDate">
                            <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                            <mat-datepicker #toDate></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6"></div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="paddingInput">
                        <app-button-search (click)="search()"></app-button-search>

                    </div>
                    <div class="paddingInput">
                        <app-button-reset (click)="clear()"></app-button-reset>
                    </div>
                </div>
            </ng-container>
        </app-layout-search>
        <!-- <div>
            <app-button-add (click)="addPage()"></app-button-add>
        </div>
        <br /> -->
        <mat-tab-group>
            <mat-tab label="รอจัดสรร">
                <ng-container *ngIf="RequestsDatas$ | async as RequestsDatas">
                    <table mat-table [dataSource]="rows1" matSort #t1Sort="matSort" class="mat-elevation-z2"
                        style="width: 100%;">
                        <tr mat-header-row *matHeaderRowDef="['action', '1', '2','3','4','5','6','7']"></tr>
                        <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2','3','4','5','6','7']"></tr>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                            <td mat-cell *matCellDef="let data">
                                <!-- <app-icon-report></app-icon-report> -->
                                <button mat-icon-button color="primary"
                                    aria-label="Example icon button with a home icon"
                                    (click)="editPage1(data.manpower_request_uid)">
                                    <span class="material-icons" style="font-size: 20px;">
                                        find_in_page
                                    </span>
                                </button>
                                <!-- <app-icon-edit ></app-icon-edit> -->
                                <!-- <app-icon-del (click)="deleteItem(data.manpower_request_uid)"></app-icon-del> -->
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="1">
                            <th mat-header-cell *matHeaderCellDef>เลขที่เอกสาร </th>
                            <td mat-cell *matCellDef="let data; let index = index">
                                {{data.document_no}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="2">
                            <th mat-header-cell *matHeaderCellDef>วันที่เอกสาร </th>
                            <td mat-cell *matCellDef="let data; let index = index">
                                {{data.request_date | thaiDate}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="3">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อผู้ขอ </th>
                            <td mat-cell *matCellDef="let data">
                                {{data.request_by}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="4">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> หน่วยงาน </th>
                            <td mat-cell *matCellDef="let data">
                                {{data.agency_uid | getDataId : agencysDatas : 'agency_uid' : 'agency_name_th' : ''}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="5">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> ตำแหน่งงานที่ขอ </th>
                            <td mat-cell *matCellDef="let data">
                                {{data.position_uid | getDataId : positionDatas : 'position_uid' : 'position_name_th' :
                                ''}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="6">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> อัตรากำลังที่ขอ </th>
                            <td mat-cell *matCellDef="let data">
                                {{data.no_of_manpower}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="7">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> หมายเหตุการขออัตรากำลัง </th>
                            <td mat-cell *matCellDef="let data">
                                {{data.remark}}
                            </td>
                        </ng-container>
                    </table>
                </ng-container>
                <br>
                <mat-paginator #t1Paginator="matPaginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
                </mat-paginator>
            </mat-tab>
            <mat-tab label="จัดสรรแล้ว">
                <ng-container *ngIf="RequestsDatas$ | async as RequestsDatas">
                    <table mat-table [dataSource]="rows2" matSort #t2Sort="matSort" class="mat-elevation-z2"
                        style="width: 100%;">
                        <tr mat-header-row *matHeaderRowDef="['action', '1', '2','3','4','5','6']"></tr>
                        <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2','3','4','5','6']"></tr>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                            <td mat-cell *matCellDef="let data">
                                <!-- <app-icon-report></app-icon-report> -->
                                <app-icon-edit (click)="editPage2(data.manpower_assignment_uid)"></app-icon-edit>
                                <!-- <app-icon-del></app-icon-del> -->
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="1">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> เลขที่เอกสาร </th>
                            <td mat-cell *matCellDef="let data">

                                {{data.manpower_request_uid | getDataId : RequestsDatas : 'manpower_request_uid' :
                                'document_no' : ''}}


                            </td>
                        </ng-container>
                        <ng-container matColumnDef="2">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่ทำรายการ </th>
                            <td mat-cell *matCellDef="let data">

                                {{(data.manpower_request_uid | getDataId : RequestsDatas : 'manpower_request_uid' :
                                'request_date' : '')| thaiDate}}

                            </td>
                        </ng-container>
                        <ng-container matColumnDef="3">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> หน่วยงานที่ร้องขออัตรากำลัง</th>
                            <td mat-cell *matCellDef="let data">
                                {{(data.manpower_request_uid | getDataId : RequestsDatas : 'manpower_request_uid' :
                                'agency_uid' : '') | getDataId : agencysDatas : 'agency_uid' : 'agency_name_th' : ''}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="4">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> ตำแหน่งงานที่ขอร้องให้เพิ่มอัตรากำลัง
                            </th>
                            <td mat-cell *matCellDef="let data">
                                {{(data.manpower_request_uid | getDataId : RequestsDatas : 'manpower_request_uid' :
                                'position_uid' : '') | getDataId : positionDatas : 'position_uid' : 'position_name_th' :
                                ''}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="5">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> อัตรากำลังที่ขอ </th>
                            <td mat-cell *matCellDef="let data">

                                {{data.manpower_request_uid | getDataId : RequestsDatas : 'manpower_request_uid' :
                                'no_of_manpower' : ''}}

                            </td>
                        </ng-container>
                        <ng-container matColumnDef="6">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> อัตรากำลังที่ได้รับ </th>
                            <td mat-cell *matCellDef="let data">
                                {{data.manpower_assignment_details.length}}
                            </td>
                        </ng-container>
                    </table>
                </ng-container>
                <br>
                <mat-paginator #t2Paginator="matPaginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
                </mat-paginator>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>