<div class="card-body">
    <h2 class="card-title">สรุปรายละเอียดสถานะประมวลผล</h2>
    <form [formGroup]="form">
        <mat-card class="mat-elevation-z4">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>ประเภทการประมวลผล</mat-label>
                        <input matInput type="text" [value]="salaryProcessData?.process_type_id" disabled />
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>เลขที่ประมวลผล</mat-label>
                        <input matInput type="text" [value]="salaryProcessData?.process_no" disabled />
                    </mat-form-field>
                </div>
            </div>

            <table mat-table [dataSource]="salaryProcessDatasList$ | async" matSort class="mat-elevation-z2"
                style="width: 100%;">
                <tr mat-header-row *matHeaderRowDef="['action', '1', '2','3','4','5']"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2','3','4','5']"></tr>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                    <td mat-cell *matCellDef="let data; let index = index">
                        <app-icon-edit (click)="edit(data?.salary_process_detail?.salary_process_detail_uid)"></app-icon-edit>
                    </td>
                </ng-container>
                <ng-container matColumnDef="1">
                    <th mat-header-cell *matHeaderCellDef>เลขที่ตำแหน่ง </th>
                    <td mat-cell *matCellDef="let data; let index = index">
                        {{data?.personnel?.personnel_no}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="2">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> เลขที่บัตรประชาชน </th>
                    <td mat-cell *matCellDef="let data">
                        {{data?.personnel?.citizen_id}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="3">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อ-นามสกุล </th>
                    <td mat-cell *matCellDef="let data">
                        {{data?.personnel?.display_name_th}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="4">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ข้อผิดพลาด </th>
                    <td mat-cell *matCellDef="let data">
                        {{data?.salary_process_detail?.has_error ? data?.salary_process_detail?.remark : '-'}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="5">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> สลิปเงินเดือน </th>
                    <td mat-cell *matCellDef="let data">
                        <app-icon-report></app-icon-report>
                    </td>
                </ng-container>
            </table>
            <br />
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            <br />
            <div class="flex_row_end">
                <app-button-save (click)="save()" [title]="'ปิดงวดการจ่าย'" [width]="'140px'"></app-button-save>&nbsp;&nbsp;
                <app-button-close (click)="close()" [title]="'ย้อนกลับ'"></app-button-close>
            </div>
        </mat-card>
    </form>
    <pre *ngIf="!isHideForm">{{ salaryProcessData | json}}</pre>
</div>