<div class="card-body">
    <h2 class="card-title">{{state == 'add' ? 'เพิ่ม' : ' แก้ไข'}}ข้อมูลรอบการจ่ายเงินเดือน</h2>
    <form [formGroup]="form">
        <mat-card class="mat-elevation-z4">
            <mat-card-content>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>รหัสรอบการจ่าย<span style="color: red">*</span></mat-label>
                            <input matInput formControlName="payment_period_code" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>ชื่อรอบการจ่าย<span style="color: red">*</span></mat-label>
                            <input matInput formControlName="payment_period_name_th" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>ชื่อรอบการจ่าย(Eng)<span style="color: red">*</span></mat-label>
                            <input matInput formControlName="payment_period_name_en" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>รอบการจ่ายปี<span style="color: red">*</span></mat-label>
                            <mat-select formControlName="payment_year_id">
                                <mat-option [value]="0">First option</mat-option>
                                <mat-option [value]="1">Second option</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>วันที่เริ่มมีผลใช้</mat-label>
                            <input matInput [matDatepicker]="picker1" (click)="picker1.open()"
                                formControlName="effective_date">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>สถานะใช้งาน<span style="color: red">*</span></mat-label>
                            <mat-select formControlName="status_id">
                                <mat-option *ngFor="let data of statusDatas" [value]="data?.status_id">
                                    {{data?.status_name_th}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <ng-container *ngIf="state == 'edit'">
                    <mat-table [dataSource]="dataSource" class="mat-elevation-z2" style="width: 100%;">
                        <ng-container matColumnDef="no">
                            <mat-header-cell *matHeaderCellDef [ngClass]="'w-75 centre'"> งวดที่ </mat-header-cell>
                            <mat-cell *matCellDef="let element;let i = index" [formGroup]="element"
                                [ngClass]="'w-75 centre'">
                                {{i+1}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef [ngClass]="'w-120'"> เดือน </mat-header-cell>
                            <mat-cell *matCellDef="let element;let i = index" [formGroup]="element" [ngClass]="'w-120'">
                                {{monthName[i]}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="start_date">
                            <mat-header-cell *matHeaderCellDef> วันที่เริ่มต้น </mat-header-cell>
                            <mat-cell *matCellDef="let element;" [formGroup]="element">
                                <mat-form-field appearance="outline">
                                    <input matInput [matDatepicker]="picker_start_date"
                                        (click)="picker_start_date.open()" formControlName="start_date">
                                    <mat-datepicker-toggle matSuffix [for]="picker_start_date"></mat-datepicker-toggle>
                                    <mat-datepicker #picker_start_date></mat-datepicker>
                                </mat-form-field>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="end_date">
                            <mat-header-cell *matHeaderCellDef> วันที่สิ้นสุด </mat-header-cell>
                            <mat-cell *matCellDef="let element;" [formGroup]="element">
                                <mat-form-field appearance="outline">
                                    <input matInput [matDatepicker]="picker_end_date" (click)="picker_end_date.open()"
                                        formControlName="end_date">
                                    <mat-datepicker-toggle matSuffix [for]="picker_end_date"></mat-datepicker-toggle>
                                    <mat-datepicker #picker_end_date></mat-datepicker>
                                </mat-form-field>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="pay_date">
                            <mat-header-cell *matHeaderCellDef> วันที่จ่าย </mat-header-cell>
                            <mat-cell *matCellDef="let element;" [formGroup]="element">
                                <mat-form-field appearance="outline">
                                    <input matInput [matDatepicker]="picker_pay_date" (click)="picker_pay_date.open()"
                                        formControlName="pay_date">
                                    <mat-datepicker-toggle matSuffix [for]="picker_pay_date"></mat-datepicker-toggle>
                                    <mat-datepicker #picker_pay_date></mat-datepicker>
                                </mat-form-field>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="ot_start_date">
                            <mat-header-cell *matHeaderCellDef> วันที่เริ่มต้นOT </mat-header-cell>
                            <mat-cell *matCellDef="let element;" [formGroup]="element">
                                <mat-form-field appearance="outline">
                                    <input matInput [matDatepicker]="picker_ot_start_date"
                                        (click)="picker_ot_start_date.open()" formControlName="ot_start_date">
                                    <mat-datepicker-toggle matSuffix [for]="picker_ot_start_date">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker_ot_start_date></mat-datepicker>
                                </mat-form-field>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="ot_end_date">
                            <mat-header-cell *matHeaderCellDef> วันที่สิ้นสุดOT </mat-header-cell>
                            <mat-cell *matCellDef="let element;" [formGroup]="element">
                                <mat-form-field appearance="outline">
                                    <input matInput [matDatepicker]="picker_ot_end_date"
                                        (click)="picker_ot_end_date.open()" formControlName="ot_end_date">
                                    <mat-datepicker-toggle matSuffix [for]="picker_ot_end_date"></mat-datepicker-toggle>
                                    <mat-datepicker #picker_ot_end_date></mat-datepicker>
                                </mat-form-field>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="is_closed">
                            <mat-header-cell *matHeaderCellDef [ngClass]="'w-75 centre'"> ปิดงวดการจ่าย
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element;" [formGroup]="element" [ngClass]="'w-75 centre'">
                                <input type="checkbox" formControlName="is_closed">
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                </ng-container>
            </mat-card-content>
            <div class="flex_row_end">
                <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
                <app-button-close (click)="close()"></app-button-close>
            </div>
        </mat-card>
    </form>
    <pre *ngIf="!isHideForm">{{ form.getRawValue() | json}}</pre>
</div>