<form [formGroup]="form">
    <mat-card class="mat-elevation-z4" style="padding: 0px 16px 16px 16px;border-radius: 0px;">
        <mat-card-content>
            <mat-list>
                <mat-list-item>ข้อมูลบุคลากร</mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
            <mat-tab-group>
                <mat-tab label="ข้อมูลทั่วไป">
                    <app-save-profile-registration-form-general [form]="form">
                    </app-save-profile-registration-form-general>
                </mat-tab>
                <mat-tab label="สถานภาพส่วนตัว">
                    <app-save-profile-registration-form-personal-status [form]="form">
                    </app-save-profile-registration-form-personal-status>
                    <ng-container formArrayName="personnel_addresses">
                        <app-save-profile-registration-form-address [form]="form"
                            *ngFor="let emAddress of form['controls']['personnel_addresses']['controls'];let personnel_addressesIndex = index"
                            [formGroupName]="personnel_addressesIndex"
                            [formAddress]="emAddress"
                            ></app-save-profile-registration-form-address>
                        </ng-container>
                </mat-tab>
                <!-- <mat-tab label="ที่อยู่ติดต่อ">
                    <ng-container formArrayName="personnel_addresses">
                    <app-save-profile-registration-form-address [form]="form"
                        *ngFor="let emAddress of form['controls']['personnel_addresses']['controls'];let personnel_addressesIndex = index"
                        [formGroupName]="personnel_addressesIndex"
                        [formAddress]="emAddress"
                        ></app-save-profile-registration-form-address>
                    </ng-container>
                </mat-tab> -->
                <mat-tab label="ประวัติ">
                    <app-save-profile-registration-form-history [form]="form"></app-save-profile-registration-form-history>
                </mat-tab>
                <mat-tab label="ใบประกอบวิชาชีพ">
                    <app-save-profile-registration-form-professional-license [form]="form">
                    </app-save-profile-registration-form-professional-license>
                </mat-tab>
                <mat-tab label="การว่าจ้าง">
                    <app-save-profile-registration-form-hire [form]="form"></app-save-profile-registration-form-hire>
                </mat-tab>
                <mat-tab label="สายงาน">
                    <app-work-chart [form]="form"></app-work-chart>
                </mat-tab>
                <!-- <mat-tab label="ตำแหน่งปัจจุบัน"> 
                <app-save-profile-registration-form-current-position></app-save-profile-registration-form-current-position>
            </mat-tab> -->
                
            </mat-tab-group>
            <br>
            <div class="flex_row_end">
                <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
                <app-button-close (click)="close()"></app-button-close>
            </div>
        </mat-card-content>
    </mat-card>
</form>

<pre *ngIf="!isHideForm">{{form.getRawValue()|json}}</pre>