<div class="card-body">
    <h2 class="card-title">รายการเงินตกเบิก <label *ngIf="!isHideForm">/salary/overdue_moneys</label></h2>
    <mat-card class="mat-elevation-z4">
        <mat-card-content>
            <app-layout-search>
                <ng-container content>
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>คำค้นหา</mat-label>
                                <input matInput />
                                <mat-icon matSuffix>search</mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                </ng-container>
            </app-layout-search>
            <div>
                <app-button-add (click)="addPage()"></app-button-add>
            </div>
            <br />
            <table mat-table [dataSource]="overdueMoney$ | async" matSort class="mat-elevation-z2" style="width: 100%;">
                <tr mat-header-row *matHeaderRowDef="['action', '1', '2','3','4','5','6']"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2','3','4','5','6']"></tr>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                    <td mat-cell *matCellDef="let data">
                        <!-- <app-icon-report></app-icon-report> -->
                        <app-icon-edit (click)="editPage(data?.overdue_money_uid)"></app-icon-edit>
                        <app-icon-del (click)="deleteItem(data?.overdue_money_uid)"></app-icon-del>
                    </td>
                </ng-container>
                <ng-container matColumnDef="1">
                    <th mat-header-cell *matHeaderCellDef>ชื่อบุคลากร</th>
                    <td mat-cell *matCellDef="let data; let index = index">
                        {{data?.personnel_uid | getDataId : personnelDatas : 'personnel_uid' : 'first_name_th' :
                        ''}}&nbsp;&nbsp;{{data?.personnel_uid | getDataId : personnelDatas : 'personnel_uid' :
                        'last_name_th' : ''}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="2">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อตำแหน่ง </th>
                    <td mat-cell *matCellDef="let data">
                        {{data?.personnel_uid | getDataId : personnelDatas : 'personnel_uid' : 'personnel_skills' : ''}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="3">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อหน่วยงาน </th>
                    <td mat-cell *matCellDef="let data">
                        {{data?.personnel_uid | getDataId : personnelDatas : 'personnel_uid' :
                        'personnel_academic_works' : ''}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="4">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่ลงคำสั่ง </th>
                    <td mat-cell *matCellDef="let data">
                        {{data?.order_date}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="5">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> รายการ </th>
                    <td mat-cell *matCellDef="let data">
                        {{data?.money_type_uid | getDataId : moneyTypeDatas : 'money_type_uid' :
                        'money_type_name_th' : ''}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="6">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> จำนวนเงินตกเบิก </th>
                    <td mat-cell *matCellDef="let data">
                        {{data?.overdue_amount | number:'1.2-2'}}
                    </td>
                </ng-container>
            </table>
            <br>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </mat-card-content>
    </mat-card>
</div>