 <div style="display: flex;flex-flow: column;height: 100%;">
  <div class="container_router">
      <div class="container">
        <mat-card class="mat-elevation-z4" style="width: 300px;border-radius: 0px;">  
        <mat-card-header>
          <mat-card-title>HR</mat-card-title>
      </mat-card-header>
        </mat-card>
          <mat-card class="mat-elevation-z4" style="width: 300px;border-radius: 0px;">  
            <div class="flex_row">
              <mat-form-field appearance="outline" style="width: 100%;">
                  <mat-label>UserName</mat-label>
                  <input [(ngModel)]="user" matInput />
                </mat-form-field>
            </div>
              <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Password</mat-label>
                <input type="password" [(ngModel)]="password" matInput />
            </mat-form-field>
            <div class="flex_row_end">
              <button mat-raised-button (click)="authen()" color="primary" style="margin-top: 0.25em;">
                <span style="color: white;">LOGIN</span>
            </button>
              <!-- <button mat-raised-button color="accent" (click)="authen()">LOGIN</button> -->
          </div>
              </mat-card>
        </div>
  </div>    
</div>



