<form [formGroup]="form">
<mat-card class="mat-elevation-z4">
    <mat-card-content>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>ประเภทบุคลากร<span style="color: red">*</span></mat-label>
                        <mat-select [(ngModel)]="personnel_in_house" [ngModelOptions]="{standalone: true}" 
                            [disabled]="state == 'edit'">
                            <mat-option *ngFor="let item of typePerson" [value]="item.check">{{item.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <ng-container *ngIf="personnel_in_house == true">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>ชื่อ - นามสกุล<span style="color: red">*</span></mat-label>
                            <mat-select formControlName="insignia_request_guid" 
                                (selectionChange)="getPersonIn(form.value.insignia_request_guid)" [disabled]="state == 'edit'">
                                <mat-option *ngFor="let item of personIn"
                                    [value]="item.insignia_request_uid">
                                    {{item.prefix_name}} {{item.first_name}} {{item.last_name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>ประเภทบุคลากร</mat-label>
                            <input matInput disabled
                                [value]="dataPerson? (dataPerson?.personnel_hires[0]?.personnel_type_id | getDataId : personType : 'personnel_type_id' : 'personnel_type_name_th' : '') : '' " />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>เลขประจำตำแหน่ง</mat-label>
                            <input matInput disabled [value]="manNo? manNo : ''" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>ชื่อตำแหน่ง</mat-label>
                            <input matInput disabled
                                [value]="dataPerson? dataPerson?.personnel_hires[0]?.position?.position_name_th : '' " />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>วันที่เริ่มบรรจุ</mat-label>
                            <input matInput disabled
                                [value]="dataPerson? (dataPerson?.personnel_hires[0]?.hire_date | thaiDate) : null" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>หมายเลขบัตรประชาชน</mat-label>
                            <input matInput disabled [value]="dataPerson? dataPerson?.citizen_id : null" />
                        </mat-form-field>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="personnel_in_house == false">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>ชื่อ - นามสกุล<span style="color: red">*</span></mat-label>
                            <mat-select formControlName="insignia_request_guid" 
                            (selectionChange)="getPersonOut(form.value.insignia_request_guid)" [disabled]="state == 'edit'">
                            <mat-option *ngFor="let item of personOut"
                                [value]="item.insignia_request_uid">
                                {{item.outsider_name}}
                            </mat-option>
                        </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>หมายเลขบัตรประชาชน <span style="color: red">*</span></mat-label>
                            <input matInput disabled [value]="dataCitizen?.outsider_citizen_id"  />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>ตำแหน่งประจำตัว <span style="color: red">*</span></mat-label>
                            <input matInput disabled [value]="dataCitizen?.outsider_position_uid | getDataId : positions : 'position_uid' : 'position_name_th' : '' "/>
                        </mat-form-field>
                    </div>
                </div>
            </ng-container>
        <br>

        
            <!-- <mat-card class="mat-elevation-z4" style="margin-top: 20px;">
                <mat-card-content> -->
                    <!-- <ng-container *ngIf="form.get('personnel_in_house').value"> -->
                        <mat-card class="mat-elevation-z4" style="margin-top:20px">
                            <mat-card-content>
                                <label for="">รายการเครื่องราชอิสริยาภรณ์</label>
                                <!-- <div>
                                    <app-button-add (click)="popupAdd()"></app-button-add>
                                </div>
                                <br> -->
                                <table mat-table [dataSource]="resultAssign? resultAssign : ''" matSort class="mat-elevation-z2"
                                    style="width: 100%;">
                                    <tr mat-header-row
                                        *matHeaderRowDef="['action', '1', '2','3', '4','5', '6','7', '8','9', '10','11', '12','13', '14']">
                                    </tr>
                                    <tr mat-row
                                        *matRowDef="let myRowData; columns: ['action','1', '2','3', '4','5', '6','7', '8','9', '10','11', '12','13', '14']">
                                    </tr>
                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                                        <td mat-cell *matCellDef="let data ; let i = index">
                                            <app-icon-edit (click)="popupEdit(data,i)"></app-icon-edit>
                                            <!-- <app-icon-del (click)="deleteItem(data,i)"></app-icon-del> -->
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="1">
                                        <th mat-header-cell *matHeaderCellDef>วันที่ได้รับพระราชทาน </th>
                                        <td mat-cell *matCellDef="let data; let index = index">
                                            {{data.insignia_assign?.insignia_assign_uid | getDataId : assignData : 'insignia_assign_uid' : 'bestow_date' : '' | thaiDate }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="2">
                                        <th mat-header-cell *matHeaderCellDef>ตำแหน่งประจำตัว </th>
                                        <td mat-cell *matCellDef="let data; let index = index">
                                            {{data.insignia_assign?.position_name}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="3">
                                        <th mat-header-cell *matHeaderCellDef>ชื่อเครื่องราชฯ/เหรียญตรา </th>
                                        <td mat-cell *matCellDef="let data; let index = index">
                                            {{data.insignia_short_name}}
                                            <!-- {{data.insignia_detail_uid | getDataId : insigniaDetails : 'insignia_detail_uid' :
                                            'short_name' : '' }} -->
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="4">
                                        <th mat-header-cell *matHeaderCellDef>เล่ม </th>
                                        <td mat-cell *matCellDef="let data; let index = index">
                                            {{data.insignia_assign?.insignia_assign_uid | getDataId : assignData : 'insignia_assign_uid' : 'parts_no' : ''}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="5">
                                        <th mat-header-cell *matHeaderCellDef>ตอน </th>
                                        <td mat-cell *matCellDef="let data; let index = index">
                                            {{data.insignia_assign?.insignia_assign_uid | getDataId : assignData : 'insignia_assign_uid' : 'version_no' : '' }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="6">
                                        <th mat-header-cell *matHeaderCellDef>หน้า </th>
                                        <td mat-cell *matCellDef="let data; let index = index">
                                            {{data.insignia_assign?.insignia_assign_uid | getDataId : assignData : 'insignia_assign_uid' : 'page_no' : ''  }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="7">
                                        <th mat-header-cell *matHeaderCellDef>วันที่ได้ประกาศราชกิจจานุเบกษา </th>
                                        <td mat-cell *matCellDef="let data; let index = index">
                                            <!-- {{data.announcement_date}} -->
                                            {{data.insignia_assign?.insignia_assign_uid | getDataId : assignData : 'insignia_assign_uid' : 'announcement_date' : '' | thaiDate }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="8">
                                        <th mat-header-cell *matHeaderCellDef>ใบกำกับ </th>
                                        <ng-container *matCellDef="let data">
                                            <td mat-cell *ngIf="(data.insignia_assign?.license_receive_status == true);">ได้รับ</td>
                                            <td mat-cell *ngIf="(data.insignia_assign?.license_receive_status == false);">ไม่ได้รับ</td>
                                        </ng-container>
                                        <!-- <td mat-cell *matCellDef="let data; let index = index">
                                            {{data.insignia_assign?.insignia_assign_uid | getDataId : assignData : 'insignia_assign_uid' : 'license_receive_status' : '' }}
                                        </td> -->
                                    </ng-container>
                                    <ng-container matColumnDef="9">
                                        <th mat-header-cell *matHeaderCellDef>วันที่ได้รับ </th>
                                        <td mat-cell *matCellDef="let data; let index = index">
                                            <!-- {{data.license_receive_date | date:'dd/MM/yyyy'}} -->
                                            {{data.insignia_assign?.insignia_assign_uid | getDataId : assignData : 'insignia_assign_uid' : 'license_receive_date' : '' | thaiDate }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="10">
                                        <th mat-header-cell *matHeaderCellDef>เครื่องราชฯ/เหรียญตรา </th>
                                        <ng-container *matCellDef="let data">
                                            <td mat-cell *ngIf="(data.insignia_assign?.insignia_receive_status == true);">ได้รับ</td>
                                            <td mat-cell *ngIf="(data.insignia_assign?.insignia_receive_status == false);">ไม่ได้รับ</td>
                                        </ng-container>
                                    </ng-container>
                                    <ng-container matColumnDef="11">
                                        <th mat-header-cell *matHeaderCellDef>วันที่ได้รับ </th>
                                        <td mat-cell *matCellDef="let data; let index = index">
                                            <!-- {{data.insignia_receive_date | date:'dd/MM/yyyy'}} -->
                                            {{data.insignia_assign?.insignia_assign_uid | getDataId : assignData : 'insignia_assign_uid' : 'insignia_receive_date' : '' | thaiDate  }}
                                            
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="12">
                                        <th mat-header-cell *matHeaderCellDef>เอกสารคืน </th>
                                        <ng-container *matCellDef="let data">
                                            <td mat-cell *ngIf="(data.insignia_assign?.return_status == true);">ได้รับ</td>
                                            <td mat-cell *ngIf="(data.insignia_assign?.return_status == false);">ไม่ได้รับ</td>
                                        </ng-container>
                                    </ng-container>
                                    <ng-container matColumnDef="13">
                                        <th mat-header-cell *matHeaderCellDef>ชดใช้ราคาแทน </th>
                                        <td mat-cell *matCellDef="let data; let index = index">
                                            <!-- {{data.pay_amount}} -->
                                            {{data.insignia_assign?.insignia_assign_uid | getDataId : assignData : 'insignia_assign_uid' : 'pay_amount' : '' | number : '1.2-2' }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="14">
                                        <th mat-header-cell *matHeaderCellDef>วันที่คืน </th>
                                        <td mat-cell *matCellDef="let data; let index = index">
                                            <!-- {{data.return_date}} -->
                                            {{data.insignia_assign?.insignia_assign_uid | getDataId : assignData : 'insignia_assign_uid' : 'return_date' : '' | thaiDate  }}
                                        </td>
                                    </ng-container>
                                </table>
                                <br>
                                <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
                            </mat-card-content>
                        </mat-card>
                    <!-- </ng-container> -->
                    <!-- <ng-container *ngIf="form.value.personnel_in_house != null">
                        <mat-card class="mat-elevation-z4" style="margin-top: 20px;">
                            <mat-card-content>
                                <label for="">เอกสารแนบ</label>
                                <div>
                                    <app-button-add (click)="addfile()"></app-button-add>
                                </div>
                                <br>
                                <table mat-table [dataSource]="form.value.insignia_assign_document" matSort class="mat-elevation-z2"
                                    style="width: 100%;">
                                    <tr mat-header-row *matHeaderRowDef="['action', '1', '2']"></tr>
                                    <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2']"></tr>
                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                                        <td mat-cell *matCellDef="let data ; let i = index">
                                            <app-icon-edit (click)="editfile(data,i)"></app-icon-edit>
                                            <app-icon-download (click)="downloadDoc(data.document_url)"></app-icon-download>
                                            <app-icon-del (click)="deleteItemDoc(data,i)"></app-icon-del>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="1">
                                        <th mat-header-cell *matHeaderCellDef>ชื่อไฟล์ </th>
                                        <td mat-cell *matCellDef="let data; let index = index">
                                            {{data.file_name}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="2">
                                        <th mat-header-cell *matHeaderCellDef>รายละเอียด </th>
                                        <td mat-cell *matCellDef="let data; let index = index">
                                            {{data.remark}}
                                        </td>
                                    </ng-container>
                                </table>
                                <br>
                                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                            </mat-card-content>
                        </mat-card>
                    </ng-container> -->
                    <br>
                    <div class="flex_row_end">
                        <ng-container *ngIf="state == 'add'">
                            <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
                        </ng-container>
                        <app-button-close (click)="close()"></app-button-close>
                    </div>
                <!-- </mat-card-content>
            </mat-card> -->
              
        </mat-card-content>
</mat-card>
</form>

<pre *ngIf="!isHideForm">{{form.getRawValue()|json}}</pre>