<div class="card-body">
    <h2 class="card-title">บันทึกสมาชิกกองทุนสำรองเลี้ยงชีพ <label
            *ngIf="!isHideForm">/salary/personnel_provident_funds</label></h2>
    <mat-card class="mat-elevation-z4">
        <mat-card-content>
            <app-layout-search>
                <ng-container content>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="outline">
                                <mat-label>ค้นหา</mat-label>
                                <input matInput />
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline">
                                <mat-label>หน่วยงาน</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let data of [{test:'test'}]" [value]="data.test">
                                        {{data.test}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- <div class="row justify-content-md-center">
            <div>
                <app-button-search></app-button-search>
                <app-button-reset></app-button-reset>
            </div>
        </div> -->
                </ng-container>
            </app-layout-search>
            <div>
                <app-button-add (click)="addPage()"></app-button-add>
            </div>
            <br />
            <table mat-table [dataSource]="personnelProvidentFund$ | async" matSort class="mat-elevation-z2"
                style="width: 100%;">
                <tr mat-header-row *matHeaderRowDef="['action', '1', '2','3','4','5','6']"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2','3','4','5','6']"></tr>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                    <td mat-cell *matCellDef="let data">
                        <!-- <app-icon-report></app-icon-report> -->
                        <app-icon-edit (click)="editPage(data?.personnel_provident_fund_uid)"></app-icon-edit>
                        <app-icon-del (click)="deleteItem(data?.personnel_provident_fund_uid)"></app-icon-del>
                    </td>
                </ng-container>
                <ng-container matColumnDef="1">
                    <th mat-header-cell *matHeaderCellDef>รหัสบุุคลากร</th>
                    <td mat-cell *matCellDef="let data; let index = index">
                        {{data?.personnel_uid | getDataId : personnelDatas : 'personnel_uid' : 'personnel_no' : ''}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="2">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อบุคลากร </th>
                    <td mat-cell *matCellDef="let data">
                        {{data?.personnel_uid | getDataId : personnelDatas : 'personnel_uid' : 'first_name_th' :
                        ''}}&nbsp;&nbsp;{{data?.personnel_uid | getDataId : personnelDatas : 'personnel_uid' :
                        'last_name_th' : ''}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="3">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อตำแหน่ง </th>
                    <td mat-cell *matCellDef="let data">
                        {{data?.personnel_uid | getDataId : personnelDatas : 'personnel_uid' : 'personnel_skills' : ''}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="4">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อหน่วยงาน </th>
                    <td mat-cell *matCellDef="let data">
                        {{data?.personnel_uid | getDataId : personnelDatas : 'personnel_uid' :
                        'personnel_academic_works' : ''}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="5">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อกองทุน </th>
                    <td mat-cell *matCellDef="let data">
                        {{data?.provident_fund_uid | getDataId : providentFundDatas : 'provident_fund_uid' :
                        'provident_fund_name_th' : ''}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="6">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่เริ่มเป็นสมาชิก </th>
                    <td mat-cell *matCellDef="let data">
                        {{data?.start_date | date:'dd/MM/yyyy'}}
                    </td>
                </ng-container>


            </table>
            <br>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </mat-card-content>
    </mat-card>
</div>