<form [formGroup]="form">
    <mat-card class="mat-elevation-z4">
        <mat-card-content>
            <div class="flex_row_between">
                <mat-form-field class="paddingInput" appearance="outline" style="width: 45%;">
                    <mat-label>รหัส <span style="color: red;">*</span></mat-label>
                    <input matInput formControlName="insignia_request_condition_code" />
                </mat-form-field>
                <mat-form-field class="paddingInput" appearance="outline" style="width: 45%;">
                    <mat-label>ชื่อบัญชี <span style="color: red;">*</span></mat-label>
                    <input matInput formControlName="insignia_request_condition_name" />
                </mat-form-field>
            </div>
            <div class="flex_row_between">
                <mat-form-field class="paddingInput" appearance="outline" style="width: 45%;"
                    *ngIf="personnelTypes$ | async as personnelTypes">
                    <mat-label>ประเภทบุคลากร<span style="color: red">*</span></mat-label>
                    <mat-select formControlName="personnel_type_id">
                        <mat-option *ngFor="let data of personnelTypes" [value]="data.personnel_type_id">
                            {{data.personnel_type_name_th}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div style="width: 45%;">
                    <mat-checkbox class="example-margin" formControlName="affiliated_under_ministerial">
                        สังกัดหน่วยงานตั้งโดยกฎกระทรวง</mat-checkbox>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline"
                        *ngIf="operatorCompare$ | async as operatorCompare">
                        <mat-label>ระยะเวลาปฏิบัติงาน<span style="color: red">*</span></mat-label>
                        <mat-select formControlName="duration_operator_compare">
                            <mat-option *ngFor="let data of operatorCompare" [value]="data.operator_compare_id">
                                {{data.operator_compare_name_th}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>ระยะเวลาปฎิบัติงาน (ปี) <span style="color: red;">*</span></mat-label>
                        <input matInput type="number" formControlName="duration_year" />
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>ก่อนวันที่สถาปนา <span style="color: red;">*</span></mat-label>
                        <input matInput type="number" formControlName="before_request_days" />
                    </mat-form-field>
                </div>
            </div>
            <!-- <div class="flex_row_between">
                <mat-form-field class="paddingInput" appearance="outline" style="width: 45%;">
                    <mat-label>การคืน<span style="color: red">*</span></mat-label>
                    <mat-select>
                        <mat-option value="one">First option</mat-option>
                        <mat-option value="two">Second option</mat-option>
                    </mat-select>
                </mat-form-field>
            </div> -->


            <mat-card class="mat-elevation-z4">
                <mat-card-content>
                    <label for="">รายละเอียดการถือครอง</label>
                    <div>
                        <app-button-add (click)="add_holding_royal()"></app-button-add>
                    </div>
                    <br>
                    <table mat-table [dataSource]="form.value.insignia_condition_detail" matSort
                        class="mat-elevation-z2" style="width: 100%;">
                        <tr mat-header-row *matHeaderRowDef="['action', '1','2','3','4','5','6']"></tr>
                        <tr mat-row *matRowDef="let myRowData; columns: ['action', '1','2','3','4','5','6']"></tr>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                            <td mat-cell *matCellDef="let data;let i = index">
                                <app-icon-edit (click)="edit_holding_royal(data,i)"></app-icon-edit>
                                <app-icon-del (click)="del_insignia_condition_detail(data,i)"></app-icon-del>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="1">
                            <th mat-header-cell *matHeaderCellDef>สายงาน </th>
                            <td mat-cell *matCellDef="let data; let index = index">
                                <ng-container *ngIf="WorkGroups$ | async as WorkGroups">
                                    {{data.work_group_id | getDataId : WorkGroups : 'work_group_id' : 'work_group_name_th' : ''}}
                                </ng-container>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="2">
                            <th mat-header-cell *matHeaderCellDef>ประเภทตำแหน่ง</th>
                            <td mat-cell *matCellDef="let data; let index = index">
                                <ng-container *ngIf="positionTypes$ | async as positionTypes">
                                    {{data.position_type_id | getDataId : positionTypes : 'position_type_id' : 'position_type_name_th' : ''}}
                                </ng-container>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="3">
                            <th mat-header-cell *matHeaderCellDef>ระดับตำแหน่ง </th>
                            <td mat-cell *matCellDef="let data; let index = index">
                                <ng-container *ngIf="positionLevels$ | async as positionLevels">
                                    {{data.position_level_id | getDataId : positionLevels : 'position_level_id' : 'position_level_name_th' :''}}
                                </ng-container>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="4">
                            <th mat-header-cell *matHeaderCellDef>ระยะเวลาทำงาน (ปี) </th>
                            <td mat-cell *matCellDef="let data; let index = index">
                                <ng-container *ngIf="operatorCompare$ | async as operatorCompare">
                                {{data.operator_compare_work_id | getDataId : operatorCompare : 'operator_compare_id' : 'operator_compare_name_th' : ''}} &nbsp;{{data.work_at_position_year}}
                                </ng-container>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="5">
                            <th mat-header-cell *matHeaderCellDef>เริ่มต้น/ถือครองเครื่องราช</th>
                            <td mat-cell *matCellDef="let data; let index = index" >
                                <ng-container *ngIf="insigniaDetail$ | async as insigniaDetail">
                                    {{data.holding_insignia_uid | getDataId : insigniaDetail : 'insignia_uid' : 'insignia_short_name' : ''}}
                                </ng-container>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="6">
                            <th mat-header-cell *matHeaderCellDef>สามารถขอเครื่องราช </th>
                            <td mat-cell *matCellDef="let data; let index = index" >
                                <ng-container *ngIf="insigniaDetail$ | async as insigniaDetail">
                                    {{data.can_request_insignia_uid | getDataId : insigniaDetail : 'insignia_uid' : 'insignia_short_name' : ''}}
                                </ng-container>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="7">
                            <th mat-header-cell *matHeaderCellDef>จำนวนปีที่ถือครอง </th>
                            <td mat-cell *matCellDef="let data; let index = index" >
                                <ng-container *ngIf="operatorCompare$ | async as operatorCompare">
                                    {{data.operator_compare_holder_id | getDataId : operatorCompare : 'operator_compare_id' : 'operator_compare_name_th' : ''}} &nbsp;{{data.holding_duration_year}}
                                    </ng-container>
                            </td>
                        </ng-container>

                    </table>

                </mat-card-content>
            </mat-card>
            <br>

            <mat-card class="mat-elevation-z4">
                <mat-card-content>
                    <label for="">เอกสารไฟล์เกณฑ์</label>
                    <div>
                        <app-button-add (click)="addfile()"></app-button-add>
                    </div>
                    <br>
                    <table mat-table [dataSource]="form.value.insignia_request_document" matSort
                        class="mat-elevation-z2" style="width: 100%;">
                        <tr mat-header-row *matHeaderRowDef="['action', '1', '2']"></tr>
                        <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2']"></tr>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                            <td mat-cell *matCellDef="let data ; let i = index">
                                <app-icon-edit (click)="editfile(data,i)"></app-icon-edit>
                                <app-icon-download (click)="downloadDoc(data.document_url)"></app-icon-download>
                                <app-icon-del (click)="deleteItemDoc(data,i)"></app-icon-del>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="1">
                            <th mat-header-cell *matHeaderCellDef>ชื่อไฟล์ </th>
                            <td mat-cell *matCellDef="let data; let index = index">
                                {{data.file_name}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="2">
                            <th mat-header-cell *matHeaderCellDef>รายละเอียด </th>
                            <td mat-cell *matCellDef="let data; let index = index">
                                {{data.remark}}
                            </td>
                        </ng-container>
                    </table>
                    <br>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </mat-card-content>
            </mat-card>
            <br>
            <div class="flex_row_end">
                <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
                <app-button-close (click)="close()"></app-button-close>
            </div>
        </mat-card-content>
    </mat-card>
</form>
<pre *ngIf="!isHideForm">{{form.getRawValue()|json}}</pre>