<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <app-layout-search>
            <ng-container content>
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>คำค้นหา</mat-label>
                            <input matInput [(ngModel)]="dataSearch" (input)="search()" />
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
            </ng-container>
        </app-layout-search>


        <!-- <div class="row">
            <div class="col-md-3">
                <mat-form-field class="paddingInput" appearance="outline" >
                    <mat-label> ค้นหา </mat-label>
                    <input matInput />
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <div>
                    <app-button-search></app-button-search>
                    <app-button-reset></app-button-reset>
                </div>
            </div>
        </div> -->



        <div>
            <app-button-add (click)="addPage()"></app-button-add>
        </div>
        <br />
        <ng-container *ngIf="personnel$ | async as personnels ">
            <table mat-table [dataSource]="rows" matSort class="mat-elevation-z2" style="width: 100%;">
                <tr mat-header-row *matHeaderRowDef="['action', '1', '2','3','4','5','6','7']"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2','3','4','5','6','7']"></tr>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                    <td mat-cell *matCellDef="let data">
                        <app-icon-edit (click)="editPage(data.insignia_return_uid)"></app-icon-edit>
                        <app-icon-del (click)="deleteItem(data.insignia_return_uid)"></app-icon-del>
                    </td>
                </ng-container>
                <ng-container matColumnDef="1">
                    <th mat-header-cell *matHeaderCellDef>เลขประจำตำแหน่ง </th>
                    <td mat-cell *matCellDef="let data; let index = index">
                        {{data.manpower}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="2">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อ-นามสกุล </th>
                    <td mat-cell *matCellDef="let data">
                        {{data.first_name}} {{data.last_name}}
                        <!-- {{data.personnel_uid | getDataId : personnels : 'personnel_uid' : 'display_name_th' : '' }} -->
                    </td>
                </ng-container>
                <ng-container matColumnDef="3">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ประเภทบุคลากร </th>
                    <td mat-cell *matCellDef="let data">
                        {{data.personnel_type_name}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="4">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> หน่วยงาน </th>
                    <td mat-cell *matCellDef="let data">
                        {{data.agency_name}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="5">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ตำแหน่ง </th>
                    <td mat-cell *matCellDef="let data">
                        {{data.position_name}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="6">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่ </th>
                    <td mat-cell *matCellDef="let data">
                        {{data.document_date | thaiDate}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="7">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> สถานะ </th>
                    <ng-container *matCellDef="let data">
                        <td mat-cell *ngIf="(data.sign_status == true);"><span>
                                <div class="statusGreen" style="float: left;"></div>&nbsp;&nbsp;ผ่าน
                            </span></td>
                        <td mat-cell *ngIf="(data.sign_status == false);"><span>
                                <div class="statusRed" style="float: left;"></div>&nbsp;&nbsp;ไม่ผ่าน
                            </span></td>
                    </ng-container>
                </ng-container>
            </table>
            <br>
        </ng-container>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>