<form [formGroup]="form">
    <mat-card class="mat-elevation-z4">
        <mat-card-content>
            <div class="flex_row_between">
                <mat-form-field class="paddingInput" appearance="outline" style="width: 45%;">
                    <mat-label>รหัส <span style="color: red">*</span></mat-label>
                    <input matInput formControlName="action_type_code" />
                </mat-form-field>
                <mat-form-field class="paddingInput" appearance="outline" style="width: 45%;">
                    <mat-label>ประเภทการดำเนินการ <span style="color: red">*</span></mat-label>
                    <input matInput formControlName="action_type_name_th" />
                </mat-form-field>
            </div>
            <div class="flex_row_between" style="width: 100%;">
                <mat-form-field appearance="outline">
                    <mat-label>หมายเหตุ</mat-label>
                    <textarea matInput formControlName="action_type_remark" ></textarea>
                </mat-form-field>
            </div>
        </mat-card-content>
        
        <mat-card class="mat-elevation-z4">
            <mat-card-content>
                <mat-label>รายการประเภทการกระทำผิดทางวินัย</mat-label>
                <div>
                    <app-button-add (click)="popUpAdd()"></app-button-add>
                </div>
                <br />
                <table mat-table [dataSource]="form.value.fault_type" matSort class="mat-elevation-z2" style="width: 100%;">
                    <tr mat-header-row *matHeaderRowDef="['action', '1', '2']"></tr>
                    <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2']"></tr>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                        <td mat-cell *matCellDef="let data ; let i = index;">
                            <!-- <app-icon-report></app-icon-report> -->
                            <app-icon-edit (click)="popUpEdit(data,i)"></app-icon-edit>
                            <app-icon-del (click)="deleteItems(data.fault_type_id,i)"></app-icon-del>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="1">
                        <th mat-header-cell *matHeaderCellDef>รหัส </th>
                        <td mat-cell *matCellDef="let data; let index = index">
                            {{data.fault_type_code}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="2">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> รายการประเภททำความผิด </th>
                        <td mat-cell *matCellDef="let data">
                            {{data.fault_type_name_th}}
                        </td>
                    </ng-container>
                </table>
            </mat-card-content>
        </mat-card>
        <br>
        <div class="flex_row_end">
            <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
            <app-button-close (click)="close()"></app-button-close>
        </div>
    </mat-card>
</form>

<pre *ngIf="!isHideForm">{{form.getRawValue()|json}}</pre>