<form [formGroup]="form" >
    <mat-card class="mat-elevation-z4 mat-dialog-content">
        <mat-card-content>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>วันที่ได้รับพระราชทาน<span style="color: red">*</span></mat-label>
                        <input matInput [matDatepicker]="fromDate" formControlName="bestow_date">
                        <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                        <mat-datepicker #fromDate></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>ชื่อเครื่องราชฯ/เหรียญตรา <span style="color: red">*</span></mat-label>
                        <mat-select formControlName="insignia_uid">
                            <mat-option *ngFor="let item of insigniaDetails$ | async"
                                [value]="item.insignia_uid">
                                {{item.insignia_short_name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>ตำแหน่ง ณ ปีที่ขอ </mat-label>
                        <input matInput disabled [value]="data?.editForm?.position_name">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>ระดับตำแหน่ง ณ ปีที่ขอ</mat-label>
                        <input matInput disabled [value]="dataRequest? (dataRequest | getDataId : levelPosition : 'position_level_id' : 'position_level_name_th' : ''  ) : data?.editForm?.position_level_name">
                    </mat-form-field>
                </div>
            </div>
            <br>
            <div style="border-bottom: solid 1px;color: gainsboro;"></div>
            <br>
            <mat-label>ราชกิจจานุเบกษา</mat-label>
            <div class="row" style="margin-top: 20px;">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>เล่ม </mat-label>
                        <input matInput formControlName="parts_no">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>ตอน</mat-label>
                        <input matInput formControlName="version_no">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>หน้า </mat-label>
                        <input matInput formControlName="page_no">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>วันที่ได้ประกาศราชกิจจานุเบกษา</mat-label>
                        <input matInput [matDatepicker]="toDate" formControlName="announcement_date" >
                        <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                        <mat-datepicker #toDate></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <br>
            <div style="border-bottom: solid 1px;color: gainsboro;"></div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>ใบกำกับ</mat-label>
                        <mat-select formControlName="license_receive_status" (selectionChange)="setStatus1()">
                            <mat-option [value]="true">ได้รับ</mat-option>
                            <mat-option [value]="false">ไม่ได้รับ</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>วันที่ได้รับ<span style="color: red">*</span></mat-label>
                        <input matInput [matDatepicker]="fromDates" formControlName="license_receive_date">
                        <mat-datepicker-toggle matSuffix [for]="fromDates"></mat-datepicker-toggle>
                        <mat-datepicker #fromDates></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>เครื่องราชฯ/เหรียญตรา</mat-label>
                        <mat-select formControlName="insignia_receive_status" (selectionChange)="setStatus2()">
                            <mat-option [value]="true">ได้รับ</mat-option>
                            <mat-option [value]="false">ไม่ได้รับ</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>วันที่ได้รับ<span style="color: red">*</span></mat-label>
                        <input matInput [matDatepicker]="fromDate4" formControlName="insignia_receive_date">
                        <mat-datepicker-toggle matSuffix [for]="fromDate4"></mat-datepicker-toggle>
                        <mat-datepicker #fromDate4></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>เอกสารการคืน</mat-label>
                        <mat-select formControlName="return_status" >
                            <mat-option [value]="true">ได้รับ</mat-option>
                            <mat-option [value]="false">ไม่ได้รับ</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>ชดใช้ราคาแทน</mat-label>
                        <input matInput value="0.00" disabled formControlName="pay_amount" >
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>วันที่คืน<span style="color: red">*</span></mat-label>
                        <input matInput [matDatepicker]="fromDates10" formControlName="return_date">
                        <mat-datepicker-toggle matSuffix [for]="fromDates10"></mat-datepicker-toggle>
                        <mat-datepicker #fromDates10></mat-datepicker>
                    </mat-form-field>
                    <!-- <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>วันที่คืน</mat-label>
                        <input matInput disabled formControlName="return_date">
                    </mat-form-field> -->
                </div>
            </div>
            <br />
                    
                        <mat-card class="mat-elevation-z4" style="margin-top: 20px;">
                            <mat-card-content>
                                <label for="">เอกสารแนบ</label>
                                <div>
                                    <app-button-add (click)="addfile()"></app-button-add>
                                </div>
                                <br>
                                <table mat-table [dataSource]="rows" matSort class="mat-elevation-z2"
                                    style="width: 100%;">
                                    <tr mat-header-row *matHeaderRowDef="['action', '1', '2']"></tr>
                                    <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2']"></tr>
                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                                        <td mat-cell *matCellDef="let data ; let i = index">
                                            <app-icon-edit (click)="editfile(data,i)"></app-icon-edit>
                                            <app-icon-download (click)="downloadDoc(data.document_url)"></app-icon-download>
                                            <app-icon-del (click)="deleteItemDoc(data.insignia_assign_document_uid,i)"></app-icon-del>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="1">
                                        <th mat-header-cell *matHeaderCellDef>ชื่อไฟล์ </th>
                                        <td mat-cell *matCellDef="let data; let index = index">
                                            {{data.file_name}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="2">
                                        <th mat-header-cell *matHeaderCellDef>รายละเอียด </th>
                                        <td mat-cell *matCellDef="let data; let index = index">
                                            {{data.remark}}
                                        </td>
                                    </ng-container>
                                </table>
                                <br>
                                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                            </mat-card-content>
                        </mat-card>
                        <br>
            <div class="row justify-content-center">
                <div class="col-2">
                    <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
                </div>
                <div class="col-2">
                    <app-button-save-close (click)="saveClose()"></app-button-save-close>&nbsp;&nbsp;
                </div>
                <div class="col-2">
                    <app-button-close (click)="close()"></app-button-close>
                </div>
            </div>
            <pre *ngIf="!isHideForm">{{form.getRawValue()|json}}</pre>
        </mat-card-content>
    </mat-card>
</form>
