.hoverscorll{
    width: 100vh;
    overflow-y: scroll ;
    /* width: 100%; */
}

.mat-dialog-content {
    display: block;
    margin: 0 1px;
    padding: 10px 18px;
    max-height: 85vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}