<h1 mat-dialog-title>เพิ่มข้อมูลประวัติการทำงาน</h1>
<div mat-dialog-content rtl>
    <div class="card-body" style="padding: 0 15px 5px 15px;">
        <div class="row">
            <div class="col-md-6" >
                <mat-form-field appearance="outline" *ngIf="workTypes$ | async as workTypes">
                    <mat-label>ประเภทการทำงาน<span style="color: red">*</span> </mat-label>
                    <mat-select [(ngModel)]="work_records.working_type_id">
                        <mat-option *ngFor="let data of workTypes" [value]="data.work_type_id">
                            {{data.work_type_name_th}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>สถานที่</mat-label>
                    <input  matInput [(ngModel)]="work_records.place_name" />
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>ตําแหน่งงาน<span style="color: red">*</span></mat-label>
                    <input  matInput [(ngModel)]="work_records.position_name" />
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                
                <mat-form-field appearance="outline">
                    <mat-label>รายละเอียด</mat-label>
                    <textarea matInput [(ngModel)]="work_records.detail" ></textarea>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" >
                <mat-form-field appearance="outline">
                    <mat-label>วันที่เริ่มต้น<span style="color: red">*</span> </mat-label>
                    <input matInput [(ngModel)]="work_records.start_date" (dateChange)="dateChange()" (selectedValueChange)="dateChange()" matInput
                        (click)="start_date.open()" [matDatepicker]="start_date" />
                    <mat-datepicker-toggle matSuffix [for]="start_date">
                    </mat-datepicker-toggle>
                    <mat-datepicker #start_date></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>วันที่สิ้นสุด<span style="color: red">*</span> </mat-label>
                    <input matInput [(ngModel)]="work_records.end_date" (dateChange)="dateChange()" (selectedValueChange)="dateChange()" matInput
                        (click)="end_date.open()" [matDatepicker]="end_date" />
                    <mat-datepicker-toggle matSuffix [for]="end_date">
                    </mat-datepicker-toggle>
                    <mat-datepicker #end_date></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                
                <mat-form-field appearance="outline">
                    <mat-label>หมายเหตุ</mat-label>
                    <textarea matInput [(ngModel)]="work_records.remark" ></textarea>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-2">
            <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
        </div>
        <div class="col-2">
            <app-button-save-close (click)="saveClose()"></app-button-save-close>&nbsp;&nbsp;
        </div>
        <div class="col-2">
            <app-button-close (click)="close()"></app-button-close>
        </div>
    </div>
</div>