<div class="card-body">
    <h2 class="card-title">รอบการจ่ายเงินเดือน</h2>
    <mat-card class="mat-elevation-z4">
        <mat-card-content>
            <app-layout-search>
                <ng-container content>
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>คำค้นหา</mat-label>
                                <input matInput />
                                <mat-icon matSuffix>search</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>รอบการจ่ายปี</mat-label>
                                <mat-select>
                                    <mat-option value="one">First option</mat-option>
                                    <mat-option value="two">Second option</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </ng-container>
            </app-layout-search>
            <div>
                <app-button-add (click)="addPage()"></app-button-add>
            </div>
            <br />
            <table mat-table [dataSource]="paymentPeriody$ | async" matSort class="mat-elevation-z2"
                style="width: 100%;">
                <tr mat-header-row *matHeaderRowDef="['action', '1', '2','3']"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2','3']"></tr>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                    <td mat-cell *matCellDef="let data">
                        <!-- <app-icon-report></app-icon-report> -->
                        <app-icon-edit (click)="editPage(data?.payment_period_uid)"></app-icon-edit>
                        <!-- <app-icon-del (click)="deleteItem(data?.payment_period_uid)"></app-icon-del> -->
                    </td>
                </ng-container>
                <ng-container matColumnDef="1">
                    <th mat-header-cell *matHeaderCellDef>รหัสรอบการจ่าย</th>
                    <td mat-cell *matCellDef="let data; let index = index">
                        {{data?.payment_period_code}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="2">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อรอบการจ่าย </th>
                    <td mat-cell *matCellDef="let data">
                        {{data?.payment_period_name_th}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="3">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> รอบการจ่ายปี </th>
                    <td mat-cell *matCellDef="let data">
                        {{data?.payment_year_id}}
                    </td>
                </ng-container>
            </table>
            <br>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </mat-card-content>
    </mat-card>
</div>