<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>ครั้งที่</mat-label>
                    <input matInput type="number" [(ngModel)]="request.seq" />
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label> วันที่ </mat-label>
                    <input matInput [matDatepicker]="fromDate" [(ngModel)]="request.apm_date">
                    <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                    <mat-datepicker #fromDate></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>พิพากษาหรือสั่งวันที่ </mat-label>
                    <input matInput [matDatepicker]="fromDate2" [(ngModel)]="request.adjudicate_date">
                    <mat-datepicker-toggle matSuffix [for]="fromDate2"></mat-datepicker-toggle>
                    <mat-datepicker #fromDate2></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>นัดพิจารณา </mat-label>
                    <input matInput type="text" [(ngModel)]="request.adjudicate_detail" />
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>ผลสรุป</mat-label>
                    <textarea matInput [(ngModel)]="request.result_description"></textarea>
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<br />
<div class="row justify-content-center">
    <div class="col-2">
        <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
    </div>
    <div class="col-2">
        <app-button-save-close (click)="saveClose()"></app-button-save-close>&nbsp;&nbsp;
    </div>
    <div class="col-2">
        <app-button-close (click)="close()"></app-button-close>
    </div>
</div>