<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <label for="">รายชื่อผู้สมัครที่มีคุณสมบัติผ่านเกณฑ์</label>
        <div class="flex_row">
            <mat-form-field class="paddingInput" appearance="outline" style="width: 35%;">
                <mat-label> ค้นหา </mat-label>
                <input matInput />
            </mat-form-field>
            <div class="paddingInput">
                <app-button-search></app-button-search>
            </div>
            <div class="paddingInput">
                <app-button-reset></app-button-reset>
            </div>
        </div>
        <div>
            <app-button-add [name]="'เพิ่มรายชื่อผู้สมัคร'" style="margin: 5px;" (click)="popApplicationAdd()">
            </app-button-add>
            <app-button-file-export [name]="'รายชื่อผ่านเกณฑ์'" style="margin: 5px;"></app-button-file-export>
            <app-button-file-export [name]="'ผลการคัดสอบเลือก'" style="margin: 5px;"></app-button-file-export>
            <!-- <app-button-add [name]="'รายชื่อผ่านเกณฑ์'" style="margin: 5px;"></app-button-add>
            <app-button-add [name]="'ผลการคัดสอบเลือก'" style="margin: 5px;"></app-button-add> -->
        </div>
        <br>
        
        <table mat-table [dataSource]="rows" matSort class="mat-elevation-z2" style="width: 100%">
            <tr mat-header-row *matHeaderRowDef="['action','1', '2','3','4','5','6','7']"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: ['action','1', '2','3','4','5','6','7']"></tr>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>เครื่องมือ </th>
                <td mat-cell *matCellDef="let data; let index = index">
                    <app-icon-edit (click)="popApplicationEdit(data,index)"></app-icon-edit>
                    <app-icon-del (click)="deleteItems(data,index)"></app-icon-del>
                </td>
            </ng-container>
            <ng-container matColumnDef="1">
                <th mat-header-cell *matHeaderCellDef>เลขที่ใบสมัคร </th>
                <td mat-cell *matCellDef="let data; let index = index">
                    {{data.application_uid | getDataId : applicantData : 'applicant_uid' : 'application_no' : '' }}
                </td>
            </ng-container>
            <ng-container matColumnDef="2">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อ-สกุล </th>
                <td mat-cell *matCellDef="let data">
                    {{data.application_uid | getDataId : applicant : 'applicant_uid' : 'first_name_th' : '' }} - {{data.application_uid | getDataId : applicant : 'applicant_uid' : 'last_name_th' : '' }}
                </td>
            </ng-container>
            <ng-container matColumnDef="3">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> เลขที่บัตรประชาชน </th>
                <td mat-cell *matCellDef="let data">
                    {{data.application_uid | getDataId : applicantData : 'applicant_uid' : 'citizen_id' : '' }} 
                </td>
            </ng-container>
            <ng-container matColumnDef="4">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>วันที่ดำเนินการสอบข้อเขียน</th>
                <td mat-cell *matCellDef="let data">
                    {{data.written_exam_date | date: 'dd/MM/yyyy'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="5">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ผลการสอบข้อเขียน </th>
                <ng-container *matCellDef="let data">
                    <td mat-cell *ngIf="(data.written_exam_status_id ==  null);"><span>
                            <div class="statusGray" style="float: left;"></div>&nbsp;&nbsp;ยังไม่ระบุ</span></td>
                    <td mat-cell *ngIf="(data.written_exam_status_id == 1);"><span>
                            <div class="statusGreen" style="float: left;"></div>&nbsp;&nbsp;ผ่าน</span></td>
                    <td mat-cell *ngIf="(data.written_exam_status_id == 2);"><span>
                            <div class="statusRed" style="float: left;"></div>&nbsp;&nbsp;ไม่ผ่าน</span></td>
                </ng-container>
            </ng-container>
            <!-- <ng-container matColumnDef="6">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> หมายเหตุ(สอบข้อเขียน) </th>
                <td mat-cell *matCellDef="let data">

                </td>
            </ng-container> -->
            <ng-container matColumnDef="6">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>วันที่ดำเนินการสอบสัมภาษณ์</th>
                <td mat-cell *matCellDef="let data">
                    {{data.interview_date | date: 'dd/MM/yyyy'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="7">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ผลการสอบสัมภาษณ์ </th>
                <ng-container *matCellDef="let data">
                    <td mat-cell *ngIf="(data.interview_result_id == null);"><span>
                            <div class="statusGray" style="float: left;"></div>&nbsp;&nbsp;ยังไม่ระบุ</span></td>
                    <td mat-cell *ngIf="(data.interview_result_id == 1);"><span>
                            <div class="statusGreen" style="float: left;"></div>&nbsp;&nbsp;ผ่าน</span></td>
                    <td mat-cell *ngIf="(data.interview_result_id == 2);"><span>
                            <div class="statusRed" style="float: left;"></div>&nbsp;&nbsp;ไม่ผ่าน</span></td>
                </ng-container>
            </ng-container>
            <ng-container matColumnDef="8">
                <th style="width: 10%;" mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                <td mat-cell *matCellDef="let data">
                    <mat-checkbox [(ngModel)]="checkPass" (change)="selectList($event.checked,data)" ></mat-checkbox>
                </td>
            </ng-container>
        </table>
        <br>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>
<br>
<div class="flex_row_end">
    <app-button-close (click)="close()"></app-button-close>
</div>