<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <mat-card class="mat-elevation-z4"
            style="padding: 0px 0px 0px 0px;border-radius: 0px;box-shadow: unset;border: 1px solid #d4cfcf;">
            <mat-list style="background-color: #dde4e9;">
                <mat-list-item>กำหนดเงื่อนไขการค้นหา</mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
            <mat-card-content style="padding: 0px 16px 16px 16px;">

                <br>
                <div class="flex_row">
                    <mat-form-field class="paddingInput" appearance="outline" style="width: 20%;">
                        <mat-label> รหัสหน่วยงาน </mat-label>
                        <input matInput [(ngModel)]="req.agency_code" />
                    </mat-form-field>
                    <mat-form-field class="paddingInput" appearance="outline" style="width: 20%;">
                        <mat-label> ชื่อหน่วยงาน </mat-label>
                        <input matInput [(ngModel)]="req.agency_name_th" />
                    </mat-form-field>
                    <mat-form-field class="paddingInput" appearance="outline" style="width: 20%;" *ngIf=" agencysType$ | async as agencysTypes">
                        <mat-label>ประเภทหน่วยงาน </mat-label>
                        <mat-select [(ngModel)]="req.agency_type_id">
                            <mat-option *ngFor="let data of agencysTypes" [value]="data.agency_type_id">
                                {{data.agency_type_name_th}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="paddingInput">
                        <app-button-search (click)="search()"></app-button-search>
                    </div>
                    <div class="paddingInput">
                        <app-button-reset (click)="clear()"></app-button-reset>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <div>
            <app-button-add (click)="addPage()"></app-button-add>
        </div>
        <br />
        <table mat-table [dataSource]="agencys$ | async" matSort class="mat-elevation-z2" style="width: 100%;">
            <tr mat-header-row *matHeaderRowDef="['action', '2','3','4','5','7','8']"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: ['action', '2','3','4','5','7','8']"></tr>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                <td mat-cell *matCellDef="let data">
                    <app-icon-edit (click)="editPage(data.agency_uid)"></app-icon-edit>
                    <app-icon-del (click)="deleteItem(data.agency_uid)"></app-icon-del>
                </td>
            </ng-container>
            <ng-container matColumnDef="2">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> รหัสหน่วยงาน</th>
                <td mat-cell *matCellDef="let data">
                    {{data.agency_code}}
                </td>
            </ng-container>
            <ng-container matColumnDef="3">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อหน่วยงาน </th>
                <td mat-cell *matCellDef="let data">
                    {{data.agency_name_th}}
                </td>
            </ng-container>
            <ng-container matColumnDef="4">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อย่อหน่วยงาน </th>
                <td mat-cell *matCellDef="let data">
                    4{{data.agency_code}}
                </td>
            </ng-container>
            <ng-container matColumnDef="5">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ประเภทหน่วยงาน </th>
                <td mat-cell *matCellDef="let data">
                    {{data.agency_type_id | getDataId : agencysType : 'agency_type_id' : 'agency_type_name_th' : ''}}
                </td>
            </ng-container>
            <!-- <ng-container matColumnDef="6">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> กลุ่มหน่วยงาน </th>
                <td mat-cell *matCellDef="let data">
                    {{data.agency_group_id}}
                </td>
            </ng-container> -->
            <ng-container matColumnDef="7">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่เริ่มใช้งาน </th>
                <td mat-cell *matCellDef="let data">
                    {{data.effective_date | date : 'dd/MM/yyyy'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="8">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่สิ้นสุด </th>
                <td mat-cell *matCellDef="let data">
                    {{data.end_date | date : 'dd/MM/yyyy'}}
                </td>
            </ng-container>


        </table>
        <br>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>