@use '~@angular/material' as mat;

$rsu-dorm-blue-map: (
    50 : #e8f3fb,
    100 : #c6e1f5,
    200 : #a1cdef,
    300 : #6DBDDF,
    400 : #DE5A86,
    500 : #2DA5D2,
    600 : #3c93db,
    700 : #3389d7,
    800 : #2b7fd2,
    900 : #338BDD,
    A100 : #ffffff,
    A200 : #cee3ff,
    A400 : #9bc6ff,
    A700 : #317492,
    0:#ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$rsu-dorm-dark-map: (
    50 : #e4e4e5,
    100 : #bcbcbf,
    200 : #8f9094,
    300 : #626469,
    400 : #414248,
    500 : #1f2128,
    600 : #1b1d24,
    700 : #17181e,
    800 : #121418,
    900 : #0a0b0f,
    A100 : #000000,
    A200 : #216bff,
    A400 : #004fed,
    A700 : #0047d4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$rsu-dorm-red-map: (
    50 : #f8e1e1,
    100 : #edb5b5,
    200 : #e18484,
    300 : #d45252,
    400 : #c20808,
    500 : #DE5A86,
    600 : #bc0707,
    700 : #b40606,
    800 : #ac0404,
    900 : #9f0202,
    A100 : #ffc9c9,
    A200 : #ff9696,
    A400 : #ff6363,
    A700 : #ff4a4a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



$pink-theme-primary: mat.define-palette($rsu-dorm-red-map, 500);
$pink-theme-accent: mat.define-palette($rsu-dorm-blue-map, 500);
$pink-theme-warn: mat.define-palette($rsu-dorm-dark-map);
$pink-theme: mat.define-light-theme($pink-theme-primary, $pink-theme-accent, $pink-theme-warn);

// @mixin custom-theme($theme) {
    // @include menu-theme($pink-theme)
// }

// @include custom-theme($pink-theme)



