<div class="card-body">
    <h2 class="card-title">รายการรอบปฏิบัติงาน</h2>
    <mat-card class="mat-elevation-z4">
        <mat-card-content>
            <app-layout-search>
                <ng-container content>
                    <div class="row">
                        <div class="col-md-2">
                            <mat-form-field appearance="outline">
                                <mat-label>รหัสรอบปฏิบัติงาน</mat-label>
                                <input matInput />
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>ชื่อรอบปฏิบัติงาน</mat-label>
                                <input matInput />
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <app-button-search class="paddingInput"></app-button-search>
                            <app-button-reset class="paddingInput"></app-button-reset>
                        </div>
                    </div>
                </ng-container>
            </app-layout-search>
            <div>
                <app-button-add (click)="addPage()"></app-button-add>
            </div>
            <br />
            <table mat-table [dataSource]="rows" matSort class="mat-elevation-z2" style="width: 100%;">
                <tr mat-header-row *matHeaderRowDef="['action', '1', '2','3','4']"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2','3','4']"></tr>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                    <td mat-cell *matCellDef="let data">
                        <app-icon-report></app-icon-report>
                        <app-icon-edit></app-icon-edit>
                        <app-icon-del></app-icon-del>
                    </td>
                </ng-container>
                <ng-container matColumnDef="1">
                    <th mat-header-cell *matHeaderCellDef>รหัสรอบปฏิบัติงาน</th>
                    <td mat-cell *matCellDef="let data; let index = index">
                        1
                    </td>
                </ng-container>
                <ng-container matColumnDef="2">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อรอบปฏิบัติงาน </th>
                    <td mat-cell *matCellDef="let data">
                        2
                    </td>
                </ng-container>
                <ng-container matColumnDef="3">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> เวลาเริ่มต้น </th>
                    <td mat-cell *matCellDef="let data">
                        3
                    </td>
                </ng-container>
                <ng-container matColumnDef="4">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> เวลาสิ้นสุด </th>
                    <td mat-cell *matCellDef="let data">
                        4
                    </td>
                </ng-container>
            </table>
            <br>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </mat-card-content>
    </mat-card>
</div>