<form [formGroup]="form">
<mat-card class="mat-elevation-z4" style="padding: 0px 16px 16px 16px;border-radius: 0px;">
    <mat-card-content>
        <mat-list>
            <mat-list-item>ข้อมูลโครงสร้างองค์กร</mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
<br>
<div class="row">
    <div class="col-md-3" >
        <mat-form-field appearance="outline">
            <mat-label> รหัสโครงสร้างองค์กร <span style="color: red">*</span> </mat-label>
            <input matInput formControlName="organization_chart_header_code" />
        </mat-form-field>
    </div>
    <div class="col-md-6" >
        <mat-form-field appearance="outline">
            <mat-label > ชื่อโครงสร้างองค์กร <span style="color: red">*</span> </mat-label>
            <input matInput formControlName="organization_chart_header_name_th" />
        </mat-form-field>
    </div>
   
</div>
<div class="row">
    <div class="col-md-6" >
        <mat-form-field appearance="outline">
    <mat-label>หน่วยงานสูงสุด <span style="color: red">*</span> </mat-label>
    <input type="text"
           placeholder="หน่วยงานสูงสุด"
           aria-label="หน่วยงานสูงสุด"
           matInput
           formControlName="root_agency"
           [matAutocomplete]="auto">
        <mat-autocomplete  #auto="matAutocomplete" [displayWith]="displayAgency.bind(this)" >
            <mat-option *ngFor="let agency of searchAgency$ | async" [value]="agency.agency_uid">
                {{agency.agency_name_th}}
            </mat-option>
        </mat-autocomplete>
        </mat-form-field>
    </div>
    <div class="col-md-3" >
        <mat-form-field appearance="outline">
            <mat-label>วันที่เริ่มมีผล <span style="color: red">*</span></mat-label>
            <input matInput formControlName="effective_date" matInput
                (click)="start_date.open()" [matDatepicker]="start_date" />
            <mat-datepicker-toggle matSuffix [for]="start_date">
            </mat-datepicker-toggle>
            <mat-datepicker #start_date></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="col-md-3" >
        <mat-form-field appearance="outline">
            <mat-label> เวอร์ชั่น </mat-label>
            <input matInput  formControlName="version_name"/>
        </mat-form-field>
    </div>
</div>
<br>
<mat-card class="mat-elevation-z4" style="padding: 0px 16px 16px 16px;border-radius: 0px;">
    <mat-card-content>
        <mat-list>
            <mat-list-item>กำหนดโครงสร้างองค์กร</mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
       <br>
       <button *ngIf="!nodes.length" mat-button (click)="creatNode()">สร้างแผนผัง</button>       
       <div style="overflow: hidden;">
            <div class="flex_row_center" style="cursor: zoom-in;" appZoom>
        <node *ngIf="nodes.length"
            [node]="nodes[0]" 
            (selectNode)="item($event)"
            (onGrabNode)="item($event)" 
            (onDropSuccess)="drop($event)"
            (targetNode)="targetNode($event)"
            (onAddNode)="addNode($event)"
            (onDeleteNode)="deleteNode($event)">
        </node>
            </div> 
        </div>
    </mat-card-content>
</mat-card>
<br>
<div class="flex_row_end">
    <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
    <app-button-close (click)="close()"></app-button-close>
</div>
</mat-card-content>
</mat-card>
</form>
<pre *ngIf="!isHideForm"> {{form.getRawValue()|json}}</pre>