<form [formGroup]="form">
    <mat-card class="mat-elevation-z4">
        <mat-card-content>

            <div class="row">
                <div class="col-md-6" >
                    <mat-form-field appearance="outline" >
                        <mat-label>รหัส (สกอ.) <span style="color: red">*</span></mat-label>
                        <input matInput formControlName="education_level_code" />
                    </mat-form-field>
                </div>
                <!-- <div class="col-md-6" >
                    <mat-form-field appearance="outline" >
                        <mat-label>ประเภทวุฒิ </mat-label>
                        <mat-select >
                            <mat-option *ngFor="let data of [{test:'test'}]"
                                [value]="data.test">
                                {{data.test}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div> -->
            </div>
            <div class="row">
                <div class="col-md-6" >
                    <mat-form-field appearance="outline" >
                        <mat-label>ชื่อวุฒิการศึกษา<span style="color: red">*</span></mat-label>
                        <input matInput formControlName="education_level_name_th" />
                    </mat-form-field>
                </div>
                <div class="col-md-6" >
                    <mat-form-field appearance="outline" >
                        <mat-label>ชื่อวุฒิการศึกษา (English)</mat-label>
                        <input matInput formControlName="education_level_name_en" />
                    </mat-form-field>
                </div>
            </div>
            

         
        </mat-card-content>
        <br>
        <div class="flex_row_end">
            <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
            <app-button-close (click)="close()"></app-button-close>
        </div>
    </mat-card>
    </form>