<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <app-layout-search>
            <ng-container content>
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>คำค้นหา</mat-label>
                            <input matInput [(ngModel)]="dataSearch.consideration_process_remark" (input)="search()" />
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <!-- <div class="flex_row">
            <mat-form-field class="paddingInput" appearance="outline" style="width: 20%;">
                <mat-label> ค้นหา </mat-label>
                <input matInput />
            </mat-form-field>
            <div class="paddingInput">
                <app-button-search></app-button-search>
            </div>
            <div class="paddingInput">
                <app-button-reset></app-button-reset>
            </div>
        </div> -->
            </ng-container>
        </app-layout-search>
        <div>
            <app-button-add (click)="addPage()"></app-button-add>
        </div>
        <br />
        <table mat-table [dataSource]="rows" matSort class="mat-elevation-z2" style="width: 100%;">
            <tr mat-header-row *matHeaderRowDef="['action', '1']"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: ['action', '1']"></tr>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                <td mat-cell *matCellDef="let data">
                    <app-icon-edit (click)="editPage(data.consideration_process_id)"></app-icon-edit>
                    <app-icon-download (click)="downloadDoc(data.document_url)"></app-icon-download>
                    <app-icon-del (click)="deleteItem(data.consideration_process_id)"></app-icon-del>
                </td>
            </ng-container>
            <ng-container matColumnDef="1">
                <th mat-header-cell *matHeaderCellDef>ขั้นตอนการพิจารณา </th>
                <td mat-cell *matCellDef="let data; let index = index">
                    {{data.consideration_process_remark}}
                </td>
            </ng-container>
        </table>
        <br>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>