@use '~@angular/material' as mat;

@mixin custom-theme($theme) {

    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    .rsu_color {
        background-color: mat.get-color-from-palette($accent,A700);
    }



    .rsu_border_image {
        //border: 10px solid mat.get-color-from-palette($accent,400);
        //border-radius: 100px;
    }

    .menu_item {
        transition: 0.5s;
        width: 95%;
        color: mat.get-color-from-palette($warn,A100) !important;
        background: mat.get-color-from-palette($primary);
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        box-shadow: 0 4px 4px rgba(0,0,0,.25);
    }

    .information {
        display: flex;
        padding-top: 20px;
        box-sizing: border-box;
        align-items: center;
        flex-flow: column;
        height: 150px;
        background-color: mat.get-color-from-palette($accent,A700);
        position: relative;
    }

    .logo {
        background-color: mat.get-color-from-palette($accent,A700);
        display: flex;
        justify-content: space-between;
    }

    .mat-expansion-panel-header {
        background-color: mat.get-color-from-palette($accent,500) !important;
    }

    .mat-expansion-panel-content {
        background-color: mat.get-color-from-palette($accent,400);
    }

    .mat-expansion-panel-body {
        background-color: mat.get-color-from-palette($accent,300);
        padding: 0 !important;
    }

    .mat-expanded {
        background-color: mat.get-color-from-palette($accent,300) !important;
    }

    .container_menu {
        height: 100%;
        background-color: mat.get-color-from-palette($accent,500)
    }

    .panel_color {
        background-color: mat.get-color-from-palette($accent,400);
    }

    .menu_bg {
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        background-color: mat.get-color-from-palette($accent,400);
        height: 93px;
        padding-left: 24px;
        font-weight: bold;
        font-size: 26px;
        line-height: 38px;
        color: mat.get-color-from-palette($warn,A100)
    }

    .mat-expansion-panel-header-title {
        color: mat.get-color-from-palette($warn,A100) !important;
    }

    .mat-expansion-indicator::after {
        content: "";
        color: mat.get-color-from-palette($warn,A100) !important;
    }

    .list_menu {
        list-style: none;
        padding: 0;
        & > div > li {
            outline: none;
            // mat.get-color-from-palette($warn,A100);
            color:  mat.get-color-from-palette($warn,A100);
            padding: 10px;
            padding-left: 10px;
            margin-left: 50px;
            cursor: pointer;
        }

        & > div:hover:not(.menu_item) {
            background: rgba(0,0,0,.04);
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            width: 95%;
            // box-shadow: 0 4px 4px rgba(0,0,0,.25);
        }

    }


}
