<div class="card-body">
    <h2 class="card-title">{{state == 'add' ? 'สร้าง' : ' แก้ไข'}}ข้อมูลปฏิบัติงานล่วงเวลา</h2>
    <form [formGroup]="form">
        <mat-card class="mat-elevation-z4">
            <mat-card-content>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>เลขที่เอกสาร</mat-label>
                            <input matInput disabled />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>วันที่เอกสาร<span style="color: red">*</span></mat-label>
                            <input matInput [matDatepicker]="picker1" (click)="picker1.open()">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <mat-card class="mat-elevation-z4">
                    <mat-card-content>
                        <label for="">รายละเอียดบุคลากร</label>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>ชื่อผู้ขอ<span style="color: red">*</span></mat-label>
                                    <mat-select>
                                        <mat-option value="one">First option</mat-option>
                                        <mat-option value="two">Second option</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>อายุ </mat-label>
                                    <input matInput disabled />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <mat-form-field appearance="outline">
                                    <mat-label>วันที่เริ่มปฏิบัติงาน </mat-label>
                                    <input matInput disabled />
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field appearance="outline">
                                    <mat-label>อายุงาน </mat-label>
                                    <input matInput disabled />
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>ตำแหน่งงาน </mat-label>
                                    <input matInput disabled />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>หน่วยงาน </mat-label>
                                    <input matInput disabled />
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>สังกัด </mat-label>
                                    <input matInput disabled />
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
                <br>
                <mat-card class="mat-elevation-z4">
                    <mat-card-content>
                        <label for="">รายละเอียดปฏิบัติงานล่วงเวลา</label>
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field appearance="outline">
                                    <mat-label>เหตุผลที่ขอ<span style="color: red">*</span></mat-label>
                                    <textarea matInput></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                        <mat-card class="mat-elevation-z4">
                            <mat-card-content>
                                <label for="">รายการบุคลากรปฏิบัติงานล่วงเวลา</label>
                                <div>
                                    <app-button-add (click)="addPersonOT()"></app-button-add>
                                </div>
                                <br>
                                <table mat-table [dataSource]="rows" matSort class="mat-elevation-z2"
                                    style="width: 100%;">
                                    <tr mat-header-row *matHeaderRowDef="['action', '1', '2','3']"></tr>
                                    <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2','3']"></tr>
                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                                        <td mat-cell *matCellDef="let data">
                                            <app-icon-report></app-icon-report>
                                            <app-icon-edit></app-icon-edit>
                                            <app-icon-del></app-icon-del>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="1">
                                        <th mat-header-cell *matHeaderCellDef>ชื่อ-สกุล </th>
                                        <td mat-cell *matCellDef="let data; let index = index">
                                            1
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="2">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ตำแหน่งงาน </th>
                                        <td mat-cell *matCellDef="let data">
                                            2
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="3">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> หน่วยงาน </th>
                                        <td mat-cell *matCellDef="let data">
                                            2
                                        </td>
                                    </ng-container>
                                </table>
                                <br>
                                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                            </mat-card-content>
                        </mat-card>
                        <br />
                        <mat-card class="mat-elevation-z4">
                            <mat-card-content>
                                <label for="">รายการวันที่ปฏิบัติงานล่วงเวลา</label>
                                <div>
                                    <app-button-add (click)="addDateOT()"></app-button-add>
                                </div>
                                <br>
                                <table mat-table [dataSource]="rows" matSort class="mat-elevation-z2"
                                    style="width: 100%;">
                                    <tr mat-header-row *matHeaderRowDef="['action', '1', '2','3','4']"></tr>
                                    <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2','3','4']"></tr>
                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                                        <td mat-cell *matCellDef="let data">
                                            <app-icon-report></app-icon-report>
                                            <app-icon-edit></app-icon-edit>
                                            <app-icon-del></app-icon-del>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="1">
                                        <th mat-header-cell *matHeaderCellDef>วันที่ปฏิบัติงานล่วงเวลา </th>
                                        <td mat-cell *matCellDef="let data; let index = index">
                                            1
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="2">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> รอบปฏิบัติงาน </th>
                                        <td mat-cell *matCellDef="let data">
                                            2
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="3">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> เวลาเริ่มต้น </th>
                                        <td mat-cell *matCellDef="let data">
                                            2
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="4">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> เวลาสิ้นสุด </th>
                                        <td mat-cell *matCellDef="let data">
                                            2
                                        </td>
                                    </ng-container>
                                </table>
                                <br>
                                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                            </mat-card-content>
                        </mat-card>
                        <br />
                        <mat-card class="mat-elevation-z4">
                            <mat-card-content>
                                <label for="">เอกสารแนบ</label>
                                <div>
                                    <app-button-add (click)="addfile()"></app-button-add>
                                </div>
                                <br>
                                <table mat-table [dataSource]="rows" matSort class="mat-elevation-z2"
                                    style="width: 100%;">
                                    <tr mat-header-row *matHeaderRowDef="['action', '1', '2']"></tr>
                                    <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2']"></tr>
                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                                        <td mat-cell *matCellDef="let data">
                                            <app-icon-report></app-icon-report>
                                            <app-icon-edit></app-icon-edit>
                                            <app-icon-del></app-icon-del>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="1">
                                        <th mat-header-cell *matHeaderCellDef>ชื่อไฟล์ </th>
                                        <td mat-cell *matCellDef="let data; let index = index">
                                            1
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="2">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> รายละเอียด </th>
                                        <td mat-cell *matCellDef="let data">
                                            2
                                        </td>
                                    </ng-container>
                                </table>
                                <br>
                                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                            </mat-card-content>
                        </mat-card>
                    </mat-card-content>
                </mat-card>


            </mat-card-content>
            <br>
            <div class="flex_row_end">
                <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
                <app-button-close (click)="close()"></app-button-close>
            </div>
        </mat-card>
    </form>
</div>