<div class="card-body">
    <h2 class="card-title">{{state == 'add' ? 'เพิ่ม' : ' แก้ไข'}}ข้อมูลประมวลผลจ่ายเงินเดือน</h2>
    <form [formGroup]="form">
        <mat-card class="mat-elevation-z4">
            <label for="">ข้อมูลทั่วไป</label>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>รหัสบุคลากร<span style="color: red">*</span></mat-label>
                        <mat-select>
                            <mat-option value="one">First option</mat-option>
                            <mat-option value="two">Second option</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>เลขที่ตำแหน่ง</mat-label>
                        <input matInput disabled />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>ชื่อตำแหน่ง</mat-label>
                        <input matInput disabled />
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>ชื่อหน่วยงาน</mat-label>
                        <input matInput disabled />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>คณะ/สถาบัน/กอง/สำนัก</mat-label>
                        <input matInput disabled />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>กองทุนรวมเพื่อการเลี้ยงชีพ</mat-label>
                        <input matInput type="number" value="0.00" />
                        <span matSuffix>บาท</span>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>กองทุนรวมเพื่อการเลี้ยงชีพ</mat-label>
                        <input matInput type="number" value="0.00" />
                        <span matSuffix>บาท</span>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>เงินสนับสนุนการกีฬา</mat-label>
                        <input matInput type="number" value="0.00" />
                        <span matSuffix>บาท</span>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>เงินสนับสนุนเพื่อการศึกษา</mat-label>
                        <input matInput type="number" value="0.00" />
                        <span matSuffix>บาท</span>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>เงินบริจาคเพื่อการกุศล</mat-label>
                        <input matInput type="number" value="0.00" />
                        <span matSuffix>บาท</span>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>เบี้ยประกันชีวิต</mat-label>
                        <input matInput type="number" value="0.00" />
                        <span matSuffix>บาท</span>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>เบี้ยประกันชีวิตคู่สมรส</mat-label>
                        <input matInput type="number" value="0.00" />
                        <span matSuffix>บาท</span>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>ประกันชีวิตแบบบำนาญ</mat-label>
                        <input matInput type="number" value="0.00" />
                        <span matSuffix>บาท</span>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>เบี้ยประกันชีวิตบิดาผู้มีเงินได้</mat-label>
                        <input matInput type="number" value="0.00" />
                        <span matSuffix>บาท</span>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>เบี้ยประกันชีวิตมารดาผู้มีเงินได้</mat-label>
                        <input matInput type="number" value="0.00" />
                        <span matSuffix>บาท</span>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>ดอกเบี้ยเงินกู้เพื่อที่อยู่อาศัย</mat-label>
                        <input matInput type="number" value="0.00" />
                        <span matSuffix>บาท</span>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>ซื้ออสังหาริมทรัพย์</mat-label>
                        <input matInput type="number" value="0.00" />
                        <span matSuffix>บาท</span>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>ลดหย่อนรถน้ำท่วม</mat-label>
                        <input matInput type="number" value="0.00" />
                        <span matSuffix>บาท</span>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>ลดหย่อนบ้านน้ำท่วม</mat-label>
                        <input matInput type="number" value="0.00" />
                        <span matSuffix>บาท</span>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>ลดหย่อนบ้านหลังแรก</mat-label>
                        <input matInput type="number" value="0.00" />
                        <span matSuffix>บาท</span>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>จำนวนบุตรไม่ศึกษา</mat-label>
                        <input matInput type="number" value="0" />
                        <span matSuffix>คน</span>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>จำนวนบุตรศึกษา</mat-label>
                        <input matInput type="number" value="0" />
                        <span matSuffix>คน</span>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>เงินกองทุนบำเหน็จบำนาญข้าราชการ</mat-label>
                        <input matInput type="number" value="0.00" />
                        <span matSuffix>บาท</span>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>เงินสะสมกองทุนสงเคราะห์ครูโรงเรียนเอกชน</mat-label>
                        <input matInput type="number" value="0.00" />
                        <span matSuffix>บาท</span>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>เงินค่าชดเชยที่ได้รับตามกฎหมายแรงงาน</mat-label>
                        <input matInput type="number" value="0.00" />
                        <span matSuffix>บาท</span>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>เบี้ยประกันชีวิตบิดาคู่สมรสผู้มีเงินได้</mat-label>
                        <input matInput type="number" value="0.00" />
                        <span matSuffix>บาท</span>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>เบี้ยประกันชีวิตมารดาคู่สมรสผู้มีเงินได้</mat-label>
                        <input matInput type="number" value="0.00" />
                        <span matSuffix>บาท</span>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <mat-checkbox class="example-margin" [(ngModel)]="checkbox1" [ngModelOptions]="{standalone: true}">
                        คู่สมรสมีรายได้</mat-checkbox>
                </div>
                <div class="col-md-3">
                    <mat-checkbox class="example-margin" [(ngModel)]="checkbox2" [ngModelOptions]="{standalone: true}">
                        หักลดหย่อนคู่สมรส</mat-checkbox>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>อุปการะเลี้ยงดูผู้พิการ</mat-label>
                        <input matInput type="number" value="0.00" />
                        <span matSuffix>บาท</span>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>ค่าลดหย่อนบิดา (ของผู้มีเงินได้)</mat-label>
                        <input matInput type="number" value="0.00" />
                        <span matSuffix>บาท</span>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>ค่าลดหย่อนมารดา (ของผู้มีเงินได้)</mat-label>
                        <input matInput type="number" value="0.00" />
                        <span matSuffix>บาท</span>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>ค่าลดหย่อนบิดา (ของคู่สมรสที่ไม่มีเงินได้)</mat-label>
                        <input matInput type="number" value="0.00" />
                        <span matSuffix>บาท</span>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>ค่าลดหย่อนมารดา (ของคู่สมรสที่ไม่มีเงินได้)</mat-label>
                        <input matInput type="number" value="0.00" />
                        <span matSuffix>บาท</span>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>เบี้ยประกันสุขภาพที่จ่ายภายในปีภาษี</mat-label>
                        <input matInput type="number" value="0.00" />
                        <span matSuffix>บาท</span>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>ค่าลดหย่อนคู่สมรส</mat-label>
                        <input matInput type="number" value="0.00" />
                        <span matSuffix>บาท</span>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>ค่าลดหย่อนบุตร</mat-label>
                        <input matInput type="number" value="0.00" />
                        <span matSuffix>บาท</span>
                    </mat-form-field>
                </div>
            </div>
            <div class="flex_row_end">
                <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
                <app-button-close (click)="close()"></app-button-close>
            </div>
        </mat-card>
    </form>
</div>