<form [formGroup]="form">
    <ng-container formGroupName="personnel_work_chart_header">
        <div class="row">
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <input matInput formControlName="work_chart_header_name" (input)="inputSearch()" placeholder="ค้นหาสายงาน"
                        aria-label="State" [matAutocomplete]="personnel_no" />
                    <mat-icon matSuffix>search</mat-icon>
                    <mat-autocomplete #personnel_no="matAutocomplete" style="font-size: 10px;">
                        <mat-option style="font-size: 10px;" *ngFor="let s of workChartHeaderData"
                            (click)="selectWorkChart(s.work_chart_header_uid)" [value]="s.work_chart_header_name_th">
                            {{s.work_chart_header_name_th}}
                        </mat-option>
                        <mat-option style="font-size: 10px;" *ngIf="workChartHeaderData.length == 0">
                            ไม่พบข้อมูล
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <mat-form-field appearance="outline" disabled *ngIf="workChartHeader$ | async as workChartHeader">
                    <mat-label>สังกัดสายงาน</mat-label>
                    <input matInput disabled  type="text" [value]="form.value.personnel_work_chart_header.work_chart_header_uid | getDataId : workChartHeader : 'work_chart_header_uid' : 'work_chart_header_name_th' : '' " />
                </mat-form-field>
                <!-- <mat-form-field disabled appearance="outline" *ngIf="workChartHeader$ | async as workChartHeader">
                    <mat-label>สังกัดสายงาน</mat-label>
                    <mat-select disabled formControlName="work_chart_header_uid" >
                        <mat-option *ngFor="let data of workChartHeader" [value]="data.work_chart_header_uid">
                            {{data.work_chart_header_name_th}} 
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->
              
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-12">
                <mat-label>{{work_chart?.position_name_th}}</mat-label><br>
                <ng-container *ngFor="let work1 of work_chart?.work_charts">
                    <mat-label style="padding-left: 20px;">{{work1?.position_name_th}}</mat-label><br>
                    <ng-container *ngFor="let work2 of work1.work_charts">
                        <mat-label style="padding-left: 40px;">{{work2?.position_name_th}},</mat-label>
                    </ng-container>
                </ng-container>
            </div>
        </div> -->
        <br>
        <div style="padding: 5px;">
            <mat-card class="mat-elevation-z4" style="padding: 0px 16px 16px 16px;border-radius: 0px;">
                <mat-card-content>
                    <mat-list>
                        <mat-list-item>โครงสร้างตำแหน่งงาน</mat-list-item>
                        <mat-divider></mat-divider>
                    </mat-list>
                    <div style="overflow: auto;height: 300px;">
                        <div class="flex_row_center" style="cursor: zoom-in;" appZoom>
                            <node *ngIf="nodes.length" [node]="nodes[0]" [show]="false">
                            </node>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </ng-container>
</form>