<h1 mat-dialog-title>ข้อมูลหน้าที่และความรับผิดชอบ</h1>
<div mat-dialog-content rtl>
    <div class="row">
        <div class="col-md-12" >
            <mat-form-field appearance="outline">
                <mat-label> หน้าที่และความรับผิดชอบ <span style="color: red">*</span></mat-label>
                <input matInput  />
            </mat-form-field>
        </div>
    </div>

<div class="row justify-content-center">
    <div class="col-2">
        <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
    </div>
    <div class="col-2">
        <app-button-save-close (click)="save()"></app-button-save-close>&nbsp;&nbsp;
    </div>
    <div class="col-2">
        <app-button-close (click)="close()"></app-button-close>
    </div>
</div>
</div>