<div class="card-body">
    <h2 class="card-title">รายการเงินหัก/หนี้บุคลากร<label *ngIf="!isHideForm">/salary/deduction_moneys</label></h2>
    <mat-card class="mat-elevation-z4">
        <mat-card-content>
            <app-layout-search>
                <ng-container content>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="outline">
                                <mat-label>ค้นหา</mat-label>
                                <input matInput />
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline">
                                <mat-label>หน่วยงาน</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let data of [{test:'test'}]" [value]="data.test">
                                        {{data.test}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline">
                                <mat-label>ตำแหน่งงาน </mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let data of [{test:'test'}]" [value]="data.test">
                                        {{data.test}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- <div class="row justify-content-md-center">
            <div>
                <app-button-search></app-button-search>
                <app-button-reset></app-button-reset>
            </div>
        </div> -->
                </ng-container>
            </app-layout-search>
            <div>
                <app-button-add (click)="addPage()"></app-button-add>
                &nbsp;
                <button mat-raised-button color="primary" style="margin-top: 0.25em;">
                    <span class="material-icons" style="color: white;font-size: 14px;">
                        upload_file
                    </span>
                    <span style="color: white;">นำเข้า</span>
                </button>
                &nbsp;
                <button mat-raised-button color="primary" style="margin-top: 0.25em;"
                    class="material-cust-large-button">
                    <span class="material-icons" style="color: white;font-size: 14px;">
                        file_download
                    </span>
                    <span style="color: white;">ดาวน์โหลดไฟล์สำหรับนำเข้า</span>
                </button>
            </div>
            <br />
            <table mat-table [dataSource]="deductionMoney$ | async" matSort class="mat-elevation-z2"
                style="width: 100%;">
                <tr mat-header-row *matHeaderRowDef="['action', '1', '2','3','4','5']"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2','3','4','5']"></tr>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                    <td mat-cell *matCellDef="let data">
                        <!-- <app-icon-report></app-icon-report> -->
                        <app-icon-edit (click)="editPage(data?.personnel_uid)"></app-icon-edit>
                        <!-- <app-icon-del></app-icon-del> -->
                    </td>
                </ng-container>
                <ng-container matColumnDef="1">
                    <th mat-header-cell *matHeaderCellDef>รหัสบุคลากร</th>
                    <td mat-cell *matCellDef="let data; let index = index">
                        {{data?.personnel_uid | getDataId : personnelDatas : 'personnel_uid' : 'personnel_no' : ''}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="2">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อบุคลากร </th>
                    <td mat-cell *matCellDef="let data">
                        {{data?.personnel_uid | getDataId : personnelDatas : 'personnel_uid' : 'first_name_th' :
                        ''}}&nbsp;&nbsp;{{data?.personnel_uid | getDataId : personnelDatas : 'personnel_uid' :
                        'last_name_th' : ''}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="3">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อตำแหน่ง </th>
                    <td mat-cell *matCellDef="let data">
                        {{data?.personnel_uid | getDataId : personnelDatas : 'personnel_uid' : 'personnel_skills' : ''}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="4">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อหน่วยงาน </th>
                    <td mat-cell *matCellDef="let data">
                        {{data?.personnel_uid | getDataId : personnelDatas : 'personnel_uid' : 'personnel_educations' :
                        ''}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="5">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> รวมเงินหัก </th>
                    <td mat-cell *matCellDef="let data">
                        {{data?.totalAmount | number:'1.2-2'}}
                    </td>
                </ng-container>


            </table>
            <br>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </mat-card-content>
    </mat-card>
</div>