<form [formGroup]="form">


    <div style="padding: 5px;">
        <ng-container formArrayName="personnel_hires">
            <ng-container
                *ngFor="let emAddress of form['controls']['personnel_hires']['controls'];let personnel_hiresIndex = index"
                [formGroupName]="personnel_hiresIndex">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" *ngIf="organizationHeader$ | async as organizationHeaders">
                            <mat-label>ชื่อองค์กร<span style="color: red">*</span></mat-label>
                            <mat-select formControlName="organization_chart_header_uid">
                                <mat-option *ngFor="let data of organizationHeaders" [value]="data.organization_chart_header_uid">
                                    {{data.organization_chart_header_name_th}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" *ngIf="manpowers$ | async as manpowers">
                            <mat-label>เลขที่อัตรา</mat-label>
                            <mat-select formControlName="manpower_uid">
                                <mat-option *ngFor="let data of manpowers" [value]="data.manpower_uid">
                                    {{data.manpower_no}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" *ngIf="agencys$ | async as agency">
                            <mat-label>หน่วยงานปัจจุบัน<span style="color: red">*</span></mat-label>
                            <mat-select formControlName="agency_uid">
                                <mat-option *ngFor="let data of agency" [value]="data.agency_uid">
                                    {{data.agency_name_th}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-6">
                        <mat-form-field appearance="outline" *ngIf="positionLevel$ | async as positionLevels">
                            <mat-label>ระดับตำแหน่งปัจจุบัน</mat-label>
                            <mat-select formControlName="position_level_id">
                                <mat-option *ngFor="let data of positionLevels" [value]="data.position_level_id">
                                    {{data.position_level_name_th}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" *ngIf="position$ | async as positions">
                            <mat-label>ตำแหน่งงานปัจจุบัน<span style="color: red">*</span></mat-label>
                            <mat-select formControlName="position_uid">
                                <mat-option *ngFor="let data of positions" [value]="data.position_uid">
                                    {{data.position_name_th}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>

                    <div class="col-md-6">
                        <mat-form-field appearance="outline" *ngIf="academicPositions$ | async as academicPosition">
                            <mat-label>ตำแหน่งวิชาการปัจจุบัน</mat-label>
                            <mat-select formControlName="academic_position_id">
                                <mat-option *ngFor="let data of academicPosition" [value]="data.academic_position_id">
                                    {{data.academic_position_name_th}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" *ngIf="positionTypes$ | async as positionTypes">
                            <mat-label>ประเภทตำแหน่ง<span style="color: red">*</span></mat-label>
                            <mat-select formControlName="position_type_id">
                                <mat-option *ngFor="let data of positionTypes" [value]="data.position_type_id">
                                    {{data.position_type_name_th}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                </div>
            </ng-container>
        </ng-container>
        <mat-card class="mat-elevation-z4" style="padding: 0px 16px 16px 16px;border-radius: 0px;">
            <mat-card-content>
                <mat-list>
                    <mat-list-item>ตำแหน่งบริหาร</mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>

                <br />
                <div>
                    <app-button-add (click)="open_history_education()"></app-button-add>
                </div>
                <br />
                <table mat-table [dataSource]="form.value.personnel_executive_position" matSort class="mat-elevation-z2"
                    style="width: 100%;">
                    <tr mat-header-row *matHeaderRowDef="['action', '1', '2','3','4','5','6']"></tr>
                    <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2','3','4','5','6']"></tr>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                        <td mat-cell *matCellDef="let data;let index = index">
                            <app-icon-del (click)="delPersonnelExecutivePositions(index,data.personnel_executive_position_uid)"></app-icon-del>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="1">
                        <th mat-header-cell *matHeaderCellDef>ตำแหน่งงาน</th>
                        <td mat-cell *matCellDef="let data; let index = index">
                            <ng-container *ngIf="position$ | async as positions">
                                {{data.position_uid | getDataId : positions :'position_uid' : 'position_name_th' : ''}}
                            </ng-container>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="2">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>รักษาการแทน
                        </th>
                        <td mat-cell *matCellDef="let data">
                            {{data.is_deputy == true ? 'รักษาการแทน' : '-'}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="3">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>เงินประจำตำแหน่ง
                        </th>
                        <td mat-cell *matCellDef="let data">
                            {{data.salary_amount |number : '1.2-2'}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="4">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>วันที่เริ่มดำรงตำแหน่ง
                        </th>
                        <td mat-cell *matCellDef="let data">
                            {{data.start_date | date : 'dd/MM/yyyy'}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="5">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>วันที่สิ้นสุดดำรงตำแหน่ง
                        </th>
                        <td mat-cell *matCellDef="let data">
                            {{data.end_date | date : 'dd/MM/yyyy'}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="6">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>หมายเหตุ
                        </th>
                        <td mat-cell *matCellDef="let data">
                            {{data.remark}}
                        </td>
                    </ng-container>

                </table>
            </mat-card-content>
        </mat-card>
        <br />
        <ng-container formArrayName="personnel_hires">
            <ng-container
                *ngFor="let emAddress of form['controls']['personnel_hires']['controls'];let personnel_hiresIndex = index"
                [formGroupName]="personnel_hiresIndex">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>เงินเดือนปัจจุบัน</mat-label>
                            <input type="number" matInput formControlName="salary_amount" />
                        </mat-form-field>
                    </div>

                    <div class="col-md-6">
                        <mat-form-field appearance="outline" *ngIf="personnelGroups$ | async as personnelGroup">
                            <mat-label>กลุ่มบุคลากร</mat-label>
                            <mat-select formControlName="personnel_group_id">
                                <mat-option *ngFor="let data of personnelGroup" [value]="data.personnel_group_id">
                                    {{data.personnel_group_name_th}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" *ngIf="personnelTypes$ | async as personnelType">
                            <mat-label>ประเภทบุคลากร<span style="color: red">*</span></mat-label>
                            <mat-select formControlName="personnel_type_id">
                                <mat-option *ngFor="let data of personnelType" [value]="data.personnel_type_id">
                                    {{data.personnel_type_name_th}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-6">
                        <mat-form-field appearance="outline" *ngIf="personnelSubTypes$ | async as personnelSubType">
                            <mat-label>ประเภทบุคลากรย่อย</mat-label>
                            <mat-select formControlName="personnel_sub_type_id">
                                <mat-option *ngFor="let data of personnelSubType" [value]="data.personnel_sub_type_id">
                                    {{data.personnel_sub_type_name_th}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" *ngIf="contractType$ | async as contractTypes">
                            <mat-label>ประเภทการจ้าง<span style="color: red">*</span></mat-label>
                            <mat-select formControlName="contract_type_id">
                                <mat-option *ngFor="let data of contractTypes" [value]="data.contract_type_id">
                                    {{data.contract_type_name_th}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-6">
                        <mat-form-field appearance="outline" *ngIf="contractTimes$ | async as contractTime">
                            <mat-label>ระยะเวลาการจ้างงาน</mat-label>
                            <mat-select formControlName="contract_time_id">
                                <mat-option *ngFor="let data of contractTime" [value]="data.contract_time_id">
                                    {{data.contract_time_name_th}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" *ngIf="workFields$ | async as workField">
                            <mat-label>สายงาน</mat-label>
                            <mat-select formControlName="work_field_id">
                                <mat-option *ngFor="let data of workField" [value]="data.work_field_id">
                                    {{data.work_field_name_th}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-6">
                        <mat-form-field appearance="outline" *ngIf="workGroups$ | async as workGroup">
                            <mat-label>กลุ่มงาน</mat-label>
                            <mat-select formControlName="work_group_id">
                                <mat-option *ngFor="let data of workGroup" [value]="data.work_group_id">
                                    {{data.work_group_name_th}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" *ngIf="expertises$ | async as expertise">
                            <mat-label>สาขางานที่เชี่ยวชาญ</mat-label>
                            <mat-select formControlName="expertise_id">
                                <mat-option *ngFor="let data of expertise" [value]="data.expertise_id">
                                    {{data.expertise_name_th}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>ความเชี่ยวชาญในสายงาน</mat-label>
                            <input matInput formControlName="work_expertise_name" />
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" *ngIf="subjectGroupTypes$ | async as subjectGroupType">
                            <mat-label>กลุ่มสาขาวิชาที่สอน</mat-label>
                            <mat-select formControlName="subject_group_type_id">
                                <mat-option *ngFor="let data of subjectGroupType" [value]="data.subject_group_type_id">
                                    {{data.subject_group_type_name_th}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-6">
                        <mat-form-field appearance="outline"
                            *ngIf="subjectCategoryTypes$ | async as subjectCategoryType">
                            <mat-label>หมวดวิชาที่สอน</mat-label>
                            <mat-select formControlName="subject_category_type_id">
                                <mat-option *ngFor="let data of subjectCategoryType"
                                    [value]="data.subject_category_type_id">
                                    {{data.subject_category_type_name_th}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" *ngIf="educationLevels$ | async as educationLevel">
                            <mat-label>ระดับที่สอน</mat-label>
                            <mat-select formControlName="teach_level_id">
                                <mat-option *ngFor="let data of educationLevel" [value]="data.education_level_id">
                                    {{data.education_level_name_th}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>

                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>วิชาที่สอน</mat-label>
                            <input matInput formControlName="teaching_subject_name" />
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline"
                            *ngIf="academicPositionSubjects$ | async as academicPositionSubject">
                            <mat-label>สาขาวิชาที่ขอเสนอกำหนดตำแหน่งทางวิชาการ</mat-label>
                            <mat-select formControlName="academic_position_subject">
                                <mat-option *ngFor="let data of academicPositionSubject"
                                    [value]="data.academic_position_subject_id">
                                    {{data.academic_position_subject_name_th}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>

                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>สาขาวิชาที่ขอเสนอกำหนดตำแหน่งทางวิชาการอื่นๆ</mat-label>
                            <input matInput formControlName="academic_position_subject_name" />
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>วันที่เริ่มปฏิบัติงาน <span style="color: red">*</span></mat-label>
                            <input matInput formControlName="start_date" (dateChange)="dateChange()"
                                (selectedValueChange)="dateChange()" matInput (click)="start_working_date.open()"
                                [matDatepicker]="start_working_date" />
                            <mat-datepicker-toggle matSuffix [for]="start_working_date">
                            </mat-datepicker-toggle>
                            <mat-datepicker #start_working_date></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>อายุงาน</mat-label>
                            <input matInput disabled />
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline"
                            *ngIf="positionMovementTypes$ | async as positionMovementType">
                            <mat-label>ประเภทการเคลื่อนไหว</mat-label>
                            <mat-select formControlName="position_movement_type_id">
                                <mat-option *ngFor="let data of positionMovementType"
                                    [value]="data.position_movement_type_id">
                                    {{data.position_movement_type_name_th}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>วันที่เคลื่อนไหว <span style="color: red">*</span></mat-label>
                            <input matInput formControlName="position_movement_date" (dateChange)="dateChange()"
                                (selectedValueChange)="dateChange()" matInput (click)="movement_date.open()"
                                [matDatepicker]="movement_date" />
                            <mat-datepicker-toggle matSuffix [for]="movement_date">
                            </mat-datepicker-toggle>
                            <mat-datepicker #movement_date></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>วันที่บรรจุ <span style="color: red">*</span></mat-label>
                            <input matInput formControlName="hire_date" (dateChange)="dateChange()"
                                (selectedValueChange)="dateChange()" matInput (click)="employ_date.open()"
                                [matDatepicker]="employ_date" />
                            <mat-datepicker-toggle matSuffix [for]="employ_date">
                            </mat-datepicker-toggle>
                            <mat-datepicker #employ_date></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>เลขที่คำสั่งบรรจุ </mat-label>
                            <input matInput formControlName="hire_no" />
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>วันที่คำสั่งบรรจุ <span style="color: red">*</span></mat-label>
                            <input matInput formControlName="hire_order_date" (dateChange)="dateChange()"
                                (selectedValueChange)="dateChange()" matInput (click)="employ_order_date.open()"
                                [matDatepicker]="employ_order_date" />
                            <mat-datepicker-toggle matSuffix [for]="employ_order_date">
                            </mat-datepicker-toggle>
                            <mat-datepicker #employ_order_date></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>วันที่โอนย้าย <span style="color: red">*</span></mat-label>
                            <input matInput formControlName="transfer_date" (dateChange)="dateChange()"
                                (selectedValueChange)="dateChange()" matInput (click)="transfer_date.open()"
                                [matDatepicker]="transfer_date" />
                            <mat-datepicker-toggle matSuffix [for]="transfer_date">
                            </mat-datepicker-toggle>
                            <mat-datepicker #transfer_date></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" *ngIf="workShifts$ | async as workShift">
                            <mat-label>รอบปฏิบัติงาน <span style="color: red">*</span></mat-label>
                            <mat-select formControlName="work_shift_id">
                                <mat-option *ngFor="let data of workShift" [value]="data.work_shift_id">
                                    {{data.work_shift_name_th}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-6">
                        <mat-form-field appearance="outline" *ngIf="workStatus$ | async as workStatus">
                            <mat-label>สถานะการทำงาน <span style="color: red">*</span></mat-label>
                            <mat-select formControlName="work_status_id">
                                <mat-option *ngFor="let data of workStatus" [value]="data.work_status_id">
                                    {{data.work_status_name_th}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                </div>
            </ng-container>
        </ng-container>
        <mat-card class="mat-elevation-z4" style="padding: 0px 16px 16px 16px;border-radius: 0px;">
            <mat-card-content>
                <mat-list>
                    <mat-list-item>ประวัติการเคลื่อนไหวการดำรงตำแหน่ง</mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>
                <br />
                <table mat-table [dataSource]="form.value.personnel_position_history" matSort class="mat-elevation-z2"
                    style="width: 100%;">
                    <tr mat-header-row *matHeaderRowDef="['action', '1', '2','3','4']"></tr>
                    <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2','3','4']"></tr>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>ลำดับ</th>
                        <td mat-cell *matCellDef="let data;let index = index">
                            {{index + 1}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="1">
                        <th mat-header-cell *matHeaderCellDef>ประเภทการเคลื่อนไหว</th>
                        <td mat-cell *matCellDef="let data; let index = index">
                            {{data.position_movement_type_id}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="2">
                        <th mat-header-cell *matHeaderCellDef>ตำแหน่ง</th>
                        <td mat-cell *matCellDef="let data; let index = index">
                            <ng-container *ngIf="position$ | async as positions">
                                {{data.position_uid | getDataId : positions :'position_uid' : 'position_name_th' : ''}}
                            </ng-container>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="3">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>เงินเดือนเก่า
                        </th>
                        <td mat-cell *matCellDef="let data">
                            {{data.old_salary_amount | number : '1.2-2'}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="4">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>วันที่มีผล
                        </th>
                        <td mat-cell *matCellDef="let data">
                            {{data.effective_date | date : 'dd/MM/yyyy'}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="5">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>หมายเหตุ
                        </th>
                        <td mat-cell *matCellDef="let data">
                            {{data.remark}}
                        </td>
                    </ng-container>
                </table>
            </mat-card-content>
        </mat-card>


    </div>


</form>