<mat-card class="mat-elevation-z4 hoverscorll" >
    <mat-card-content>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>ตำแหน่งงาน <span style="color: red">*</span></mat-label>
                    <mat-select [(ngModel)]="dataSearch.position_uid">
                        <mat-option *ngFor="let item of position$ | async" [value]="item.position_uid">
                            {{item.position_name_th}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>หน่วยงานที่บรรจุ</mat-label>
                    <mat-select [(ngModel)]="dataSearch.agency_uid">
                        <mat-option *ngFor="let item of agencys$ | async" [value]="item.agency_uid">
                            {{item.agency_name_th}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>ระดับการศึกษา</mat-label>
                    <mat-select >
                        <mat-option *ngFor="let item of educationLevels$ | async" [value]="item.education_level_id">
                            {{item.education_level_name_th}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label> ชื่อปริญญา/ประกาศนียบัตร </mat-label>
                    <mat-select >
                        <mat-option *ngFor="let item of qualifications$ | async" [value]="item.qualification_id">
                            {{item.qualification_name_th}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>วันที่เริ่มสมัคร</mat-label>
                    <input matInput [matDatepicker]="fromDate" [(ngModel)]="dataSearch.application_date">
                    <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                    <mat-datepicker #fromDate></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>วันที่สิ้นสุดสมัคร</mat-label>
                    <input matInput [matDatepicker]="toDate">
                    <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                    <mat-datepicker #toDate></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <br>
        <div style="border-bottom: solid 1px gainsboro;"></div>
        <br>
        <label for="">สถานภาพสมรส</label>
        <div class="row">
            <ng-container *ngIf="maritalStatus$ | async as maritalStatusDatas">
                <ng-container *ngFor="let item of maritalStatusDatas">
                    <div class="col-md-3">
                        <section class="example-section" [(ngModel)]="dataSearch.marital_status_id">
                            <mat-checkbox  [value]="item.marital_status_id">{{item.marital_status_name_th}}</mat-checkbox>
                        </section>
                    </div>
                </ng-container>
            </ng-container>
        </div>
        <br>
        <div style="border-bottom: solid 1px gainsboro;"></div>
        <br>
        <label for="">สถานภาพทางทหาร</label>
        <div class="row">
            <ng-container *ngIf="militaryStatus$ | async as militaryStatusDatas">
                <ng-container *ngFor="let item of militaryStatusDatas">
                    <div class="col-md-3">
                        <section class="example-section" [(ngModel)]="dataSearch.military_status_id">
                            <mat-checkbox  [value]="item.military_status_id">{{item.military_status_name_th}}</mat-checkbox>
                        </section>
                    </div>
                </ng-container>
            </ng-container>
        </div>
        <br>
        <div style="border-bottom: solid 1px gainsboro;"></div>
        <br>
        <label for="">เพศ</label>
        <div class="row">
            <ng-container *ngIf="genders$ | async as gendersDatas">
                <ng-container *ngFor="let item of gendersDatas">
            <div class="col-md-3">
                <section class="example-section" [(ngModel)]="dataSearch.gender_id">
                    <mat-checkbox  [value]="item.gender_id">{{item.gender_name_th}}</mat-checkbox>
                </section>
            </div>
            </ng-container>
            </ng-container>
        </div>
        <br>
        <div class="row justify-content-md-center">
            <div>
                <app-button-search (click)="search()"></app-button-search>
                <app-button-reset (click)="clear()"></app-button-reset>
            </div>
        </div>
        <br>

<ng-container *ngIf="rows">
        <table mat-table [dataSource]="rows" class="mat-elevation-z8" style="width: 100%;">
            
            <ng-container matColumnDef="select">
                <th style="width: 10%;" mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle($event) : null ; selectListAll($event.checked,rows)"
                                  [checked]="selection.hasValue() && isAllSelected()"
                                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                                  [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? selection.toggle(row) : null ; selectList($event.checked,row)"
                                  [checked]="selection.isSelected(row)"
                                  [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                  </td>
                <!-- <th style="width: 10%;" mat-header-cell *matHeaderCellDef>
                    <mat-checkbox  (change)="selectListAll($event.checked,rows)"></mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (change)="selectList($event.checked,row)"> </mat-checkbox>
                </td> -->
            </ng-container>
            
            <ng-container matColumnDef="1">
                <th style="width: 30%;" mat-header-cell *matHeaderCellDef> เลขที่ใบเลขที่ </th>
                <td mat-cell *matCellDef="let element">
                    {{element.application_no}}
                </td>
            </ng-container>

            
            <ng-container matColumnDef="2">
                <th style="width: 30%;" mat-header-cell *matHeaderCellDef> ชื่อ-สกุล </th>
                <td mat-cell *matCellDef="let element">
                    {{element.first_name_th}} {{element.last_name_th}} 
                </td>
            </ng-container>

            
            <ng-container matColumnDef="3">
                <th style="width: 30%;" mat-header-cell *matHeaderCellDef> รายละเอียดผู้สมัคร </th>
                <td mat-cell *matCellDef="let element">
                    <app-button-preview style="margin: 5px;" (click)="getPreview(element.applicant_uid)"></app-button-preview>
                    <app-button-preview [name]="'Download'" style="margin: 5px;"></app-button-preview>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>
        <br>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </ng-container>
    </mat-card-content>
</mat-card>
<br />
<div class="row justify-content-center">
    <div class="col-2">
        <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
    </div>
    <div class="col-2">
        <app-button-save-close (click)="saveClose()"></app-button-save-close>&nbsp;&nbsp;
    </div>
    <div class="col-2">
        <app-button-close (click)="close()"></app-button-close>
    </div>
</div>