<div class="card-body">
    <h2 class="card-title">กบข.-ธนาคารและสหกรณ์</h2>
    <mat-card class="mat-elevation-z4">
        <mat-card-content>
            <app-layout-search>
                <ng-container content>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="outline">
                                <mat-label>ค้นหา</mat-label>
                                <input matInput />
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline">
                                <mat-label>หน่วยงาน</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let data of [{test:'test'}]" [value]="data.test">
                                        {{data.test}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline">
                                <mat-label>ตำแหน่งงาน </mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let data of [{test:'test'}]" [value]="data.test">
                                        {{data.test}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- <div class="row justify-content-md-center">
            <div>
                <app-button-search></app-button-search>
                <app-button-reset></app-button-reset>
            </div>
        </div> -->
                </ng-container>
            </app-layout-search>
            <div>
                <app-button-add (click)="addPage()"></app-button-add>
            </div>
            <br />
            <table mat-table [dataSource]="rows" matSort class="mat-elevation-z2" style="width: 100%;">
                <tr mat-header-row *matHeaderRowDef="['action', '1', '2','3','4']"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2','3','4']"></tr>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                    <td mat-cell *matCellDef="let data">
                        <app-icon-report></app-icon-report>
                        <app-icon-edit></app-icon-edit>
                        <app-icon-del></app-icon-del>
                    </td>
                </ng-container>
                <ng-container matColumnDef="1">
                    <th mat-header-cell *matHeaderCellDef>รหัสบุุคลากร</th>
                    <td mat-cell *matCellDef="let data; let index = index">
                        1
                    </td>
                </ng-container>
                <ng-container matColumnDef="2">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อบุคลากร </th>
                    <td mat-cell *matCellDef="let data">
                        2
                    </td>
                </ng-container>
                <ng-container matColumnDef="3">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อตำแหน่ง </th>
                    <td mat-cell *matCellDef="let data">
                        3
                    </td>
                </ng-container>
                <ng-container matColumnDef="4">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อหน่วยงาน </th>
                    <td mat-cell *matCellDef="let data">
                        4
                    </td>
                </ng-container>
            </table>
            <br>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </mat-card-content>
    </mat-card>
</div>