<button mat-raised-button color="primary" style="margin-top: 0.25em;background-color: #1194f6;width: 110px;font-size: 13px;font-weight: 300;" [ngStyle]="{'width': width}" [disabled]="disabled">
    <span style="color: white;">{{name}}</span>
</button>