<!-- <button mat-raised-button color="primary" style="margin-top: 0.25em;">
    <span class="material-icons" style="color: white;">
        get_app
    </span>
    <span style="color: white;">อัพโหลด</span>
</button> -->
<div style="margin-top: 5px;">
    <button mat-flat-button color="primary" style="color: white;padding: 3px;;width: auto;">
        อัพโหลด
    </button>
    <input type="file" #fileInput id="uploadFile" (change)="uploadFileEvt($event.target.files)"  />
</div>
