<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>รหัส</mat-label>
                    <!-- <mat-select>
                        <mat-option></mat-option>
                    </mat-select> -->
                    <input matInput type="text" [(ngModel)]="file.fault_type_code" />
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>รายการประเภทการกระทำผิด</mat-label>
                    <input matInput type="text" [(ngModel)]="file.fault_type_name_th" />
                    <!-- <mat-select>
                        <mat-option></mat-option>
                    </mat-select> -->
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<br />
<div class="row justify-content-center">
    <div class="col-2">
        <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
    </div>
    <div class="col-2">
        <app-button-save-close (click)="saveClose()"></app-button-save-close>&nbsp;&nbsp;
    </div>
    <div class="col-2">
        <app-button-close (click)="close()"></app-button-close>
    </div>
</div>