<form [formGroup]="form">
    <mat-card class="mat-elevation-z4">
        <mat-card-content>
            <ng-container *ngIf="state == 'edit'">
            <div class="flex_row_between">
                <mat-form-field class="paddingInput" appearance="outline" style="width: 45%;">
                    <mat-label>เลขที่เอกสาร </mat-label>
                    <input matInput type="text" formControlName="document_no" />
                </mat-form-field>
                <mat-form-field class="paddingInput" appearance="outline" style="width: 45%;">
                    <mat-label>วันที่เอกสาร<span style="color: red">*</span></mat-label>
                    <input matInput [matDatepicker]="fromDate" formControlName="request_date">
                    <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                    <mat-datepicker #fromDate></mat-datepicker>
                </mat-form-field>
            </div>
        </ng-container>
            <mat-card class="mat-elevation-z4">
                <mat-card-content>
                    <label for="">รายละเอียดผู้ขอ</label>
                    <div class="flex_row_between">
                        <mat-form-field class="paddingInput" appearance="outline" style="width: 45%;">
                            <mat-label>ชื่อ-สกุล <span style="color: red">*</span> </mat-label>
                            <input matInput type="text" formControlName="request_by" disabled />
                        </mat-form-field>
                        <mat-form-field class="paddingInput" appearance="outline" style="width: 45%;">
                            <mat-label>ตำแหน่งงาน </mat-label>
                            <input matInput type="text" disabled value="เจ้าหน้าที่ธุรการ" />
                        </mat-form-field>
                    </div>
                    <div class="flex_row_between">
                        <mat-form-field class="paddingInput" appearance="outline" style="width: 45%;">
                            <mat-label>หน่วยงาน </mat-label>
                            <mat-select formControlName="agency_uid">
                                <mat-option *ngFor="let item of agencysData$| async" [value]="item.agency_uid">
                                    {{item.agency_name_th}}</mat-option>
                            </mat-select>
                            <!-- <input matInput type="text" disabled /> -->
                        </mat-form-field>
                        <mat-form-field class="paddingInput" appearance="outline" style="width: 45%;">
                            <mat-label>สังกัด </mat-label>
                            <input matInput type="text" disabled value="มหาวิทยาลัยรังสิต" />
                        </mat-form-field>
                    </div>

                </mat-card-content>
            </mat-card>
            <br>
            <mat-card class="mat-elevation-z4">
                <mat-card-content>
                    <label for="">รายละเอียดขออัตตรากำลัง</label>
                    <div class="flex_row_between">
                        <mat-form-field class="paddingInput" appearance="outline" style="width: 45%;">
                            <mat-label>ตำแหน่งงานที่ขอ<span style="color: red">*</span></mat-label>
                            <mat-select formControlName="position_uid">
                                <mat-option *ngFor="let item of position$ | async" [value]="item.position_uid">
                                    {{item.position_name_th}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="paddingInput" appearance="outline" style="width: 45%;">
                            <mat-label>วุฒิการศึกษา<span style="color: red">*</span></mat-label>
                            <mat-select formControlName="education_level_id">
                                <mat-option *ngFor="let item of educationLevels$ | async"
                                    [value]="item.education_level_id">{{item.education_level_name_th}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="flex_row_between">
                        <mat-form-field class="paddingInput" appearance="outline" style="width: 45%;">
                            <mat-label>คุณวฒิ<span style="color: red">*</span></mat-label>
                            <mat-select formControlName="qualification_id">
                                <mat-option *ngFor="let item of qualifications$ | async"
                                    [value]="item.qualification_id">{{item.qualification_name_th}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="paddingInput" appearance="outline" style="width: 45%;">
                            <mat-label>อัตรากำลังที่ขอ<span style="color: red">*</span></mat-label>
                            <input matInput formControlName="no_of_manpower" />
                        </mat-form-field>
                    </div>
                    <div class="flex_row_between">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>หมายเหตุการขออัตรากำลัง<span style="color: red">*</span></mat-label>
                            <textarea matInput formControlName="remark"></textarea>
                        </mat-form-field>
                    </div>

                </mat-card-content>
            </mat-card>
            <br>
            <mat-card class="mat-elevation-z4">
                <mat-card-content>
                    <label for="">เอกสารแนบ</label>
                    <div>
                        <app-button-add (click)="addfile()"></app-button-add>
                    </div>
                    <br>
                    <table mat-table [dataSource]="form.value.manpower_request_documents" matSort class="mat-elevation-z2" style="width: 100%;">
                        <tr mat-header-row *matHeaderRowDef="['action', '1', '2']"></tr>
                        <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2']"></tr>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                            <td mat-cell *matCellDef="let data ; let i = index">
                                <app-icon-edit (click)="editfile(data,i)"></app-icon-edit>
                                <app-icon-download> (click)="downloadDoc(data.document_url)"</app-icon-download>
                                <app-icon-del (click)="deleteItemDoc(data.manpower_request_document_uid,i)"></app-icon-del>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="1">
                            <th mat-header-cell *matHeaderCellDef>ชื่อไฟล์ </th>
                            <td mat-cell *matCellDef="let data; let index = index">
                                {{data.file_name}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="2">
                            <th mat-header-cell *matHeaderCellDef>รายละเอียด </th>
                            <td mat-cell *matCellDef="let data; let index = index">
                                {{data.remark}}
                            </td>
                        </ng-container>
                    </table>
                    <br>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </mat-card-content>
            </mat-card>
        </mat-card-content>
        <br>
        <div class="flex_row_end">
            <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
            <ng-container *ngIf="state == 'edit'">
                <ng-container *ngIf="form.value.approve_status_id != 2">
                    <app-button-approve (click)="approve()"></app-button-approve>&nbsp;&nbsp;
                </ng-container>
                <app-button-no-approve (click)="noApprove()"></app-button-no-approve>&nbsp;&nbsp;
            </ng-container>
            <app-button-close (click)="close()"></app-button-close>
        </div>
    </mat-card>
</form>

<pre *ngIf="!isHideForm">{{form.getRawValue()|json}}</pre>