
*:focus {
  outline: 0;
}


a.active {
  text-decoration: underline;
}


.username_text {
  color: white;
  font-size: 1.2rem;
  line-height: 20px;
}

.email_text {
  color: white;
  font-size: 1.1rem;
}

.rsu_text {
  color: #BDBDBD;
  font-size: 3.5rem;
}
.iconSize{
  font-size: 18px; 
  padding-right: 5px;
}
.user_img {
  position: absolute;
  z-index: 1;
  bottom: 0;
  bottom: -70px;
}

.menuFalse {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  align-items: center;
  flex-flow: column;
  color: white;
  position: relative;
  cursor: pointer;
}
.iconMenuName {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
  align-items: center;
  position: relative;
  width: 100%;
  font-weight: 100 !important;
}
.menuFalse:hover {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  align-items: center;
  flex-flow: column;
  position: relative;
  color: white;
  cursor: pointer;
  background-color: #2b2e36;;
}
.mat-expansion-panel-header {
  font-family: Sarabun;
  font-size: 15px;
  font-weight: 100;
}
.mat-body, .mat-body-1, .mat-typography {
  font: 100 14px/20px Sarabun;
  letter-spacing: normal;
  font-weight: 100 !important;
}
.mat-expansion-panel-content {
  font: 400 14px/20px Sarabun;
  letter-spacing: normal;
  font-weight: 100 !important;
}
.list_menu > div > li {
  outline: none;
  color: white;
  padding: 10px;
  padding-left: 10px;
  margin-left: 50px;
  cursor: pointer;
  font-weight: 100 !important;
}

