<div class="container_menu">
    <div class="logo"
        [ngStyle]="{'justify-content': isExpandMenu ? '':'center','background-color': isExpandMenu ? '':'unset'}">
        <div class="rsu_text" [hidden]="!isExpandMenu">
            <picture>
                <!-- <source type="image/webp" srcset="assets/images/logo.webp">
                <source srcset="assets/images/logo.png" type="image/png" alt="">
                <img src="assets/images/logo.png" alt=""> -->
            </picture>

        </div>
        <button mat-icon-button (click)="toggleMenu()" style="color: white;">
            <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">
                menu</mat-icon>
        </button>
    </div>
    <div class="information" *ngIf="isExpandMenu">
        <span class="username_text">UserName Admin</span>
        <span class="email_text">mail@gmail.com</span>
        <picture class="user_img rsu_border_image">
            <!-- <source style="width: 127px;height: 127px;" src="assets/images/logo_new.webp" type="image/webp"> -->
            <source style="width: 107px;height: 107px;" src="assets/images/logo_new.png" type="image/png">
            <img src="assets/images/logo_new.png" alt="" style="width: 107px;height: 107px;">
        </picture>

    </div>
    <div class="menu_bg" *ngIf="isExpandMenu">
        <span>MENU</span>
    </div>
    <div class="information" *ngIf="!isExpandMenu">


    </div>


    <mat-accordion *ngIf="isExpandMenu">
        <mat-expansion-panel *ngIf="user == null">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="iconMenuName">
                        <span class="material-icons iconSize">
                            device_hub
                        </span>
                        <label style="margin-top: 6px;">
                            โครงสร้างองค์กร
                        </label>
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <div class="backgound_color_menu">
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/organization_chart">
                            <li>โครงสร้างหน่วยงาน</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/position_chart">
                            <li>โครงสร้างตำแหน่งงาน</li>
                        </div>
                    </ul>
                    <div style="padding: 0px 24px 0px 35px;">
                        <mat-panel-title>
                            <div class="iconMenuName">
                                ตั้งค่า
                            </div>
                        </mat-panel-title>
                    </div>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/organization_data">
                            <li>กำหนดข้อมูลองค์กร</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/department_type">
                            <li>กำหนดประเภทหน่วยงาน</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/department_data">
                            <li>กำหนดข้อมูลหน่วยงาน</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/detail_job_description">
                            <li>กำหนดข้อมูลรายละเอียดงาน</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/position_data">
                            <li>กำหนดข้อมูลตำแหน่งงาน</li>
                        </div>
                    </ul>
                </div>
            </ng-template>
        </mat-expansion-panel>
    </mat-accordion>
    <ng-container *ngIf="user == null">
    <div class="menuFalse" (click)="toggleMenu()" *ngIf="!isExpandMenu" >
        <span class="material-icons iconSize">
            device_hub
        </span>
    </div>
    </ng-container>
    <!-- <mat-accordion *ngIf="isExpandMenu">
        <mat-expansion-panel *ngIf="user == null">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="iconMenuName">
                        <span class="material-icons iconSize">
                            local_atm
                            </span>
                      
                        <label style="margin-top: 6px;">
                            งบประมาณ
                        </label>
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <div class="backgound_color_menu">
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/organization_chart">
                            <li>โครงสร้างหน่วยงาน</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/position_chart">
                            <li>โครงสร้างตำแหน่งงาน</li>
                        </div>
                    </ul>
                    <div style="padding: 0px 24px 0px 35px;">
                        <mat-panel-title>
                            <div class="iconMenuName">
                                ตั้งค่า
                            </div>
                        </mat-panel-title>
                    </div>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/organization_data">
                            <li>กำหนดข้อมูลองค์กร</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/department_type">
                            <li>กำหนดประเภทหน่วยงาน</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/department_data">
                            <li>กำหนดข้อมูลหน่วยงาน</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/detail_job_description">
                            <li>กำหนดข้อมูลรายละเอียดงาน</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/position_data">
                            <li>กำหนดข้อมูลตำแหน่งงาน</li>
                        </div>
                    </ul>
                </div>
            </ng-template>
        </mat-expansion-panel>
    </mat-accordion>
    <ng-container *ngIf="user == null">
    <div class="menuFalse" (click)="toggleMenu()" *ngIf="!isExpandMenu" >
        <span class="material-icons iconSize">
            local_atm
            </span>
      
    </div>
    </ng-container> -->
    <mat-accordion *ngIf="isExpandMenu">
        <mat-expansion-panel *ngIf="user == null">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="iconMenuName">
                        <span class="material-icons iconSize">
                            people_alt
                        </span>
                        <label style="margin-top: 3px;">
                            จัดสรรอัตรากำลัง
                        </label>
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <div class="backgound_color_menu">
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/save_allocate_people">
                            <li>บันทึกขออัตรากำลัง</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/set_number_people">
                            <li>กำหนดเลขที่อัตรา</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/save_request_people">
                            <li>บันทึกจัดสรรอัตรากำลัง</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/search_position_people">
                            <li>สืบค้นผู้ถือครองตำแหน่ง</li>
                        </div>
                    </ul>
                </div>
            </ng-template>
        </mat-expansion-panel>
    </mat-accordion>
    <ng-container *ngIf="user == null">
    <div class="menuFalse" (click)="toggleMenu()" *ngIf="!isExpandMenu">
        <span class="material-icons iconSize">
            people_alt
        </span>
    </div>
    </ng-container>
    <mat-accordion *ngIf="isExpandMenu">
        <mat-expansion-panel *ngIf="user == null">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="iconMenuName">
                        <span class="material-icons iconSize">
                            person_search
                        </span>
                        <label style="margin-top: 3px;">
                            สรรหาคัดเลือก
                        </label>
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <div class="backgound_color_menu">
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/recruitment_employ" >
                            <li>บันทึกขอสรรหา</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/save_job_application" >
                            <li>บันทึกใบสมัครงาน</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/save-selection-results">
                            <li>บันทึกผลการคัดเลือก</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="" routerLink="/app/save_employment_contract">
                            <li>บันทึกสัญญาจ้าง</li>
                        </div>
                    </ul>
                </div>
            </ng-template>
        </mat-expansion-panel>
    </mat-accordion>
    <ng-container *ngIf="user == null">
    <div class="menuFalse" (click)="toggleMenu()" *ngIf="!isExpandMenu">
        <span class="material-icons iconSize">
            person_search
        </span>
    </div>
    </ng-container>
    <mat-accordion *ngIf="isExpandMenu">
        <mat-expansion-panel *ngIf="user != null || user == null">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="iconMenuName">
                        <span class="material-icons iconSize">
                            folder_shared
                        </span>
                        <label style="margin-top: 3px;">
                            ทะเบียนประวัติ
                        </label>
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <div class="backgound_color_menu">
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/pr_save_profile_registration">
                            <li (click)="windowsSlid()">บันทึกทะเบียนประวัติ</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/pr_edit_profile_registration">
                            <li (click)="windowsSlid()">บันทึกขอแก้ไขประวัติ</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/pr_edit_position_salary">
                            <li (click)="windowsSlid()">บันทึกตำแหน่งและเงินเดือน</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/pr_academic_position">
                            <li (click)="windowsSlid()">บันทึกตำแหน่งวิชาการ</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/pr_educational_background">
                            <li (click)="windowsSlid()">บันทึกปรับวุฒิการศึกษา</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/pr_transfer">
                            <li (click)="windowsSlid()">บันทึกโอนย้าย</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/pr_resgin">
                            <li (click)="windowsSlid()">บันทึกพ้นสภาพ</li>
                        </div>
                    </ul>
                    <div style="padding: 0px 24px 0px 35px;">
                        <mat-panel-title>
                            <div class="iconMenuName">
                                ตั้งค่า
                            </div>
                        </mat-panel-title>
                    </div>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/pr_set_title">
                            <li (click)="windowsSlid()">กำหนดคำนำหน้าชื่อ</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/pr_set_relationship">
                            <li (click)="windowsSlid()">กำหนดความสัมพันธ์</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/pr_set_education">
                            <li (click)="windowsSlid()">กำหนดวุฒิการศึกษา</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/pr_set_qualification">
                            <li (click)="windowsSlid()">กำหนดคุณวุฒิ</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/pr_set_personnel_group">
                            <li (click)="windowsSlid()">กำหนดกลุ่มบุคลากร</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/pr_set_personnel_type">
                            <li (click)="windowsSlid()">กำหนดประเภทบุคลากร</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/pr_set_position_level">
                            <li (click)="windowsSlid()">กำหนดระดับตำแหน่ง</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/pr_set_academic_position">
                            <li (click)="windowsSlid()">กำหนดตำแหน่งวิชาการ</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/pr_set_line_work">
                            <li (click)="windowsSlid()">กำหนดสายงาน</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/pr_set_work_group">
                            <li (click)="windowsSlid()">กำหนดกลุ่มงาน</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/pr_set_type_termination">
                            <li (click)="windowsSlid()">กำหนดประเภทการพ้นสภาพ</li>
                        </div>
                    </ul>
                    <div style="padding: 0px 24px 0px 35px;">
                        <mat-panel-title>
                            <div class="iconMenuName">
                                รายงาน
                            </div>
                        </mat-panel-title>
                    </div>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'">
                            <li (click)="windowsSlid()">รายงานรวมตำแหน่งงานและตำแหน่งอื่น ๆ</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'">
                            <li (click)="windowsSlid()">รายงานตำแหน่งบริหาร</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'">
                            <li (click)="windowsSlid()">รายงานตำแหน่งวิชาการ</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'">
                            <li (click)="windowsSlid()">รายงาน สกอ.</li>
                        </div>
                    </ul>
                </div>
            </ng-template>
        </mat-expansion-panel>
    </mat-accordion>
    <ng-container *ngIf="user != null">
    <div class="menuFalse" (click)="toggleMenu()" *ngIf="!isExpandMenu">
        <span class="material-icons iconSize">
            folder_shared
        </span>
    </div>
    </ng-container>
    <mat-accordion *ngIf="isExpandMenu">
        <mat-expansion-panel *ngIf="user == null">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="iconMenuName">
                        <span class="material-icons iconSize">
                            attach_money
                        </span>
                        <label style="margin-top: 3px;">
                            เงินเดือน
                        </label>
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <div class="backgound_color_menu">
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/personal-income">
                            <li (click)="windowsSlid()">บันทึกเงินได้</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/personal-deduct">
                            <li (click)="windowsSlid()">บันทึกเงินหัก</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/fund-member">
                            <li (click)="windowsSlid()">บันทึกสมาชิกกองทุนสำรองเลี้ยงชีพ</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/employee-other-payment">
                            <li (click)="windowsSlid()">บันทึกเงินตกเบิก</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/payment-process">
                            <li (click)="windowsSlid()">ประมวลผลจ่ายเงินเดือน</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/employee-account">
                            <li (click)="windowsSlid()">บันทึกธนาคารจ่ายเงินเดือน</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/employee-deductible">
                            <li (click)="windowsSlid()">บันทึกข้อมูลลดหย่อนภาษีบุคลากร</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/salary-adjust">
                            <li (click)="windowsSlid()">ปรับเลื่อนค่าตอบแทน</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/sso-contribution">
                            <li (click)="windowsSlid()">บันทึกข้อมูลสมาชิกประกันสังคม</li>
                        </div>
                    </ul>
                    <div style="padding: 0px 24px 0px 35px;">
                        <mat-panel-title>
                            <div class="iconMenuName">
                                ตั้งค่า
                            </div>
                        </mat-panel-title>
                    </div>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/payment-period">
                            <li (click)="windowsSlid()">กำหนดรอบการจ่ายเงินเดือน</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/bank">
                            <li (click)="windowsSlid()">กำหนดรายชื่อธนาคารและสาขา</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/salary-group">
                            <li (click)="windowsSlid()">กำหนดบัญชีโครงสร้างอัตราจ้าง</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/provident-fund">
                            <li (click)="windowsSlid()">กำหนดกองทุนสำรอง</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/pay-tax">
                            <li (click)="windowsSlid()">กำหนดรายการยกเว้น/ลดหย่อนภาษี</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/income-deduct">
                            <li (click)="windowsSlid()">กำหนดรายได้-รายหัก</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/cooperative">
                            <li (click)="windowsSlid()">กำหนดรายชื่อสหกรณ์ออมทรัพย์</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/salary-range">
                            <li (click)="windowsSlid()">กำหนดขั้นเงินเดือน</li>
                        </div>
                    </ul>
                </div>
            </ng-template>
        </mat-expansion-panel>
    </mat-accordion>
    <ng-container *ngIf="user == null">
    <div class="menuFalse" (click)="toggleMenu()" *ngIf="!isExpandMenu">
        <span class="material-icons iconSize">
            attach_money
        </span>
    </div>
    </ng-container>
    <mat-accordion *ngIf="isExpandMenu">
        <mat-expansion-panel *ngIf="user == null">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="iconMenuName">
                        <span class="material-icons iconSize">
                            gavel
                        </span>
                        <label style="margin-top: 3px;">
                            วินัยบุคลากร
                        </label>
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <div class="backgound_color_menu">
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/save_discipline_information">
                            <li>บันทึกข้อมูลทางวินัย</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/save_complain">
                            <li>บันทึกอุทธรณ์/ร้องทุกข์</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/save_sentence">
                            <li>บันทึกคำพิพากษา/คำสั่งศาล</li>
                        </div>
                    </ul>
                    <div style="padding: 0px 24px 0px 35px;">
                        <mat-panel-title>
                            <div class="iconMenuName">
                                ตั้งค่า
                            </div>
                        </mat-panel-title>
                    </div>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/set-schedule">
                            <li>กำหนดการดำเนินการ</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/set-type-penalty">
                            <li>กำหนดประเภทบทลงโทษ</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/set-step-consider">
                            <li>กำหนดขั้นตอนพิจารณา</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/set-type-penalty-personnel">
                            <li>กำหนดบทลงโทษของประเภทบุคลากร</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/set-court">
                            <li>กำหนดศาล</li>
                        </div>
                    </ul>
                </div>
            </ng-template>
        </mat-expansion-panel>
    </mat-accordion>
    <ng-container *ngIf="user == null">
    <div class="menuFalse" (click)="toggleMenu()" *ngIf="!isExpandMenu">
        <span class="material-icons iconSize">
            gavel
        </span>
    </div>
    </ng-container>
    <mat-accordion *ngIf="isExpandMenu">
        <mat-expansion-panel *ngIf="user == null">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="iconMenuName">
                        <span class="material-icons iconSize">
                            star
                        </span>
                        <label style="margin-top: 3px;">
                            เครื่องราชอิสริยากรณ์
                        </label>
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <div class="backgound_color_menu">
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/request_royal_right"> 
                            <li>ประมวลผลผู้มีสิทธิ์ขอพระราชทานเครื่องราชฯ</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/request_royal_medal">
                            <li>ประมวลผลผู้มีสิทธิ์ขอพระราชทานเหรียญตรา</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/present_royal">
                            <li>การเสนอขอเครื่องราชฯ</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/save_recive_royal">
                            <li>บันทึกการรับเครื่องราชฯ</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/follow_royal">
                            <li>ติดตามเครื่องราชฯ</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/return_royal">
                            <li>การคืนเครื่องราชฯ</li>
                        </div>
                    </ul>
                   
                    <div style="padding: 0px 24px 0px 35px;">
                        <mat-panel-title>
                            <div class="iconMenuName">
                                ตั้งค่า
                            </div>
                        </mat-panel-title>
                    </div>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/set_royal_type">
                            <li>กำหนดประเภทเครื่องราชฯ</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/set_royal_details">
                            <li>กำหนดรายละเอียดเครื่องราชฯ</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/set_royal_right">
                            <li>กำหนดสิทธิ์ขอพระราชทานเครื่องราชฯ</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/set_royal_medal">
                            <li>กำหนดสิทธิ์ขอพระราชทานเหรียญตรา</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/set_royal_date">
                            <li>กำหนดวันพระราชทาน</li>
                        </div>
                    </ul>
                </div>
            </ng-template>
        </mat-expansion-panel>
    </mat-accordion>
    <ng-container *ngIf="user == null">
    <div class="menuFalse" (click)="toggleMenu()" *ngIf="!isExpandMenu">
        <span class="material-icons iconSize">
            star
        </span>
    </div>
    </ng-container>
    <mat-accordion *ngIf="isExpandMenu">
        <mat-expansion-panel *ngIf="user == null">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="iconMenuName">
                        <span class="material-icons iconSize">
                            content_paste
                        </span>
                        <label style="margin-top: 3px;">
                            บันทึกการปฏิบัติงาน
                        </label>
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <div class="backgound_color_menu">
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/general_leave">
                            <li (click)="windowsSlid()">บันทึกลาหยุดงาน</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/leave_education">
                            <li (click)="windowsSlid()">บันทึกลาศึกษาต่อ</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/service">
                            <li (click)="windowsSlid()">บันทึกอบรม/ดูงาน/ปฏิบัติงานวิจัย</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/ot">
                            <li (click)="windowsSlid()">บันทึกปฏิบัติงานล่วงเวลา</li>
                        </div>
                    </ul>
                    <div style="padding: 0px 24px 0px 35px;">
                        <mat-panel-title>
                            <div class="iconMenuName">
                                ตั้งค่า
                            </div>
                        </mat-panel-title>
                    </div>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/leave_type">
                            <li (click)="windowsSlid()">กำหนดประเภทการลา</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/holiday">
                            <li (click)="windowsSlid()">กำหนดวันหยุดประจำปี</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/workshift">
                            <li (click)="windowsSlid()">กำหนดรอบปฏิบัติงาน</li>
                        </div>
                    </ul>
                </div>
            </ng-template>
        </mat-expansion-panel>
    </mat-accordion>
    <ng-container *ngIf="user == null">
    <div class="menuFalse" (click)="toggleMenu()" *ngIf="!isExpandMenu">
        <span class="material-icons iconSize">
            content_paste
        </span>
    </div>
    </ng-container>

    <mat-accordion *ngIf="isExpandMenu">
        <mat-expansion-panel *ngIf="user == null">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="iconMenuName">
                        <span class="material-icons iconSize">
                            school
                            </span>
                        <label style="margin-top: 3px;">
                            ทุนการศึกษา
                        </label>
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <!-- <div class="backgound_color_menu">
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/general_leave">
                            <li (click)="windowsSlid()">บันทึกลาหยุดงาน</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/leave_education">
                            <li (click)="windowsSlid()">บันทึกลาศึกษาต่อ</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/service">
                            <li (click)="windowsSlid()">บันทึกอบรม/ดูงาน/ปฏิบัติงานวิจัย</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/ot">
                            <li (click)="windowsSlid()">บันทึกปฏิบัติงานล่วงเวลา</li>
                        </div>
                    </ul>
                    <div style="padding: 0px 24px 0px 35px;">
                        <mat-panel-title>
                            <div class="iconMenuName">
                                ตั้งค่า
                            </div>
                        </mat-panel-title>
                    </div>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/leave_type">
                            <li (click)="windowsSlid()">กำหนดประเภทการลา</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/holiday">
                            <li (click)="windowsSlid()">กำหนดวันหยุดประจำปี</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/workshift">
                            <li (click)="windowsSlid()">กำหนดรอบปฏิบัติงาน</li>
                        </div>
                    </ul>
                </div> -->
            </ng-template>
        </mat-expansion-panel>
    </mat-accordion>
    <ng-container *ngIf="user == null">
    <div class="menuFalse" (click)="toggleMenu()" *ngIf="!isExpandMenu">
        <span class="material-icons iconSize">
            school
            </span>
    </div>
    </ng-container>

    
    <mat-accordion *ngIf="isExpandMenu">
        <mat-expansion-panel *ngIf="user == null">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="iconMenuName">
                        <span class="material-icons iconSize">
                            perm_contact_calendar
                            </span>
                        <label style="margin-top: 3px;">
                            ประเมินผลปฏิบัติงาน
                        </label>
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <!-- <div class="backgound_color_menu">
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/general_leave">
                            <li (click)="windowsSlid()">บันทึกลาหยุดงาน</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/leave_education">
                            <li (click)="windowsSlid()">บันทึกลาศึกษาต่อ</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/service">
                            <li (click)="windowsSlid()">บันทึกอบรม/ดูงาน/ปฏิบัติงานวิจัย</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/ot">
                            <li (click)="windowsSlid()">บันทึกปฏิบัติงานล่วงเวลา</li>
                        </div>
                    </ul>
                    <div style="padding: 0px 24px 0px 35px;">
                        <mat-panel-title>
                            <div class="iconMenuName">
                                ตั้งค่า
                            </div>
                        </mat-panel-title>
                    </div>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/leave_type">
                            <li (click)="windowsSlid()">กำหนดประเภทการลา</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/holiday">
                            <li (click)="windowsSlid()">กำหนดวันหยุดประจำปี</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/workshift">
                            <li (click)="windowsSlid()">กำหนดรอบปฏิบัติงาน</li>
                        </div>
                    </ul>
                </div> -->
            </ng-template>
        </mat-expansion-panel>
    </mat-accordion>
    <ng-container *ngIf="user == null">
    <div class="menuFalse" (click)="toggleMenu()" *ngIf="!isExpandMenu">
     
        <span class="material-icons iconSize">
            perm_contact_calendar
            </span>
    </div>
    </ng-container>

    <mat-accordion *ngIf="isExpandMenu">
        <mat-expansion-panel *ngIf="user == null">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="iconMenuName">
                        <span class="material-icons iconSize">
                            people
                            </span>
                        <label style="margin-top: 3px;">
                            สวัสดิการ
                        </label>
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <!-- <div class="backgound_color_menu">
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/general_leave">
                            <li (click)="windowsSlid()">บันทึกลาหยุดงาน</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/leave_education">
                            <li (click)="windowsSlid()">บันทึกลาศึกษาต่อ</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/service">
                            <li (click)="windowsSlid()">บันทึกอบรม/ดูงาน/ปฏิบัติงานวิจัย</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/ot">
                            <li (click)="windowsSlid()">บันทึกปฏิบัติงานล่วงเวลา</li>
                        </div>
                    </ul>
                    <div style="padding: 0px 24px 0px 35px;">
                        <mat-panel-title>
                            <div class="iconMenuName">
                                ตั้งค่า
                            </div>
                        </mat-panel-title>
                    </div>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/leave_type">
                            <li (click)="windowsSlid()">กำหนดประเภทการลา</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/holiday">
                            <li (click)="windowsSlid()">กำหนดวันหยุดประจำปี</li>
                        </div>
                    </ul>
                    <ul class="list_menu">
                        <div [routerLinkActive]="'menu_item'" routerLink="/app/workshift">
                            <li (click)="windowsSlid()">กำหนดรอบปฏิบัติงาน</li>
                        </div>
                    </ul>
                </div> -->
            </ng-template>
        </mat-expansion-panel>
    </mat-accordion>
    <ng-container *ngIf="user == null">
    <div class="menuFalse" (click)="toggleMenu()" *ngIf="!isExpandMenu">
        <span class="material-icons iconSize">
            people
            </span>
    </div>
    </ng-container>


    <!-- <br> -->
    <!-- <br> -->

</div>