<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <label for="">เพิ่มข้อมูลบุคลากรปฏิบัติงานล่วงเวลา</label>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>ชื่อ-สกุล<span style="color: red">*</span></mat-label>
                    <mat-select>
                        <mat-option value="one">First option</mat-option>
                        <mat-option value="two">Second option</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>ตำแหน่งงาน</mat-label>
                    <input matInput disabled />
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field appearance="outline">
                    <mat-label>หน่วยงาน</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<br />

<div class="row justify-content-center">
    <div class="col-2">
        <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
    </div>
    <div class="col-2">
        <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
    </div>
    <div class="col-2">
        <app-button-close (click)="close()"></app-button-close>
    </div>
  </div>