<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <app-layout-search>
            <ng-container content>
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label> ชื่อผู้ขอ </mat-label>
                            <input matInput />
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>หน่วยงาน</mat-label>
                            <mat-select [(ngModel)]="dataSearch.agency_uid">
                                <mat-option *ngFor="let item of agencysDatas" [value]="item.agency_uid">
                                    {{item.agency_name_th}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>ตำแหน่งงานที่ขอ</mat-label>
                            <mat-select [(ngModel)]="dataSearch.position_uid">
                                <mat-option *ngFor="let item of positionDatas" [value]="item.position_uid">
                                    {{item.position_name_th}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>วันที่เอกสารเริ่มต้น</mat-label>
                            <input matInput [matDatepicker]="fromDate">
                            <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                            <mat-datepicker #fromDate></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>วันที่เอกสารสิ้นสุด</mat-label>
                            <input matInput [matDatepicker]="toDate">
                            <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                            <mat-datepicker #toDate></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <!-- <div class="col-md-4">
                <mat-form-field class="paddingInput" appearance="outline" >
                    <mat-label>สถานะเอกสาร</mat-label>
                    <mat-select>
                        <mat-option value="one">First option</mat-option>
                        <mat-option value="two">Second option</mat-option>
                    </mat-select>
                </mat-form-field>
            </div> -->
                </div>
                <div class="row justify-content-md-center">
                    <div class="paddingInput">
                        <app-button-search (click)="search()"></app-button-search>
                    </div>
                    <div class="paddingInput">
                        <app-button-reset (click)="clear()"></app-button-reset>
                    </div>
                </div>
            </ng-container>
        </app-layout-search>
        <div>
            <app-button-add (click)="addPage()"></app-button-add>
        </div>
        <br />
        <table mat-table [dataSource]="rows" matSort class="mat-elevation-z2" style="width: 100%;">
            <tr mat-header-row *matHeaderRowDef="['action', '1', '2','3','4','5','6','7','8']"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2','3','4','5','6','7','8']"></tr>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                <td mat-cell *matCellDef="let data">
                    <!-- <app-icon-report></app-icon-report> -->
                    <app-icon-edit (click)="editPage(data.manpower_request_uid)"></app-icon-edit>
                    <app-icon-del (click)="deleteItem(data.manpower_request_uid)"></app-icon-del>
                </td>
            </ng-container>
            <ng-container matColumnDef="1">
                <th mat-header-cell *matHeaderCellDef>เลขที่เอกสาร </th>
                <td mat-cell *matCellDef="let data; let index = index">
                    {{data.document_no}}
                </td>
            </ng-container>
            <ng-container matColumnDef="2">
                <th mat-header-cell *matHeaderCellDef>วันที่เอกสาร </th>
                <td mat-cell *matCellDef="let data; let index = index">
                    {{data.request_date | thaiDate}}
                </td>
            </ng-container>
            <ng-container matColumnDef="3">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อผู้ขอ </th>
                <td mat-cell *matCellDef="let data">
                    {{data.request_by}}
                </td>
            </ng-container>
            <ng-container matColumnDef="4">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> หน่วยงาน </th>
                <td mat-cell *matCellDef="let data">
                    {{data.agency_uid | getDataId : agencysDatas : 'agency_uid' : 'agency_name_th' : ''}}
                </td>
            </ng-container>
            <ng-container matColumnDef="5">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ตำแหน่งงานที่ขอ </th>
                <td mat-cell *matCellDef="let data">
                    {{data.position_uid | getDataId : positionDatas : 'position_uid' : 'position_name_th' : ''}}
                </td>
            </ng-container>
            <ng-container matColumnDef="6">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> อัตรากำลังที่ขอ </th>
                <td mat-cell *matCellDef="let data">
                    {{data.no_of_manpower}}
                </td>
            </ng-container>
            <ng-container matColumnDef="7">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> หมายเหตุการขออัตรากำลัง </th>
                <td mat-cell *matCellDef="let data">
                    {{data.remark}}
                </td>
            </ng-container>
            <ng-container matColumnDef="8">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> สถานะการอนุมัติ </th>
                <td mat-cell *matCellDef="let data">{{data.approve_status_id == 1 ? 'รออนุมัติ' : '' ||
                    data.approve_status_id == 2 ? 'อนุมัติ' : '' || data.approve_status_id == 3 ? 'ไม่อนุมัติ' : ''}}
                </td>
                <!-- <ng-container *matCellDef="let data">
                    <td mat-cell *ngIf="(data.approve_status_id == 1);">รออนุมัติ</td>
                    <td mat-cell *ngIf="(data.approve_status_id == 2);">อนุมัติ</td>
                    <td mat-cell *ngIf="(data.approve_status_id == 3);">ไม่อนุมัติ</td>
                </ng-container> -->
            </ng-container>

        </table>
        <br>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>