<h1 mat-dialog-title>ประวัติการเปลี่ยนชื่อ</h1>
<div mat-dialog-content rtl>
    <div >
        <div class="row">
            <div class="col-md-3" >
                <mat-form-field appearance="outline" *ngIf="prefixData$ | async as prefixs">
                    <mat-label>คำนำหน้าชื่อ<span style="color: red">*</span> </mat-label>
                    <mat-select [(ngModel)]="formNameChange.prefix_id">
                        <mat-option *ngFor="let data of prefixs" [value]="data.prefix_id">
                            {{data.prefix_name_th}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-md-3" >
                <mat-form-field appearance="outline">
                    <mat-label>ชื่อเดิม<span style="color: red">*</span></mat-label>
                    <input [(ngModel)]="formNameChange.first_name_th" matInput />
                </mat-form-field>
            </div>
            <div class="col-md-3" >
                <mat-form-field appearance="outline">
                    <mat-label>ชื่อกลางเดิม</mat-label>
                    <input [(ngModel)]="formNameChange.middle_name_th" matInput />
                </mat-form-field>
            </div>

            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>นามสกุลเดิม</mat-label>
                    <input matInput  [(ngModel)]="formNameChange.last_name_th" />
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" >
                <mat-form-field appearance="outline">
                    <mat-label>วันที่เปลี่ยน </mat-label>
                    <input matInput  matInput [(ngModel)]="formNameChange.change_date"
                        (click)="familyBirthDateChange.open()" [matDatepicker]="familyBirthDateChange" />
                    <mat-datepicker-toggle matSuffix [for]="familyBirthDateChange">
                    </mat-datepicker-toggle>
                    <mat-datepicker #familyBirthDateChange></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-3" >
                <mat-form-field appearance="outline">
                    <mat-label>เลขที่เอกสารใบเปลี่ยนชื่อ-สกุล </mat-label>
                    <input matInput />
                </mat-form-field>
            </div>
        </div>

    </div>




    <div class="row justify-content-center">
        <div class="col-2">
            <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
        </div>
        <div class="col-2">
            <app-button-save-close (click)="saveClose()"></app-button-save-close>&nbsp;&nbsp;
        </div>
        <div class="col-2">
            <app-button-close (click)="close()"></app-button-close>
        </div>
    </div>
</div>