<form [formGroup]="form">
    <mat-card class="mat-elevation-z4">
        <mat-card-content>
            <div class="row">
                <div class="col-md-6" >
                    <mat-form-field appearance="outline" >
                        <mat-label>รหัสประเภทการพ้นสภาพ</mat-label>
                        <input matInput formControlName="exit_type_code" />
                    </mat-form-field>
                </div>
                <!-- <div class="col-md-6" >
                    <mat-form-field appearance="outline" >
                        <mat-label>ประเภทการเคลื่อนไหว <span style="color: red">*</span></mat-label>
                        <mat-select >
                            <mat-option *ngFor="let data of [{test:'test'}]"
                                [value]="data.test">
                                {{data.test}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div> -->
            </div>
           
            <div class="row">
                <div class="col-md-6" >
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>ชื่อประเภทการพ้นสภาพ <span style="color: red">*</span></mat-label>
                        <input matInput formControlName="exit_type_name_th" />
                    </mat-form-field>
                </div>
                <div class="col-md-6" >
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>ชื่อประเภทการพ้นสภาพ (English)</mat-label>
                        <input matInput formControlName="exit_type_name_en" />
                    </mat-form-field>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-12" >
                    <mat-form-field appearance="outline" >
                        <mat-label>หมายเหตุ</mat-label>
                        <textarea  matInput></textarea>
                    </mat-form-field>
                </div>
            </div> -->
           
        </mat-card-content>
        <br>
        <div class="flex_row_end">
            <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
            <app-button-close (click)="close()"></app-button-close>
        </div>
    </mat-card>
    </form>