<h1 mat-dialog-title>ประวัติการฝึกอบรม</h1>
<div mat-dialog-content rtl>
    <div >
        <div class="row">
            <div class="col-md-12" >
                <mat-form-field appearance="outline">
                    <mat-label>	ชื่อหลักสูตร<span style="color: red">*</span></mat-label>
                    <input  matInput [(ngModel)]="trainForm.course_name" />
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>สถานที่จัด</mat-label>
                    <input  matInput [(ngModel)]="trainForm.training_location" />
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline" *ngIf="awardTypes$ | async as awardTypes">
                    <mat-label>ประเภท<span style="color: red">*</span> </mat-label>
                    <mat-select [(ngModel)]="trainForm.training_type_id">
                        <mat-option *ngFor="let data of awardTypes" [value]="data.award_type_id">
                            {{data.award_type_name_th}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>เริ่มวันที่<span style="color: red">*</span> </mat-label>
                    <input matInput [(ngModel)]="trainForm.from_date" (dateChange)="dateChange()" (selectedValueChange)="dateChange()" matInput
                        (click)="start_date.open()" [matDatepicker]="start_date" />
                    <mat-datepicker-toggle matSuffix [for]="start_date">
                    </mat-datepicker-toggle>
                    <mat-datepicker #start_date></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>ถึงวันที่<span style="color: red">*</span> </mat-label>
                    <input matInput [(ngModel)]="trainForm.to_date" (dateChange)="dateChange()" (selectedValueChange)="dateChange()" matInput
                        (click)="end_date.open()" [matDatepicker]="end_date" />
                    <mat-datepicker-toggle matSuffix [for]="end_date">
                    </mat-datepicker-toggle>
                    <mat-datepicker #end_date></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-2">
            <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
        </div>
        <div class="col-2">
            <app-button-save-close (click)="saveClose()"></app-button-save-close>&nbsp;&nbsp;
        </div>
        <div class="col-2">
            <app-button-close (click)="close()"></app-button-close>
        </div>
    </div>
</div>