<form [formGroup]="form">
    <mat-card class="mat-elevation-z4">
        <mat-card-content>
            <label for="">ข้อมูลทั่วไป</label>
            <div class="row">
                <div class="col-md-10">
                    <div class="row">
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>หน่วยงานที่บรรจุ <span style="color: red">*</span></mat-label>
                                <mat-select formControlName="agency_uid">
                                    <mat-option *ngFor="let item of agencys$ | async" [value]="item.agency_uid">
                                        {{item.agency_name_th}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <!-- <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>สังกัดหน่วยงาน <span style="color: red">*</span></mat-label>
                            <input matInput  disabled>
                        </mat-form-field>
                    </div> -->
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>ตำแหน่งงานที่สมัคร <span style="color: red">*</span></mat-label>
                                <mat-select formControlName="position_uid">
                                    <mat-option *ngFor="let item of position$ | async" [value]="item.position_uid">
                                        {{item.position_name_th}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-7">
                                    <mat-form-field appearance="outline">
                                        <mat-label>อัพโหลดรูปภาพ </mat-label>
                                        <input matInput formControlName="photo_url" value="" disabled />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <app-button-upload (resultFile)="getFile($event)"></app-button-upload>
                                </div>
                                <div class="col-md-1">
                                    <app-button-view-upload (click)="viewfile(form.get('photo_url').value)"></app-button-view-upload>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row">
                        <div class="col-md-12 text-center" style="padding-right: 30px;">
                            <div style="margin-bottom: 5px;">
                                <label>รูปประจำตัว</label>
                            </div>
                            <ng-container *ngIf="!form.get('photo_url').value">
                                <div style="margin-bottom: 10px;">
                                    <img id="imgProfile" src="http://rsu.zd.co.th/images/No_Image.jpg"
                                        style="max-width: 100%; max-height: 210px;">
                                </div>
                            </ng-container>
                            <ng-container *ngIf="form.get('photo_url').value">
                                <div style="margin-bottom: 10px;">
                                    <img id="imgProfile" [src]="this.host+'/'+form.get('photo_url').value"
                                        style="max-width: 100%; max-height: 210px;">
                                </div>
                            </ng-container>

                            <!-- <div>
                            <input id="imageFile" type="file" accept="image/*" style="display: none">
                        </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <br>
    <mat-card class="mat-elevation-z4">
        <mat-card-content>
            <label for="">ข้อมูลผู้สมัคร</label>
            <div class="row">
                <div class="col-md-2">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>คำนำหน้าชื่อ <span style="color: red">*</span> </mat-label>
                        <mat-select formControlName="prefix_id" (selectionChange)="setPrefix(form.value.prefix_id)">
                            <mat-option *ngFor="let item of prefix$ | async" [value]="item.prefix_id">
                                {{item.prefix_name_th}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-5">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>ชื่อ <span style="color: red">*</span></mat-label>
                        <input matInput type="text" formControlName="first_name_th" />
                    </mat-form-field>
                </div>
                <div class="col-md-5">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>นามสกุล <span style="color: red">*</span></mat-label>
                        <input matInput type="text" formControlName="last_name_th" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>คำนำหน้าชื่อ(Eng) <span style="color: red">*</span> </mat-label>
                        <mat-select formControlName="prefix_idEng">
                            <mat-option *ngFor="let item of prefix$ | async" [value]="item.prefix_id">
                                {{item.prefix_name_en}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-5">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>ชื่อ(Eng) <span style="color: red">*</span></mat-label>
                        <input matInput type="text" formControlName="first_name_en" />
                    </mat-form-field>
                </div>
                <div class="col-md-5">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>นามสกุล(Eng) <span style="color: red">*</span></mat-label>
                        <input matInput type="text" formControlName="last_name_en" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>วันเกิด<span style="color: red">*</span></mat-label>
                        <input matInput [matDatepicker]="fromDate" formControlName="birth_date">
                        <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                        <mat-datepicker #fromDate></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>เพศ <span style="color: red">*</span> </mat-label>
                        <mat-select formControlName="gender_id">
                            <mat-option *ngFor="let item of genders$ | async" [value]="item.gender_id">
                                {{item.gender_name_th}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field appearance="outline">
                        <input matInput [(ngModel)]="ethnicity_name" 
                        [ngModelOptions]="{standalone: true}"  
                        (input)="getEthnicity(ethnicity_name)"
                        placeholder="เชื้อชาติ" 
                        aria-label="State"
                            [matAutocomplete]="co1" />
                        <mat-icon matSuffix>search</mat-icon>
                        <mat-autocomplete #co1="matAutocomplete" style="font-size: 10px;">
                            <mat-option style="font-size: 10px;" *ngFor="let c of country$ | async"
                                (onSelectionChange)="select_ethnicity(c)" [value]="c.country_name_th">
                                {{c.country_name_th}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field appearance="outline">
                        <input matInput [(ngModel)]="nationality_name" 
                        [ngModelOptions]="{standalone: true}" 
                        (input)="getNationality(nationality_name)" 
                        placeholder="สัญชาติ" 
                        aria-label="State"
                            [matAutocomplete]="co2" />
                        <mat-icon matSuffix>search</mat-icon>
                        <mat-autocomplete #co2="matAutocomplete" style="font-size: 10px;">
                            <mat-option style="font-size: 10px;" *ngFor="let c of country$ | async"
                                (onSelectionChange)="select_nationality(c)" [value]="c.country_name_th">
                                {{c.country_name_th}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>ศาสนา <span style="color: red">*</span> </mat-label>
                        <mat-select formControlName="religion_id">
                            <mat-option *ngFor="let item of religion$ | async" [value]="item.religion_id">
                                {{item.religion_name_th}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>หมู่เลือด <span style="color: red">*</span> </mat-label>
                        <mat-select formControlName="blood_group_id">
                            <mat-option *ngFor="let item of bloodGroup$ | async" [value]="item.blood_group_id">
                                {{item.blood_group_name_th}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>เลขที่ประจำตัวผู้เสียภาษี<span style="color: red">*</span></mat-label>
                        <input matInput type="text" formControlName="tax_id" />
                    </mat-form-field>
                </div>
                <ng-container *ngIf="thai && !eng">
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>บัตรประชาชน<span style="color: red">*</span></mat-label>
                            <input matInput type="text" formControlName="citizen_id" />
                        </mat-form-field>
                    </div>
                </ng-container>
                <ng-container *ngIf="!thai && eng">
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>หนังสือเดินทาง<span style="color: red">*</span></mat-label>
                            <input matInput type="text" formControlName="passport_no" />
                        </mat-form-field>
                    </div>
                </ng-container>
                <ng-container *ngIf="thai && eng">
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>บัตรประชาชน<span style="color: red">*</span></mat-label>
                            <input matInput type="text" formControlName="citizen_id" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>หนังสือเดินทาง<span style="color: red">*</span></mat-label>
                            <input matInput type="text" formControlName="passport_no" />
                        </mat-form-field>
                    </div>
                </ng-container>
            </div>
            <div class="col-md-12">
                <section class="example-section">
                    <mat-checkbox class="example-margin" [(ngModel)]="thai" [ngModelOptions]="{standalone: true}">
                        บัตรประชาชน</mat-checkbox>
                    <mat-checkbox class="example-margin" style="padding-left: 300px;" [(ngModel)]="eng"
                        [ngModelOptions]="{standalone: true}">หนังสือเดินทาง
                    </mat-checkbox>
                </section>
                <br>
            </div>
            <!-- <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <input matInput formControlName="province_of_birth_name"
                        placeholder="ออกให้โดยจังหวัด" aria-label="State" [matAutocomplete]="Provinces" />
                    <mat-icon matSuffix>search</mat-icon>
                    <mat-autocomplete #Provinces="matAutocomplete" style="font-size: 10px;">
                        <mat-option style="font-size: 10px;" *ngFor="let p of province$ | async"
                            (onSelectionChange)="selectProvince(p)" [value]="p.province_name_th">
                            {{p.province_name_th}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                
                <mat-form-field appearance="outline">
                    <input matInput  formControlName="district_name_th"
                        placeholder="เขต/อำเภอ" aria-label="State" [matAutocomplete]="Sub" />
                    <mat-icon matSuffix>search</mat-icon>
                    <mat-autocomplete #Sub="matAutocomplete" style="font-size: 10px;">
                        <mat-option style="font-size: 10px;" *ngFor="let s of subDistrict$ |async"
                            (onSelectionChange)="selectSubDistrict(s)" [value]="s.district_name_th">
                            {{s.district_name_th}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
        </div> -->
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>วันที่ออกบัตร<span style="color: red">*</span></mat-label>
                        <input matInput [matDatepicker]="fromDateB" formControlName="citizen_card_issue_date">
                        <mat-datepicker-toggle matSuffix [for]="fromDateB"></mat-datepicker-toggle>
                        <mat-datepicker #fromDateB></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>วันที่บัตรหมดอายุ<span style="color: red">*</span></mat-label>
                        <input matInput [matDatepicker]="fromDateA" formControlName="citizen_card_expiry_date">
                        <mat-datepicker-toggle matSuffix [for]="fromDateA"></mat-datepicker-toggle>
                        <mat-datepicker #fromDateA></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>อีเมล<span style="color: red">*</span></mat-label>
                        <input matInput type="text" formControlName="email" />
                    </mat-form-field>
                </div>
            </div>
            <div style="border-bottom: solid 1px gainsboro;"> </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>สถานภาพสมรส <span style="color: red">*</span> </mat-label>
                        <mat-select formControlName="marital_status_id">
                            <mat-option *ngFor="let item of maritalStatus$ | async" [value]="item.marital_status_id">
                                {{item.marital_status_name_th}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>สถานภาพทางทหาร </mat-label>
                        <mat-select formControlName="military_status_id">
                            <mat-option *ngFor="let item of militaryStatus$ | async" [value]="item.military_status_id">
                                {{item.military_status_name_th}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</form>