<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <mat-card class="mat-elevation-z4"
            style="padding: 0px 0px 0px 0px;border-radius: 0px;box-shadow: unset;border: 1px solid #d4cfcf;">
            <mat-list style="background-color: #dde4e9;">
                <mat-list-item>กำหนดเงื่อนไขการค้นหา</mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
            <mat-card-content style="padding: 0px 16px 16px 16px;">

                <br>
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label> รหัสประเภทการพ้นสภาพ </mat-label>
                            <input matInput [(ngModel)]="req.exit_type_code" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-5">
                        <mat-form-field appearance="outline">
                            <mat-label> ชื่อประเภทการพ้นสภาพ </mat-label>
                            <input matInput [(ngModel)]="req.exit_type_name_th" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <app-button-search (click)="search()"></app-button-search>
                        <app-button-reset (click)="clear()"></app-button-reset>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <div>
            <app-button-add (click)="addPage()"></app-button-add>
        </div>
        <br />
        <table mat-table [dataSource]="exitType$ | async" matSort class="mat-elevation-z2" style="width: 100%;">
            <tr mat-header-row *matHeaderRowDef="['action', '1', '2','4']"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2','4']"></tr>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                <td mat-cell *matCellDef="let data">
                    <app-icon-edit (click)="editPage(data.exit_type_id)"></app-icon-edit>
                    <app-icon-del (click)="deleteItem(data.exit_type_id)"></app-icon-del>
                </td>
            </ng-container>
            <ng-container matColumnDef="1">
                <th mat-header-cell *matHeaderCellDef>รหัสประเภทการพ้นสภาพ </th>
                <td mat-cell *matCellDef="let data; let index = index">
                    {{data.exit_type_code}}
                </td>
            </ng-container>
            <ng-container matColumnDef="2">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อประเภทการพ้นสภาพ </th>
                <td mat-cell *matCellDef="let data">
                    {{data.exit_type_name_th}}
                </td>
            </ng-container>
            <ng-container matColumnDef="4">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อประเภทการพ้นสภาพ (English) </th>
                <td mat-cell *matCellDef="let data">
                    {{data.exit_type_name_en}}
                </td>
            </ng-container>

        </table>
        <br>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>