<form [formGroup]="form">
    <mat-card class="mat-elevation-z4">
        <mat-card-content>
            <ng-container *ngIf="state == 'edit'">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>เลขที่เอกสาร</mat-label>
                        <input matInput disabled  formControlName="document_no"/>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>วันที่เอกสาร<span style="color: red">*</span></mat-label>
                        <input matInput [matDatepicker]="fromDate1" formControlName="document_date">
                        <mat-datepicker-toggle matSuffix [for]="fromDate1"></mat-datepicker-toggle>
                        <mat-datepicker #fromDate1></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            </ng-container>
            <mat-card class="mat-elevation-z4">
                <mat-card-content>
                    <ng-container *ngIf="applicant$ | async as applicantData">
                    <label for="">รายละเอียดบุคลากร</label>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="paddingInput" appearance="outline">
                                <mat-label>ชื่อ-สกุล</mat-label>
                                <input matInput disabled [value]="form.value.application_uid | getDataId : applicantData : 'applicant_uid' : 'fullName' : '' "  />
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="paddingInput" appearance="outline">
                                <mat-label>อายุ </mat-label>
                                <input matInput disabled [value]="form.value.application_uid ? (form.value.application_uid | getDataId : applicantData : 'applicant_uid' : 'birth_date' : ''| dateBirthday) : ''" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="paddingInput" appearance="outline">
                                <mat-label>หน่วยงาน </mat-label>
                                <input matInput disabled [value]="form.value.application_uid ? (form.value.application_uid | getDataId : applicantData : 'applicant_uid' : 'agency_uid' : '' | getDataId : agencyDatas : 'agency_uid' : 'agency_name_th' : '') : ''" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="paddingInput" appearance="outline">
                                <mat-label>ตำแหน่งงาน </mat-label>
                                <input matInput disabled [value]="form.value.application_uid ? (form.value.application_uid | getDataId : applicantData : 'applicant_uid' : 'position_uid' : '' | getDataId : positionDatas : 'position_uid' : 'position_name_th' : '') : ''" />
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="paddingInput" appearance="outline" >
                                <mat-label>วันที่เริ่มปฏิบัติงาน <span style="color: red">*</span></mat-label>
                                <input matInput [matDatepicker]="fromDate10" formControlName="work_start_date">
                                <mat-datepicker-toggle matSuffix [for]="fromDate10"></mat-datepicker-toggle>
                                <mat-datepicker #fromDate10 ></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </ng-container>
                </mat-card-content>
            </mat-card>
            <br>

            <mat-card class="mat-elevation-z4">
                <mat-card-content>
                    <label for="">รายละเอียดสัญญาจ้าง</label>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="paddingInput" appearance="outline">
                                <mat-label>ประเภทสัญญา<span style="color: red">*</span></mat-label>
                                <mat-select formControlName="contract_type">
                                    <mat-option *ngFor="let item of contractType$ | async" [value]="item.contract_type_id">{{item.contract_type_name_th}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="paddingInput" appearance="outline">
                                <mat-label>ทำสัญญาครั้งที่ </mat-label>
                                <input matInput disabled formControlName="contract_time_no" />
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>ผู้แทน/ผู้รับมอบอำนาจ<span style="color: red">*</span></mat-label>
                            <mat-select formControlName="attorney_personnel_uid" (selectionChange)="getPosition(form.value.attorney_personnel_uid)">
                                <mat-option *ngFor="let item of personnel$|async"  [value]="item.personnel_uid">{{item.display_name_th}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="paddingInput" appearance="outline">
                                <mat-label>ตำแหน่งงาน </mat-label>
                                <input matInput disabled />
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="paddingInput" appearance="outline" >
                                <mat-label>วันที่เริ่มสัญญา <span style="color: red">*</span></mat-label>
                                <input matInput [matDatepicker]="fromDate" formControlName="start_date" (dateChange)="this.setDate()">
                                <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                                <mat-datepicker #fromDate ></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="paddingInput" appearance="outline" >
                                <mat-label>วันที่สิ้นสุดสัญญา <span style="color: red">*</span></mat-label>
                                <input matInput [matDatepicker]="toDate" formControlName="end_date" (dateChange)="this.setDate()">
                                <mat-datepicker-toggle matSuffix [for]="toDate" ></mat-datepicker-toggle>
                                <mat-datepicker #toDate ></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field class="paddingInput" appearance="outline">
                                <mat-label>ระยะเวลา (ปี) </mat-label>
                                <input matInput formControlName="year" disabled />
                            </mat-form-field>
                            <!-- <mat-form-field class="paddingInput" appearance="outline">
                                <mat-label>ระยะเวลา (ปี) </mat-label>
                                <input matInput disabled />
                            </mat-form-field> -->
                        </div>
                        <div class="col-md-3">
                            <mat-form-field class="paddingInput" appearance="outline">
                                <mat-label>ระยะเวลา (เดือน) </mat-label>
                                <input matInput formControlName="month" disabled />
                            </mat-form-field>
                            <!-- <mat-form-field class="paddingInput" appearance="outline">
                                <mat-label>ระยะเวลา (เดือน) </mat-label>
                                <input matInput disabled formControlName="month"/>
                            </mat-form-field> -->
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="paddingInput" appearance="outline">
                                <mat-label>อัตราค่าจ้าง </mat-label>
                                <input matInput type="number" formControlName="salary_amount"/>
                            </mat-form-field>
                        </div>
                    </div>

                     <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="paddingInput" appearance="outline" >
                                <mat-label>ผู้รับผลประโยชน์</mat-label>
                                <input matInput formControlName="beneficiary"/>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="paddingInput"  appearance="outline" >
                                <mat-label>โทรศัพท์</mat-label>
                                <input matInput formControlName="beneficiary_phone_no"/>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <br>

            <mat-card class="mat-elevation-z4">
                <mat-card-content>
                    <label for="">ข้อมูลผู้ค้ำประกัน</label>
                    <br>
                    <section class="example-section">
                        <mat-checkbox class="example-margin" formControlName="has_surety"> มีผู้ค้ำประกัน</mat-checkbox>
                    </section>
                    <br>
                    <mat-card class="mat-elevation-z4" *ngIf="form.value.has_surety == true">
                        <mat-card-content>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="paddingInput" appearance="outline" >
                                        <mat-label>เงินประกัน </mat-label>
                                        <input matInput  formControlName="guarantee_amount"/>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="paddingInput" appearance="outline" >
                                        <mat-label>คำนำหน้าชื่อผู้ค้ำประกัน<span style="color: red">*</span></mat-label>
                                        <mat-select formControlName="surety_prefix_id">
                                            <mat-option *ngFor="let item of prefix$ | async" [value]="item.prefix_id">{{item.prefix_name_th}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="paddingInput" appearance="outline" >
                                        <mat-label>ชื่อผู้ค้ำประกัน <span style="color: red">*</span></mat-label>
                                        <input matInput  formControlName="surety_first_name" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="paddingInput" appearance="outline" >
                                        <mat-label>นามสกุลผู้ค้ำประกัน <span style="color: red">*</span></mat-label>
                                        <input matInput formControlName="surety_last_name" />
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="paddingInput" appearance="outline" >
                                        <mat-label>วันที่เกิดผู้ค้ำประกัน<span style="color: red">*</span></mat-label>
                                        <input matInput [matDatepicker]="fromDate2" formControlName="surety_birth_date" >
                                        <mat-datepicker-toggle matSuffix [for]="fromDate2"></mat-datepicker-toggle>
                                        <mat-datepicker #fromDate2></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-8">
                                    <mat-form-field class="paddingInput" appearance="outline" >
                                        <mat-label>อาชีพผู้ค้ำประกัน <span style="color: red">*</span></mat-label>
                                        <!-- <input matInput  /> -->
                                        <mat-select formControlName="surety_occupation_id">
                                            <mat-option *ngFor="let item of Occupations$ | async" [value]="item.occupation_id">{{item.occupation_name_th}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
        
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="paddingInput" appearance="outline" >
                                        <mat-label>คำนำหน้าชื่อคู่สมรสผู้ค้ำประกัน </mat-label>
                                        <mat-select formControlName="surety_spouse_prefix_id">
                                            <mat-option *ngFor="let item of prefix$ | async" [value]="item.prefix_id">{{item.prefix_name_th}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="paddingInput" appearance="outline" >
                                        <mat-label>ชื่อคู่สมรสผู้ค้ำประกัน</mat-label>
                                        <input matInput formControlName="surety_spouse_first_name" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="paddingInput" appearance="outline" >
                                        <mat-label>นามสกุลคู่สมรสผู้ค้ำประกัน </mat-label>
                                        <input matInput formControlName="surety_spouse_last_name" />
                                    </mat-form-field>
                                </div>
                            </div>
                        <div style="border-bottom :gainsboro solid 2px ;"></div>
                        <br>
                        <ng-container formGroupName="address"> 
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="paddingInput" appearance="outline">
                                        <mat-label>ชื่อที่อยู่</mat-label>
                                        <input matInput formControlName="address_name"/>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="paddingInput" appearance="outline">
                                        <mat-label>เลขที่ </mat-label>
                                        <input matInput formControlName="house_no" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="paddingInput" appearance="outline">
                                        <mat-label>หมู่ที่ </mat-label>
                                        <input matInput formControlName="village_no" />
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="paddingInput" appearance="outline">
                                        <mat-label>อาคาร</mat-label>
                                        <input matInput formControlName="room_no"/>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="paddingInput" appearance="outline">
                                        <mat-label>เลขที่ห้อง </mat-label>
                                        <input matInput formControlName="village_no"/>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="paddingInput" appearance="outline">
                                        <mat-label>ชั้นที่ </mat-label>
                                        <input matInput formControlName="floor_no"/>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="paddingInput" appearance="outline">
                                        <mat-label>หมู่บ้าน </mat-label>
                                        <input matInput formControlName="village_name"/>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="paddingInput" appearance="outline">
                                        <mat-label>ตรอก/ซอย </mat-label>
                                        <input matInput formControlName="alley_name"/>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="paddingInput" appearance="outline">
                                        <mat-label> ถนน </mat-label>
                                        <input matInput disabled  formControlName="street_name"/>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="paddingInput" appearance="outline">
                                            <input matInput formControlName="other_sub_district_name_th"
                                                placeholder="ตำบล/แขวง" aria-label="State" [matAutocomplete]="Provinces" />
                                            <mat-icon matSuffix>search</mat-icon>
                                            <mat-autocomplete #Provinces="matAutocomplete" style="font-size: 10px;">
                                                <mat-option style="font-size: 10px;" *ngFor="let s of subDistricts"
                                                    (onSelectionChange)="selectSubDistrict(s)" [value]="s.sub_district_name_th">
                                                    {{s.sub_district_name_th}}
                                                </mat-option>
                                            </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="paddingInput" appearance="outline">
                                        <mat-label>อำเภอ/เขต</mat-label>
                                        <input matInput formControlName="other_district_name_th" disabled />
                                        <!-- <mat-select formControlName="village_no">
                                            <mat-option value="one">First option</mat-option>
                                            <mat-option value="two">Second option</mat-option>
                                        </mat-select> -->
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="paddingInput" appearance="outline">
                                        <mat-label>จังหวัด</mat-label>
                                        <input matInput formControlName="other_province_name_th" disabled/>
                                        <!-- <mat-select formControlName="country_id">
                                            <mat-option value="one">First option</mat-option>
                                        </mat-select> -->
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="paddingInput" appearance="outline">
                                        <mat-label> รหัสไปรษณีย์ </mat-label>
                                        <input matInput type="number" formControlName="postal_code"/>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="paddingInput" appearance="outline">
                                        <mat-label> โทรศัพท์ </mat-label>
                                        <input matInput type="text" formControlName="telephone_no"/>
                                    </mat-form-field>
                                </div>
                            </div>
                        </ng-container>
                        </mat-card-content>
                    </mat-card>
                    <br>
                </mat-card-content>
            </mat-card>
            <br>

            <mat-card class="mat-elevation-z4">
                <mat-card-content>
                    <label for="">เอกสารแนบ</label>
                    <div>
                        <app-button-add (click)="addfile()"></app-button-add>
                    </div>
                    <br>
                    <table mat-table [dataSource]="form.value.employment_contract_document" matSort class="mat-elevation-z2" style="width: 100%;">
                        <tr mat-header-row *matHeaderRowDef="['action', '1', '2']"></tr>
                        <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2']"></tr>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                            <td mat-cell *matCellDef="let data ; let i = index">
                                <app-icon-edit (click)="editfile(data,i)"></app-icon-edit>
                                <app-icon-download (click)="downloadDoc(data.document_url)"></app-icon-download>
                                <app-icon-del (click)="deleteItemDoc(data.employment_contract_document_uid,i)"></app-icon-del>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="1">
                            <th mat-header-cell *matHeaderCellDef>ชื่อไฟล์ </th>
                            <td mat-cell *matCellDef="let data; let index = index">
                                {{data.file_name}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="2">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> รายละเอียด </th>
                            <td mat-cell *matCellDef="let data">
                                {{data.remark}}
                            </td>
                        </ng-container>
                    </table>
                    <br>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </mat-card-content>
            </mat-card>
        </mat-card-content>
        <br>
        <div class="flex_row_end">
            <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
            <ng-container *ngIf="dataAdd">
            <app-button-return [title]="'กลับไปหน้าผลการคัดเลือก'" (click)="retrunRequest()"></app-button-return>&nbsp;&nbsp;
            </ng-container>
            <app-button-close (click)="close()"></app-button-close>
            
            
        </div>
    </mat-card>
</form>
<pre *ngIf="!isHideForm">{{form.getRawValue()|json}}</pre>
