<!-- <form [formGroup]="formAddress">
<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <label for="">ชื่อที่อยู่ตามบัตรประชาชน</label>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>ชื่อที่อยู่ </mat-label>
                    <input matInput type="text" />
                </mat-form-field>
            </div>
        </div>  
        <div class="row">
            <div class="col-md-4">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>เลขที่ </mat-label>
                    <input matInput type="text" />
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>หมู่ที่ </mat-label>
                    <input matInput type="text" />
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>อาคาร </mat-label>
                    <input matInput type="text" />
                </mat-form-field>
            </div>
        </div>  
        <div class="row">
            <div class="col-md-4">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>เลขที่ห้อง </mat-label>
                    <input matInput type="text" />
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>ชั้นที่ </mat-label>
                    <input matInput type="text" />
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>หมู่บ้าน </mat-label>
                    <input matInput type="text" />
                </mat-form-field>
            </div>
        </div>  
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>ตรอก/ซอย </mat-label>
                    <input matInput type="text" />
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>ถนน </mat-label>
                    <input matInput type="text" />
                </mat-form-field>
            </div>
        </div>  
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>ตำบล/แขวง </mat-label>
                    <input matInput type="text" />
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>อำเภอ/เขต </mat-label>
                    <input matInput type="text" />
                </mat-form-field>
            </div>
        </div>  
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>จังหวัด </mat-label>
                    <mat-select>
                        <mat-option></mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>รหัสไปรษณีย์</mat-label>
                    <input matInput type="text" disabled/>
                </mat-form-field>
            </div>
        </div>  
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>ประเทศ </mat-label>
                    <mat-select>
                        <mat-option></mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>โทรศัพท์มือถือ</mat-label>
                    <input matInput type="text" />
                </mat-form-field>
            </div>
        </div>  
    </mat-card-content>
</mat-card>
<br>
<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <label for="">ชื่อที่อยู่ปัจจุบัน</label>

        <div class="row" style="margin-top: 10px;">
            <div class="col-md-12">
            <section class="example-section">
                <mat-checkbox class="example-margin" >ใช้ที่อยู่ตามบัตรประชาชน</mat-checkbox>
              </section>
              <br>
              </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>ชื่อที่อยู่ </mat-label>
                    <input matInput type="text" />
                </mat-form-field>
            </div>
        </div>  
        <div class="row">
            <div class="col-md-4">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>เลขที่ </mat-label>
                    <input matInput type="text" />
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>หมู่ที่ </mat-label>
                    <input matInput type="text" />
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>อาคาร </mat-label>
                    <input matInput type="text" />
                </mat-form-field>
            </div>
        </div>  
        <div class="row">
            <div class="col-md-4">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>เลขที่ห้อง </mat-label>
                    <input matInput type="text" />
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>ชั้นที่ </mat-label>
                    <input matInput type="text" />
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>หมู่บ้าน </mat-label>
                    <input matInput type="text" />
                </mat-form-field>
            </div>
        </div>  
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>ตรอก/ซอย </mat-label>
                    <input matInput type="text" />
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>ถนน </mat-label>
                    <input matInput type="text" />
                </mat-form-field>
            </div>
        </div>  
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>ตำบล/แขวง </mat-label>
                    <input matInput type="text" />
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>อำเภอ/เขต </mat-label>
                    <input matInput type="text" />
                </mat-form-field>
            </div>
        </div>  
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>จังหวัด </mat-label>
                    <mat-select>
                        <mat-option></mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>รหัสไปรษณีย์</mat-label>
                    <input matInput type="text" disabled/>
                </mat-form-field>
            </div>
        </div>  
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>ประเทศ </mat-label>
                    <mat-select>
                        <mat-option></mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>โทรศัพท์มือถือ</mat-label>
                    <input matInput type="text" />
                </mat-form-field>
            </div>
        </div>  
    </mat-card-content>
</mat-card>
</form> -->
<form [formGroup]="formAddress">
    <div style="padding: 5px;">
        <mat-card class="mat-elevation-z4" >
            <mat-card-content>
                <ng-container *ngIf="employeeAddressTypeData$ | async as AddressTypeData">
                <label for="">{{formAddress.value.address_type_id | getDataId : AddressTypeData : 'address_type_id' : 'address_type_name_th' : ''}}</label>
                </ng-container>
                <!-- <mat-list>
                    <ng-container *ngIf="employeeAddressTypeData$ | async as AddressTypeData">
                    <mat-list-item>{{formAddress.value.address_type_id | getDataId : AddressTypeData : 'address_type_id' : 'address_type_name_th' : ''}}</mat-list-item>
                    
                </ng-container>
                </mat-list> -->
                <ng-container formGroupName="address">
                    <div class="row" *ngIf="formAddress?.value.address_type_id == 22">
                        <div class="col-md-6">
                            <br />
                            <section class="example-section">
                                <mat-checkbox (change)="chengeAddressRegistered($event)" class="example-margin">
                                    ใช้ที่อยู่ตามบัตรประชาชน</mat-checkbox>
                            </section>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field appearance="outline">
                                <mat-label>ชื่อที่อยู่</mat-label>
                                <input matInput formControlName="address_name" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="outline">
                                <mat-label>เลขที่</mat-label>
                                <input matInput numberCharacter formControlName="house_no" />
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <mat-form-field appearance="outline">
                                <mat-label>หมู่ที่</mat-label>
                                <input matInput  number formControlName="village_no" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline">
                                <mat-label>อาคาร</mat-label>
                                <input matInput formControlName="building_name" />
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="outline">
                                <mat-label>เลขที่ห้อง</mat-label>
                                <input matInput numberCharacterEng formControlName="room_no" />
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <mat-form-field appearance="outline">
                                <mat-label>ชั้นที่</mat-label>
                                <input matInput number formControlName="floor_no" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline">
                                <mat-label>หมู่บ้าน</mat-label>
                                <input matInput formControlName="village_name" />
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>ตรอก/ซอย</mat-label>
                                <input matInput formControlName="alley_name" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>ถนน</mat-label>
                                <input matInput formControlName="street_name" />
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <input matInput formControlName="other_sub_district_name_th"
                                    placeholder="ตำบล/แขวง" aria-label="State" [matAutocomplete]="Provinces" />
                                <mat-icon matSuffix>search</mat-icon>
                                <mat-autocomplete #Provinces="matAutocomplete" style="font-size: 10px;">
                                    <mat-option style="font-size: 10px;" *ngFor="let s of subDistricts"
                                        (onSelectionChange)="selectSubDistrict(s)" [value]="s.sub_district_name_th">
                                        {{s.sub_district_name_th}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>อำเภอ/เขต</mat-label>
                                <input matInput formControlName="other_district_name_th" />
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>จังหวัด</mat-label>
                                <input matInput formControlName="other_province_name_th" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>รหัสไปรษณีย์</mat-label>
                                <input matInput number formControlName="postal_code" />
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <input matInput 
                                placeholder="ประเทศ"
                                [(ngModel)]="countryName" 
                                [ngModelOptions]="{standalone: true}"  
                                aria-label="State" [matAutocomplete]="coutry" 
                                (input)="getCountry(countryName)"
                                />
                                <mat-icon matSuffix>search</mat-icon>
                                <mat-autocomplete #coutry="matAutocomplete" style="font-size: 10px;">
                                    <mat-option style="font-size: 10px;" *ngFor="let c of country$ | async"
                                        (onSelectionChange)="select_coutry(c)" [value]="c.country_name_en">
                                        {{c.country_name_en}}
                                    </mat-option>
                                </mat-autocomplete>
                                <!-- <mat-autocomplete #co="matAutocomplete" style="font-size: 10px;">
                                    <mat-option style="font-size: 10px;" *ngFor="let c of country$ | async"
                                        (onSelectionChange)="select_coutry(c)" [value]="c.country_name_en">
                                        {{c.country_name_en}}
                                    </mat-option>
                                </mat-autocomplete> -->
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>โทรศัพท์</mat-label>
                                <input matInput type="text" formControlName="telephone_no" />
                            </mat-form-field>
                        </div>
                    </div>
                </ng-container>
            </mat-card-content>
        </mat-card>
        <br />
    </div>
</form>