<form [formGroup]="form">
    <mat-tab-group>
        <mat-tab label="รายละเอียดทางวินัย">
            <mat-card class="mat-elevation-z4">
                <mat-card-content>
                    <!-- <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="paddingInput" appearance="outline">
                                <mat-label>ระยะเวลาดำเนินการ </mat-label>
                                <input matInput  disabled/>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="paddingInput" appearance="outline">
                                <mat-label>ระยะเวลาคงเหลือ </mat-label>
                                <input matInput disabled />
                            </mat-form-field>
                        </div>
                    </div> -->
                    <ng-container *ngIf="state == 'edit'">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="paddingInput" appearance="outline">
                                    <mat-label>เลขที่เอกสาร </mat-label>
                                    <input matInput disabled formControlName="document_no" disabled />
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="paddingInput" appearance="outline">
                                    <mat-label>วันที่เอกสาร<span style="color: red">*</span></mat-label>
                                    <input matInput [matDatepicker]="fromDate1" disabled formControlName="document_date">
                                    <mat-datepicker-toggle matSuffix [for]="fromDate1"></mat-datepicker-toggle>
                                    <mat-datepicker #fromDate1></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </ng-container>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="paddingInput" appearance="outline">
                                <mat-label>ชื่อเรื่อง <span style="color: red">*</span></mat-label>
                                <input matInput formControlName="title_name" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="paddingInput" appearance="outline">
                                <mat-label>รายละเอียด <span style="color: red">*</span></mat-label>
                                <textarea matInput formControlName="description" ></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="paddingInput" appearance="outline">
                                <mat-label>ประเภทการดำเนินการ <span style="color: red">*</span></mat-label>
                                <mat-select [(ngModel)]="action_type_id" [ngModelOptions]="{standalone: true}" (selectionChange)="getFault()">
                                    <mat-option *ngFor="let item of actionTypes$ | async"  [value]="item.action_type_id">{{item.action_type_name_th}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="paddingInput" appearance="outline">
                                <mat-label>ประเภทการทำผิด <span style="color: red">*</span></mat-label>
                                <mat-select formControlName="fault_type_id">
                                    <mat-option *ngFor="let item of faultTypes$ | async" [value]="item.fault_type_id">{{item.fault_type_name_th}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="paddingInput" appearance="outline">
                                <mat-label>ชื่อผู้ร้องเรียน <span style="color: red">*</span></mat-label>
                                <input matInput formControlName="complainer" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="paddingInput" appearance="outline">
                                <mat-label>ผู้รับผิดชอบ <span style="color: red">*</span></mat-label>
                                <mat-select formControlName="responsible_personnel_guid">
                                    <mat-option *ngFor="let item of personnel$ | async" [value]="item.personnel_uid">{{item.display_name_th}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="paddingInput" appearance="outline">
                                <mat-label>วันที่เริ่มดำเนินการ<span style="color: red">*</span></mat-label>
                                <input matInput [matDatepicker]="fromDate3" formControlName="action_date">
                                <mat-datepicker-toggle matSuffix [for]="fromDate3"></mat-datepicker-toggle>
                                <mat-datepicker #fromDate3></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="paddingInput" appearance="outline">
                                <mat-label>สถานะเอกสาร <span style="color: red">*</span></mat-label>
                                <mat-select formControlName="discipline_approve_status_id">
                                    <mat-option *ngFor="let item of disciplineStatuss$ | async" [value]="item.discipline_approve_status_id">{{item.discipline_approve_status_name_th}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <br>
                    <mat-card class="mat-elevation-z4">
                        <mat-card-content>
                            <label for="">รายชื่อผู้ถูกร้องเรียน</label>
                            <div>
                                <app-button-add (click)="popUpListComplainAdd()"></app-button-add>
                            </div>
                            <br>
                            <table mat-table [dataSource]="form.value.discipline_request_offender" matSort class="mat-elevation-z2" style="width: 100%;">
                                <tr mat-header-row *matHeaderRowDef="['action', '2','3','4']"></tr>
                                <tr mat-row *matRowDef="let myRowData; columns: ['action', '2','3','4']"></tr>
                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                                    <td mat-cell *matCellDef="let data ;let i = index">
                                        <app-icon-edit (click)="popUpListComplainEdit(data,i)"></app-icon-edit>
                                        <app-icon-del (click)="deleteItemOff(data.discipline_request_offender_uid,i)"></app-icon-del>
                                    </td>
                                </ng-container>
                                <!-- <ng-container matColumnDef="1">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> เลขที่ตำแหน่ง </th>
                                    <td mat-cell *matCellDef="let data">
                                    </td>
                                </ng-container> -->
                                <ng-container matColumnDef="2">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อ-สกุล </th>
                                    <td mat-cell *matCellDef="let data">
                                        <!-- {{data.name? data.name : ''}} -->
                                        {{data.personnel_uid | getDataId : personnelDatas : 'personnel_uid' : 'display_name_th' : '' }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="3">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ตำแหน่ง </th>
                                    <td mat-cell *matCellDef="let data">
                                        <!-- {{data.position? data.position : ''}} -->
                                        {{data.position}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="4">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> หน่วยงาน </th>
                                    <td mat-cell *matCellDef="let data">
                                        {{data.agency? (data.agency | getDataId : agencys : 'agency_uid' : 'agency_name_th'  : '') : ''}}
                                    </td>
                                </ng-container>

                            </table>
                            <br>
                            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                        </mat-card-content>
                    </mat-card>
                    <br>
                    <mat-card class="mat-elevation-z4">
                        <mat-card-content>
                            <label for="">เอกสารเพิ่มเติม</label>
                            <div>
                                <app-button-add (click)="addfile()"></app-button-add>
                            </div>
                            <br>
                            <table mat-table [dataSource]="form.value.discipline_request_document" matSort class="mat-elevation-z2" style="width: 100%;">
                                <tr mat-header-row *matHeaderRowDef="['action', '1', '2']"></tr>
                                <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2']"></tr>
                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                                    <td mat-cell *matCellDef="let data ; let i = index">
                                        <app-icon-edit (click)="editfile(data,i)"></app-icon-edit>
                                        <app-icon-download (click)="downloadDoc(data.document_url)"></app-icon-download>
                                        <app-icon-del (click)="deleteItemDoc(data.discipline_request_document_uid,i)"></app-icon-del>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="1">
                                    <th mat-header-cell *matHeaderCellDef>ชื่อไฟล์ </th>
                                    <td mat-cell *matCellDef="let data; let index = index">
                                        {{data.file_name}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="2">
                                    <th mat-header-cell *matHeaderCellDef>รายละเอียด </th>
                                    <td mat-cell *matCellDef="let data; let index = index">
                                        {{data.remark}}
                                    </td>
                                </ng-container>
                            </table>
                            <br>
                            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                        </mat-card-content>
                    </mat-card>
                    <br>
                    <mat-card class="mat-elevation-z4">
                        <mat-card-content>
                            <label for="">รายชื่อคณะกรรมการ</label>
                            <div>
                                <app-button-add (click)="popUpListTheBoardAdd()"></app-button-add>
                            </div>
                            <br>
                            <table mat-table [dataSource]="form.value.discipline_request_committee" matSort class="mat-elevation-z2" style="width: 100%;">
                                <tr mat-header-row *matHeaderRowDef="['action', '1', '2','3']"></tr>
                                <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2','3']"></tr>
                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                                    <td mat-cell *matCellDef="let data ;let i = index">
                                        <app-icon-edit (click)="popUpListTheBoardEdit(data,i)"></app-icon-edit>
                                        <app-icon-del (click)="deleteItemBoard(data.discipline_request_committee_uid,i)"></app-icon-del>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="1">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อ-สกุลคณะกรรมการ </th>
                                    <td mat-cell *matCellDef="let data">
                                        {{data.person_name? data.person_name : (data.personnel_uid | getDataId : personnelDatas : 'personnel_uid' : 'display_name_th' : '')}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="2">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ประเภทกรรมการ </th>
                                    <td mat-cell *matCellDef="let data">
                                        {{data.committee_type_id == 1 ? 'กรรมการภายใน' : 'กรรมการภายนอก'}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="3">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ตำแหน่งในการพิจารณา </th>
                                    <td mat-cell *matCellDef="let data">
                                        {{data.position_name}}
                                    </td>
                                </ng-container>

                            </table>
                            <br>
                            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                        </mat-card-content>
                    </mat-card>
                    <br>
                </mat-card-content>
            </mat-card>
        </mat-tab>
        <mat-tab label="ผลการพิจารณา">
            <mat-card class="mat-elevation-z4">
                <mat-card-content>
                    <!-- <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="paddingInput" appearance="outline">
                                <mat-label>ระยะเวลาดำเนินการ </mat-label>
                                <input matInput  disabled/>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="paddingInput" appearance="outline">
                                <mat-label>ระยะเวลาคงเหลือ </mat-label>
                                <input matInput disabled />
                            </mat-form-field>
                        </div>
                    </div>
                    <br> -->
                    <mat-card class="mat-elevation-z4">
                        <mat-card-content>
                            <label for="">รายชื่อผู้ถูกร้องเรียน</label>
                            <!-- <div>
                                <app-button-add ></app-button-add>
                            </div>
                            <br> -->
                            <table mat-table [dataSource]="form.value.discipline_request_offender" matSort class="mat-elevation-z2" style="width: 100%;">
                                <tr mat-header-row *matHeaderRowDef="['action','2','3','4']"></tr>
                                <tr mat-row *matRowDef="let myRowData; columns: ['action','2','3','4']"></tr>
                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                                    <td mat-cell *matCellDef="let data ;let i = index">
                                        <app-icon-edit *ngIf="data.discipline_request_offender_uid" (click)="popUpOffenderEdit(data,i)"></app-icon-edit>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="2">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อ-สกุล </th>
                                    <td mat-cell *matCellDef="let data">
                                        <!-- {{data.name? data.name : ''}} -->
                                        {{data.personnel_uid == null ? data.person_name : data.personnel_uid | getDataId : personnelDatas : 'personnel_uid' : 'display_name_th' : '' }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="3">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ตำแหน่ง</th>
                                    <td mat-cell *matCellDef="let data">
                                        {{data.position? data.position : ''}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="4">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> หน่วยงาน</th>
                                    <td mat-cell *matCellDef="let data">
                                        {{data.agency? (data.agency | getDataId : agencys : 'agency_uid' : 'agency_name_th'  : '') : ''}}
                                    </td>
                                </ng-container>

                            </table>
                            <br>
                            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                        </mat-card-content>
                    </mat-card>
                    <br>
                    <mat-card class="mat-elevation-z4">
                        <mat-card-content>
                            <label for="">เอกสารเพิ่มเติม</label>
                            <div>
                                <app-button-add (click)="addfile2()"></app-button-add>
                            </div>
                            <br>
                            <table mat-table [dataSource]="form.value.discipline_approve_document" matSort class="mat-elevation-z2" style="width: 100%;">
                                <tr mat-header-row *matHeaderRowDef="['action', '1', '2']"></tr>
                                <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2']"></tr>
                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                                    <td mat-cell *matCellDef="let data">
                                        <app-icon-edit (click)="editfile2(data,i)"></app-icon-edit>
                                        <app-icon-download (click)="downloadDoc(data.document_url)"></app-icon-download>
                                        <app-icon-del (click)="deleteItemDocApprove(data.discipline_approve_document_uid,i)"></app-icon-del>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="1">
                                    <th mat-header-cell *matHeaderCellDef>ชื่อไฟล์ </th>
                                    <td mat-cell *matCellDef="let data; let index = index">
                                        {{data.file_name}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="2">
                                    <th mat-header-cell *matHeaderCellDef>รายละเอียด </th>
                                    <td mat-cell *matCellDef="let data; let index = index">
                                        {{data.remark}}
                                    </td>
                                </ng-container>
                            </table>
                            <br>
                            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                        </mat-card-content>
                    </mat-card>
                </mat-card-content>
            </mat-card>
        </mat-tab>
    </mat-tab-group>
    <br>
    <div class="flex_row_end">
        <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
        <app-button-close (click)="close()"></app-button-close>
    </div>
</form>

<pre *ngIf="!isHideForm">{{form.getRawValue()|json}}</pre>