<div style="padding: 5px;">
<form [formGroup]="formContact"> 
<mat-card class="mat-elevation-z4" style="padding: 0px 16px 16px 16px;border-radius: 0px;">
    <mat-card-content>
        <mat-list>
            <mat-list-item>{{formContact.value.contact_type_id | getDataId : EmployeeContactTypeData :
                'contact_type_id' : 'contact_type_name_th' : ''}}</mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>

        <div>
            <ng-container formGroupName="contact">

                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label>ชื่อ-สกุล </mat-label>
                            <input matInput formControlName="contact_name" />
                        </mat-form-field>
                    </div>

                    <div class="col-md-2">
                        <mat-form-field appearance="outline" *ngIf="relationships$ | async as relationship">
                            <mat-label>สถานะความสัมพันธ์</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let data of relationship" [value]="data.relationship_id">
                                    {{data.relationship_name_th}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-3">
                        <br>
                        <section class="example-section">
                            <mat-checkbox (change)="chengeAddressRegistered($event,formContact)"
                                class="example-margin">ใช้ที่อยู่เดียวกับที่อยู่ตามทะเบียนบ้าน
                            </mat-checkbox>
                        </section>
                    </div>

                    <div class="col-md-3">
                        <br>
                        <section class="example-section">
                            <mat-checkbox (change)="chengeAddressContact($event,formContact)"
                                class="example-margin">ใช้ที่อยู่เดียวกับที่อยู่ที่ติดต่อได้
                            </mat-checkbox>
                        </section>
                    </div>
                </div>
                <ng-container formGroupName="address">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>ชื่อที่อยู่</mat-label>
                                <input matInput formControlName="address_name" />
                            </mat-form-field>
                        </div>

                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>เลขที่</mat-label>
                                <input numberCharacter matInput formControlName="house_no" />
                            </mat-form-field>
                        </div>

                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>หมู่ที่</mat-label>
                                <input number matInput formControlName="village_no" />
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>อาคาร</mat-label>
                                <input matInput formControlName="building_name" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>เลขที่ห้อง</mat-label>
                                <input matInput numberCharacterEng formControlName="room_no" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>ชั้นที่</mat-label>
                                <input matInput number formControlName="floor_no" />
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>หมู่บ้าน</mat-label>
                                <input matInput formControlName="village_name" />
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>ตรอก/ซอย</mat-label>
                                <input matInput formControlName="alley_name" />
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>ถนน</mat-label>
                                <input matInput formControlName="street_name" />
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <input matInput formControlName="other_sub_district_name_th"
                                    placeholder="ตำบล/แขวง" aria-label="State" [matAutocomplete]="Provinces" />
                                <mat-icon matSuffix>search</mat-icon>
                                <mat-autocomplete #Provinces="matAutocomplete" style="font-size: 10px;">
                                    <mat-option style="font-size: 10px;" *ngFor="let s of subDistricts"
                                        (onSelectionChange)="selectSubDistrict(s)" [value]="s.sub_district_name_th">
                                        {{s.sub_district_name_th}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <!-- <mat-form-field appearance="outline"
                                *ngIf="subDistrict$ | async as subDistricts ">
                                <mat-label>ตำบล/แขวง</mat-label>
                                <mat-select (valueChange)="selectSubDistrict($event,emContact)">
                                    <mat-option *ngFor="let data of subDistricts" [value]="data">
                                        {{data.sub_district_name_th}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field> -->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>อำเภอ/เขต</mat-label>
                                <input matInput  formControlName="other_district_name_th" />
                            </mat-form-field>

                            <!-- <mat-form-field appearance="outline">
            <mat-label>อำเภอ/เขต</mat-label>
            <mat-select>
                <mat-option *ngFor="let data of [{test:'test'}]" [value]="data.test">
                    {{data.test}}
                </mat-option>
            </mat-select>
        </mat-form-field> -->
                        </div>

                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>จังหวัด</mat-label>
                                <input matInput  formControlName="other_province_name_th" />
                            </mat-form-field>
                            <!-- <mat-form-field appearance="outline">
            <mat-label>จังหวัด</mat-label>
            <mat-select >
                <mat-option *ngFor="let data of [{test:'test'}]" [value]="data.test">
                    {{data.test}}
                </mat-option>
            </mat-select>
        </mat-form-field> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>รหัสไปรษณีย์</mat-label>
                                <input matInput number formControlName="postal_code" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>โทรศัพท์</mat-label>
                                <input matInput number formControlName="telephone_no" />
                            </mat-form-field>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </mat-card-content>
</mat-card>
</form>
</div>