<form [formGroup]="form">
<mat-card class="mat-elevation-z4" style="padding: 0px 16px 16px 16px;border-radius: 0px;">
    <mat-card-content>
        <mat-list>
            <mat-list-item>ข้อมูลการปรับวุฒิการศึกษา</mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>

<div class="row">
    <div class="col-md-6" >
        <mat-form-field appearance="outline">
            <mat-label> เลขที่เอกสาร </mat-label>
            <input matInput formControlName="document_no" />
        </mat-form-field>
    </div>

    <div class="col-md-3">
        <mat-form-field appearance="outline">
            <mat-label>วันที่เอกสาร <span style="color: red">*</span></mat-label>
            <input matInput formControlName="request_date" (dateChange)="dateChange()" (selectedValueChange)="dateChange()" matInput
                (click)="transaction_date.open()" [matDatepicker]="transaction_date" />
            <mat-datepicker-toggle matSuffix [for]="transaction_date">
            </mat-datepicker-toggle>
            <mat-datepicker #transaction_date></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="col-md-3" >
        <mat-form-field appearance="outline">
            <mat-label>สถานะเอกสาร <span style="color: red">*</span> </mat-label>
            <mat-select formControlName="approve_status">
                <mat-option *ngFor="let data of approveStatuss$ | async" [value]="data.approve_status_id">
                    {{data.approve_status_name_th}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>

<mat-card class="mat-elevation-z4" style="padding: 0px 16px 16px 16px;border-radius: 0px;">
    <mat-card-content>
        <mat-list>
            <mat-list-item>รายละเอียดบุคลากร</mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>

        <div >
            <div class="row">
                <div class="col-md-6" >
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="personnel_no"
                            placeholder="รหัสบุคลากร" aria-label="State" [matAutocomplete]="personnel_no" />
                        <mat-icon matSuffix>search</mat-icon>
                        <mat-autocomplete #personnel_no="matAutocomplete" style="font-size: 10px;">
                            <mat-option style="font-size: 10px;" *ngFor="let s of employeeData"
                                (onSelectionChange)="select_personnels(s.personnel_uid)" [value]="s.personnel_no">
                                {{s.personnel_no}}
                            </mat-option>
                            <mat-option style="font-size: 10px;" *ngIf="employeeData.length == 0">
                                ไม่พบข้อมูล
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="citizen_id"
                            placeholder="เลขบัตรประชาชน" aria-label="State" [matAutocomplete]="citizen_id" />
                        <mat-icon matSuffix>search</mat-icon>
                        <mat-autocomplete #citizen_id="matAutocomplete" style="font-size: 10px;">
                            <mat-option style="font-size: 10px;" *ngFor="let s of employeeData"
                                (onSelectionChange)="select_personnels(s.personnel_uid)" [value]="s.citizen_id">
                                {{s.citizen_id}}
                            </mat-option>
                            <mat-option style="font-size: 10px;" *ngIf="employeeData.length == 0">
                                ไม่พบข้อมูล
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" >
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="display_name_th"
                            placeholder="ชื่อ-สกุล" aria-label="State" [matAutocomplete]="personnel_uid" />
                        <mat-icon matSuffix>search</mat-icon>
                        <mat-autocomplete #personnel_uid="matAutocomplete" style="font-size: 10px;">
                            <mat-option style="font-size: 10px;" *ngFor="let s of employeeData"
                                (onSelectionChange)="select_personnels(s.personnel_uid)" [value]="s.display_name_th">
                                {{s.display_name_th}}
                            </mat-option>
                            <mat-option style="font-size: 10px;" *ngIf="employeeData.length == 0">
                                ไม่พบข้อมูล
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label> อายุ </mat-label>
                        <input matInput #age disabled />
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3" >
                    <mat-form-field appearance="outline">
                        <mat-label>วันที่เริ่มปฏิบัติงาน</mat-label>
                        <input disabled matInput (dateChange)="dateChange()"  formControlName="start_date" (selectedValueChange)="dateChange()"
                            matInput (click)="employee_start_working_date.open()"
                            [matDatepicker]="employee_start_working_date" />
                        <mat-datepicker-toggle matSuffix [for]="employee_start_working_date">
                        </mat-datepicker-toggle>
                        <mat-datepicker #employee_start_working_date></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>อายุงาน</mat-label>
                        <input matInput disabled #service_life />
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>ตำแหน่งงาน</mat-label>
                        <input #position matInput disabled />
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6" *ngIf="agencys$ | async as agency">
                    <mat-form-field appearance="outline">
                        <mat-label>หน่วยงาน</mat-label>
                        <input matInput disabled [value]="agency_uid | getDataId : agency : 'agency_uid' : 'agency_name_th' : '' " />
                    </mat-form-field>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-4" >
                    <mat-form-field appearance="outline">
                        <mat-label>วุฒิการศึกษาที่ใช้บรรจุเข้าทำงาน</mat-label>
                        <input matInput [value]="form.value.personnel_uid | getDataId : personnelEducations : 'position_uid' : 'position_uid' : '' " disabled />
                    </mat-form-field>
                </div>

                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>สาขาวิชา</mat-label>
                        <input matInput [value]="form.value.personnel_uid | getDataId : personnelEducations : 'position_uid' : 'position_uid' : '' " disabled />
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>วันที่สำเร็จการศึกษา</mat-label>
                        <input matInput [value]="form.value.personnel_uid | getDataId : personnelEducations : 'position_uid' : 'position_uid' : '' " disabled />
                    </mat-form-field>
                </div>
            </div> -->

           
        </div>
    </mat-card-content>
</mat-card>
<br>
<mat-card class="mat-elevation-z4" style="padding: 0px 16px 16px 16px;border-radius: 0px;">
    <mat-card-content>
        <mat-list>
            <mat-list-item>รายละเอียดปรับวุฒิการศึกษา</mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>

        <div>
            <div class="row">
                <div class="col-md-6" >
                    <mat-form-field appearance="outline">
                        <mat-label>วุฒิการศึกษาที่ขอปรับครั้งนี้<span style="color: red">*</span> </mat-label>
                        <mat-select formControlName="education_level_id">
                            <mat-option *ngFor="let education of educationLevels$ | async" [value]="education.education_level_id">
                                {{education.education_level_name_th}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <!-- <div class="col-md-6" >
                    <mat-form-field appearance="outline">
                        <mat-label>คุณวุฒิ<span style="color: red">*</span> </mat-label>
                        <mat-select formControlName="qualification_id">
                            <mat-option *ngFor="let qualification of qualifications$ | async" [value]="qualification.qualification_id">
                                {{qualification.qualification_name_th}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div> -->
            </div>
            <div class="row">
                <div class="col-md-6" >
                    <mat-form-field appearance="outline">
                        <mat-label>คุณวุฒิ<span style="color: red">*</span> </mat-label>
                        <mat-select formControlName="qualification_id">
                            <mat-option *ngFor="let qualification of qualifications$ | async" [value]="qualification.qualification_id">
                                {{qualification.qualification_name_th}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6" >
                    <mat-form-field appearance="outline">
                        <mat-label>ชื่อย่อคุณวุฒิ</mat-label>
                        <input matInput disabled/>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" >
                    <mat-form-field appearance="outline">
                        <mat-label>สาขาวิชา<span style="color: red">*</span></mat-label>
                        <input matInput formControlName="field_name" />
                    </mat-form-field>
                </div>
                <div class="col-md-6" >
                    <mat-form-field appearance="outline">
                        <mat-label>กลุ่มสาขาวิชาที่จบ</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let subjectGroup of subjectGroupType$ | async" [value]="subjectGroup.subject_group_type_id">
                                {{subjectGroup.subject_group_type_name_th}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" >
                    <mat-form-field appearance="outline">
                        <mat-label>ชื่อสถานศึกษา<span style="color: red">*</span></mat-label>
                        <input matInput formControlName="other_institute_name" />
                    </mat-form-field>
                </div>
                <div class="col-md-6" >
                    <mat-form-field appearance="outline">
                        <mat-label>ประเทศ</mat-label>
                        <mat-select formControlName="country_id">
                            <mat-option *ngFor="let countryData of country$ | async" [value]="countryData.country_id">
                                {{countryData.country_name_th}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4" >
                    <mat-form-field appearance="outline">
                        <mat-label>วันที่เริ่มต้น</mat-label>
                        <input disabled matInput (dateChange)="dateChange()" (selectedValueChange)="dateChange()"
                            matInput (click)="start_date.open()" formControlName="start_year"
                            [matDatepicker]="start_date" />
                        <mat-datepicker-toggle matSuffix [for]="start_date">
                        </mat-datepicker-toggle>
                        <mat-datepicker #start_date></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-4" >
                    <mat-form-field appearance="outline">
                        <mat-label>วันที่สำเร็จการศึกษา<span style="color: red">*</span></mat-label>
                        <input disabled matInput (dateChange)="dateChange()" (selectedValueChange)="dateChange()"
                            matInput (click)="new_finish_date.open()" formControlName="finish_year"
                            [matDatepicker]="new_finish_date" />
                        <mat-datepicker-toggle matSuffix [for]="new_finish_date">
                        </mat-datepicker-toggle>
                        <mat-datepicker #new_finish_date></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="col-md-4" >
                    <mat-form-field appearance="outline">
                        <mat-label>คะแนนเฉลี่ย</mat-label>
                        <input matInput formControlName="grade" />
                    </mat-form-field>
                </div>
            </div>

        </div>
    </mat-card-content>
</mat-card>
<br>
<!-- <mat-card class="mat-elevation-z4" style="padding: 0px 16px 16px 16px;border-radius: 0px;">
    <mat-card-content>
        <mat-list>
            <mat-list-item>เอกสารเพิ่มเติม</mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
        <br>
        <div>
            <app-button-add (click)="openUpload()"></app-button-add>
        </div>
        <br />
        <table mat-table [dataSource]="rows" matSort class="mat-elevation-z2" style="width: 100%;">
            <tr mat-header-row *matHeaderRowDef="['action', '1', '2']"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2']"></tr>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                <td mat-cell *matCellDef="let data">
                    <app-icon-report></app-icon-report>
                    <app-icon-edit></app-icon-edit>
                    <app-icon-del></app-icon-del>
                </td>
            </ng-container>
            <ng-container matColumnDef="1">
                <th mat-header-cell *matHeaderCellDef>ชื่อไฟล์</th>
                <td mat-cell *matCellDef="let data; let index = index">
                    1
                </td>
            </ng-container>
            <ng-container matColumnDef="2">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>รายละเอียด</th>
                <td mat-cell *matCellDef="let data">
                    2
                </td>
            </ng-container>
        </table>
    </mat-card-content>
</mat-card>
<br> -->
<div class="flex_row_end">
    <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
    <app-button-close (click)="close()"></app-button-close>
</div>
</mat-card-content>
</mat-card>
</form>
<pre *ngIf="!isHideForm">{{form.getRawValue()|json}}</pre>