<form [formGroup]="form">
    <mat-card class="mat-elevation-z4">
        <mat-card-content>
            <div class="flex_row_between">
                <mat-form-field class="paddingInput" appearance="outline" style="width: 45%;">
                    <mat-label>ชื่อศาล <span style="color: red">*</span></mat-label>
                    <input matInput formControlName="courte_name_th" />
                </mat-form-field>
                <mat-form-field class="paddingInput" appearance="outline" style="width: 45%;">
                    <mat-label>สถานะ<span style="color: red">*</span></mat-label>
                    <mat-select formControlName="status_id">
                        <mat-option *ngFor="let item of statuss$ | async " [value]="item.status_id">{{item.status_name_th}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-card-content>
        <br>
        <div class="flex_row_end">
            <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
            <app-button-close (click)="close()"></app-button-close>
        </div>
    </mat-card>
</form>