<button mat-raised-button color="primary" style="margin-top: 0.25em;background-color: #1194f6;width: 90px;font-size: 13px;font-weight: 300;" >
    <span style="color: white;"> {{title}}</span>
</button>