<h1 mat-dialog-title>เพิ่มข้อมูลใบประกอบวิชาชีพ</h1>
<div mat-dialog-content rtl>


    <div >
        <div class="row">
            <div class="col-md-6" >
                <mat-form-field appearance="outline">
                    <mat-label>ชื่อใบประกอบวิชาชีพ/ชื่อการเป็นสมาชิกอื่นๆ<span style="color: red">*</span></mat-label>
                    <input [(ngModel)]="licenseForm.license_name" matInput />
                </mat-form-field>
            </div>

            <div class="col-md-6" >
                <mat-form-field appearance="outline">
                    <mat-label>หน่วยงาน</mat-label>
                    <input [(ngModel)]="licenseForm.license_by" matInput />
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6" >
                <mat-form-field appearance="outline">
                    <mat-label>เลขที่ใบอนุญาต/สมาชิก<span style="color: red">*</span></mat-label>
                    <input [(ngModel)]="licenseForm.license_no" matInput />
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6" >
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>วันที่มีผลบังคับใช้ </mat-label>
                    <input matInput [(ngModel)]="licenseForm.issue_date" (dateChange)="dateChange()" (selectedValueChange)="dateChange()" matInput
                        (click)="start_date.open()" [matDatepicker]="start_date" />
                    <mat-datepicker-toggle matSuffix [for]="start_date">
                    </mat-datepicker-toggle>
                    <mat-datepicker #start_date></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-6" >
                <section class="example-section">
                    <mat-checkbox [(ngModel)]="licenseForm.is_never_expire" class="example-margin">ตลอดชีพ</mat-checkbox>
                  </section>
                <mat-form-field appearance="outline">
                    <mat-label>วันที่หมดอายุ </mat-label>
                    <input matInput [(ngModel)]="licenseForm.expiry_date" (dateChange)="dateChange()" (selectedValueChange)="dateChange()" matInput
                        (click)="end_date.open()" [matDatepicker]="end_date" />
                    <mat-datepicker-toggle matSuffix [for]="end_date">
                    </mat-datepicker-toggle>
                    <mat-datepicker #end_date></mat-datepicker>
                </mat-form-field>
            </div>
        </div>

    
        <br>
        <mat-card class="mat-elevation-z4" style="padding: 0px 16px 16px 16px;border-radius: 0px;">
            <mat-card-content>
                <mat-list>
                    <mat-list-item>เอกสารเพิ่มเติม</mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>
                <div>
                    <app-button-add (click)="openUpload()"></app-button-add>
                </div>
                <br />
                <table mat-table [dataSource]="personnel_license_documentsFormArray" matSort class="mat-elevation-z2" style="width: 100%;">
                    <tr mat-header-row *matHeaderRowDef="['action', '1', '2']"></tr>
                    <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2']"></tr>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                        <td mat-cell *matCellDef="let data">
                            <app-icon-edit></app-icon-edit>
                            <app-icon-del></app-icon-del>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="1">
                        <th mat-header-cell *matHeaderCellDef>ชื่อไฟล์</th>
                        <td mat-cell *matCellDef="let data; let index = index">
                            {{data.document_name}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="2">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>รายละเอียด</th>
                        <td mat-cell *matCellDef="let data">
                            {{data.row_no}}
                        </td>
                    </ng-container>
                </table>
            </mat-card-content>
        </mat-card>


    </div>




    <div class="row justify-content-center">
        <div class="col-2">
            <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
        </div>
        <div class="col-2">
            <app-button-save-close (click)="saveClose()"></app-button-save-close>&nbsp;&nbsp;
        </div>
        <div class="col-2">
            <app-button-close (click)="close()"></app-button-close>
        </div>
    </div>
</div>