
<form [formGroup]="form">
<mat-card class="mat-elevation-z4" style="padding: 0px 16px 16px 16px;border-radius: 0px;">
    <mat-card-content>
        <mat-list>
            <mat-list-item>ข้อมูลหน่วยงาน</mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>

<!-- <div class="row">
    <div class="col-md-6" >
        <mat-form-field appearance="outline">
            <mat-label>ชื่อองค์กร <span style="color: red">*</span> </mat-label>
            <mat-select>
                <mat-option *ngFor="let data of [{test:'test'}]" [value]="data.test">
                    {{data.test}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-md-6" >
        <mat-form-field appearance="outline">
            <mat-label> ชื่อองค์กรหลัก </mat-label>
            <input matInput disabled />
        </mat-form-field>
    </div>
</div> -->
<div class="row">
    <div class="col-md-4" >
        <mat-form-field appearance="outline">
            <mat-label> รหัสหน่วยงาน <span style="color: red">*</span></mat-label>
            <input matInput number formControlName="agency_code" />
        </mat-form-field>
    </div>
    <div class="col-md-4" >
        <mat-form-field appearance="outline" *ngIf=" agencysType$ | async as agencysTypes">
            <mat-label>ประเภทหน่วยงาน  </mat-label>
            <mat-select formControlName="agency_type_id">
                <mat-option *ngFor="let data of agencysTypes" [value]="data.agency_type_id">
                    {{data.agency_type_name_th}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <!-- <div class="col-md-4" >
        <mat-form-field appearance="outline">
            <mat-label>กลุ่มหน่วยงาน</mat-label>
            <mat-select formControlName="agency_group_id">
                <mat-option *ngFor="let data of [{test:'test'}]" [value]="data.test">
                    {{data.test}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div> -->
    
</div>
<div class="row">
    <div class="col-md-4" >
        <mat-form-field appearance="outline">
            <mat-label>วันที่เริ่มใช้งาน <span style="color: red">*</span></mat-label>
            <input matInput formControlName="effective_date" (dateChange)="dateChange()" (selectedValueChange)="dateChange()" matInput
                (click)="start_date.open()" [matDatepicker]="start_date" />
            <mat-datepicker-toggle matSuffix [for]="start_date">
            </mat-datepicker-toggle>
            <mat-datepicker #start_date></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="col-md-4" >
        <mat-form-field appearance="outline">
            <mat-label>วันที่สิ้นสุด </mat-label>
            <input matInput formControlName="end_date" (dateChange)="dateChange()" (selectedValueChange)="dateChange()" matInput
                (click)="end_date.open()" [matDatepicker]="end_date" />
            <mat-datepicker-toggle matSuffix [for]="end_date">
            </mat-datepicker-toggle>
            <mat-datepicker #end_date></mat-datepicker>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <mat-form-field appearance="outline">
            <mat-label>หมายเหตุ</mat-label>
            <textarea matInput formControlName="remark" ></textarea>
        </mat-form-field>
    </div>
</div>
<br>
<mat-card class="mat-elevation-z4" style="padding: 0px 16px 16px 16px;border-radius: 0px;">
    <mat-card-content>
        <mat-list>
            <mat-list-item>กำหนดชื่อหน่วยงาน</mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
        <div class="row">
            <div class="col-md-6" >
                <mat-form-field appearance="outline">
                    <mat-label> ชื่อหน่วยงาน <span style="color: red">*</span></mat-label>
                    <input matInput formControlName="agency_name_th" />
                </mat-form-field>
            </div>
            <div class="col-md-6" >
                <mat-form-field appearance="outline">
                    <mat-label> ชื่อย่อหน่วยงาน </mat-label>
                    <input matInput formControlName="agency_short_name_th" />
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" >
                <mat-form-field appearance="outline">
                    <mat-label> ชื่อหน่วยงาน (English)</mat-label>
                    <input matInput formControlName="agency_name_en" />
                </mat-form-field>
            </div>
            <div class="col-md-6" >
                <mat-form-field appearance="outline">
                    <mat-label> ชื่อย่อหน่วยงาน (English)</mat-label>
                    <input matInput formControlName="agency_short_name_en" />
                </mat-form-field>
            </div>
        </div>
       
    </mat-card-content>
</mat-card>
<br>
<div class="row">
    <div class="col-md-6" >
        <mat-form-field appearance="outline">
            <mat-label> อาคาร</mat-label>
            <input matInput formControlName="building_name" />
        </mat-form-field>
    </div>
    <div class="col-md-3" >
        <mat-form-field appearance="outline">
            <mat-label> เลขที่ห้อง</mat-label>
            <input matInput formControlName="room_no" numberCharacterEng />
        </mat-form-field>
    </div>
    <div class="col-md-3" >
        <mat-form-field appearance="outline">
            <mat-label> ชั้นที่</mat-label>
            <input matInput formControlName="floor_no" number />
        </mat-form-field>
    </div>
    
</div>
<div class="row">
    <div class="col-md-6" >
        <mat-form-field appearance="outline">
            <mat-label> โทรศัพท์</mat-label>
            <input matInput number formControlName="phone_no" />
        </mat-form-field>
    </div>
    <div class="col-md-6" >
        <mat-form-field appearance="outline">
            <mat-label> โทรสาร</mat-label>
            <input matInput number formControlName="fax_no" />
        </mat-form-field>
    </div>
</div>
<!-- <br>
<mat-card class="mat-elevation-z4" style="padding: 0px 16px 16px 16px;border-radius: 0px;">
    <mat-card-content>
        <mat-list>
            <mat-list-item>เอกสารแนบ</mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
        <br>
        <div>
            <app-button-add (click)="openUpload()"></app-button-add>
        </div>
        <br />
        <table mat-table [dataSource]="rows" matSort class="mat-elevation-z2" style="width: 100%;">
            <tr mat-header-row *matHeaderRowDef="['action', '1', '2']"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2']"></tr>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                <td mat-cell *matCellDef="let data">
                    <app-icon-report></app-icon-report>
                    <app-icon-edit></app-icon-edit>
                    <app-icon-del></app-icon-del>
                </td>
            </ng-container>
            <ng-container matColumnDef="1">
                <th mat-header-cell *matHeaderCellDef>ชื่อไฟล์</th>
                <td mat-cell *matCellDef="let data; let index = index">
                    1
                </td>
            </ng-container>
            <ng-container matColumnDef="2">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>รายละเอียด</th>
                <td mat-cell *matCellDef="let data">
                    2
                </td>
            </ng-container>
        </table>
    </mat-card-content>
</mat-card> -->
<br>
<div class="flex_row_end">
    <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
    <app-button-close (click)="close()"></app-button-close>
</div>
</mat-card-content>
</mat-card>
</form>