
<!-- <mat-card class="mat-elevation-z4">
    <mat-card-content> -->
        <!-- <div class="row">
            <div class="col-md-7">
                <mat-form-field appearance="outline">
                    <ng-container *ngIf="form.value.applicant_document[0]?.document_type_id == 1" >
                        <mat-label>สำเนาในรายงานผลการศึกษา (Transcript) </mat-label>
                    </ng-container>
                    <input matInput [value]="form.value.applicant_document != 0 ?  form.value.applicant_document[0].file_name : '' "  disabled />
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <app-button-upload (resultFile)="getResuleFile($event,1)"></app-button-upload>
            </div>
            <div class="col-md-1">
                <app-button-view-upload></app-button-view-upload>
            </div>
        </div> -->
        <!-- <div class="row">
            <div class="col-md-7">
                <mat-form-field appearance="outline">
                    <mat-label>สำเนาทะเบียนบ้าน </mat-label>
                    <input matInput [value]="form.value.applicant_document != 0 ?  form.value.applicant_document[1].file_name : '' " disabled />
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <app-button-upload (resultFile)="getResuleFile($event,2)"></app-button-upload>
            </div>
            <div class="col-md-1">
                <app-button-view-upload></app-button-view-upload>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <mat-form-field appearance="outline">
                    <mat-label>สำเนาบัตรประจำตัวประชาชน </mat-label>
                    <input matInput [value]="form.value.applicant_document != 0 ?  form.value.applicant_document[2].file_name : '' " disabled />
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <app-button-upload (resultFile)="getResuleFile($event,3)"></app-button-upload>
            </div>
            <div class="col-md-1">
                <app-button-view-upload></app-button-view-upload>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <mat-form-field appearance="outline">
                    <mat-label>สำเนาหลักฐานการทดสอบภาษาอังกฤษ </mat-label>
                    <input matInput [value]="form.value.applicant_document != 0 ?  form.value.applicant_document[3].file_name : '' " disabled />
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <app-button-upload (resultFile)="getResuleFile($event,4)"></app-button-upload>
            </div>
            <div class="col-md-1">
                <app-button-view-upload></app-button-view-upload>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <mat-form-field appearance="outline">
                    <mat-label>สำเนาหลักฐานทางทหาร</mat-label>
                    <input matInput [value]="form.value.applicant_document != 0 ?  form.value.applicant_document[4].file_name : '' " disabled />
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <app-button-upload (resultFile)="getResuleFile($event,5)"></app-button-upload>
            </div>
            <div class="col-md-1">
                <app-button-view-upload></app-button-view-upload>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <mat-form-field appearance="outline">
                    <mat-label>สำเนาหลักฐานการเปลี่ยนชื่อ </mat-label>
                    <input matInput [value]="form.value.applicant_document != 0 ?  form.value.applicant_document[5].file_name : '' " disabled />
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <app-button-upload (resultFile)="getResuleFile($event,6)"></app-button-upload>
            </div>
            <div class="col-md-1">
                <app-button-view-upload></app-button-view-upload>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <mat-form-field appearance="outline">
                    <mat-label>สำเนาหลักฐาน อื่น ๆ </mat-label>
                    <input matInput [value]="form.value.applicant_document != 0 ?  form.value.applicant_document[6].file_name : '' " disabled />
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <app-button-upload (resultFile)="getResuleFile($event,7)"></app-button-upload>
            </div>
            <div class="col-md-1">
                <app-button-view-upload></app-button-view-upload>
            </div>
        </div> -->
    <!-- </mat-card-content>
</mat-card> -->