<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <mat-card class="mat-elevation-z4"
            style="padding: 0px 0px 0px 0px;border-radius: 0px;box-shadow: unset;border: 1px solid #d4cfcf;">
            <mat-list style="background-color: #dde4e9;">
                <mat-list-item>กำหนดเงื่อนไขการค้นหา</mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
            <mat-card-content style="padding: 0px 16px 16px 16px;">

                <br>
                <div class="flex_row">
                    <mat-form-field class="paddingInput" appearance="outline" style="width: 20%;">
                        <mat-label> รหัสตำแหน่งงาน </mat-label>
                        <input matInput [(ngModel)]="req.position_code" />
                    </mat-form-field>
                    <mat-form-field class="paddingInput" appearance="outline" style="width: 20%;">
                        <mat-label> ชื่อตำแหน่งงาน </mat-label>
                        <input matInput [(ngModel)]="req.position_name_th" />
                    </mat-form-field>
                    <!-- <mat-form-field appearance="outline" style="width: 20%;" class="paddingInput">
                <mat-label>ลักษณะตำแหน่ง </mat-label>
                <mat-select>
                    <mat-option *ngFor="let data of [{test:'test'}]" [value]="data.test">
                        {{data.test}}
                    </mat-option>
                </mat-select>
            </mat-form-field> -->
                    <div class="paddingInput">
                        <app-button-search (click)="search()"></app-button-search>
                    </div>
                    <div class="paddingInput">
                        <app-button-reset (click)="clear()"></app-button-reset>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <div>
            <app-button-add (click)="addPage()"></app-button-add>
        </div>
        <br />
        <table mat-table [dataSource]="position$ | async" matSort class="mat-elevation-z2" style="width: 100%;">
            <tr mat-header-row *matHeaderRowDef="['action', '2','3','4','7','8','9']"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: ['action', '2','3','4','7','8','9']"></tr>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                <td mat-cell *matCellDef="let data">
                    <app-icon-edit (click)="editPage(data.position_uid)"></app-icon-edit>
                    <app-icon-del (click)="deleteItem(data.position_uid)"></app-icon-del>
                </td>
            </ng-container>
            <ng-container matColumnDef="2">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> รหัสตำแหน่งงาน</th>
                <td mat-cell *matCellDef="let data">
                    {{data.position_code}}
                </td>
            </ng-container>
            <ng-container matColumnDef="3">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อตำแหน่งงาน </th>
                <td mat-cell *matCellDef="let data">
                    {{data.position_name_th}}
                </td>
            </ng-container>
            <ng-container matColumnDef="4">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อย่อตำแหน่งงาน </th>
                <td mat-cell *matCellDef="let data">
                    {{data.position_short_name_th}}
                </td>
            </ng-container>
            <!-- <ng-container matColumnDef="5">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ลักษณะตำแหน่ง </th>
                <td mat-cell *matCellDef="let data">
                    4
                </td>
            </ng-container> -->
            <ng-container matColumnDef="7">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่เริ่มใช้งาน </th>
                <td mat-cell *matCellDef="let data">
                    {{data.effective_date | date : 'dd/MM/yyyy'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="8">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่สิ้นสุด </th>
                <td mat-cell *matCellDef="let data">
                    {{data.end_date | date : 'dd/MM/yyyy'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="9">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> หมายเหตุ </th>
                <td mat-cell *matCellDef="let data">
                    {{data.remark}}
                </td>
            </ng-container>

        </table>
        <br>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>