<mat-card class="mat-elevation-z4">
    <mat-card-content>

        <mat-card class="mat-elevation-z4"
            style="padding: 0px 0px 0px 0px;border-radius: 0px;box-shadow: unset;border: 1px solid #d4cfcf;">
            <mat-list style="background-color: #dde4e9;">
                <mat-list-item>กำหนดเงื่อนไขการค้นหา</mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
            <mat-card-content style="padding: 0px 16px 16px 16px;">

                <br>
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field appearance="outline">
                            <input matInput [(ngModel)]="req.name" (input)="inputSearch()" placeholder="ชื่อ-สกุล"
                                aria-label="State" [matAutocomplete]="personnel_no" />
                            <mat-icon matSuffix>search</mat-icon>
                            <mat-autocomplete #personnel_no="matAutocomplete" style="font-size: 10px;">
                                <mat-option style="font-size: 10px;" *ngFor="let s of employeeData"
                                    (click)="select_personnels(s.personnel_uid)" [value]="s.display_name_th">
                                    {{s.display_name_th}}
                                </mat-option>
                                <mat-option style="font-size: 10px;" *ngIf="employeeData.length == 0">
                                    ไม่พบข้อมูล
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>

                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label>วันที่เอกสาร </mat-label>
                            <input matInput (dateChange)="dateChange()" (selectedValueChange)="dateChange()" matInput
                                (click)="start_date.open()" [matDatepicker]="start_date" />
                            <mat-datepicker-toggle matSuffix [for]="start_date">
                            </mat-datepicker-toggle>
                            <mat-datepicker #start_date></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" *ngIf="exitType$ | async as exitTypes">
                            <mat-label>ประเภทการพ้นสภาพ </mat-label>
                            <mat-select [(ngModel)]="req.exit_type_id">
                                <mat-option *ngFor="let data of exitTypes" [value]="data.exit_type_id">
                                    {{data.exit_type_name_th}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label>สถานะเอกสาร </mat-label>
                            <mat-select [(ngModel)]="req.approve_status">
                                <mat-option *ngFor="let data of approveStatuss$ | async"
                                    [value]="data.approve_status_id">
                                    {{data.approve_status_name_th}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>


                </div>
                <div class="row justify-content-md-center flex_row_center">
                    <div>
                        <app-button-search (click)="search()"></app-button-search>
                        <app-button-reset (click)="clear()"></app-button-reset>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <div>
            <app-button-add (click)="addPage()"></app-button-add>
        </div>
        <br />
        <table mat-table [dataSource]="personnelExits$ | async" matSort class="mat-elevation-z2" style="width: 100%;">
            <tr mat-header-row *matHeaderRowDef="['action', '1', '2','3','4','5','6','7']"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2','3','4','5','6','7']"></tr>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                <td mat-cell *matCellDef="let data">
                    <app-icon-edit (click)="editPage(data.personnel_exit_uid)"></app-icon-edit>
                    <app-icon-del (click)="deleteItem(data.personnel_exit_uid)"></app-icon-del>
                </td>
            </ng-container>
            <ng-container matColumnDef="1">
                <th mat-header-cell *matHeaderCellDef>เลขที่เอกสาร</th>
                <td mat-cell *matCellDef="let data; let index = index">
                    {{data.document_no}}
                </td>
            </ng-container>
            <ng-container matColumnDef="2">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่เอกสาร </th>
                <td mat-cell *matCellDef="let data">
                    {{data.document_date | date : 'dd/MM/yyyy'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="3">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อ-สกุล </th>
                <td mat-cell *matCellDef="let data">
                    <ng-container *ngIf="employee$ | async as employees">
                        {{data.personnel_uid | getDataId : employees : 'personnel_uid' : 'display_name_th' : ''}}
                    </ng-container>
                </td>
            </ng-container>
            <ng-container matColumnDef="4">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ตำแหน่งงาน </th>
                <td mat-cell *matCellDef="let data">
                    <ng-container *ngIf="personnelHires$ | async as personnelHire">
                        <ng-container *ngIf="position$ | async as positions">
                            {{data.personnel_uid | getDataId : personnelHire : 'personnel_uid' : 'position_uid' |
                            getDataId : positions : 'position_uid' : 'position_name_th' : '' : ''}}
                        </ng-container>
                    </ng-container>
                </td>
            </ng-container>
            <ng-container matColumnDef="5">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> หน่วยงาน </th>
                <td mat-cell *matCellDef="let data">
                    <ng-container *ngIf="personnelHires$ | async as personnelHire">
                        <ng-container *ngIf="agencys$ | async as agency">
                            {{data.personnel_uid | getDataId : personnelHire : 'personnel_uid' : 'agency_uid' |
                            getDataId : agency : 'agency_uid' : 'agency_name_th' : '' : ''}}
                        </ng-container>
                    </ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="6">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ประเภทการพ้นสภาพ </th>
                <td mat-cell *matCellDef="let data">
                    <ng-container *ngIf="exitType$ | async as exitTypes">
                        {{data.exit_type_id | getDataId : exitTypes : 'exit_type_id' : 'exit_type_name_th' : ''}}
                    </ng-container>
                </td>
            </ng-container>
            <ng-container matColumnDef="7">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> สถานะเอกสาร </th>
                <td mat-cell *matCellDef="let data">
                    <ng-container *ngIf="approveStatuss$ | async as approveStatus">
                        {{data.approve_status | getDataId : approveStatus : 'approve_status_id' :
                        'approve_status_name_th' : ''}}
                    </ng-container>
                </td>
            </ng-container>
        </table>
        <br>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>