<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <mat-card class="mat-elevation-z4"
            style="padding: 0px 0px 0px 0px;border-radius: 0px;box-shadow: unset;border: 1px solid #d4cfcf;">
            <mat-list style="background-color: #dde4e9;">
                <mat-list-item>กำหนดเงื่อนไขการค้นหา</mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
            <mat-card-content style="padding: 0px 16px 16px 16px;">

                <br>
                <div class="flex_row">
                    <mat-form-field appearance="outline" style="width: 20%;" class="paddingInput">
                        <mat-label> รหัสโครงสร้างองค์กร </mat-label>
                        <input matInput [(ngModel)]="req.organization_chart_header_code" />
                    </mat-form-field>
                    <mat-form-field appearance="outline" style="width: 40%;" class="paddingInput">
                        <mat-label> ชื่อโครงสร้างองค์กร </mat-label>
                        <input matInput [(ngModel)]="req.organization_chart_header_name_th" />
                    </mat-form-field>
                    <div class="paddingInput">
                        <app-button-search (click)="search()"></app-button-search>
                    </div>
                    <div class="paddingInput">
                        <app-button-reset (click)="clear()"></app-button-reset>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <div>
            <app-button-add (click)="addPage()"></app-button-add>
        </div>
        <br />
        <table mat-table [dataSource]="orgranization$ | async" matSort class="mat-elevation-z2" style="width: 100%;">
            <tr mat-header-row *matHeaderRowDef="['action', '2','7','8']"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: ['action', '2','7','8']"></tr>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                <td mat-cell *matCellDef="let data">
                    <app-icon-report></app-icon-report>
                    <app-icon-edit (click)="editPage(data.organization_chart_header_uid)"></app-icon-edit>
                    <app-icon-del (click)="deleteItem(data.organization_chart_header_uid)"></app-icon-del>
                </td>
            </ng-container>
            <ng-container matColumnDef="2">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> รหัสโครงสร้างองค์กร</th>
                <td mat-cell *matCellDef="let data">
                    {{data.organization_chart_header_code}}
                </td>
            </ng-container>
            <ng-container matColumnDef="7">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อโครงสร้างองค์กร </th>
                <td mat-cell *matCellDef="let data">
                    {{data.organization_chart_header_name_th}}
                </td>
            </ng-container>
            <ng-container matColumnDef="8">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่มีผล </th>
                <td mat-cell *matCellDef="let data">
                    {{data.effective_date | date : 'dd/MM/yyyy'}}
                </td>
            </ng-container>

        </table>
        <br>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>