<h1 mat-dialog-title>เพิ่มข้อมูลการถือครองทรัพย์สิน</h1>
<div mat-dialog-content rtl>
    <div class="card-body" style="padding: 0 15px 5px 15px;">
        <div class="row">
            <div class="col-md-3" >
                <mat-form-field appearance="outline">
                    <mat-label>รหัสทรัพย์สิน<span style="color: red">*</span></mat-label>
                    <input  matInput [(ngModel)]="assetForm.asset_code" />
                </mat-form-field>
            </div>

            <div class="col-md-9">
                <mat-form-field appearance="outline">
                    <mat-label>ชื่อทรัพย์สิน<span style="color: red">*</span></mat-label>
                    <input  matInput [(ngModel)]="assetForm.asset_name" />
                </mat-form-field>
            </div>
        </div>


        <div class="row">
            <div class="col-md-3" >
                <mat-form-field appearance="outline">
                    <mat-label>วันที่รับ<span style="color: red">*</span> </mat-label>
                    <input matInput [(ngModel)]="assetForm.receive_date" (dateChange)="dateChange()" (selectedValueChange)="dateChange()" matInput
                        (click)="start_date.open()" [matDatepicker]="start_date" />
                    <mat-datepicker-toggle matSuffix [for]="start_date">
                    </mat-datepicker-toggle>
                    <mat-datepicker #start_date></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>วันที่คืน</mat-label>
                    <input matInput [(ngModel)]="assetForm.return_date" (dateChange)="dateChange()" (selectedValueChange)="dateChange()" matInput
                        (click)="end_date.open()" [matDatepicker]="end_date" />
                    <mat-datepicker-toggle matSuffix [for]="end_date">
                    </mat-datepicker-toggle>
                    <mat-datepicker #end_date></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                
                <mat-form-field appearance="outline">
                    <mat-label>หมายเหตุ</mat-label>
                    <textarea matInput [(ngModel)]="assetForm.remark" ></textarea>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-2">
            <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
        </div>
        <div class="col-2">
            <app-button-save-close (click)="saveClose()"></app-button-save-close>&nbsp;&nbsp;
        </div>
        <div class="col-2">
            <app-button-close (click)="close()"></app-button-close>
        </div>
    </div>
</div>