<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <app-layout-search>
            <ng-container content>
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>คำค้นหา</mat-label>
                            <input matInput [(ngModel)]="searchData" (input)="search()" />
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <!-- <div class="row">
            <div class="col-md-4">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>ชื่อผู้ถูกร้องเรียน</mat-label>
                        <input type="text" 
                        placeholder="" 
                        [(ngModel)]="dataSearch.personnel_uid"
                        aria-label="Number" 
                        matInput 
                        [matAutocomplete]="auto">
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                            <mat-option>
                            </mat-option>
                        </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>ประเภทบทลงโทษ</mat-label>
                    <mat-select  [(ngModel)]="dataSearch.punishment_type_id">
                        <mat-option ></mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>สถานะเอกสาร</mat-label>
                    <mat-select [(ngModel)]="dataSearch.discipline_approve_result_id">
                        <mat-option *ngFor="let item of approveStatuss$ | async" [value]="item.discipline_approve_status_id">{{item.discipline_approve_status_name_th}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div>
                <app-button-search (click)="search()"></app-button-search>
                <app-button-reset (click)="clear()"></app-button-reset>
            </div>
        </div>   -->
                <!-- <div class="flex_row">
            <mat-form-field class="paddingInput" appearance="outline" style="width: 20%;">
                <mat-label> ค้นหา </mat-label>
                <input matInput />
            </mat-form-field>
            <div class="paddingInput">
                <app-button-search></app-button-search>
            </div>
            <div class="paddingInput">
                <app-button-reset></app-button-reset>
            </div>
        </div> -->
            </ng-container>
        </app-layout-search>
        <div>
            <app-button-add (click)="addPage()"></app-button-add>
        </div>
        <br />
        <ng-container *ngIf="disciplineRequests$ | async as disciplineRequests ">
            <table mat-table [dataSource]="rows" matSort class="mat-elevation-z2" style="width: 100%;">
                <tr mat-header-row *matHeaderRowDef="['action', '1', '2','3','4','5','6']"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2','3','4','5','6']"></tr>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                    <td mat-cell *matCellDef="let data">
                        <app-icon-edit (click)="editPage(data.discipline_request_uid)"></app-icon-edit>
                        <app-icon-del (click)="deleteItem(data.discipline_request_uid)"></app-icon-del>
                    </td>
                </ng-container>
                <ng-container matColumnDef="1">
                    <th mat-header-cell *matHeaderCellDef>เลขที่เอกสาร </th>
                    <td mat-cell *matCellDef="let data; let index = index">
                        {{data.discipline_request_uid | getDataId : disciplineRequests : 'discipline_request_uid' :
                        'document_no' : ''}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="2">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่เริ่มดำเนินการ </th>
                    <td mat-cell *matCellDef="let data">
                        {{data.discipline_request_uid | getDataId : disciplineRequests : 'discipline_request_uid' :
                        'document_date' : '' | thaiDate }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="3">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อผู้ถูกร้องเรียน </th>
                    <td mat-cell *matCellDef="let data">
                        {{data.personnel_uid | getDataId : personnels : 'personnel_uid' : 'display_name_th' : ''}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="4">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ผู้รับผิดชอบ </th>
                    <td mat-cell *matCellDef="let data">
                        {{data.discipline_request_uid | getDataId : disciplineRequests : 'discipline_request_uid' :
                        'responsible_personnel_guid' : '' | getDataId : personnels : 'personnel_uid' : 'display_name_th'
                        : '' }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="5">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ประเภทบทลงโทษ </th>
                    <td mat-cell *matCellDef="let data">
                        {{data.punishment_type_id | getDataId : punishmentTypes : 'punishment_type_id' :
                        'punishment_type_name_th' : '' }}
                    </td>
                </ng-container>
                <!-- <ng-container matColumnDef="6">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่เริ่มดำเนินการ </th>
                <td mat-cell *matCellDef="let data">
                    {{data.discipline_request_uid | getDataId : disciplineRequests : 'discipline_request_uid' : 'action_date' : '' | date: 'dd/MM/yyyy' }}
                   
                </td>
            </ng-container> -->
                <!-- <ng-container matColumnDef="7">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่สิ้นสุด </th>
                <td mat-cell *matCellDef="let data">
                    4
                </td>
            </ng-container> -->
                <!-- <ng-container matColumnDef="8">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ระยะเวลาคงเหลือ </th>
                <td mat-cell *matCellDef="let data">
                    4
                </td>
            </ng-container> -->
                <ng-container matColumnDef="6">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> สถานะเอกสาร </th>
                    <td mat-cell *matCellDef="let data">
                        {{data.discipline_request_uid | getDataId : disciplineRequests : 'discipline_request_uid' :
                        'discipline_approve_status_id' : '' | getDataId : approveStatuss :
                        'discipline_approve_status_id' : 'discipline_approve_status_name_th' : '' }}
                        <!-- {{data.discipline_approve_status_id}} -->
                    </td>
                </ng-container>
            </table>
        </ng-container>
        <br>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>