<div class="card-body">
    <h2 class="card-title">{{state == 'add' ? 'เพิ่ม' : ' แก้ไข'}}ข้อมูลกองทุนสำรอง</h2>
    <form [formGroup]="form">
        <mat-card class="mat-elevation-z4">
            <mat-card-content>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>รหัสกองทุน<span style="color: red">*</span></mat-label>
                            <input matInput type="text" formControlName="provident_fund_code" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>ชื่อกองทุน<span style="color: red">*</span></mat-label>
                            <input matInput type="text" formControlName="provident_fund_name_th" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>ชื่อกองทุน(Eng)</mat-label>
                            <input matInput type="text" formControlName="provident_fund_name_en" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>ชื่อย่อกองทุน</mat-label>
                            <input matInput type="text" formControlName="provident_fund_short_name" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>เลขที่กองทุน</mat-label>
                            <input matInput type="text" formControlName="provident_fund_no" />
                        </mat-form-field>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>เลขที่กองทุน</mat-label>
                            <input matInput formControlName="provident_fund_no" />
                        </mat-form-field>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>รหัสรายหักลูกจ้างสมทบ<span style="color: red">*</span></mat-label>
                            <mat-select formControlName="employee_money_type_uid">
                                <mat-option *ngFor="let data of moneyTypeDatas" [value]="data?.money_type_uid">{{data?.money_type_name_th}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>รหัสรายหักนายจ้างสมทบ<span style="color: red">*</span></mat-label>
                            <mat-select formControlName="employer_money_type_uid">
                                <mat-option *ngFor="let data of moneyTypeDatas" [value]="data?.money_type_uid">{{data?.money_type_name_th}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>รหัสรายหักลูกจ้างสะสมส่วนเพิ่ม<span style="color: red">*</span></mat-label>
                            <mat-select formControlName="employee_contribute_money_type_uid">
                                <mat-option *ngFor="let data of moneyTypeDatas" [value]="data?.money_type_uid">{{data?.money_type_name_th}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>ลูกจ้างสมทบ</mat-label>
                            <input matInput type="number" value="0.00" formControlName="employee_contribute_amount" />
                            <span matSuffix>%</span>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>นายจ้างสมทบ</mat-label>
                            <input matInput type="number" value="0.00" formControlName="employer_contribute_amount" />
                            <span matSuffix>%</span>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field appearance="outline">
                            <mat-label>คำอธิบาย</mat-label>
                            <textarea matInput formControlName="remark"></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
            <div class="flex_row_end">
                <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
                <app-button-close (click)="close()"></app-button-close>
            </div>
        </mat-card>
    </form>
     <pre *ngIf="!isHideForm">{{ form.getRawValue() | json}}</pre>
</div>