<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>ประเภทกรรมการ</mat-label>
                    <mat-select [(ngModel)]="request.committee_type_id">
                        <mat-option *ngFor="let item of committeeTypes$|async" [value]="item.committee_type_id">
                            {{item.committee_type_th}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <ng-container *ngIf="request.committee_type_id == 1">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>ชื่อ-สกุลคณะกรรมการ</mat-label>
                        <mat-select [(ngModel)]="request.personnel_uid">
                            <mat-option *ngFor="let item of personnel$ | async" [value]="item.personnel_uid">
                                {{item.display_name_th}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </ng-container>
            <ng-container *ngIf="request.committee_type_id == 2">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>ชื่อ-สกุลคณะกรรมการ</mat-label>
                        <input matInput type="text" [(ngModel)]="request.person_name" />
                    </mat-form-field>
                </div>
            </ng-container>
            <div class="col-md-6">
                <mat-form-field class="paddingInput" appearance="outline">
                    <mat-label>ตำแหน่งในการพิจารณา</mat-label>
                    <input matInput type="text" [(ngModel)]="request.position_name" />
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<br />
<div class="row justify-content-center">
    <div class="col-2">
        <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
    </div>
    <div class="col-2">
        <app-button-save-close (click)="saveClose()"></app-button-save-close>&nbsp;&nbsp;
    </div>
    <div class="col-2">
        <app-button-close (click)="close()"></app-button-close>
    </div>
</div>