<h1 mat-dialog-title>เพิ่มข้อมูลบุคคลในครอบครัว</h1>
<div mat-dialog-content rtl>


    <div >
        <div class="row">
            <div class="col-md-3" >
                <mat-form-field appearance="outline" *ngIf="prefixData$ | async as prefixs">
                    <mat-label>คำนำหน้าชื่อ<span style="color: red">*</span> </mat-label>
                    <mat-select [(ngModel)]="formFamily.family.prefix_id">
                        <mat-option *ngFor="let data of prefixs" [value]="data.prefix_id">
                            {{data.prefix_name_th}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-md-3" >
                <mat-form-field appearance="outline">
                    <mat-label>ชื่อ<span style="color: red">*</span></mat-label>
                    <input [(ngModel)]="formFamily.family.first_name_th" matInput />
                </mat-form-field>
            </div>

            <div class="col-md-3" >
                <mat-form-field appearance="outline">
                    <mat-label>นามสกุล<span style="color: red">*</span></mat-label>
                    <input  matInput [(ngModel)]="formFamily.family.last_name_th" />
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3" >
                <mat-form-field appearance="outline" *ngIf="relationships$ | async as relationship">
                    <mat-label>สถานะความสัมพันธ์<span style="color: red">*</span> </mat-label>
                    <mat-select [(ngModel)]="formFamily.relationship_id">
                        <mat-option *ngFor="let data of relationship" [value]="data.relationship_id">
                            {{data.relationship_name_th}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>บุตรคนที่</mat-label>
                    <input matInput [(ngModel)]="formFamily.family.no_of_childs" disabled  />
                </mat-form-field>
            </div>

            <div class="col-md-3" >
                <br>
                <section class="example-section">
                    <mat-checkbox [(ngModel)]="formFamily.family.is_child_study" class="example-margin">บุตรศึกษาในมหาวิทยาลัยรังสิต</mat-checkbox>
                  </section>
            </div>

            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>หมายเลขบัตรประชาชน</mat-label>
                    <input matInput [(ngModel)]="formFamily.family.card_no" />
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3" >
                <mat-form-field appearance="outline">
                    <input matInput (input)="inputCountry()" placeholder="สัญชาติ"
                        aria-label="State" [matAutocomplete]="co" />
                    <mat-icon matSuffix>search</mat-icon>
                    <mat-autocomplete #co="matAutocomplete" style="font-size: 10px;">
                        <mat-option style="font-size: 10px;" *ngFor="let c of country"
                            (onSelectionChange)="select_nationality(c)" [value]="c.country_name_th">
                            {{c.country_name_th}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

            </div>

            <div class="col-md-3">
                <mat-form-field appearance="outline" *ngIf="religion$ | async as religions">
                    <mat-label>ศาสนา</mat-label>
                    <mat-select [(ngModel)]="formFamily.family.religion_id">
                        <mat-option *ngFor="let data of religions" [value]="data.religion_id">
                            {{data.religion_name_th}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6" >
                <mat-form-field appearance="outline">
                    <mat-label>อาชีพ</mat-label>
                    <input  matInput  />
                </mat-form-field>
            </div>

            <div class="col-md-3" >
                <mat-form-field appearance="outline" *ngIf="livingStatuss$ | async as livingStatus">
                    <mat-label>สถานภาพการมีชีวิต</mat-label>
                    <mat-select [(ngModel)]="formFamily.family.living_status_id">
                        <mat-option *ngFor="let data of livingStatus" [value]="data.living_status_id">
                            {{data.living_status_name_th}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <div class="col-md-3">
                <mat-form-field appearance="outline" *ngIf="maritalStatus$ | async as militaryStatus">
                    <mat-label>สถานภาพสมรส</mat-label>
                    <mat-select [(ngModel)]="formFamily.family.marital_status_id">
                        <mat-option *ngFor="let data of militaryStatus" [value]="data.marital_status_id">
                            {{data.marital_status_name_th}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <mat-form-field appearance="outline" >
                    <mat-label>หมายเหตุ</mat-label>
                    <textarea [(ngModel)]="formFamily.family.remark" matInput></textarea>
                </mat-form-field>
            </div>
        </div>


        <!-- <br>
        <mat-card class="mat-elevation-z4" style="padding: 0px 16px 16px 16px;border-radius: 0px;">
            <mat-card-content>
                <mat-list>
                    <mat-list-item>เอกสารเพิ่มเติม</mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>
                <div>
                    <app-button-add (click)="openUpload()"></app-button-add>
                </div>
                <br />
                <table mat-table [dataSource]="rows" matSort class="mat-elevation-z2" style="width: 100%;">
                    <tr mat-header-row *matHeaderRowDef="['action', '1', '2']"></tr>
                    <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2']"></tr>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                        <td mat-cell *matCellDef="let data">
                            <app-icon-report></app-icon-report>
                            <app-icon-edit></app-icon-edit>
                            <app-icon-del></app-icon-del>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="1">
                        <th mat-header-cell *matHeaderCellDef>ชื่อไฟล์</th>
                        <td mat-cell *matCellDef="let data; let index = index">
                            1
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="2">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>รายละเอียด</th>
                        <td mat-cell *matCellDef="let data">
                            2
                        </td>
                    </ng-container>
                </table>
            </mat-card-content>
        </mat-card> -->

    </div>




    <div class="row justify-content-center">
        <div class="col-2">
            <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
        </div>
        <div class="col-2">
            <app-button-save-close (click)="saveClose()"></app-button-save-close>&nbsp;&nbsp;
        </div>
        <div class="col-2">
            <app-button-close (click)="close()"></app-button-close>
        </div>
    </div>
</div>