<form [formGroup]="form">
    <mat-card class="mat-elevation-z4">
        <mat-card-content>
            <div class="row">
                <div class="col-md-3">
                    <section class="example-section">
                        <mat-checkbox formControlName="is_appeal_request" >อุทธรณ์</mat-checkbox>
                    </section>
                </div>
                <div class="col-md-3">
                    <section class="example-section">
                        <mat-checkbox formControlName="is_complain" >ร้องทุกข์</mat-checkbox>
                    </section>
                </div>
            </div>
            <br />
            <ng-container *ngIf="state == 'edit'">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>เลขที่เอกสาร</mat-label>
                            <input matInput  disabled formControlName="document_no" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>วันที่เอกสาร<span style="color: red">*</span></mat-label>
                            <input matInput [matDatepicker]="fromDate1" disabled formControlName="document_date">
                            <mat-datepicker-toggle matSuffix [for]="fromDate1"></mat-datepicker-toggle>
                            <mat-datepicker #fromDate1></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </ng-container>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>ผู้รับเรื่อง <span style="color: red">*</span></mat-label>
                        <mat-select formControlName="informed_personnel_uid">
                            <mat-option *ngFor="let item of personnels$ | async" [value]="item.personnel_uid">{{item.display_name_th}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>วันที่รับเรื่อง<span style="color: red">*</span></mat-label>
                        <input matInput [matDatepicker]="fromDate2" disabled formControlName="informed_date">
                        <mat-datepicker-toggle matSuffix [for]="fromDate2"></mat-datepicker-toggle>
                        <mat-datepicker #fromDate2></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>ผู้รับผิดชอบอุทธรณ์/ร้องทุกข์ <span style="color: red">*</span></mat-label>
                        <mat-select formControlName="responsible_personnel_guid">
                            <mat-option *ngFor="let item of personnels$ | async" [value]="item.personnel_uid">{{item.display_name_th}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>วันที่รับทราบคำสั่ง<span style="color: red">*</span></mat-label>
                        <input matInput [matDatepicker]="fromDate3" formControlName="acknowledge_date">
                        <mat-datepicker-toggle matSuffix [for]="fromDate3"></mat-datepicker-toggle>
                        <mat-datepicker #fromDate3></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>สถานะเอกสาร </mat-label>
                        <mat-select formControlName="discipline_approve_status_id">
                            <mat-option *ngFor="let item of approveStatuss$ | async" [value]="item.discipline_approve_status_id">{{item.discipline_approve_status_name_th}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <mat-card class="mat-elevation-z4">
                <mat-card-content>
                    <label for="">ข้อมูลทางวินัย</label>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="paddingInput" appearance="outline">
                                <mat-label>ข้อมูลทางวินัย <span style="color: red">*</span></mat-label>
                                <mat-select formControlName="discipline_request_offender_uid"  (selectionChange)="getRequest(form.value.discipline_request_offender_uid)">
                                    <mat-option *ngFor="let item of drOffenders$ | async" [value]="item.discipline_request_offender_uid">{{item.personnel_uid | getDataId : personnelsDatas : 'personnel_uid' : 'display_name_th' : '' }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="paddingInput" appearance="outline">
                                <mat-label>วันที่รับเรื่อง</mat-label>
                                <input matInput [matDatepicker]="fromDate4" disabled [value]="dataRequest?.discipline_request_uid | getDataId : disciplineReques : 'discipline_request_uid' : 'document_date' : '' ">
                                <mat-datepicker-toggle matSuffix [for]="fromDate4"></mat-datepicker-toggle>
                                <mat-datepicker #fromDate4></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="paddingInput" appearance="outline">
                                <mat-label>ชื่อผู้ร้องเรียน </mat-label>
                                <input matInput disabled [value]="dataRequest?.discipline_request_uid | getDataId : disciplineReques : 'discipline_request_uid' : 'complainer' : ''"/>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="paddingInput" appearance="outline">
                                <mat-label>ชื่อผู้ถูกร้องเรียน </mat-label>
                                <input matInput disabled [value]="dataRequest?.personnel_uid | getDataId : personnelsDatas : 'personnel_uid' : 'display_name_th' : ''"/>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="paddingInput" appearance="outline">
                                <mat-label>รายละเอียดการร้องขอ </mat-label>
                                <textarea matInput disabled [value]="dataRequest?.discipline_request_uid | getDataId : disciplineReques : 'discipline_request_uid' : 'description' : ''"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="paddingInput" appearance="outline">
                                <mat-label>ประเภทบทลงโทษ </mat-label>
                                <input matInput disabled [value]="dataRequest?.punishment_type_id | getDataId : punishmentTypes : 'punishment_type_id' : 'punishment_type_name_th' : '' "/>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>เรื่องอุทธรณ์/ร้องทุกข์ <span style="color: red">*</span></mat-label>
                        <input matInput formControlName="appeal_request_subject_name"/>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>รายละเอียดเรื่องอุทธรณ์/ร้องทุกข์ <span style="color: red">*</span></mat-label>
                        <textarea matInput formControlName="appeal_request_description"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>ผลพิจารณาอุทธรณ์/ร้องทุกข์ </mat-label>
                        <textarea matInput formControlName="appeal_request_result_detail"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>ประเภทบทลงโทษ </mat-label>
                        <mat-select  formControlName="punishment_type_id">
                            <mat-option *ngFor="let item of punishmentTypes$ | async" [value]="item.punishment_type_id">{{item.punishment_type_name_th}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <br>
            <mat-card class="mat-elevation-z4">
                <mat-card-content>
                    <label for="">เอกสารเพิ่มเติม</label>
                    <div>
                        <app-button-add (click)="addfile1()"></app-button-add>
                    </div>
                    <br>
                    <table mat-table [dataSource]="form.value.appeal_request_document" matSort class="mat-elevation-z2" style="width: 100%;">
                        <tr mat-header-row *matHeaderRowDef="['action', '1', '2']"></tr>
                        <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2']"></tr>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                            <td mat-cell *matCellDef="let data ; let i = index">
                                <app-icon-edit (click)="editfileDoc2(data,i)"></app-icon-edit>
                                <app-icon-download (click)="downloadDoc(data.document_url)"></app-icon-download>
                                <app-icon-del (click)="deleteItemDoc(data.appeal_request_document_uid,i)"></app-icon-del>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="1">
                            <th mat-header-cell *matHeaderCellDef>ชื่อไฟล์ </th>
                            <td mat-cell *matCellDef="let data; let index = index">
                                {{data.file_name}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="2">
                            <th mat-header-cell *matHeaderCellDef>รายละเอียด </th>
                            <td mat-cell *matCellDef="let data; let index = index">
                                {{data.remark}}
                            </td>
                        </ng-container>
                    </table>
                    <br>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </mat-card-content>
            </mat-card>
            <br>
            <mat-card class="mat-elevation-z4">
                <mat-card-content>
                    <label for="">เอกสารเพิ่มเติมคณะกรรมการ</label>
                    <div>
                        <app-button-add (click)="addfile2()"></app-button-add>
                    </div>
                    <br>
                    <table mat-table [dataSource]="form.value.appeal_request_committee" matSort class="mat-elevation-z2" style="width: 100%;">
                        <tr mat-header-row *matHeaderRowDef="['action', '1', '2']"></tr>
                        <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2']"></tr>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                            <td mat-cell *matCellDef="let data ; let i = index">
                                <app-icon-edit (click)="editfileDoc1(data,i)"></app-icon-edit>
                                <app-icon-download (click)="downloadDoc(data.document_url)"></app-icon-download>
                                <app-icon-del (click)="deleteItemCom(data.appeal_request_committee_uid,i)" ></app-icon-del>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="1">
                            <th mat-header-cell *matHeaderCellDef>ชื่อไฟล์ </th>
                            <td mat-cell *matCellDef="let data; let index = index">
                                {{data.file_name}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="2">
                            <th mat-header-cell *matHeaderCellDef>รายละเอียด </th>
                            <td mat-cell *matCellDef="let data; let index = index">
                                {{data.appeal_request_committee_remark}}
                            </td>
                        </ng-container>
                    </table>
                    <br>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </mat-card-content>
            </mat-card>
            <br>
            <div class="flex_row_end">
                <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
                <app-button-close (click)="close()"></app-button-close>
            </div>
        </mat-card-content>
    </mat-card>
</form>

<pre *ngIf="!isHideForm">{{form.getRawValue()|json}}</pre>