/* You can add global styles to this file, and also import other style files */
@use '~@angular/material' as mat;
@import '../src/app/core/scss/_mixing';
@import 'src/themes/dark-theme.scss';
@import 'src/themes/pink-theme.scss';
@import '../src/assets/css/grid12.css';
// @import '~ngx-org-chart/_theming.scss';

$my-custom-typography: mat.define-typography-config(
    $font-family : 'Sarabun',
    $input:  mat.define-typography-level(0.8rem, 1.6, 200),    
);
// พารามิเตอร์ ขนาดฟ้อน,ความกว้างinput,ความเข้ม

@include mat.core($my-custom-typography);

// @include mat.core();

@include mat.all-component-themes($dark-theme);
@include custom-theme($dark-theme);





.default-theme {
    @include mat.all-component-themes($pink-theme);
    @include custom-theme($pink-theme);
}

.dark-theme {
    @include mat.all-component-themes($dark-theme);
    @include custom-theme($dark-theme);    
}

html, body { height: 100%;}
body { margin: 0 ;}

h1 {
    color: #000000ad;
}

// button{
//     width: 140px;
// }
.mat-elevation-z2 {
    box-shadow: unset;
    border: 1px solid #e0dfdf;
}
.mat-header-row {
    
    background-color: #e5ebef;
}
.mat-raised-button {
    padding: 0px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;    
    appearance: none;
    margin: 0;    
}

// // custome normal input
.mat-form-field-appearance-outline .mat-form-field-infix {
    border-top: none;
    padding: 1em 0 0.8em 0;
    
}
.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}

.mat-form-field-label-wrapper { top: -0.9em; }
// // custome normal input
// // custome select
// .mat-form-field-appearance-fill .mat-form-field-flex {
//     padding: 0 0.5em 0 0.5em !important;
// }

// .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
//     transform: translateY(0%) !important
// }
// // custome select

#btn_print {
    position: fixed;
    right: 1%;
    bottom: 1%;

    @media print  {
        display: none;
    }
}

@font-face {
    font-family: 'rsuregular';
    src: url('assets/fonts/rsu_regular-webfont.woff2') format('woff2');        
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rsuregular-text';
    src: url('assets/fonts/rsu_text_Regular.ttf') format('woff2');        
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rsuregular-text-bold';
    src: url('assets/fonts/rsu_text_bold.ttf') format('woff2');        
    font-weight: 900;
    font-style: bold;
}



*:not(.material-icons) {
    // font-family: 'rsuregular-text-bold' !important;
    font-family: 'Sarabun', sans-serif;
    // font-family: 'Bai Jamjuree', sans-serif;
    // font-family: 'Trirong', serif !important;
    // font-family: 'Kanit', sans-serif !important;
    // font-family: 'rsuregular', sans-serif !important;
    // font-size: 1.3rem;
}

// mat-form-field mat-label{
//     font-size: 14px !important;
//     color:#919191;
// }

.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: unset;
}


table {
    width: 100%;
}

.width_input {
    width: 47%;
}

.width_button {
    width: 150px;
}

.title {
    cursor: pointer;
}

.title::before {
    content: '<';
    padding-right: 5px;    
}

.container_form {
    margin: 16px;
    cursor: pointer;
    // font-size: ;

    &::before {
        content: "<";
    }
}

.layout_form {
    padding: 8px;
}

.regulat_text {
    font-family: 'rsuregular-text,sans-serif';
}

.rsu_titel_text {
    font-size: 18px !important;
}

.mat_button {
    color: black;
    
}

.mat-raised-button > .mat-button-wrapper {
    color: black;
}


.spacer {
    flex: 1;
}

.paddingInput {
    padding-right: 10px;
}
.flex_col {
    display: flex;
    flex-flow: column;    

    &_center {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }

}

.flex_row {
    display: flex;
    flex-flow: row;
    flex-flow: row wrap;

    &_between {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: baseline;
    }

    &_center {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    &_end {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;

        
    }
}

.spacer {
    flex: 1 1 auto;
}


.mat-accordion .mat-expansion-panel:last-of-type {
    border-radius: 0px !important;
}

.mat-card-header-text {
    width: 100%;
}

.mat-form-field-suffix .material-icons ,.mat-icon-button{
    top: 5px;
    position: relative;
}

.mat-select-arrow-wrapper{
    padding-top: 10px;
}

// .mat-datepicker-toggle-default-icon{
//     margin-left: 1em !important;
// }

hr{
    border: 1px solid rgb(217, 217, 217);;
    border-radius: 1px;
}

mat-form-field {
    width: 100%;
  }


:root {
    // --menu_color: #1f2128
    --menu_color: #70B1C7
}

.th_head_befor{
    padding-left: 24px;
    border-bottom-width: 1px;
    border-bottom-style: solid ;
    border-bottom-color: rgba(0, 0, 0, 0.12);
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
    font-family: "rsuregular";
    text-align: left;
}
.th_head{
    padding-left: 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid ;
    border-bottom-color: rgba(0, 0, 0, 0.12);
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
    font-family: "rsuregular";
    text-align: left;
}
.th_head_after{
    padding-right: 24px;
    border-bottom-width: 1px;
    border-bottom-style: solid ;
    border-bottom-color: rgba(0, 0, 0, 0.12);
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
    font-family: "rsuregular";
    text-align: left;
}
.td_body_befor{
    padding-left: 24px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    font-family: "rsuregular";


}
.td_body{
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    font-family: "rsuregular";


}
.td_body_after{
    padding-right: 24px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    font-family: "rsuregular";


}

//ตุ่มสีสถานะ หน้าสรรหา
.statusYellow{
    border-radius: 100%;
    background: rgb(255, 193, 7);
    width: 15px;
    height: 15px;
}

.statusGreen {
    border-radius: 100%;
    background: rgb(115, 173, 33);
    width: 15px;
    height: 15px;
}

.statusGray {
    border-radius: 100%;
    background: #e0e0e0;
    width: 15px;
    height: 15px;
}

.statusRed {
    border-radius: 100%;
    background: red;
    width: 15px;
    height: 15px;
}