<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <app-layout-search>
            <ng-container content>
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>คำค้นหา</mat-label>
                            <input matInput [(ngModel)]="dataSearch" (input)="search()" />
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>
                    <!-- <div class="col-md-3">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>สถานะปฎิบัติงาน<span style="color: red">*</span></mat-label>
                            <mat-select>
                                <mat-option value="one">First option</mat-option>
                                <mat-option value="two">Second option</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <app-button-search></app-button-search>
                            <app-button-reset></app-button-reset>
                        </div>
                    </div> -->
                </div>
            </ng-container>
        </app-layout-search>

        <div class="row">
            <div class="col-md-3">
                <div>
                    <app-button-add (click)="addPage1()"></app-button-add>&nbsp;&nbsp;
                    <app-button-add [name]="'บันทึกแบบกลุ่ม'" [width]="'110'" (click)="addPage2()"></app-button-add>
                </div>
            </div>
        </div>
        <br />
        <ng-container *ngIf="personnel$ | async as personnels">
            <ng-container *ngIf="prefix$ | async as prefixs">
                <table mat-table [dataSource]="rows" matSort class="mat-elevation-z2" style="width: 100%;">
                    <tr mat-header-row *matHeaderRowDef="['action', '1', '2','3','4','5']"></tr>
                    <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2','3','4','5']"></tr>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                        <td mat-cell *matCellDef="let data">
                            <app-icon-edit (click)="editPage(data.insignia_personnel_uid)"></app-icon-edit>
                            <app-icon-del (click)="deleteItem(data.insignia_personnel_uid)"></app-icon-del>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="1">
                        <th mat-header-cell *matHeaderCellDef>เลขที่ประจำตำแหน่ง </th>
                        <td mat-cell *matCellDef="let data; let index = index">
                            {{data.manpower_no}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="2">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อ-นามสกุล </th>
                        <td mat-cell *matCellDef="let data">
                            {{data.personnel_name}}
                            <!-- <div *ngIf="data.personnel_in_house">
                        {{data.personnel_uid | getDataId : personnels : 'personnel_uid' : 'display_name_th' :'' }} 
                    </div>
                    <div *ngIf="!data.personnel_in_house">
                        {{data.outsider_prefix_id | getDataId : prefixs : 'prefix_id' : 'prefix_name_th' : ''}} {{data.outsider_name}} 
                    </div> -->
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="3">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ประเภทบุคลากร </th>
                        <td mat-cell *matCellDef="let data">
                            {{data.personnel_in_house == true ? 'บุคคลภายใน' : 'บุคคลภายนอก'}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="4">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ตำแหน่ง </th>
                        <td mat-cell *matCellDef="let data">
                            {{data.position_name}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="5">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> หน่วยงาน </th>
                        <td mat-cell *matCellDef="let data">
                            {{data.agency_name}}
                        </td>
                    </ng-container>
                </table>
                <br>
            </ng-container>
        </ng-container>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>