
<form [formGroup]="form">
<div style="padding: 5px;">

        <div>
            <app-button-add (click)="openDialogLicense()"></app-button-add>
        </div>
        <br />
        <table mat-table [dataSource]="form.value.personnel_licenses" matSort class="mat-elevation-z2" style="width: 100%;">
            <tr mat-header-row *matHeaderRowDef="['action', '1', '2','3','4','5']"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2','3','4','5']"></tr>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                <td mat-cell *matCellDef="let data;let index = index">
                    <app-icon-del (click)="del_personnel_licenses_form(index,data.personnel_license_uid)"></app-icon-del>
                </td>
            </ng-container>
            <ng-container matColumnDef="1">
                <th mat-header-cell *matHeaderCellDef>ชื่อใบประกอบวิชาชีพ/ชื่อการเป็นสมาชิกอื่นๆ</th>
                <td mat-cell *matCellDef="let data; let index = index">
                    {{data.license_name}}
                </td>
            </ng-container>
            <ng-container matColumnDef="2">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>หน่วยงาน</th>
                <td mat-cell *matCellDef="let data">
                    {{data.license_by}}
                </td>
            </ng-container>
            <ng-container matColumnDef="3">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>เลขที่ใบอนุญาต/สมาชิก</th>
                <td mat-cell *matCellDef="let data">
                    {{data.license_no}}
                </td>
            </ng-container>
            <ng-container matColumnDef="4">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>วันที่มีผลบังคับใช้</th>
                <td mat-cell *matCellDef="let data">
                    {{data.issue_date | date : 'dd/MM/yyyy'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="5">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>วันที่หมดอายุ</th>
                <td mat-cell *matCellDef="let data">
                    {{data.is_never_expire == true ? 'ตลอดชีพ' : data.expiry_date | date : 'dd/MM/yyyy'}}
                </td>
            </ng-container>
        </table>
</div>
</form>