<!-- <form [formGroup]="form">
<mat-card class="mat-elevation-z4">
    <mat-card-content>
            <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>ชื่อเครื่องราชอิสริยาภรณ์ <span style="color: red">*</span></mat-label>
                            <mat-select formControlName="insignia_assign_uid" >
                                <mat-option *ngFor="let item of insigniaDetas$ | async" [value]="item.insignia_assign_uid">{{item.insignia_short_name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                <mat-radio-group aria-label="Select an option" [(ngModel)]="check" [ngModelOptions]="{standalone: true}" (change)="setRadio(check)">
                                    <mat-radio-button  value="ส่งคืน">ส่งคืน</mat-radio-button>
                                    <mat-radio-button  value="ชดใช้">ชดใช้</mat-radio-button>
                                  </mat-radio-group>
                            </div>
                        </div>
                        <br />
                    </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="paddingInput" appearance="outline">
                        <mat-label>ราคา</mat-label>
                        <input matInput type="number" formControlName="refund_amount"  />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <mat-form-field appearance="outline">
                        <mat-label>ชื่อเอกสาร <span style="color: red">*</span></mat-label>
                        <input matInput  formControlName="file_name"  />
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <app-button-upload (resultFile)="getResultFile($event)"></app-button-upload>
                </div>
                <div class="col-md-1">
                    <app-button-view-upload (click)="viewfile(request.document_url)"></app-button-view-upload>
                </div>
    </div>
    </mat-card-content>
</mat-card>
<br />
</form>
<div class="row justify-content-center">
    <div class="col-2">
        <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
    </div>
    <div class="col-2">
        <app-button-save-close (click)="saveClose()"></app-button-save-close>&nbsp;&nbsp;
    </div>
    <div class="col-2">
        <app-button-close (click)="close()"></app-button-close>
    </div>
</div>
<pre *ngIf="!isHideForm">{{form.getRawValue()|json}}</pre> -->

    <mat-card class="mat-elevation-z4">
        <mat-card-content>
                <div class="row">
                    <ng-container *ngIf="!this.data?.editForm?.insignia_return_detail_uid">
                        <div class="col-md-6">
                            <mat-form-field class="paddingInput" appearance="outline">
                                <mat-label>ชื่อเครื่องราชอิสริยาภรณ์ <span style="color: red">*</span></mat-label>
                                <mat-select [(ngModel)]="this.request.insignia_assign_uid"  >
                                    <mat-option *ngFor="let item of insigniaDetas$ | async" [value]="item.insignia_assign_uid">{{item.insignia_short_name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="this.data?.editForm?.insignia_return_detail_uid">
                        <div class="col-md-6">
                            <mat-form-field class="paddingInput" appearance="outline">
                                <mat-label>ชื่อเครื่องราชอิสริยาภรณ์ <span style="color: red">*</span></mat-label>
                                <input matInput type="text" disabled [value]="insignia | getDataId : insigniasData : 'insignia_uid' : 'insignia_short_name' : ''"/>
                                <!-- <mat-select [(ngModel)]="this.request.insignia_assign_uid"  >
                                    <mat-option *ngFor="let item of insigniaDetas$ | async" [value]="item.insignia_assign_uid">{{item.insignia_short_name}}</mat-option>
                                </mat-select> -->
                            </mat-form-field>
                        </div>
                    </ng-container>
                    
                        
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-radio-group aria-label="Select an option" [(ngModel)]="check" [ngModelOptions]="{standalone: true}" (change)="setRadio(check)">
                                        <mat-radio-button  value="ส่งคืน">ส่งคืน</mat-radio-button>
                                        <mat-radio-button  value="ชดใช้" style="padding-left: 40px;">ชดใช้</mat-radio-button>
                                      </mat-radio-group>
                                </div>
                            </div>
                            <br />
                        </div>
                </div>
                <ng-container *ngIf="check == 'ชดใช้'">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>ราคา <span style="color: red">*</span></mat-label>
                            <input matInput type="number" [(ngModel)]="this.request.refund_amount" />
                        </mat-form-field>
                    </div>
                </div>
            </ng-container>
                <div class="row">
                    <div class="col-md-7">
                        <mat-form-field appearance="outline">
                            <mat-label>ชื่อเอกสาร <span style="color: red">*</span></mat-label>
                            <input matInput  [(ngModel)]="this.request.file_name" disabled  />
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <app-button-upload (resultFile)="getResultFile($event)"></app-button-upload>
                    </div>
                    <div class="col-md-1">
                        <app-button-view-upload (click)="viewfile(request.document_url)"></app-button-view-upload>
                    </div>
        </div>
        </mat-card-content>
    </mat-card>
    <br />
    
    <div class="row justify-content-center">
        <div class="col-2">
            <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
        </div>
        <div class="col-2">
            <app-button-save-close (click)="saveClose()"></app-button-save-close>&nbsp;&nbsp;
        </div>
        <div class="col-2">
            <app-button-close (click)="close()"></app-button-close>
        </div>
    </div>
    