<div class="card-body">
    <h2 class="card-title">{{state == 'add' ? 'เพิ่ม' : ' แก้ไข'}}ข้อมูลรหัสรายได้-รายหัก</h2>
    <form [formGroup]="form">
        <mat-card class="mat-elevation-z4">
            <mat-card-content>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>รหัสรายได้-รายหัก<span style="color: red">*</span></mat-label>
                            <input matInput formControlName="money_type_code" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>ชื่อรายได้-รายหัก<span style="color: red">*</span></mat-label>
                            <input matInput formControlName="money_type_name_th" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>ชื่อรายได้-รายหัก(Eng)</mat-label>
                            <input matInput formControlName="money_type_name_en" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>ประเภทรายได้-รายหัก<span style="color: red">*</span></mat-label>
                            <mat-select formControlName="money_category_id">
                                <mat-option *ngFor="let data of moneyCategoryDatas" [value]="data?.money_category_id">
                                    {{data?.money_category_name_th}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>วิธีการคำนวณ<span style="color: red">*</span></mat-label>
                            <mat-select formControlName="money_calculation_type_id">
                                <mat-option *ngFor="let data of moneyCalculationTypeDatas" [value]="data?.money_calculation_type_id">
                                    {{data?.money_calculation_type_name_th}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>จำนวน</mat-label>
                            <input matInput formControlName="amount" type="number" value="0.00" />
                            <span matSuffix>บาท</span>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>ประเภทเงินได้ตามมาตรา</mat-label>
                            <mat-select formControlName="income_type_id">
                                <mat-option *ngFor="let data of incomeTypeDatas" [value]="data?.income_type_id">
                                    {{data?.income_type_name_th}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-label>ประเภทเงินได้ตามมาตรา</mat-label>
                        <div class="row">
                            <div class="col-md-4">
                                <mat-checkbox class="example-margin" [(ngModel)]="checkbox1"
                                    [ngModelOptions]="{standalone: true}">ภาษี</mat-checkbox>
                            </div>
                            <div class="col-md-4">
                                <mat-checkbox class="example-margin" [(ngModel)]="checkbox2"
                                    [ngModelOptions]="{standalone: true}">ประกันสังคม</mat-checkbox>
                            </div>
                            <div class="col-md-4">
                                <mat-checkbox class="example-margin" [(ngModel)]="checkbox3"
                                    [ngModelOptions]="{standalone: true}">กองทุนสำรองเลี้ยงชีพ</mat-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>วันที่เริ่มมีผลใช้<span style="color: red">*</span></mat-label>
                            <input formControlName="effective_date" matInput [matDatepicker]="picker1" (click)="picker1.open()">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>สถานะใช้งาน<span style="color: red">*</span></mat-label>
                            <mat-select formControlName="status_id">
                                <mat-option *ngFor="let data of statusDatas" [value]="data?.status_id">
                                    {{data?.status_name_th}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
            <div class="flex_row_end">
                <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
                <app-button-close (click)="close()"></app-button-close>
            </div>
        </mat-card>
    </form>
    <pre *ngIf="!isHideForm">{{ form.getRawValue() | json}}</pre>
</div>