<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <app-layout-search>
            <ng-container content>
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>คำค้นหา</mat-label>
                            <input matInput [(ngModel)]="dataSearch.courte_name_th" (input)="search()" />
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
            </ng-container>
        </app-layout-search>
        <div>
            <app-button-add (click)="addPage()"></app-button-add>
        </div>
        <br />
        <table mat-table [dataSource]="rows" matSort class="mat-elevation-z2" style="width: 100%;">
            <tr mat-header-row *matHeaderRowDef="['action', '1', '2']"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2']"></tr>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                <td mat-cell *matCellDef="let data">
                    <app-icon-edit (click)="editPage(data.court_id)"></app-icon-edit>
                    <app-icon-del (click)="deleteItem(data.court_id)"></app-icon-del>
                </td>
            </ng-container>
            <ng-container matColumnDef="1">
                <th mat-header-cell *matHeaderCellDef>ชื่อศาล </th>
                <td mat-cell *matCellDef="let data; let index = index">
                    {{data.courte_name_th}}
                </td>
            </ng-container>
            <ng-container matColumnDef="2">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> สถานะ </th>
                <td mat-cell *matCellDef="let data">
                    {{data.status_id == 1 ? 'ใช้งาน' : 'ไม่ใช้งาน'}}
                </td>
            </ng-container>

        </table>
        <br>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>