<div class="card-body">
    <h2 class="card-title">{{state == 'add' ? 'สร้าง' : ' แก้ไข'}}ข้อมูล กบข.-ธนาคารและสหกรณ์</h2>
    <form [formGroup]="form">
        <mat-card class="mat-elevation-z4">
            <mat-card-content>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>รหัสบุคลากร<span style="color: red">*</span></mat-label>
                            <mat-select>
                                <mat-option value="one">First option</mat-option>
                                <mat-option value="two">Second option</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>เลขที่ตำแหน่งงาน </mat-label>
                            <input matInput disabled />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>ชื่อตำแหน่ง </mat-label>
                            <input matInput disabled />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>ชื่อหน่วยงาน </mat-label>
                            <input matInput disabled />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>คณะ/สถาบัน/กอง/สำนัก </mat-label>
                            <input matInput disabled />
                        </mat-form-field>
                    </div>
                </div>
                <mat-card class="mat-elevation-z4">
                    <mat-card-content>
                        <label for="">ข้อมูลการเป็นสมาชิก กบข.</label>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>วันที่เริ่มเป็นสมาชิก</mat-label>
                                    <input matInput [matDatepicker]="picker1" (click)="picker1.open()">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>วันที่สิ้นสุดเป็นสมาชิก</mat-label>
                                    <input matInput [matDatepicker]="picker2" (click)="picker2.open()">
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>วันที่เริ่มสะสมเข้ากองทุน</mat-label>
                                    <input matInput [matDatepicker]="picker3" (click)="picker3.open()">
                                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                    <mat-datepicker #picker3></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>วันที่สิ้นสุดสะสมเข้ากองทุน</mat-label>
                                    <input matInput [matDatepicker]="picker4" (click)="picker4.open()">
                                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                                    <mat-datepicker #picker4></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>วันที่เริ่มสะสมส่วนเพิ่ม</mat-label>
                                    <input matInput [matDatepicker]="picker5" (click)="picker5.open()">
                                    <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                                    <mat-datepicker #picker5></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>วันที่สิ้นสุดสะสมส่วนเพิ่ม</mat-label>
                                    <input matInput [matDatepicker]="picker6" (click)="picker6.open()">
                                    <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                                    <mat-datepicker #picker6></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>อัตราสะสม</mat-label>
                                    <input matInput type="number" value="0.00" />
                                    <span matSuffix>%</span>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>อัตราสะสมส่วนเพิ่ม</mat-label>
                                    <input matInput type="number" value="0.00" />
                                    <span matSuffix>%</span>
                                </mat-form-field>
                            </div>
                        </div>

                        <br />
                        <label for="">ข้อมูลบัญชีธนาคาร</label>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>ชื่อธนาคาร<span style="color: red">*</span></mat-label>
                                    <mat-select>
                                        <mat-option value="one">First option</mat-option>
                                        <mat-option value="two">Second option</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>ชื่อสาขาธนาคาร</mat-label>
                                    <mat-select>
                                        <mat-option value="one">First option</mat-option>
                                        <mat-option value="two">Second option</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>เลขที่บัญชีธนาคาร <span style="color: red">*</span></mat-label>
                                    <input matInput disabled />
                                </mat-form-field>
                            </div>
                        </div>


                        <br />
                        <label for="">ข้อมูลยกมา</label>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>เงินได้ยกมา</mat-label>
                                    <input matInput type="number" value="0.00" />
                                    <span matSuffix>บาท</span>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>ภาษีถูกหักยกมา</mat-label>
                                    <input matInput type="number" value="0.00" />
                                    <span matSuffix>บาท</span>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>กองทุนสำรองฯยกมา</mat-label>
                                    <input matInput type="number" value="0.00" />
                                    <span matSuffix>บาท</span>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>กองทุนสำรองฯยกมา(นายจ้าง)</mat-label>
                                    <input matInput type="number" value="0.00" />
                                    <span matSuffix>บาท</span>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>ประกันสังคมยกมา</mat-label>
                                    <input matInput type="number" value="0.00" />
                                    <span matSuffix>บาท</span>
                                </mat-form-field>
                            </div>
                        </div>


                    </mat-card-content>
                </mat-card>

            </mat-card-content>
            <br>
            <div class="flex_row_end">
                <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
                <app-button-close (click)="close()"></app-button-close>
            </div>
        </mat-card>
    </form>
</div>