<form [formGroup]="form">
    <mat-card class="mat-elevation-z4">
        <mat-card-content>
            <ng-container *ngIf="manpowerRequests$ | async as RequestsDatas">
                <div class="flex_row_between">
                    <mat-form-field class="paddingInput" appearance="outline" style="width: 45%;">
                        <mat-label>เลขที่เอกสาร</mat-label>
                        <input matInput disabled
                            [value]="form.value.manpower_request_uid | getDataId : RequestsDatas : 'manpower_request_uid' : 'document_no' : '' " />
                    </mat-form-field>
                    <mat-form-field class="paddingInput" appearance="outline" style="width: 45%;">
                        <mat-label>วันที่ทำรายการ<span style="color: red">*</span></mat-label>
                        <input matInput [matDatepicker]="fromDate" disabled
                            [value]="form.value.manpower_request_uid | getDataId : RequestsDatas : 'manpower_request_uid' : 'request_date' : '' ">
                        <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                        <mat-datepicker #fromDate></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="flex_row_between">
                    <mat-form-field class="paddingInput" appearance="outline" style="width: 45%;">
                        <mat-label>หน่วยงานที่ร้องขออัตรากำลัง<span style="color: red">*</span></mat-label>
                        <input matInput disabled  [value]="form.value.manpower_request_uid | getDataId : RequestsDatas : 'manpower_request_uid' : 'agency_uid' : '' | getDataId : agencysDatas : 'agency_uid' : 'agency_name_th' : '' " />
                        <!-- <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                </mat-select> -->
                    </mat-form-field>
                    <mat-form-field class="paddingInput" appearance="outline" style="width: 45%;">
                        <mat-label>หน่วยงานต้นสังกัด</mat-label>
                        <input matInput disabled value="มหาวิทยาลัยรังสิต"/>
                    </mat-form-field>
                </div>
                <div class="flex_row_between">
                    <mat-form-field class="paddingInput" appearance="outline" style="width: 45%;">
                        <mat-label>ตำแหน่งงานที่ร้องขอให้เพิ่มอัตรากำลัง<span style="color: red">*</span></mat-label>
                        <input matInput disabled
                            [value]="form.value.manpower_request_uid | getDataId : RequestsDatas : 'manpower_request_uid' : 'position_uid' : '' | getDataId : positionDatas : 'position_uid' : 'position_name_th' : '' " />
                        <!-- <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                </mat-select> -->
                    </mat-form-field>
                    <mat-form-field class="paddingInput" appearance="outline" style="width: 45%;">
                        <mat-label>อัตรากำลังที่ขอ</mat-label>
                        <input matInput disabled
                            [value]="form.value.manpower_request_uid | getDataId : RequestsDatas : 'manpower_request_uid' : 'no_of_manpower' : '' " />
                    </mat-form-field>
                </div>
                <div class="flex_row_between">
                    <mat-form-field class="paddingInput" appearance="outline" style="width: 45%;">
                        <mat-label>วุฒิการศึกษา<span style="color: red">*</span></mat-label>
                        <input matInput disabled
                            [value]="form.value.manpower_request_uid | getDataId : RequestsDatas : 'manpower_request_uid' : 'education_level_id' : ''  | getDataId : educationLevelsDatas : 'education_level_id' : 'education_level_name_th' : '' " />
                        <!-- <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                </mat-select> -->
                    </mat-form-field>
                    <mat-form-field class="paddingInput" appearance="outline" style="width: 45%;">
                        <mat-label>วุฒิ<span style="color: red">*</span></mat-label>
                        <input matInput disabled
                            [value]="form.value.manpower_request_uid | getDataId : RequestsDatas : 'manpower_request_uid' : 'qualification_id' : '' | getDataId : qualificationsDats : 'qualification_id' : 'qualification_name_th' : '' " />
                        <!-- <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                </mat-select> -->
                    </mat-form-field>
                </div>
                <div class="flex_row_between">
                    <mat-form-field class="paddingInput" appearance="outline" style="width: 45%;">
                        <mat-label>ประเภทบุคลากร<span style="color: red">*</span></mat-label>
                        <input matInput disabled />
                        <!-- <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                </mat-select> -->
                    </mat-form-field>
                </div>
            
            <div class="flex_row_between">
                <mat-form-field class="paddingInput" appearance="outline" style="width: 100%;">
                    <mat-label>หมายเหตุการให้อัตรากำลัง<span style="color: red">*</span></mat-label>
                    <textarea matInput formControlName="remark"></textarea>
                </mat-form-field>
            </div>
           
            <mat-card class="mat-elevation-z4">
                <mat-card-content>
                    <label for="">รายละเอียดการให้อัตรา</label>
                    <div>
                        <app-button-add (click)="popDetailAdd()"></app-button-add>
                    </div>
                    <br>
                    <table mat-table [dataSource]="form.value.manpower_assignment_details" matSort
                        class="mat-elevation-z2" style="width: 100%;">
                        <tr mat-header-row *matHeaderRowDef="['action', '1', '2','3','4']"></tr>
                        <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2','3','4']"></tr>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                            <td mat-cell *matCellDef="let data ;let i = index">
                                <app-icon-edit (click)="popDetailEdit(data,i)"></app-icon-edit>
                                <app-icon-del (click)="deleteDetail(i)"></app-icon-del>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="1">

                            <th mat-header-cell *matHeaderCellDef>รหัสขออัตรากำลัง </th>
                            <td mat-cell *matCellDef="let data; let index = index">
                                    {{form.value.manpower_request_uid | getDataId : RequestsDatas : 'manpower_request_uid' : 'document_no' : '' }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="2">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> เลขที่อัตราที่จัดสรร </th>
                            <td mat-cell *matCellDef="let data">
                                {{data.manpower_uid | getDataId : manpower : 'manpower_uid' : 'manpower_no' : ''}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="3">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่เริ่มใช้อัตรา </th>
                            <td mat-cell *matCellDef="let data">
                                {{data.manpower_uid | getDataId : manpower : 'manpower_uid' : 'effective_date' : '' |
                                date : 'dd/MM/yyyy'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="4">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> อัตราค่าจ้าง </th>
                            <td mat-cell *matCellDef="let data">
                                {{data.salary_amount | number:'1.2-2'}}
                            </td>
                        </ng-container>
                    </table>
                    <br>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </mat-card-content>
            </mat-card>
            <br>
            <!-- <app-upload-file-dialog></app-upload-file-dialog> -->
            <mat-card class="mat-elevation-z4">
                <mat-card-content>
                    <label for="">เอกสารแนบ</label>
                    <div>
                        <app-button-add (click)="addfile()"></app-button-add>
                    </div>
                    <br>
                    <table mat-table [dataSource]="form.value.manpower_assignment_documents" matSort class="mat-elevation-z2" style="width: 100%;">
                        <tr mat-header-row *matHeaderRowDef="['action', '1', '2']"></tr>
                        <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2']"></tr>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                            <td mat-cell *matCellDef="let data ; let i = index">
                                <app-icon-edit (click)="editfile(data,i)"></app-icon-edit>
                                <app-icon-download (click)="downloadDoc(data.document_url)"></app-icon-download>
                                <app-icon-del (click)="deleteItemDoc(data.manpower_assignment_document_uid,i)"></app-icon-del>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="1">
                            <th mat-header-cell *matHeaderCellDef>ชื่อไฟล์ </th>
                            <td mat-cell *matCellDef="let data; let index = index">
                                {{data.file_name}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="2">
                            <th mat-header-cell *matHeaderCellDef>รายละเอียด </th>
                            <td mat-cell *matCellDef="let data; let index = index">
                                {{data.remark}}
                            </td>
                        </ng-container>
                    </table>
                    <br>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </mat-card-content>
            </mat-card>
            <br>
            <div class="flex_row_end">
                <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
                <app-button-close (click)="close()"></app-button-close>
            </div>
        </ng-container>
        </mat-card-content>
    </mat-card>
</form>

<pre *ngIf="!isHideForm">{{form.getRawValue()|json}}</pre>