<div class="card-body">
    <h2 class="card-title">{{state == 'add' ? 'เพิ่ม' : ' แก้ไข'}}ข้อมูลรายการเงินตกเบิก</h2>
    <form [formGroup]="form">
        <mat-card class="mat-elevation-z4">
            <mat-card-content>
                <div class="row">
                    <!-- <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>งวดการจ่ายวันที่<span style="color: red">*</span></mat-label>
                            <input matInput [matDatepicker]="picker1" (click)="picker1.open()">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </div> -->
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>งวดการจ่ายปี<span style="color: red">*</span></mat-label>
                            <mat-select [(ngModel)]="periodYear" [ngModelOptions]="{standalone: true}" (selectionChange)="selectPeriodYear($event.value)">
                                <mat-option *ngFor="let data of paymentPeriodDatas" [value]="data?.payment_period_uid">{{data?.payment_period_code}}&nbsp;&nbsp;{{data?.payment_period_name_th}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>งวดการจ่ายวันที่<span style="color: red">*</span></mat-label>
                            <mat-select formControlName="payment_period_detail_uid" [disabled]="periodYear == null">
                                <mat-option *ngFor="let data of paymentPeriodMonthDatas" [value]="data?.payment_period_detail_uid"> งวดที่&nbsp;{{data?.row_order}}&nbsp;เดือน&nbsp;{{monthName[data?.row_order-1]}}&nbsp;&nbsp;วันที่จ่าย&nbsp;{{data?.pay_date | date:'dd/MM/yyyy'}} </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>รายการ<span style="color: red">*</span></mat-label>
                            <mat-select formControlName="money_type_uid">
                                <mat-option *ngFor="let data of moneyTypeDatas" [value]="data?.money_type_uid">{{data?.money_type_code}}&nbsp;&nbsp;{{data?.money_type_name_th}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>รหัสบุคลากร<span style="color: red">*</span></mat-label>
                            <mat-select formControlName="personnel_uid">
                                <mat-option *ngFor="let data of personnelDatas" [value]="data?.personnel_uid">{{data?.first_name_th}}&nbsp;&nbsp;{{data?.last_name_th}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>เลขที่ตำแหน่ง</mat-label>
                            <input matInput [value]="form?.value?.personnel_uid | getDataId : personnelDatas : 'personnel_uid' : 'personnel_no' : ''" disabled />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>ชื่อตำแหน่ง</mat-label>
                            <input matInput [value]="form?.value?.personnel_uid | getDataId : personnelDatas : 'personnel_uid' : 'personnel_skills' : ''" disabled />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>ชื่อหน่วยงาน</mat-label>
                            <input matInput [value]="form?.value?.personnel_uid | getDataId : personnelDatas : 'personnel_uid' : 'personnel_academic_works' : ''" disabled />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>คณะ/สถาบัน/กอง/สำนัก</mat-label>
                            <input matInput [value]="form?.value?.personnel_uid | getDataId : personnelDatas : 'personnel_uid' : 'personnel_educations' : ''" disabled />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>เลขที่คำสั่ง/ปี</mat-label>
                            <input matInput type="text" formControlName="order_no" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>วันที่ลงคำสั่ง</mat-label>
                            <input matInput [matDatepicker]="picker2" (click)="picker2.open()" formControlName="order_date">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>วันที่เริ่มตกเบิก</mat-label>
                            <input matInput [matDatepicker]="picker3" (click)="picker3.open()" formControlName="from_date">
                            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                            <mat-datepicker #picker3></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>วันที่สิ้นสุดตกเบิก</mat-label>
                            <input matInput [matDatepicker]="picker4" (click)="picker4.open()" formControlName="to_date">
                            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                            <mat-datepicker #picker4></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>จำนวนเงินตามคำสั่ง</mat-label>
                            <input matInput type="number" formControlName="order_amount" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>จำนวนเงินที่จ่ายแล้ว</mat-label>
                            <input matInput type="number" formControlName="paid_amount" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>จำนวนเงินตกเบิก</mat-label>
                            <input matInput type="number" formControlName="overdue_amount" />
                        </mat-form-field>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>ผู้เพิ่มรายการ</mat-label>
                            <input matInput disabled />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>วันที่เพิ่มรายการ</mat-label>
                            <input matInput disabled />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>ผู้แก้ไขรายการ</mat-label>
                            <input matInput disabled />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>วันที่แก้ไขรายการ</mat-label>
                            <input matInput disabled />
                        </mat-form-field>
                    </div>
                </div> -->
            </mat-card-content>
            <div class="flex_row_end">
                <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
                <app-button-close (click)="close()"></app-button-close>
            </div>
        </mat-card>
    </form>
    <pre *ngIf="!isHideForm">
        {{ 'periodYear : '+periodYear | json }}
        {{ form.getRawValue() | json}}
    </pre>
</div>