<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <app-layout-search>
            <ng-container content>
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>ปีที่ต้องการค้นหา</mat-label>
                            <mat-select [(ngModel)]="searchData" (selectionChange)="search(searchData)">
                                <mat-option *ngFor="let item of years$ | async" [value]="item">
                                    {{item+543}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <!-- <div class="col-md-3">
                        <div>
                            <app-button-search></app-button-search>
                            <app-button-reset></app-button-reset>
                        </div>
                    </div> -->
                </div>
            </ng-container>
        </app-layout-search>







        <!-- <div>
            <app-button-add (click)="addPage()"></app-button-add>
        </div> -->

        <br />
        <table mat-table [dataSource]="rows" matSort class="mat-elevation-z2" style="width: 100%;">
            <tr mat-header-row *matHeaderRowDef="['1', '2','3','4','5','6','7','8','9']"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: ['1', '2','3','4','5','6','7','8','9']"></tr>

            <ng-container matColumnDef="1">
                <th mat-header-cell *matHeaderCellDef>เลขประจำตำแหน่ง </th>
                <td mat-cell *matCellDef="let data; let index = index">
                    {{data.manpower_no}}
                </td>
            </ng-container>
            <ng-container matColumnDef="2">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อ-สกุล </th>
                <td mat-cell *matCellDef="let data">
                    {{data.display_name}}
                </td>
            </ng-container>
            <ng-container matColumnDef="3">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ประเภทบุคลากร </th>
                <td mat-cell *matCellDef="let data">
                    {{data.personnel_type_name}}
                </td>
            </ng-container>
            <ng-container matColumnDef="4">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> หน่วยงาน </th>
                <td mat-cell *matCellDef="let data">
                    {{data.agency_name}}
                </td>
            </ng-container>
            <ng-container matColumnDef="5">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ตำแหน่ง </th>
                <td mat-cell *matCellDef="let data">
                    {{data.position_name}}
                </td>
            </ng-container>
            <ng-container matColumnDef="6">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> อักษรย่อ </th>
                <td mat-cell *matCellDef="let data">
                    {{data.insignia_short_name}}
                </td>
            </ng-container>
            <ng-container matColumnDef="7">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ประเภทเครื่องราชฯ </th>
                <td mat-cell *matCellDef="let data">
                    {{data.insignia_type}}
                </td>
            </ng-container>
            <ng-container matColumnDef="8">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ประเภทการคืน </th>
                <td mat-cell *matCellDef="let data">
                    {{data.return_type}}
                </td>
            </ng-container>
            <ng-container matColumnDef="9">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> สถานะทำงาน </th>
                <td mat-cell *matCellDef="let data">
                    {{data.work_status_name}}
                </td>
            </ng-container>

        </table>
        <br>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>