<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <app-layout-search>
            <ng-container content>
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label> ชื่อ-สกุล </mat-label>
                            <!-- <input matInput /> -->
                            <mat-select [(ngModel)]="dataSearch.application_uid">
                                <mat-option *ngFor="let item of applicantData" [value]="item.applicant_uid">
                                    {{item.fullName}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>ตำแหน่งงาน</mat-label>
                            <mat-select [(ngModel)]="dataSearch.position_uid">
                                <mat-option *ngFor="let item of positionDatas" [value]="item.position_uid">
                                    {{item.position_name_th}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>หน่วยงาน</mat-label>
                            <mat-select [(ngModel)]="dataSearch.agency_uid">
                                <mat-option *ngFor="let item of agencyDatas" [value]="item.agency_uid">
                                    {{item.agency_name_th}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>วันที่เอกสารเริ่มต้น</mat-label>
                            <input matInput [matDatepicker]="fromDate" [(ngModel)]="startDate">
                            <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                            <mat-datepicker #fromDate></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="paddingInput" appearance="outline">
                            <mat-label>วันที่เอกสารสิ้นสุด</mat-label>
                            <input matInput [matDatepicker]="toDate" [(ngModel)]="endDate">
                            <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                            <mat-datepicker #toDate></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row justify-content-md-center">
                    <div>
                        <app-button-search class="paddingInput" (click)="search()"></app-button-search>
                        <app-button-reset class="paddingInput" (click)="clear()"></app-button-reset>
                    </div>
                </div>

            </ng-container>
        </app-layout-search>


        <!-- <div>
            <app-button-add (click)="addPage()"></app-button-add>
        </div> -->

        <br />
        <table mat-table [dataSource]="rows" matSort class="mat-elevation-z2" style="width: 100%;">
            <tr mat-header-row *matHeaderRowDef="['action', '1', '2','3','4','5','6','7','8','9']"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2','3','4','5','6','7','8','9']"></tr>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                <td mat-cell *matCellDef="let data">
                    <!-- <app-icon-report></app-icon-report> -->
                    <app-icon-edit (click)="editPage(data.employment_contract_uid)"></app-icon-edit>
                    <!-- <app-icon-del></app-icon-del> -->
                </td>
            </ng-container>
            <ng-container matColumnDef="1">
                <th mat-header-cell *matHeaderCellDef>เลขที่เอกสาร </th>
                <td mat-cell *matCellDef="let data; let index = index">
                    {{data.document_no}}
                </td>
            </ng-container>
            <ng-container matColumnDef="2">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่เอกสาร </th>
                <td mat-cell *matCellDef="let data">
                    {{data.document_date | date: 'dd/MM/yyyy'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="3">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ประเภทสัญญา </th>
                <td mat-cell *matCellDef="let data">
                    {{data.contract_type | getDataId: contractTypeData : 'contract_type_id' : 'contract_type_name_th' :
                    ''}}
                </td>
            </ng-container>
            <ng-container matColumnDef="4">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ทำสัญญาครั้งที่ </th>
                <td mat-cell *matCellDef="let data">
                    {{data.contract_time_no}}
                </td>
            </ng-container>
            <ng-container matColumnDef="5">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อ-สกุล </th>
                <td mat-cell *matCellDef="let data">
                    {{data.application_uid | getDataId : applicantData : 'applicant_uid' : 'fullName' : ''}}
                </td>
            </ng-container>
            <ng-container matColumnDef="6">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ตำแหน่งงาน </th>
                <td mat-cell *matCellDef="let data">
                    {{data.application_uid | getDataId : applicantData : 'applicant_uid' : 'position_uid' : '' |
                    getDataId : positionDatas : 'position_uid' : 'position_name_th' : ''}}
                </td>
            </ng-container>
            <ng-container matColumnDef="7">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> หน่วยงาน </th>
                <td mat-cell *matCellDef="let data">
                    {{data.application_uid | getDataId : applicantData : 'applicant_uid' : 'agency_uid' : '' | getDataId
                    : agencyDatas : 'agency_uid' : 'agency_name_th' : ''}}
                </td>
            </ng-container>
            <ng-container matColumnDef="8">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่เริ่มสัญญา </th>
                <td mat-cell *matCellDef="let data">
                    {{data.start_date | thaiDate}}
                </td>
            </ng-container>
            <ng-container matColumnDef="9">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่สิ้นสุดสัญญา </th>
                <td mat-cell *matCellDef="let data">
                    {{data.end_date | thaiDate}}
                </td>
            </ng-container>

        </table>
        <br>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>