<div class="card-body">
    <h2 class="card-title">แก้ไขข้อมูลรายการจ่ายเงินเดือน</h2>
    <form [formGroup]="form">
        <mat-card class="mat-elevation-z4">
            <mat-card class="mat-elevation-z4">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>งวดการจ่าย</mat-label>
                            <input matInput type="text" [value]="salaryProcessData?.process_type_id" disabled />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>รหัสบุคลากร</mat-label>
                            <input matInput type="text" [value]="salaryProcessData?.personnel?.personnel_no" disabled />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>เลขที่ตำแหน่ง</mat-label>
                            <input matInput type="text" [value]="salaryProcessData?.process_type_id" disabled />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>ชื่อตำแหน่ง</mat-label>
                            <input matInput type="text" [value]="salaryProcessData?.process_no" disabled />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>ชื่อหน่วยงาน</mat-label>
                            <input matInput type="text" [value]="salaryProcessData?.process_type_id" disabled />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>คณะ/สถาบัน/กอง/สำนัก</mat-label>
                            <input matInput type="text" [value]="salaryProcessData?.process_no" disabled />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>ธนาคาร</mat-label>
                            <input matInput type="text" [value]="salaryProcessData?.process_type_id" disabled />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>เลขที่บัญชี</mat-label>
                            <input matInput type="text" [value]="salaryProcessData?.bank_account_no" disabled />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>เงินเดือน</mat-label>
                            <input matInput type="text" [value]="salaryProcessData?.process_type_id" disabled />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>เงินสมทบ กบข.</mat-label>
                            <input matInput type="text" [value]="salaryProcessData?.process_no" disabled />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>เงินสะสมส่วนเพิ่ม กบข.</mat-label>
                            <input matInput type="text" [value]="salaryProcessData?.process_type_id" disabled />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>เงินสมทบประกันสังคม</mat-label>
                            <input matInput type="text" [value]="salaryProcessData?.process_no" disabled />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>เงินสมทบกองทุน</mat-label>
                            <input matInput type="text" [value]="salaryProcessData?.process_type_id" disabled />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>เงินสะสมส่วนเพิ่ม กองทุน</mat-label>
                            <input matInput type="text" [value]="salaryProcessData?.process_no" disabled />
                        </mat-form-field>
                    </div>
                </div>
            </mat-card>
            <br />
            <mat-card class="mat-elevation-z4">
                <label for="">รายการเงินได้</label>
                <br />
                <br />
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>คำค้นหา</mat-label>
                            <input matInput />
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <div>
                    <app-button-add (click)="addIncome()"></app-button-add>
                </div>
                <br />
                <table mat-table [dataSource]="salaryProcessIncome" matSort class="mat-elevation-z2" #sorter1="matSort"
                    style="width: 100%;">
                    <tr mat-header-row *matHeaderRowDef="['action', '1', '2','3','4']"></tr>
                    <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2','3','4']"></tr>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                        <td mat-cell *matCellDef="let data; let index = index">
                            <app-icon-edit (click)="editIncome(data?.salary_process_income_uid)"></app-icon-edit>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="1">
                        <th mat-header-cell *matHeaderCellDef>รหัสรายได้ </th>
                        <td mat-cell *matCellDef="let data; let index = index">
                            {{data?.personnel?.personnel_no}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="2">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อรายได้ </th>
                        <td mat-cell *matCellDef="let data">
                            {{data?.personnel?.citizen_id}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="3">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> จำนวน </th>
                        <td mat-cell *matCellDef="let data">
                            {{data?.income_amount | number:'1.2-2'}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="4">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ระงับการเบิก </th>
                        <td mat-cell *matCellDef="let data">
                            {{data?.suspend_payment_status ? 'ไม่เบิก' : 'เบิก'}}
                        </td>
                    </ng-container>
                </table>
                <br />
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons #paginator1="matPaginator">
                </mat-paginator>
            </mat-card>
            <br />
            <mat-card class="mat-elevation-z4">
                <label for="">รายการเงินหัก</label>
                <br />
                <br />
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>คำค้นหา</mat-label>
                            <input matInput />
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <div>
                    <app-button-add (click)="addDeduction()"></app-button-add>
                </div>
                <br />
                <table mat-table [dataSource]="salaryProcessDeduction" matSort class="mat-elevation-z2"
                    #sorter2="matSort" style="width: 100%;">
                    <tr mat-header-row *matHeaderRowDef="['action', '1', '2','3','4']"></tr>
                    <tr mat-row *matRowDef="let myRowData; columns: ['action', '1', '2','3','4']"></tr>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>เครื่องมือ</th>
                        <td mat-cell *matCellDef="let data; let index = index">
                            <app-icon-edit (click)="editDeduction(data?.salary_process_deduction_uid)"></app-icon-edit>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="1">
                        <th mat-header-cell *matHeaderCellDef>รหัสรายหัก </th>
                        <td mat-cell *matCellDef="let data; let index = index">
                            {{data?.personnel?.personnel_no}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="2">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อรายหัก </th>
                        <td mat-cell *matCellDef="let data">
                            {{data?.personnel?.citizen_id}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="3">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> จำนวน </th>
                        <td mat-cell *matCellDef="let data">
                            {{data?.deduction_amount | number:'1.2-2'}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="4">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ระงับการหัก </th>
                        <td mat-cell *matCellDef="let data">
                            {{data?.suspend_payment_status ? 'ไม่หัก' : 'หัก'}}
                        </td>
                    </ng-container>
                </table>
                <br />
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons #paginator2="matPaginator">
                </mat-paginator>
            </mat-card>
            <br />
            <mat-card class="mat-elevation-z4">
                <label for="">จำนวนเงินสะสม</label>
                <br />
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>รายได้สะสม</mat-label>
                            <input matInput type="text" [value]="salaryProcessData?.process_type_id" disabled />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>ภาษีสะสม</mat-label>
                            <input matInput type="text" [value]="salaryProcessData?.process_no" disabled />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>ประกันสังคมสะสม</mat-label>
                            <input matInput type="text" [value]="salaryProcessData?.sso_contribute_amount" disabled />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>กองทุนสะสม</mat-label>
                            <input matInput type="text" [value]="salaryProcessData?.employee_contribute_amount" disabled />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>กองทุนสะสมส่วนเพิ่ม</mat-label>
                            <input matInput type="text" [value]="salaryProcessData?.employee_extra_contribute_amount" disabled />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>กองทุนสะสม(นายจ้าง)</mat-label>
                            <input matInput type="text" [value]="salaryProcessData?.employer_contribute_amount" disabled />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>เงินสะสม กบข.</mat-label>
                            <input matInput type="text" [value]="salaryProcessData?.gpf_ontribute_amount" disabled />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>เงินสะสม กบข. ส่วนเพิ่ม</mat-label>
                            <input matInput type="text" [value]="salaryProcessData?.gpf_extra_contribute_amount" disabled />
                        </mat-form-field>
                    </div>
                </div>
            </mat-card>
            <br />
            <mat-card class="mat-elevation-z4">
                <label for="">สรุปรายรับ-รายจ่ายสุทธิ</label>
                <br />
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>รวมรายรับ</mat-label>
                            <input matInput type="text" [value]="salaryProcessData?.income_amount" disabled />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>รวมรายหัก</mat-label>
                            <input matInput type="text" [value]="salaryProcessData?.deduct_amount" disabled />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>ภาษี(คำนวณจากระบบ)</mat-label>
                            <input matInput type="text" [value]="salaryProcessData?.tax_system_amount" disabled />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>ภาษี</mat-label>
                            <input matInput type="text" [value]="salaryProcessData?.tax_amount" disabled />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-6">
                        <mat-form-field appearance="outline">
                            <mat-label>เงินรับสุทธิ</mat-label>
                            <input matInput type="text" [value]="salaryProcessData?.total" disabled />
                        </mat-form-field>
                    </div>
                </div>
            </mat-card>
            <br />
            <div class="flex_row_end">
                <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
                <app-button-close (click)="close()"></app-button-close>
            </div>
        </mat-card>
    </form>
    <!-- <pre *ngIf="!isHideForm">{{ salaryProcessData | json}}</pre> -->
</div>