<button mat-icon-button color="primary" aria-label="Example icon button with a home icon" style="position: sticky;">
    <span class="material-icons" style="font-size: 20px;">
        info
    </span>
</button>