<form [formGroup]="form">
<mat-card class="mat-elevation-z4" style="padding: 0px 16px 16px 16px;border-radius: 0px;">
    <mat-card-content>
        <mat-list>
            <mat-list-item>ข้อมูลประเภทหน่วยงาน</mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>

<div class="row">
    <div class="col-md-3" >
        <mat-form-field appearance="outline">
            <mat-label> รหัสประเภทหน่วยงาน </mat-label>
            <input matInput number formControlName="agency_type_code" />
        </mat-form-field>
    </div>
    <div class="col-md-6" >
        <mat-form-field appearance="outline">
            <mat-label> ชื่อประเภทหน่วยงาน </mat-label>
            <input matInput formControlName="agency_type_name_th" />
        </mat-form-field>
    </div> 
    <div class="col-md-1" >
        <mat-form-field appearance="outline">
            <mat-label> สีประเภทหน่วยงาน</mat-label>
            <input matInput type="color" formControlName="agency_type_color_code" />
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col-md-6" >
        <mat-form-field appearance="outline">
            <mat-label> ชื่อประเภทหน่วยงาน (English) </mat-label>
            <input matInput formControlName="agency_type_name_en" />
        </mat-form-field>
    </div>
    <div class="col-md-6" >
        <mat-form-field appearance="outline" *ngIf="status$ | async as status">
            <mat-label>สถานะ </mat-label>
            <mat-select formControlName="status_id">
                <mat-option *ngFor="let data of status" [value]="data.status_id">
                    {{data.status_name_th}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>

<br>
<div class="flex_row_end">
    <app-button-save (click)="save()"></app-button-save>&nbsp;&nbsp;
    <app-button-close (click)="close()"></app-button-close>
</div>
</mat-card-content>
</mat-card>
</form>